{% extends "::layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block javascripts%}
    {{ parent() }}    
    <script type="text/javascript" src="{{ asset('./bundles/administracion/js/AdmiAlias/edit.js') }}"></script>
{% endblock %}

{% block contenido_izq %}
<div id="titulo_content">
    <img src="{{ asset('public/images/'~ item.urlImagen | default('tools1.png') ~ '') }}" class="imagen-titulo-content">
    <h1>Editar Alias Notificaciones</h1>
</div>

<div class="body_content">
    <form id='form_edit_proceso' class="formulario">
	        
        <table>
	    <tr>
		<td width="5%">&nbsp;</td>
		<td width="15%">{{ form_label(form.valor) }}</td>
		<td width="10%">{{ form_widget(form.valor) }}</td>			    
		<td width="5%">&nbsp;</td>
	    </tr>
	    <tr>	
		<td width="5%">&nbsp;</td>
		<td width="15%"><label>* Empresa a Asignar:</label></td>
		<td><div id='empresas'></div></td>
	    </tr>
	   <!-- <tr>	
		<td width="5%">&nbsp;</td>
		<td width="15%"><label>Jurisdiccion:</label></td>
		<td><div id='jurisdicciones'></div></td>
	    </tr>-->
	    <tr>	
		    <td width="5%">&nbsp;</td>
		    <td width="15%"><label>Ciudad:</label></td>
		    <td><div id='ciudades'></div></td>
		</tr>
		<tr>	
		    <td width="5%">&nbsp;</td>
		    <td width="15%"><label>Departamento:</label></td>
		    <td><div id='departamentos'></div></td>
		</tr>
	</table>
        
        <input type='hidden' id='id_alias_hd' value='{{ alias.id }}'/>
        
        <input type='hidden' id='id_empresa_hd' value='{{ empresa.id }}'/>
        <input type='hidden' id='nombre_empresa_hd' value='{{ empresa.nombreEmpresa }}'/>  
        
        {% if(jurisdiccion) %}
	    <input type='hidden' id='id_jurisdiccion_hd' value='{{jurisdiccion.id}}'/>
	    <input type='hidden' id='nombre_jurisdiccion_hd' value='{{jurisdiccion.nombreCanton}}'/>
        {%else%}
	    <input type='hidden' id='id_jurisdiccion_hd' value='0'/>
        {%endif%}
        
        {% if(departamento) %}
	    <input type='hidden' id='id_departamento_hd' value='{{departamento.id}}'/>
	    <input type='hidden' id='nombre_departamento_hd' value='{{departamento.nombreDepartamento}}'/>
        {%else%}
	    <input type='hidden' id='id_departamento_hd' value='0'/>
        {%endif%}
        
        <div class="buttons">
            <p>
                <input class="button-crud" value="Guardar" onclick="guardar();"/>
                <span class="height20px">
                    &oacute;&nbsp;
                    <a class="cancel-crud" href="{{ path('admialias') }}">
                        cancelar
                    </a>
                </span>
            </p>
        </div>
    </form>
</div>
{% endblock contenido_izq %}

{% block contenido_der %}
    <ul class="form_actions">
        <li>
            
        </li>
    </ul>
    <div class="titulo-acciones-relacionadas">
            Acciones Relacionadas
    </div>

{% endblock contenido_der %}

