{% extends "::layout.html.twig" %}
{% block contenido_izq %}
<div id="titulo_content">
    <img src="{{ asset('public/images/'~ item.urlImagen | default('tools1.png') ~ '') }}" class="imagen-titulo-content">
	<h1>Ver Conector</h1>
</div>

<div class="body_content">
    <table class="formulario">
        <tbody>
            <tr>
                <td width="10%">&nbsp;</td>
                <th width="25%">Conector Interface</th>                    
                <td width="15%">{{ tipoInterface.conectorInterfaceId }}</td>        
                <td width="1%"></td>

                <td width="9%">&nbsp;</td>
                <th width="25%">Nombre Tipo Interface</th>                    
                <td width="15%">{{ tipoInterface.nombreTipoInterface }}</td>        
                <td width="1%"></td>
            </tr>
            <tr>
                <td width="8%">&nbsp;</td>
                <th width="25%">Descripci&oacute;n Tipo Interface</th>        
                <td width="15%">{{ tipoInterface.descripcionTipoInterface }}</td>        
                <td width="1%"></td>

                <td width="8%">&nbsp;</td>
                <th width="25%">Capacidad Entrada</th>                    
                <td width="15%">{{ tipoInterface.capacidadEntrada }}</td>        
                <td width="1%"></td>
            </tr>
            <tr>
                <td width="8%">&nbsp;</td>
                <th width="25%">Unidad Media Entrada</th>                    
                <td width="15%">{{ tipoInterface.unidadMedidaEntrada }}</td>        
                <td width="1%"></td>

                <td width="8%">&nbsp;</td>
                <th width="25%">Capacidad Salida</th>                    
                <td width="15%">{{ tipoInterface.capacidadSalida }}</td>        
                <td width="1%"></td>
            </tr>
            <tr>
                <td width="8%">&nbsp;</td>
                <th width="25%">Unidad Media Salida</th>                    
                <td width="15%">{{ tipoInterface.unidadMedidaSalida }}</td>        
                <td width="1%"></td>

                <td width="8%">&nbsp;</td>
                <th width="25%">Estado</th>                             
                <td width="15%">{{ tipoInterface.estado }}</td>        
                <td width="1%"></td>
            </tr>

        </tbody>
    </table>
</div>
<div class="buttons">
    <p>
        <span class="height20px">
            <a class="button-crud" href="{{ path('admitipointerface') }}">
                    Regresar
            </a>
        </span>
    </p>
</div>
<div class="body_content">
    <table class="formulario">
        <tbody>
            <tr>
              <td width="10%" rowspan="3"><img src="{{ asset('public/images/images_crud/agregar_64.png')}}" hspace="3" vspace="3" alt="" border="0" align="absmiddle" /></td>
              <th width="11%">Creador:</th>
              <td width="34%" >{{ tipoInterface.usrCreacion }}</td>

              {% if(tipoInterface.estado=="Modificado") %}
              <td width="10%" rowspan="3"><img src="{{ asset('public/images/images_crud/edit_64.png')}}" hspace="3" vspace="3" alt="" border="0" align="absmiddle" /></td>
              <th width="11%" >Ult. Mod.:</th>
              <td width="34%">{{ tipoInterface.usrUltMod }}</td>
              {% endif %}

              {% if(tipoInterface.estado=="Eliminado") %}
              <td width="10%" rowspan="3"><img src="{{ asset('public/images/images_crud/eliminar_64.png')}}" hspace="3" vspace="3" alt="" border="0" align="absmiddle" /></td>
              <th width="6%">Eliminado:</th>
              <td width="34%">{{ tipoInterface.usrUltMod }}</td>
              {% endif %}
            </tr>
            <tr>
              <th>Fecha:</th>
              <td >{{ tipoInterface.feCreacion | date("d M Y") }}</td>

              {% if(tipoInterface.estado=="Modificado") %}
              <th>Fecha:</th>
              <td >{{ tipoInterface.feUltMod  | date("d M Y")}}</td>
              {% endif %}

              {% if(tipoInterface.estado=="Eliminado") %}
              <th>Fecha:</th>
              <td>{{ tipoInterface.feUltMod | date("d M Y") }}</td>
              {% endif %}
            </tr>
            <tr>
              <th>Hora:</th>
              <td>{{ tipoInterface.feCreacion | date("H:i:s") }}</td>

              {% if(tipoInterface.estado=="Modificado") %}
              <th>Hora:</th>
              <td>{{ tipoInterface.feUltMod | date("H:i:s") }}</td>
              {% endif %}

              {% if(tipoInterface.estado=="Eliminado") %}
              <th>Hora:</th>
              <td>{{ tipoInterface.feUltMod | date("H:i:s") }}</td>
              {% endif %}
            </tr>

        </tbody>
    </table>
</div>
{% endblock contenido_izq %}
{% block contenido_der %}
    <ul class="form_actions">
		{% if is_granted('ROLE_129-2') %}
        <li>
            <a class="button-nuevo-registro" href="{{ path('admitipointerface_new') }}">
                <img src="{{ asset('public/images/images_crud/new_plus.png')}}" width="15" height="15" />
                &nbsp;Nuevo Tipo Interface
            </a>
        </li>
		{% endif %}
        <li>
            &nbsp;
        </li>
		{% if is_granted('ROLE_129-4') %}
        <li>
            <a class="button-editar" href="{{ path('admitipointerface_edit', { 'id': tipoInterface.id }) }}">
                
                &nbsp;Editar Tipo Interface
            </a>
        </li>
		{% endif %}
		{% if is_granted('ROLE_129-8') %}
        <li>
            <a class="button-eliminar" href="{{ path('admitipointerface_delete', { 'id': tipoInterface.id }) }}">
                
                &nbsp;Eliminar Tipo Interface
            </a>
        </li>
		{% endif %}
    </ul>
    <div class="titulo-acciones-relacionadas">
        Acciones Relacionadas
    </div>
    <ul class="listado_acciones_relacionadas">

    </ul>
{% endblock contenido_der %}

