{% extends "::layout.html.twig" %}


{% block javascripts%}
    {{ parent() }}

    <script type="text/javascript" src="{{ asset('public/js/ext-4.1.1/src/ux/CheckColumn.js') }}"></script>

    <script type="text/javascript" src="{{ asset('./bundles/planificacion/js/PlantillaHorario/generar.js') }}"></script>
    <script>

        var url_detalle_Plantilla = '{{path('plantillahorario_detalle')}}';
        var urlSavePlantillaHorario = '{{path('plantillahorario_save_plantilla_horario')}}';
        var strUrlIndex = '{{path('plantillahorario')}}';
        var strHoraInicio = '{{ strHoraInicio }}';
        var strHoraFin = '{{ strHoraFin }}';
        var strHoraIntervalo = '{{ intIntervalo }}';
        var strDescripcion = '{{ strDescripcion }}';
        var boolDefault = '{{ boolDefault }}';
        var intHorarioCabeceraId = '{{ intHorarioCabeceraId }}';
        var strMinimoHoras = '{{ strMinimoHoras}}';
        var intIntervaloMaximo = '{{ intIntervaloMaximo }}';
        var ajaxGetJurisdiccion = "{{ path('admijurisdiccion_getJurisdiccionesPorNombre') }}";
        var ajaxGetPlantilla = "{{ path('plantillahorario_ajaxGetEncontrados') }}";
        var ajaxGetPlantillaDetalle = "{{ path('plantillahorario_detalle') }}";
        var urlSaveAgendaCupo = "{{ path('agenda_cuadrilla_generar_cupos') }}";
        var strFechaMinima = '{{ strFechaMinima }}';


    </script>
    <script type="text/javascript" src="{{ asset('./bundles/planificacion/js/PlantillaHorario/FechaClass.js?1') }}"></script>
    <script type="text/javascript" src="{{ asset('./bundles/planificacion/js/PlantillaHorario/ModelClass.js?1') }}"></script>
    <script type="text/javascript" src="{{ asset('./bundles/planificacion/js/PlantillaHorario/StoreClass.js?1') }}"></script>
    <script type="text/javascript" src="{{ asset('./bundles/planificacion/js/PlantillaHorario/ObjetosClass.js?1') }}"></script>

{% endblock %}


{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('public/js/ext-4.1.1/resources/css/CheckHeader.css') }}" />

    <style>
        .uncheckedChkbox {
            height: 13px;
            width: 13px;
            background: url('{{ asset('public/images/images_crud/unchecked.png') }}') no-repeat -1px -2px;
            float: left;
            margin: 0 5px 0 0;
        }
        .x-boundlist-selected .uncheckedChkbox {
            background: url('{{ asset('public/images/images_crud/checked.png') }}') no-repeat -1px -2px;
        }

        .sel-all {
            padding: 3px;
            padding-left: 10px;
            cursor: pointer;
            border: 1px solid gray;
        }

        .div-center {
            display: flex;
            justify-content: center;
        }
    </style>
{% endblock %}

{% block contenido_izq %}
    <div id="titulo_content">
        <img src="{{ asset('public/images/'~ item.urlImagen | default('tools1.png') ~ '') }}" class="imagen-titulo-content">
        Generación de cupos
    </div>
    <div id="Div_Edit_Plantilla_Horario" class="div-center">

    </div>

{% endblock contenido_izq %}

{% block javascripts_footer%}
{% endblock javascripts_footer%}