{% extends "::layout.html.twig" %}
{% block javascripts%}
    {{ parent() }} 
    <script>
        var strUrlGetPlanesMantenimientos                       = "{{ path('gestiontaller_getPlanesMantenimiento') }}";
        var strUrlGetMantenimientosPlanMantenimiento            = "{{ path('gestiontaller_getMantenimientosByIdPlanMantenimiento') }}";
        var strUrlGetContratistas                               = "{{ path('contratista_grid') }}";
        var strUrlGetPerAutorizadoPor                           = "{{ path('gestiontaller_getPerAutorizacionOrdenTrabajoTransporte') }}";
        var strUrlGetTareasMantenimientosOCasoTransporte        = "{{ path('gestiontaller_getTareasMantenimientosOCasoTransporte') }}";
        var strUrlGetTareasCasosMovilizacionTransporte          = "{{ path('gestiontaller_getTareasCasosMovilizacionTransporte') }}";
        var strUrlGetCategoriasTareasOTyMantenimientosTransporte= "{{ path('gestiontaller_getCategoriasTareasOTyMantenimientosTransporte') }}";
        var strUrlGetCasosXTransporte                           = "{{ path('gestiontaller_getCasosXTransporte', { 'id': medioTransporte.id }) }}";
        var idElemento                                          = "{{ medioTransporte.id }}";
        var strUrlGetChoferes                                   = "{{ path('gestiontaller_getChoferes') }}";
        
    </script>
    <script type="text/javascript" src="{{ asset('./bundles/administracion/js/GestionTaller/newOrdenTrabajoTransporte.js') }}"></script>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('./bundles/administracion/css/GestionTaller.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block contenido_izq %}
<div id="titulo_content">
    <img src="{{ asset('public/images/'~ item.urlImagen | default('tools1.png') ~ '') }}" class="imagen-titulo-content">
    <h1>Nueva Orden de Trabajo al Veh&iacute;culo</h1>
</div>
<div class="body_content">
    <div  class="x-panel x-panel-default">
        <div style="padding: 5px; width: 947px; left: 0px; top: 0px; " class="x-panel-body x-panel-body-default x-panel-body-default">
            <form action="{{ path('gestiontaller_createOrdenTrabajoTransporte', { 'id': medioTransporte.id }) }}" method="post"            
              enctype="multipart/form-data" onsubmit='if (validarFormulario()) {
                                      Ext.MessageBox.wait("Grabando Datos...", "Por favor espere");
                                      document.forms[0].submit();
                                      return true;
                                  }
                                  else {
                                      return false;
                                  }'>
                <fieldset style="border-width: 1px; width: 935px;" class="x-fieldset x-fieldset-default">
                    <div class="x-fieldset-body" style="width: 913px;">
                        <fieldset style="border-width: 1px; width: 913px;" class="x-fieldset x-fieldset-with-title x-fieldset-with-legend x-fieldset-default">
                            <legend class="x-fieldset-header x-fieldset-header-default">
                                <div class="x-component x-fieldset-header-text x-component-default">Información del Veh&iacute;culo</div>
                            </legend>
                            <div class="x-fieldset-body" id="fieldset-1011-body" style="width: 891px;">
                                <div style="padding: 5px 0px; width: 891px;" class="x-panel x-panel-default">
                                    <div class="x-panel-body x-panel-body-default x-panel-body-default x-table-layout-ct x-docked-noborder-top x-docked-noborder-right x-docked-noborder-bottom x-docked-noborder-left" style="width: 891px; left: 0px; top: 0px; ">
                                        <table cellspacing="0" class="x-table-layout" role="presentation">
                                            <tr>
                                                <td width="205" valign="top" class="x-field-label-cell" halign="left" style="" >
                                                    <label  class="x-form-item-label x-form-item-label-left label_detalles_elemento">
                                                        <b>Empresa</b>:
                                                    </label>
                                                </td>
                                                <td width="205" valign="top" class="x-field-label-cell" halign="left" style="" >
                                                    <label  class="x-form-item-label x-form-item-label-left label_detalles_elemento">
                                                        {{ empresa }}
                                                    </label>
                                                </td>
                                                <td width="205" valign="top" class="x-field-label-cell" halign="left" style="">
                                                    <label  class="x-form-item-label x-form-item-label-left label_detalles_elemento">
                                                        <b>Estado</b>:
                                                    </label>
                                                </td>
                                                <td width="205" valign="top" class="x-field-label-cell" halign="left" style="">
                                                    <label  class="x-form-item-label x-form-item-label-left label_detalles_elemento">
                                                        {{ medioTransporte.estado }}
                                                    </label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="height:10px;" colspan="8">&nbsp;</td>
                                            </tr>
                                            <tr>
                                                <td width="205" valign="top" class="x-field-label-cell" halign="left" style="">
                                                    <label  class="x-form-item-label x-form-item-label-left label_detalles_elemento">
                                                        <b>Modelo</b>:
                                                    </label>
                                                </td>
                                                <td width="205" valign="top" class="x-field-label-cell" halign="left" style="">
                                                    <label  class="x-form-item-label x-form-item-label-left label_detalles_elemento">
                                                        {{ medioTransporte.modeloElementoId.nombreModeloElemento }}
                                                    </label>
                                                </td>
                                                <td width="205" valign="top" class="x-field-label-cell" halign="left" style="">
                                                    <label  class="x-form-item-label x-form-item-label-left label_detalles_elemento">
                                                        <b>A&ntilde;o</b>:
                                                    </label>
                                                </td>
                                                <td width="205" valign="top" class="x-field-label-cell" halign="left" style="">
                                                    <label  class="x-form-item-label x-form-item-label-left label_detalles_elemento">
                                                        {{ detalles.ANIO }}
                                                    </label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="height:10px;" colspan="8">&nbsp;</td>
                                            </tr>
                                            <tr>
                                                {% if detalles.CHASIS is defined %}
                                                    {% if detalles.CHASIS  %}
                                                        <td width="205" valign="top" class="x-field-label-cell" halign="left" style="" >
                                                            <label  class="x-form-item-label x-form-item-label-left label_detalles_elemento">
                                                                <b>Chasis</b>:
                                                            </label>
                                                        </td>
                                                        <td width="205" valign="top" class="x-field-label-cell" halign="left" style="" >
                                                            <label  class="x-form-item-label x-form-item-label-left label_detalles_elemento">
                                                                {{ detalles.CHASIS }}
                                                            </label>
                                                        </td>

                                                    {% else %}
                                                        <td colspan="2">&nbsp;</td>
                                                    {% endif %}
                                                {% endif %}

                                                {% if detalles.MOTOR is defined %}
                                                    {% if detalles.MOTOR  %}
                                                        <td width="205" valign="top" class="x-field-label-cell" halign="left" style="" >
                                                            <label  class="x-form-item-label x-form-item-label-left label_detalles_elemento" >
                                                                <b>Motor</b>:
                                                            </label>
                                                        </td>
                                                        <td width="205" valign="top" class="x-field-label-cell" halign="left" style="" >
                                                            <label  class="x-form-item-label x-form-item-label-left label_detalles_elemento" >
                                                                {{ detalles.MOTOR }}
                                                            </label>
                                                        </td>
                                                    {% else %}
                                                        <td colspan="2">&nbsp;</td>
                                                    {% endif %}
                                                {% endif %}
                                            </tr>
                                            <tr>
                                                <td style="height:10px;" colspan="8">&nbsp;</td>
                                            </tr>

                                            <tr>
                                                <td width="205" valign="top" class="x-field-label-cell" halign="left" style="" >
                                                    <label  class="x-form-item-label x-form-item-label-left label_detalles_elemento" >
                                                        <b>Placa</b>:
                                                    </label>
                                                </td>
                                                <td width="205" valign="top" class="x-field-label-cell" halign="left" style="" >
                                                    <label  class="x-form-item-label x-form-item-label-left label_detalles_elemento" >
                                                        {{ medioTransporte.nombreElemento }}
                                                    </label>
                                                </td>
                                                <td width="205" valign="top" class="x-field-label-cell" halign="left" style="" >
                                                    <label  class="x-form-item-label x-form-item-label-left label_detalles_elemento" >
                                                        <b>Disco</b>:
                                                    </label>
                                                </td>
                                                <td width="205" valign="top" class="x-field-label-cell" halign="left" style="" >
                                                    <label  class="x-form-item-label x-form-item-label-left label_detalles_elemento" >
                                                        {{ detalles.DISCO }}
                                                    </label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="height:10px;" colspan="8">&nbsp;</td>
                                            </tr>
                                            <tr>
                                                {% if detalles.GPS is defined %}
                                                    {% if detalles.GPS  %}
                                                        <td width="205" valign="top" class="x-field-label-cell" halign="left" style="" >
                                                            <label  class="x-form-item-label x-form-item-label-left label_detalles_elemento" >
                                                                <b>Serie GPS</b>:
                                                            </label>
                                                        </td>
                                                        <td width="205" valign="top" class="x-field-label-cell" halign="left" style="" >
                                                            <label  class="x-form-item-label x-form-item-label-left label_detalles_elemento" >
                                                                {{ detalles.GPS }}
                                                            </label>
                                                        </td>
                                                    {% else %}
                                                        <td colspan="2">&nbsp;</td>
                                                    {% endif %}
                                                {% endif %}
                                                        <td colspan="2">&nbsp;</td>
                                            </tr>
                                            <tr>
                                                <td style="height:10px;" colspan="8">&nbsp;</td>
                                            </tr>
                                            
                                            <tr>
                                                <td width="205" valign="top" class="x-field-label-cell" halign="left" style="">
                                                    <label  class="x-form-item-label x-form-item-label-left label_detalles_elemento">
                                                        <b>Chofer Predefinido</b>:
                                                    </label>
                                                </td>
                                                <td colspan="4" valign="top" class="x-field-label-cell" halign="left" style="">
                                                    <input style="width:50%;" class='campo-obligatorio' type='text' 
                                                           id="nombre_chofer_predefinido_orden_trabajo" 
                                                           name="nombre_chofer_predefinido_orden_trabajo" 
                                                           value='{% if detalles.strNombreApellidoChoferPredefinido is defined %}{{ detalles.strNombreApellidoChoferPredefinido }}{%endif%}'/>
                                                    <a href='#' 
                                                       onclick="showChoferesOrdenTrabajo('#nombre_chofer_predefinido_orden_trabajo',
                                                                                 '#id_persona_chofer_predefinido_orden_trabajo',
                                                                                 '#idPerChoferPredefinido');">
                                                        <img src="{{ asset('public/images/images_crud/search.png')}}" width="11" height="11" />
                                                    </a>
                                                    
                                                </td>
                                                <td >&nbsp;</td>
                                            </tr>
                                            <tr>
                                                <td style="height:10px;" colspan="8">&nbsp;</td>
                                            </tr>
                                            <tr>
                                                <td width="205" valign="top" class="x-field-label-cell" halign="left" style="">
                                                    <label  class="x-form-item-label x-form-item-label-left label_detalles_elemento">
                                                        <b>Tipo de Veh&iacute;culo</b>:
                                                    </label>
                                                </td>
                                                <td width="205" valign="top" class="x-field-label-cell" halign="left" style="">
                                                    <label  class="x-form-item-label x-form-item-label-left label_detalles_elemento">
                                                        {% if detalles.TIPO_VEHICULO=='' %}N/A{% else %}{{ detalles.TIPO_VEHICULO }}{% endif %}
                                                    </label>
                                                </td>
                                                <td colspan="2">&nbsp;</td>
                                            </tr>
                                            <tr>
                                                <td style="height:10px;" colspan="8">&nbsp;</td>
                                            </tr>
                                        </table>
                                        <div id="bloqueDinamico">
                                            {% for flashMessage in app.session.flashbag.get('notice') %}
                                            <div class="errormessage">
                                                {{ flashMessage }}
                                            </div>
                                            {% endfor %} 
                                            {% if detalles.TIPO_VEHICULO == 'EMPRESA' %}
                                                <div id="tituloPorTipoVehiculo" class="secHead">Ficha T&eacute;cnica</div>
                                                <div id="datosFichaTecnica">
                                                    <table class="formulario">
                                                    <tbody>
                                                            <tr>
                                                                <td width="10%">&nbsp;</td>
                                                                <td width="40%"><label class="label_ficha_contrato">Regi&oacute;n:</label></td>
                                                                <td width="10%">&nbsp;</td>
                                                                <td width="30%">
                                                                    {% if detalles.REGION=='' %}N/A{% else %}{{ detalles.REGION }}{% endif %}
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td width="10%">&nbsp;</td>
                                                                <td width="40%"><label  class="label_ficha_contrato">Plan de Mantenimiento:</label></td>
                                                                <td width="10%">&nbsp;</td>
                                                                <td width="30%">
                                                                     {{ planMantenimiento.nombreProceso }}
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td width="10%">&nbsp;</td>
                                                                <td width="40%"><label class="label_ficha_contrato">Umbral de Alerta(KM):</label></td>
                                                                <td width="10%">&nbsp;</td>
                                                                <td width="30%">
                                                                    {% if detalles.ALERTA_KM=='' %}N/A{% else %}{{ detalles.ALERTA_KM }}{% endif %}
                                                                </td>
                                                            </tr>

                                                        </tbody>
                                                    </table>
                                                </div>
                                            {%elseif detalles.TIPO_VEHICULO == 'SUBCONTRATADO'%}
                                                {% if contrato is not empty %}
                                                <div id="tituloPorTipoVehiculo" class="secHead">Pertenece a</div>
                                                <div id="datosContrato" >
                                                        <table class="formulario">
                                                            <tbody>
                                                                <tr>
                                                                    <td width="10%">&nbsp;</td>
                                                                    <td width="40%"><label class="label_ficha_contrato">Contratista:</label></td>
                                                                    <td width="10%">&nbsp;</td>
                                                                    <td width="30%">
                                                                        {% if contrato.personaEmpresaRolId.personaId.nombres != "" 
                                                                            and contrato.personaEmpresaRolId.personaId.apellidos != "" %}
                                                                            {{ contrato.personaEmpresaRolId.personaId.nombres }} {{ contrato.personaEmpresaRolId.personaId.apellidos }}
                                                                        {% else %}
                                                                            {{ contrato.personaEmpresaRolId.personaId.razonSocial }}
                                                                        {% endif %}
                                                                    </td>
                                                                    <td width="10%"></td>
                                                                </tr>
                                                                <tr>
                                                                    <td width="10%">&nbsp;</td>
                                                                    <td width="40%"><label class="label_ficha_contrato">Fecha de Inicio de Contrato:</label></td>
                                                                    <td width="10%">&nbsp;</td>
                                                                    <td width="30%">
                                                                        {% if contrato.feAprobacion %}{{ contrato.feAprobacion | date("d M Y") }}{% endif %}
                                                                    </td>
                                                                    <td width="10%"></td>
                                                                </tr>
                                                                <tr>
                                                                    <td width="10%">&nbsp;</td>
                                                                    <td width="40%"><label class="label_ficha_contrato">Fecha de Fin de Contrato:</label></td>
                                                                    <td width="10%">&nbsp;</td>
                                                                    <td width="30%">
                                                                        {% if contrato.feFinContrato %}{{ contrato.feFinContrato | date("d M Y") }}{% endif %}
                                                                    </td>
                                                                    <td width="10%"></td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                              {%endif%}     
                                            {%endif%}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <div id="bloque_orden_trabajo_transporte" style="margin:0px;"></div>
                        <div id="detalle_tareas_orden_trabajo_transporte" style="margin-bottom:30px;"></div>
                    </div>
                    <div class="buttons">
                        <p>
                            <button type="submit" class="button-crud">Guardar</button>
                            <span class="height20px">
                                &oacute;&nbsp;
                                <a class="cancel-crud" href="{{ path('gestiontaller') }}">
                                        Cancelar
                                </a>
                            </span>
                        </p>
                    </div>
                </fieldset>
                <input type="hidden" name="escogido_tipo_mantenimiento" id="escogido_tipo_mantenimiento" value="PREVENTIVO" />
                <input type="hidden" name="escogido_plan_mantenimiento_id" id="escogido_plan_mantenimiento_id" value="0" />
                <input type="hidden" name="escogido_mantenimiento_id" id="escogido_mantenimiento_id" value="0" />
                <input type="hidden" name="escogido_caso_mantenimiento_id" id="escogido_caso_mantenimiento_id" value="0" />
                <input type="hidden" name="escogido_tipo_asignado" id="escogido_tipo_asignado" value="CONTRATISTA" />
                <input type="hidden" name="escogido_contratista_id" id="escogido_contratista_id" value="0" />
                <input type="hidden" name="OT_numeracion_actual" id="OT_numeracion_actual" value="SI" />
                <input type="hidden" name="json_tareas_y_categorias_orden_trabajo" id="json_tareas_y_categorias_orden_trabajo" value="" />
                
                <input type='text' style='display:none' id='idPerChoferPredefinido' 
                       name='idPerChoferPredefinido' 
                       value='{% if detalles.idPerChoferPredefinido is defined %}{{detalles.idPerChoferPredefinido}}{% endif %}'/>
                                                    
                <input type='text' style='display:none' id='id_persona_chofer_predefinido_orden_trabajo' 
                       name='id_persona_chofer_predefinido_orden_trabajo' 
                       value='{% if detalles.idPersonaChoferPredefinido is defined %}{{detalles.idPersonaChoferPredefinido}}{% endif %}'/>

                <input type="hidden" name="idPerAutorizadoPor" id="idPerAutorizadoPor" value="" />
            </form>
        </div>
    </div>
    <br/><br/>
</div>
{% endblock contenido_izq %}
{% block contenido_der %}
    <ul class="form_actions" style="width:auto;">
        {% if is_granted('ROLE_337-3562') %}
            <li>		
                <a style="background-image: url('/public/images/images_crud/search.png');padding-left: 15px;" 
                   class="button-editar" href="{{ path('gestiontaller_showOrdenesTrabajoXTransporte', { 'id': medioTransporte.id }) }}">
                    &nbsp;Ver &Oacute;rdenes de Trabajo del Veh&iacute;culo
                </a>		
            </li>
        {% endif %}
            
        {% if is_granted('ROLE_337-4397') %}
            <li>		
                <a style="background-image: url('/public/images/task.png');padding-left: 15px;" 
                   class="button-editar" href="{{ path('gestiontaller_showMantenimientosTransporte', { 'id': medioTransporte.id }) }}">
                    &nbsp;Ver Mantenimientos del Veh&iacute;culo
                </a>		
            </li>
        {% endif %}
    </ul>
{% endblock contenido_der %}


    
