{% extends "::layout.html.twig" %}
{% block contenido_izq %}
<div id="titulo_content">
    <img src="{{ asset('public/images/'~ item.urlImagen | default('tools1.png') ~ '') }}" class="imagen-titulo-content">
    <h1>Ver Sintoma</h1>
</div>
<div class="body_content">
    <table class="formulario">
        <tbody>
            <tr>
                <td width="10%">&nbsp;</td>
                <th width="25%"> Nombre Sintoma:</th>
                <td width="15%">{{ sintoma.nombreSintoma }}</td>        
                <td width="1%"></td>

                <td width="9%">&nbsp;</td>
                <th width="25%">Descripci&oacute;n Sintoma</th>        
                <td width="15%">{{ sintoma.descripcionSintoma }}</td>
                <td width="1%"></td>
            </tr>
            <tr>
                <td width="8%">&nbsp;</td>
                <th width="25%"> Estado:</th>
                <td>{{ sintoma.estado }}</td>        
                <td width="1%"></td>

                <td width="9%">&nbsp;</td>
                <th width="25%">Tipo de Caso</th>
                <td width="15%">{% if sintoma.tipoCasoId %} {{ nombreTipoCaso }} {% else %} Todos {% endif %}</td>
                <td width="1%"></td>
            </tr>
        </tbody>
    </table>
</div>	
<div class="buttons">
    <p>
        <span class="height20px">
            <a class="button-crud" href="{{ path('admisintoma') }}">Regresar</a>
        </span>
    </p>
</div>
<div class="body_content">
    <table class="formulario">
        <tbody>
            <tr>
              <td width="10%" rowspan="3"><img src="{{ asset('public/images/images_crud/agregar_64.png')}}" hspace="3" vspace="3" alt="" border="0" align="absmiddle" /></td>
              <th width="11%">Creador:</th>
              <td width="34%" >{{ sintoma.usrCreacion }}</td>

              {% if(sintoma.estado|lower=="modificado") %}
              <td width="10%" rowspan="3"><img src="{{ asset('public/images/images_crud/edit_64.png')}}" hspace="3" vspace="3" alt="" border="0" align="absmiddle" /></td>
              <th width="11%" >Ult. Mod.:</th>
              <td width="34%">{{ sintoma.usrUltMod }}</td>
              {% endif %}

              {% if(sintoma.estado|lower=="eliminado") %}
              <td width="10%" rowspan="3"><img src="{{ asset('public/images/images_crud/eliminar_64.png')}}" hspace="3" vspace="3" alt="" border="0" align="absmiddle" /></td>
              <th width="6%">Eliminado:</th>
              <td width="34%">{{ sintoma.usrUltMod }}</td>
              {% endif %}
            </tr>
            <tr>
              <th>Fecha:</th>
              <td >{{ sintoma.feCreacion | date("d M Y") }}</td>

              {% if(sintoma.estado|lower=="modificado") %}
              <th>Fecha:</th>
              <td >{{ sintoma.feUltMod  | date("d M Y")}}</td>
              {% endif %}

              {% if(sintoma.estado|lower=="eliminado") %}
              <th>Fecha:</th>
              <td>{{ sintoma.feUltMod | date("d M Y") }}</td>
              {% endif %}
            </tr>
            <tr>
              <th>Hora:</th>
              <td>{{ sintoma.feCreacion | date("H:i:s") }}</td>

              {% if(sintoma.estado|lower=="modificado") %}
              <th>Hora:</th>
              <td>{{ sintoma.feUltMod | date("H:i:s") }}</td>
              {% endif %}

              {% if(sintoma.estado|lower=="eliminado") %}
              <th>Hora:</th>
              <td>{{ sintoma.feUltMod | date("H:i:s") }}</td>
              {% endif %}
            </tr>

        </tbody>
    </table>
</div>
{% endblock contenido_izq %}

{% block contenido_der %}
    <ul class="form_actions" style="width:auto;">
		{% if is_granted('ROLE_56-2') %}
        <li>
            <a class="button-nuevo-registro" href="{{ path('admisintoma_new') }}">
                <img src="{{ asset('public/images/images_crud/new_plus.png')}}" width="15" height="15" />
                &nbsp;Nuevo Sintoma
            </a>
        </li>
		{% endif %}
        <li>
            &nbsp;
        </li>
		{% if is_granted('ROLE_56-4') %}
        <li>
            <a class="button-editar" href="{{ path('admisintoma_edit', { 'id': sintoma.id }) }}">
                &nbsp;Editar Sintoma
            </a>
        </li>
		{% endif %}
		{% if is_granted('ROLE_56-8') %}
        <li>
            <a class="button-eliminar" href="{{ path('admisintoma_delete', { 'id': sintoma.id }) }}">
                &nbsp;Eliminar Sintoma
            </a>
        </li>
		{% endif %}
    </ul>
    <div class="titulo-acciones-relacionadas">
        Acciones Relacionadas
    </div>
    <ul class="listado_acciones_relacionadas">

    </ul>
{% endblock contenido_der %}