{% extends "::layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .alineando {
            left: 42em;
            position: absolute;
            top: 44em;
        }
        .formulario label{
            margin: 0px !important;
            width: 130px !important;
            text-align: right!important;
            margin-right: 10px!important;
            padding-top: 8px!important;
        }
        .contenido
        {
            background-color: #F9F9F9;
            border: 2px solid #F9F9F9;
            border-radius: 13px 13px 13px 13px;
            padding: 13px;
        }
    </style>
{% endblock %}

{% block contenido_izq %}
    <div id="titulo_content">
        <img src="{{ asset('public/images/'~ item.urlImagen | default('tools1.png') ~ '') }}" class="imagen-titulo-content">
        <h1>Editar UPS</h1>
    </div>
    <span class="campos-requeridos">* Campos requeridos</span>
    <div class="body_content">
        <form id='form_new_proceso' action="{{ path('elementoups_update', {'id': entity.id}) }}" method="post" class='formulario'
              onSubmit="return verificarData();" >
            
            <input type="hidden" id="baterias" name="baterias" />
            <input type="hidden" id="intIdNodo" name="intIdNodo" />
            <input type="hidden" id="intIdClase" name="intIdClase" />
            <input type="hidden" id="intIdDispositivo" name="intIdDispositivo" />
            <input type="hidden" id="intIdPuerto" name="intIdPuerto" />
            <input type="hidden" id="modeloElementoId" name="modeloElementoId" />
            <input type="hidden" id="intIdSnmp" name="intIdSnmp" />
            
            <table width="100%" border="0" class="box-section-content">
                <tr>
                    <td width="5%">&nbsp;</td>
                    <td width="24%"><label>* Nodo:</label></td>
                    <td width="10%">
                        <div id='combo_nodos'></div>
                    </td>
                    <td width="5%">&nbsp;</td>
                    <td width="24%"><label>* Clase:</label></td>
                    <td width="15%"><div id="claseUps"></div></td>
                    <td width="5%">&nbsp;</td>
                </tr>
                <tr>
                    <td width="5%">&nbsp;</td>
                    <td width="24%"><label>Dispositivo:</label></td>
                    <td width="15%"><div id="dispositivo"></div></td>
                    <td width="5%">&nbsp;</td>
                    <td width="24%"><label>Puerto:</label></td>
                    <td width="15%"><div id="puerto"></div></td>
                    <td width="5%">&nbsp;</td>
                </tr>
                <tr>
                    <td width="5%">&nbsp;</td>
                    <td width="24%">{{ form_label(form.nombreElemento) }}</td>
                    <td width="10%">{{ form_widget(form.nombreElemento) }}</td>
                    <td width="5%">&nbsp;</td>
                    <td width="24%">{{ form_label(form.ipElemento) }}</td>
                    <td width="15%">{{ form_widget(form.ipElemento) }}</td>
                    <td width="5%">&nbsp;</td>
                </tr>
                <tr>
                    <td width="5%">&nbsp;</td>
                    <td width="24%"><label>* Marca:</label></td>
                    <td width="15%"><div id="marca"></div></td>
                    <td width="5%">&nbsp;</td>
                    <td width="24%"><label>* Modelo:</label></td>
                    <td width="15%"><div id="modelo"></div></td>
                    <td width="5%">&nbsp;</td>
                </tr>
                <tr>
                    <td width="5%">&nbsp;</td>
                    <td width="24%">
                        <label>* T. acceso (h):</label>
                    </td>
                    <td width="10%">
                        <input type="text" id="tAcceso" name="tAcceso" required onKeyPress="return validarTiempoAcceso(event);"
                               onPaste="return false;" value="{{ detalles.TIEMPO_ACCESO }}" />
                    </td>
                    <td width="5%">&nbsp;</td>
                    <td width="24%">
                        <label>* Iac:</label>
                    </td>
                    <td width="15%">
                        <input type="text" id="iac" name="iac" required onKeyPress="return validarSoloNumeros(event);" 
                               onPaste="return false;" value="{{ detalles.IAC }}" />
                    </td>
                    <td width="5%">&nbsp;</td>
                </tr>
                <tr>
                    <td width="5%">&nbsp;</td>
                    <td width="24%"><label>* # Serie:</label></td>
                    <td width="10%">
                        <input type="text" id="numSerie" name="numSerie" required onPaste="return false;" 
                               value="{{ entity.serieFisica }}"  />
                    </td>
                    <td width="5%">&nbsp;</td>
                    <td width="24%">
                        <label>* Generador:</label>
                    </td>
                    <td width="15%">
                        <input {% if detalles.GENERADOR == 'SI' %} checked="checked" {% endif %} required type="radio" id="generador" 
                               name="generador" value="SI" /> Si
                        <input {% if detalles.GENERADOR == 'NO' %} checked="checked" {% endif %} required type="radio" id="generador" 
                               name="generador" value="NO" /> No
                    </td>
                    <td width="5%">&nbsp;</td>
                </tr>
                <tr>
                    <td width="5%">&nbsp;</td>
                    <td width="24%">{{ form_label(form.observacion) }}</td>
                    <td width="10%">{{ form_widget(form.observacion) }}</td>
                    <td width="5%">&nbsp;</td>
                    <td width="24%"><label>* SNMP (Community):</label></td>
                    <td width="15%"><div id="snmp"></div></td>
                    <td width="5%">&nbsp;</td>
                </tr>
                <tr>
                    <td width="5%">&nbsp;</td>
                    <td colspan="5" width="90%">
                        <center>
                            <div id="gridBaterias" style="margin:10px auto;"></div>
                        </center>
                    </td>
                    <td width="5%">&nbsp;</td>
                </tr>
            </table>
            <div class="buttons">
                <p>
                    <input type='submit'class="button-crud" value="Guardar" />
                    <span class="height20px">
                        &oacute;&nbsp;
                        <a class="button-crud" href="{{ path('elementoups') }}">Cancelar</a>
                    </span>
                </p>
            </div>	
                {{ form_widget(form._token) }}
        </form>
    </div>
{% endblock contenido_izq %}

{% block javascripts_footer%}
    <script>
        var strUrlGetEncontradosNodo        = '{{path('elementonodo_getEncontradosNodo')}}';
        var strUrlGetDispositivos           = "{{ path('elementoups_getSwitches') }}";
        var strUrlGetPuertos                = "{{ path('infointerfaceelemento_getPuertos') }}";
        var strUrlGetClases                 = "{{ path('elementoups_getParametrosDet', {'strNombreParametroCab': 'CLASE UPS'}) }}";
        var strUrlVerificarData             = "{{ path('elementoups_verificarData') }}";
        var strUrlGetMarcas                 = "{{ path('admimarcaelemento_getMarcasElementosTipo') }}";
        var strUrlGetModelos                = "{{ path('admimodeloelemento_getModelosElementosPorMarca') }}";
        var intIdNodo                       = "{{ nodo }}";
        var intIdSwitch                     = "{{ switch }}";
        var intIdPuerto                     = "{{ puerto }}";
        var strClase                        = "{{ detalles.CLASE }}";
        var intIdUps                        = "{{ entity.id }}";
        var intIdMarca                      = "{{ marca }}";
        var intIdModelo                     = "{{ modelo }}";
        var intIdSnmp                       = "{{ snmp }}";
        var strUrlGetModelosPorTipoElemento = "{{ path('admimodeloelemento_buscarModeloPorTipoElemento') }}";
        var strUrlGetBaterias               = "{{ path('elementoups_gridBaterias') }}";
        var strUrlGetTipoBaterias           = "{{ path('elementoups_getParametrosDet', {'strNombreParametroCab': 'TIPO BATERIAS'}) }}";
        var idBateriaElemento               = "{{ bateriaId }}";
        var intIdElementoUps                = "{{ entity.id }}";
        var strUrlGetSnmp                   = "{{ path('admisnmp_getSnmps') }}";
    </script>
    <script src="{{ asset('./public/js/JqueryMask/jquery.inputmask.js') }}" type="text/javascript"></script>
    <script src="{{ asset('./public/js/JqueryMask/jquery.inputmask.date.extensions.js') }}" type="text/javascript"></script>
    <script src="{{ asset('./public/js/JqueryMask/jquery.inputmask.extensions.js') }}" type="text/javascript"></script>	
    
    <script type="text/javascript" src="{{ asset('./bundles/tecnico/js/InfoElementoUps/funcionesGenerales.js') }}"></script>
    <script type="text/javascript" src="{{ asset('./bundles/tecnico/js/InfoElementoUps/edit.js?1') }}"></script>
    <script></script>
{% endblock javascripts_footer%}	