{% extends "::layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <style scoped="scoped">
        .alineando {
            left: 42em;
            position: absolute;
            top: 44em;
        }
        .formulario label{
            margin: 0px !important;
            width: 155px !important;
        }
        .contenido{
            background-color: #F9F9F9;
            border: 2px solid #F9F9F9;
            border-radius: 13px 13px 13px 13px;
            padding: 13px;
        }
    </style>
{% endblock %}

{% block contenido_izq %}
<div id="titulo_content">
    <img src="{{ asset('public/images/'~ item.urlImagen | default('tools1.png') ~ '') }}" class="imagen-titulo-content">
    <h1>Ver UPS</h1>
</div>
<div class="body_content">
    <table class="formulario" style="width: 75%" align="center">
        <tbody>
            <tr>
                <td width="8%">&nbsp;</td>
                <td width="12%"><b>Empresa:</b></td>
                <td width="28%">{{ empresa }}</td>        
                <td width="1%"></td>

                <td width="8%">&nbsp;</td>
                <td width="10%"><b>Estado:</b></td>
                <td width="30%">{{ elemento.estado }}</td>        
                <td width="1%"></td>
            </tr>
            <tr>
                <td colspan="8" style="height:10px;">&nbsp;</td>
            </tr>
            <tr>
                <td width="8%">&nbsp;</td>
                <td width="12%"><b>Nodo:</b></td>
                <td width="28%">{{ nodo }}</td>        
                <td width="1%"></td>

                <td width="8%">&nbsp;</td>
                <td width="12%"><b>Clase:</b></td>
                <td width="28%">{{ detalles.CLASE }}</td>        
                <td width="1%"></td>
            </tr>
            <tr>
                <td colspan="8" style="height:10px;">&nbsp;</td>
            </tr>
            <tr>
                <td width="8%">&nbsp;</td>
                <td width="12%"><b>Dispositivo:</b></td>
                <td width="28%">{{ switch | default('NA') }}</td>        
                <td width="1%"></td>

                <td width="8%">&nbsp;</td>
                <td width="12%"><b>Puerto:</b></td>
                <td width="28%">{{ puerto | default('NA') }}</td>        
                <td width="1%"></td>
            </tr>
            <tr>
                <td colspan="8" style="height:10px;">&nbsp;</td>
            </tr>
            <tr>
                <td width="8%">&nbsp;</td>
                <td width="12%"><b>Nombre:</b></td>
                <td width="28%">{{ elemento.nombreElemento }}</td>        
                <td width="1%"></td>
                
                <td width="8%">&nbsp;</td>
                <td width="12%"><b>IP:</b></td>
                <td width="28%">{{ ip }}</td>        
                <td width="1%"></td>
            </tr>
            <tr>
                <td colspan="8" style="height:10px;">&nbsp;</td>
            </tr>
            <tr>
                <td width="8%">&nbsp;</td>
                <td width="12%"><b>Marca:</b></td>
                <td width="28%">{{ elemento.modeloElementoId.marcaElementoId.nombreMarcaElemento }}</td>        
                <td width="1%"></td>

                <td width="8%">&nbsp;</td>
                <td width="12%"><b>Modelo:</b></td>
                <td width="28%">{{ elemento.modeloElementoId.nombreModeloElemento }}</td>        
                <td width="1%"></td>
            </tr>
            <tr>
                <td colspan="8" style="height:10px;">&nbsp;</td>
            </tr>
            <tr>
                <td width="8%">&nbsp;</td>
                <td width="12%"><b>Tiempo Acceso:</b></td>
                <td width="28%">{{ detalles.TIEMPO_ACCESO }} (h)</td>        
                <td width="1%"></td>
                
                <td width="8%">&nbsp;</td>
                <td width="12%"><b>Iac:</b></td>
                <td width="28%">{{ detalles.IAC }}</td>        
                <td width="1%"></td>
            </tr>
            <tr>
                <td colspan="8" style="height:10px;">&nbsp;</td>
            </tr>
            <tr>
                <td width="8%">&nbsp;</td>
                <td width="12%"><b>N&uacute;mero Serie:</b></td>
                <td width="28%">{{ elemento.serieFisica }}</td>        
                <td width="1%"></td>
                
                <td width="8%">&nbsp;</td>
                <td width="12%"><b>Generador:</b></td>
                <td width="28%">{{ detalles.GENERADOR }}</td>        
                <td width="1%"></td>
            </tr>
            <tr>
                <td colspan="8" style="height:10px;">&nbsp;</td>
            </tr>
            <tr>
                <td width="8%">&nbsp;</td>
                <td width="12%"><b>Observaci&oacute;n:</b></td>
                <td width="28%">{{ elemento.observacion }}</td>        
                <td width="1%"></td>
                
                <td width="8%">&nbsp;</td>
                <td width="12%"><b>Snmp (Community):</b></td>
                <td width="28%">{{ strSnmp }}</td>        
                <td width="1%"></td>
            </tr>
            <tr>
                <td width="8%">&nbsp;</td>
                <td colspan="6" width="91%">
                    <center>
                        <div id="gridBaterias" style="margin:10px auto;"></div>
                    </center>
                </td>
                <td width="1%">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="8" style="height:10px;">&nbsp;</td>
            </tr>
        </tbody>
    </table>
</div>	
<div class="buttons">
    <p>
        <span class="height20px">
            <a class="button-crud" href="{{ path('elementoups') }}">Ver listado de UPS</a>
        </span>
    </p>
</div>
<div class="body_content">
    <table class="formulario">
        <tbody>
            <tr>
              <td width="10%" rowspan="3">
                  <img src="{{ asset('public/images/images_crud/agregar_64.png')}}" hspace="3" vspace="3" alt="" border="0" 
                       align="absmiddle" />
              </td>
              <th width="11%">Creador:</th>
              <td width="34%" >{{ elemento.usrCreacion }}</td>
            </tr>
            <tr>
              <th>Fecha:</th>
              <td >{{ elemento.feCreacion | date("d M Y") }}</td>
            </tr>
            <tr>
              <th>Hora:</th>
              <td>{{ elemento.feCreacion | date("H:i:s") }}</td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock contenido_izq %}

{% block contenido_der %}
    <ul class="form_actions" style="width:auto;">
        {% if is_granted('ROLE_326-2') %}
            <li>
                <a class="button-nuevo-registro" href="{{ path('elementoups_new') }}">
                    <img src="{{ asset('public/images/images_crud/new_plus.png')}}" width="15" height="15" />
                    &nbsp;Nuevo UPS
                </a>
            </li>
        {% endif %}
        <li>
            &nbsp;
        </li>
        {% if is_granted('ROLE_326-4') %}
            <li>
                <a class="button-editar" href="{{ path('elementoups_edit', { 'id': elemento.id }) }}">
                    &nbsp;Editar UPS
                </a>
            </li>
        {% endif %}
    </ul>
{% endblock contenido_der %}

    
{% block javascripts_footer%}
    <script>
        var idBateriaElemento               = "{{ bateriaId }}";
        var strUrlGetModelosPorTipoElemento = "{{ path('admimodeloelemento_buscarModeloPorTipoElemento') }}";
        var strUrlGetBaterias               = "{{ path('elementoups_gridBaterias') }}";
        var intIdElementoUps                = "{{ elemento.id }}";
        var strUrlGetTipoBaterias           = "{{ path('elementoups_getParametrosDet', {'strNombreParametroCab': 'TIPO BATERIAS'}) }}";
    </script>
    <script type="text/javascript" src="{{ asset('./bundles/tecnico/js/InfoElementoUps/show.js') }}"></script>
{% endblock javascripts_footer%}