<html>
  <head>
    <meta http-equiv=Content-Type content="text/html; charset=UTF-8">
  </head>
  <body>
    <table align="center" width="100%" cellspacing="0" cellpadding="5">
      <tr>
        <td align="center" style="border:1px solid #6699CC;background-color:#E5F2FF;">
            <img alt=""  src="http://images.telconet.net/others/telcos/logo.png"/>
        </td>
      </tr>
      <tr>
        <td style="border:1px solid #6699CC;">
          <table width="100%" cellspacing="0" cellpadding="5">
            <tr>
                <td colspan="2">Estimado personal,</td>
            </tr>
            <tr>
              <td colspan="2">
                El presente correo es para notificarles que se asigno la siguiente Tarea # {{ numeroTarea }}:
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <hr />
              </td>
            </tr>
			<tr>
              <td>
                <strong>Cliente:</strong>
              </td>
              <td>
				{% if detalleSolicitud.servicioId %}
					{% if detalleSolicitud.servicioId.puntoId %}
						{% if detalleSolicitud.servicioId.puntoId.personaEmpresaRolId %}
							{% if detalleSolicitud.servicioId.puntoId.personaEmpresaRolId.personaId %}
								{% if detalleSolicitud.servicioId.puntoId.personaEmpresaRolId.personaId.razonSocial %}
									{{ detalleSolicitud.servicioId.puntoId.personaEmpresaRolId.personaId.razonSocial }} 
								{% else %}
								{{ detalleSolicitud.servicioId.puntoId.personaEmpresaRolId.personaId.nombres ~ ' ' ~ detalleSolicitud.servicioId.puntoId.personaEmpresaRolId.personaId.apellidos }} 
								{% endif %}	
							{% endif %}	
						{% endif %}	
					{% endif %}	
				{% endif %}	
			  </td>
            </tr>
			<tr>
              <td>
                <strong>Login:</strong>
              </td>
              <td>
				{% if detalleSolicitud.servicioId %}
					{% if detalleSolicitud.servicioId.puntoId %}
						{% if detalleSolicitud.servicioId.puntoId.login %}
							{{ detalleSolicitud.servicioId.puntoId.login }} 
						{% endif %}	
					{% endif %}	
				{% endif %}		
			  </td>
            </tr>
			<tr>
              <td>
                <strong>Jurisdicci&oacute;n:</strong>
              </td>
              <td>
				{% if detalleSolicitud.servicioId %}
					{% if detalleSolicitud.servicioId.puntoId.puntoCoberturaId %}
						{% if detalleSolicitud.servicioId.puntoId.puntoCoberturaId.nombreJurisdiccion %}
							{{ detalleSolicitud.servicioId.puntoId.puntoCoberturaId.nombreJurisdiccion }}
						{% endif %}	
					{% endif %}	
				{% endif %}	
			  </td>
            </tr>
			<tr>
              <td>
                <strong>Direcci&oacute;n:</strong>
              </td>
              <td>
				{% if detalleSolicitud.servicioId %}
					{% if detalleSolicitud.servicioId.puntoId %}
						{% if detalleSolicitud.servicioId.puntoId.direccion %}
							{{ detalleSolicitud.servicioId.puntoId.direccion }} 
						{% endif %}	
					{% endif %}	
				{% endif %}	
			  </td>
            </tr>
			<tr>
              <td>
                <strong>Servicio / Producto:</strong>
              </td>
              <td>
				{% if detalleSolicitud.servicioId %}
					{% if detalleSolicitud.servicioId.productoId %}
						{% if detalleSolicitud.servicioId.productoId.descripcionProducto %}
							{{ detalleSolicitud.servicioId.productoId.descripcionProducto }} 
						{% endif %}	
					{% endif %}	
				{% endif %}	
				{% if detalleSolicitud.servicioId %}
					{% if detalleSolicitud.servicioId.planId %}
						{% if detalleSolicitud.servicioId.planId.nombrePlan %}
							{{ detalleSolicitud.servicioId.planId.nombrePlan }}
						{% endif %}	
					{% endif %}	
				{% endif %}	
			  </td>
            </tr>
            <tr>
              <td>
                <strong>Fecha de creacion:</strong>
              </td>
              <td>{{detalleSolicitud.feCreacion | date("d-M-Y") }} | {{ detalleSolicitud.feCreacion | date("H:i")  }}</td>
            </tr>
            <tr>
              <td>
                <strong>Usuario de creacion:</strong>
              </td>
              <td>{{ detalleSolicitud.usrCreacion}}</td>
            </tr>
            <tr>
              <td colspan="2">
                <hr />
              </td>
            </tr>
			<tr>
                <td colspan="2" style="text-align: center;">
                <strong>Tarea: {{ tarea.nombreTarea}}</strong>
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <hr />
              </td>
            </tr>
            <tr>
              <td>
                <strong>Fecha de asignacion:</strong>
              </td>
              <td>{{detalleAsignacion.feCreacion | date("d-M-Y") }} | {{ detalleAsignacion.feCreacion | date("H:i")  }}</td>
            </tr>
            <tr>
              <td>
                <strong>Usuario que asigna:</strong>
              </td>
              <td>{{ detalleAsignacion.usrCreacion}}</td>
            </tr>
            <tr>
              <td>
                <strong>Asignado:</strong>
              </td>
              <td>{{detalleAsignacion.asignadoNombre }}{% if(detalleAsignacion.refAsignadoNombre!="")%}-{{detalleAsignacion.refAsignadoNombre}}{%endif%}</td>
            </tr>
			{% if detalleAsignacionAnterior %}
				{% if detalleAsignacionAnterior.feCreacion %}
					<tr>
					  <td>
						<strong>Fecha de &uacute;ltima asignacion:</strong>
					  </td>
					  <td>{{ detalleAsignacionAnterior.feCreacion | date("d-M-Y") }} | {{ detalleAsignacionAnterior.feCreacion | date("H:i")  }}</td>
					</tr>
					<tr>
					  <td>
						<strong>Ultimo Usuario que reasigno:</strong>
					  </td>
					  <td>{{ detalleAsignacionAnterior.usrCreacion}}</td>
					</tr>
					<tr>
					  <td>
						<strong>Ultimo Asignado:</strong>
					  </td>
					  <td>{{detalleAsignacionAnterior.asignadoNombre }}{% if(detalleAsignacionAnterior.refAsignadoNombre!="")%}-{{detalleAsignacionAnterior.refAsignadoNombre}}{%endif%}</td>
					</tr>
				{% endif %}
			{% endif %}
            <tr>
              <td colspan="2"><br/></td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
          <td>&nbsp;
          </td>
      </tr>
      <tr>
          <td><strong><font size='2' face='Tahoma'>Telcos + Sistema del Grupo Telconet</font></strong></p>
          </td>   
      </tr>  
    </table>
  </body>
</html>