{% extends "::layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <style scoped="scoped">
        .alineando {
                left: 42em;
                position: absolute;
                top: 44em;
        }
    </style>
{% endblock %}

{% block javascripts%}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('./bundles/administracion/js/AdmiBuffer/new.js?1') }}"></script>
    <script>
        var getHilos    = '{{ path('admihilo_getHilosPorEstado') }}';
    </script>
{% endblock %}

{% block contenido_izq %}
    <div id="titulo_content">
		<img src="{{ asset('public/images/'~ item.urlImagen | default('tools1.png') ~ '') }}" class="imagen-titulo-content">
        <h1>Nuevo Buffer</h1>
    </div>
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="errormessage">
            {{ flashMessage }}
        </div>
    {% endfor %}
    <div class="body_content">
        <form id='form_new_buffer' action="{{ path('admibuffer_create') }}" method="post" {{ form_enctype(form) }} class='formulario' 
              novalidate="novalidate" onsubmit="return validar();">
            {{ form_widget(form) }}
            <div id="grid"></div>
            <input type="hidden" name="bufferHilo" id="bufferHilo" value="" />
            <div class="buttons">
                <p>
                    <input type='submit'class="button-crud" value="Guardar" />
                    <span class="height20px">
                        &oacute;&nbsp;
                        <a class="button-crud" href="{{ path('admibuffer') }}">Cancelar</a>
                    </span>
                </p>
            </div>	
        </form>
    </div>
{% endblock contenido_izq %}

{% block javascripts_footer%}
{% endblock javascripts_footer%}	