{% extends "::layout_completo.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('./bundles/soporte/css/InfoCaso.css') }}" type="text/css" rel="stylesheet" />

    <link href="{{ asset('public/js/kendo/source/styles/kendo.common.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('public/js/kendo/source/styles/kendo.default.css') }}" type="text/css" rel="stylesheet" />
    <style>
        .ancho_fijo
        {
            width: 21%;
            float:left;
            margin-right: 5px;
            height: 650px;
        }

        .ancho_variable
        {
            float:left;
            margin-right: 5px;
            height: 650px;
            width: 77%;
        }

        .clase_titulo
        {
            border-bottom: 1px solid #999999;
            display: block;
            font-size: 14px;
            margin-bottom: 10px;
            margin-top: 0;
            padding-bottom: 5px;
            text-indent: 0;
            padding-top: 5px;
        }

        #datospto label, #datosgenerales label
        {
            float:left; /* Importante, para la alineaci贸n */
            width:200px; /* ancho del label */
            /*font-size:2.8em;*/
            margin: 1px 0 1px 10px;
        }

        #datospto input, #datosgenerales input
        {
            /*float:left; Importante, para la alineaci贸n */
            /*width:245px; 
            height:36px; Medidas del Input */
            margin:0 0 3px 6px;
            /*padding:15px;*/
            /*font-size:2em;*/
        }

        .btn_cerrar
        {
            float:right; 
            width:100%;
            text-align: right !important;
            margin-bottom:5px;
        }

        #my-tabs fieldset
        {
            border:2px solid grey !important;
            margin: 5px 30px;
        }
        
        .label_campo
        {
            width: 250px;
        }
    </style>
{% endblock %}

{% block javascripts%}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('./bundles/admin/js/inicio/global.js') }}"></script>  
    <script type="text/javascript" src="{{ asset('./bundles/admin/js/inicio/busca_comercial.js') }}"></script>
    <script type="text/javascript" src="{{ asset('./bundles/admin/js/inicio/busca_planificacion.js') }}"></script> 
    <script type="text/javascript" src="{{ asset('./bundles/admin/js/inicio/busca_tecnico.js') }}"></script>  
    <script type="text/javascript" src="{{ asset('./bundles/admin/js/inicio/busca_soporte.js') }}"></script>  
    <script type="text/javascript" src="{{ asset('./bundles/admin/js/inicio/busca_financiero.js') }}"></script> 
	
    <script type="text/javascript" src="{{ asset('./bundles/soporte/js/InfoCaso/funcionesBusquedaAvanzada/funciones_generales.js') }}"></script>
    <script type="text/javascript" src="{{ asset('./bundles/soporte/js/InfoCaso/funcionesBusquedaAvanzada/funciones_sintomas.js') }}"></script>
    <script type="text/javascript" src="{{ asset('./bundles/soporte/js/InfoCaso/funcionesBusquedaAvanzada/funciones_hipotesis.js') }}"></script>
    <script type="text/javascript" src="{{ asset('./bundles/soporte/js/InfoCaso/funcionesBusquedaAvanzada/funciones_tareas.js?2') }}"></script>
    <script type="text/javascript" src="{{ asset('./bundles/soporte/js/InfoCaso/funcionesBusquedaAvanzada/funciones_casos.js') }}"></script>
{% endblock %}

{% block contenido_central %}
<div id="titulo_content" style="vertical-align: middle;">
    <img src="{{ asset('public/images/inicio/'~ item.urlImagen | default('busqueda.png') ~ '') }}" class="imagen-titulo-content">
    <h1>Busqueda Avanzada</h1>
</div>
<div class="body_content k-content">
{% if rolesPermitidos %}
	   {% for rol in rolesPermitidos %}
	    <input type="hidden" name="{{ rol }}" id="{{ rol }}" value="1" />
	   {% endfor %}
	{% endif %}
    <table width="100%" cellpadding="1" cellspacing='0'  border='0'>
        <tr id="tr_error" style="display:none;">
            <td><div class="info-error" style="margin: 0 !important;" id="busqueda_error"></div><br/></td>
        </tr>
        <tr>
            <td>
                <div id="panel-1035_header" class="x-panel-header x-docked x-panel-header-default x-horizontal x-panel-header-horizontal x-panel-header-default-horizontal x-top x-panel-header-top x-panel-header-default-top x-docked-top x-panel-header-docked-top x-panel-header-default-docked-top x-unselectable x-docked-noborder-top x-docked-noborder-right x-docked-noborder-left" style="-moz-user-select: -moz-none; width: 1300px; position:relative !important; ">
                    <div class="x-panel-header-body x-panel-header-body-default x-panel-header-body-horizontal x-panel-header-body-default-horizontal x-panel-header-body-top x-panel-header-body-default-top x-panel-header-body-collapsed x-panel-header-body-default-collapsed x-panel-header-body-collapsed-top x-panel-header-body-default-collapsed-top x-panel-header-body-docked-top x-panel-header-body-default-docked-top x-panel-header-body-default-horizontal x-panel-header-body-default-top x-panel-header-body-default-collapsed x-panel-header-body-default-collapsed-top x-panel-header-body-default-docked-top x-box-layout-ct" id="panel-1035_header-body" style="width: 1291px;">
                        <div role="presentation" class="x-box-inner " id="panel-1035_header-innerCt" style="width: 1291px; height: 15px;">
                            <div style="width:20000px;left:0px;top:0px;height:1px" id="panel-1035_header-targetEl">
                                <div id="panel-1035_header_hd" style="text-align: left; left: 0px; top: 0px; margin: 0pt; width: 1274px;" class="x-component x-panel-header-text-container x-box-item x-component-default">
                                    <span class="x-panel-header-text x-panel-header-text-default" id="panel-1035_header_hd-textEl">Criterios de busqueda</span>
                                </div>
                                <div id="tool-1041" style="width: 15px; height: 15px; left: 1276px; top: 0px; margin: 0pt;" class="x-tool x-box-item x-tool-default">
                                    <img role="presentation" class="x-tool-collapse-top" src="data:image/gif;base64,R0lGODlhAQABAID/AMDAwAAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" id="tool-1041-toolEl" onClick="botonFiltro();">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <input type="hidden" id="banderaFiltro" value="0" />
                <br/>

                <div id='filtro'  id="div_busqueda" style='border: 1px solid #EBEBEB; '>
                    <div class="configuration k-widget k-header ancho_fijo" >
                        <div class="clase_titulo">Datos del Punto</div>
                        <div id="datospto">
                            <div>
                                <label for="datospunto_loginPunto">Login:</label>
                                <input type="text" name="search_login2" id="search_login2" value="{% if loginSearch != null %}{{ loginSearch }}{% else %}{% endif %}">
                            </div>
                            <div>
                                <label for="datospunto_descripcionPunto">Descripcion del Punto:</label>
                                <input type="text" value="" name="search_descripcion_pto" id="search_descripcion_pto">
                            </div>
                            <div>
                                <label for="datospunto_direccionPunto">Direcci贸n del Punto:</label>
                                <input type="text" value="" name="search_direccion_pto" id="search_direccion_pto">
                            </div>
                            <div>
                                <label for="datospunto_estadoPunto">Estado del Punto:</label>
                                <select name="search_estados_pto" id="search_estados_pto">
                                {% for est in estados %}
                                    <option value="{{ est.idEstado }}">{{ est.descripcionEstado }}</option>
                                {% endfor %}
                                </select>
                            </div>
                            <div>
                                <label for="datospunto_claseNegocioPunto">Clase de Negocio:</label>
                                <select name="search_negocios_pto" id="search_negocios_pto">
                                {% for tipo in tipo_negocio %}
                                    <option value="{{ tipo.idTipo }}">{{ tipo.descripcionTipo }}</option>
                                {% endfor %}
                                </select>
                            </div>
                            <div>
                                <label for="datospunto_vendedorPunto">Vendedor:</label>
                                <input type="text" value="" name="search_vendedor" id="search_vendedor" >
                            </div>
                            <div>
                                <label for="datospunto_esEdificio">Es Edificio:</label>
                                <select name="search_es_edificio" id="search_es_edificio">
                                    <option value="0">-- Seleccione --</option>
                                    <option value="S">SI</option>
                                    <option value="N">NO</option>
                                </select>
                            </div>
                            <div>
                                <label for="datospunto_dependeEdificio">Depende de Edificio:</label>
                                <select name="search_depende_edificio" id="search_depende_edificio">
                                    <option value="0">-- Seleccione --</option>
                                    <option value="S">SI</option>
                                    <option value="N">NO</option>
                                </select>
                            </div>
                        </div>


                        <div class="clase_titulo">Datos Generales</div>
                        <div id="datosgenerales">
                            <div>
                                <label for="datosgenerales_identificacionCliente">CI/RUC/Pasaporte:</label>
                                <input type="text" value="" name="search_identificacion" id="search_identificacion" >
                            </div>
                            <div>
                                <label for="datosgenerales_nombresCliente">Nombre:</label>
                                <input type="text" value="" name="search_nombre" id="search_nombre" >
                            </div>
                            <div>
                                <label for="datosgenerales_apellidosCliente">Apellido:</label>
                                <input type="text" value="" name="search_apellido" id="search_apellido">
                            </div>
                            <div>
                                <label for="datosgenerales_razonSocialCliente">Razon Social:</label>
                                <input type="text" value="" name="search_razon_social" id="search_razon_social">
                            </div>
                            <div>
                                <label for="datosgenerales_direccionCliente">Direcci贸n:</label>
                                <input type="text" value="" name="search_direccion_grl" id="search_direccion_grl">
                            </div>
                        </div>
                    </div>
                    <div>
                        <div id="tabstrip" class="ancho_variable">
                            <div id="my-tabs">
							
                                <div id="tab_comercial" class="x-hide-display">
                                    <div id="datoscomerciales" class="formulario">                                 
                                        <br/>
									    <table width="90%" style="margin-left: 10px;" cellpadding="1" cellspacing='7' border='0'>
									        <tr>
									            <td><div id='filtro_comercial'></div></td>
									        </tr>
									    </table>
										<br/>	
                                        <div class="buttons">
                                            <p>
                                                <button class="button-crud" type="submit" name="search" id="search" onClick="llenarComercial();">Buscar</button>
                                                &nbsp;
                                                <button class="button-crud" type="submit" name="limpiar" id="limpiar" onClick="limpiarComercial();">Limpiar</button>
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div id="tab_planificacion" class="x-hide-display"> 
                                    <div id="datosplanificacion" class="formulario">									
                                        <br/>
									    <table width="90%" style="margin-left: 10px;" cellpadding="1" cellspacing='7' border='0'>
									        <tr>
									            <td><div id='filtro_planificacion'></div></td>
									        </tr>
									    </table>
										<br/>	
                                        <div class="buttons">
                                            <p>
                                                <button class="button-crud" type="submit" onClick="llenarPlanificacion();">Buscar</button>
												&nbsp;
                                                <button class="button-crud" type="submit" name="limpiar" id="limpiar" onClick="limpiarPlanificacion();">Limpiar</button>
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div id="tab_soporte" class="x-hide-display"> 
                                    <div id="datossoporte" class="formulario">									
                                        <br/>
									    <table width="90%" style="margin-left: 10px;" cellpadding="1" cellspacing='7' border='0'>
									        <tr>
									            <td><div id='filtro_soporte'></div></td>
									        </tr>
									    </table>
										<br/>	
                                        <div class="buttons">
                                            <p>
                                                <button class="button-crud" type="submit" onClick="llenarSoporte();">Buscar</button>
												&nbsp;
                                                <button class="button-crud" type="submit" name="limpiar" id="limpiar" onClick="limpiarSoporte();">Limpiar</button>
                                            </p>
                                        </div>
                                    </div>
                                </div>
								
                                <div id="tab_financiero" class="x-hide-display">
                                    <div id="datosfinanciero" class="formulario">									
                                        <br/>
									    <table width="90%" style="margin-left: 10px;" cellpadding="1" cellspacing='7' border='0'>
									        <tr>
									            <td><div id='filtro_financiero'></div></td>
									        </tr>
									    </table>
										<br/>	
                                        <div class="buttons">
                                            <p>
                                                <button class="button-crud" type="submit" onClick="llenarFinanciero();">Buscar</button>
												&nbsp;
                                                <button class="button-crud" type="submit" name="limpiar" id="limpiar" onClick="limpiarFinanciero();">Limpiar</button>
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div id="tab_tecnica" class="x-hide-display"> 
                                    TECNICA
                                    <div id="datosgenerales">
                                        <div class="buttons">
                                            <p>
                                                <button class="button-crud" type="submit" onClick="llenarTecnico();">Buscar</button>
                                            </p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div style="clear:both;"></div>
                    <br/>                


                </div>
            </td>
        </tr>	
        <tr>
            <td><div id="grid"></div></td>
        </tr>
    </table> 
</div>

<div class="contenedor body_content k-content" id="div_busqueda" style='display:none; border: 1px solid #EBEBEB;'> 
    <div class="btn_cerrar">
        <a class='k-button k-button-icontext' href='javascript:mostrarOcultarBusqueada(false);'>
            <img class='img-grid' title='Cerrar criterios de busqueda' src='/public/images/images_crud/Bigdelete.png'>
        </a>    
    </div>
</div>

{% endblock contenido_central %}
{% block javascripts_footer%} 
    <script type="text/javascript" src="{{ asset('./bundles/admin/js/inicio/new_edit.js') }}"></script>
    <script>
        function seleccionaTipoDocumento(valor)
        {
            if(valor == 'OT'){                     
                capa = document.getElementById('tr_tipoOrden');
                capa.style.display = 'table-row';    
            }
            else
            {                     
                capa = document.getElementById('tr_tipoOrden');
                capa.style.display = 'none';  
            }
        }

        function mostrarOcultarBusqueada(mostrar)
        {
            if(mostrar)
            {
                $("#filtro").fadeIn(1500);
                $("#tool-1041-toolEl").removeClass("x-tool-expand-bottom");
                $("#tool-1041-toolEl").addClass("x-tool-collapse-top");

                $("#banderaFiltro").val(0);	
            }
            else
            {
                $("#filtro").fadeOut(1200);
                $("#tool-1041-toolEl").removeClass("x-tool-collapse-top");
                $("#tool-1041-toolEl").addClass("x-tool-expand-bottom");
                
                $("#banderaFiltro").val(1);
            }
        }

        function botonFiltro()
        {
            var bandera = $("#banderaFiltro").val();

            if(bandera == 1)
            {
                mostrarOcultarBusqueada(true);
            }
            else
            {
                mostrarOcultarBusqueada(false);
            }
        } 
        
        /* CUANDO CARGUE COMPLETAMENTO TODO, VERIFICAR SI EL LOGINSEARCHPRINCIPAL ES DIFERENTE DE VACIO. || MANDAR A CARGAR DIRECTAMENTE */
        Ext.onReady(function(){
            var loginJs = "{{ loginSearch }}";
            if(loginJs != "")
            {
                llenarComercial();
            }  
        });
    </script>
{% endblock %}
