{% extends "::layout.html.twig" %}
{% block contenido_izq %}
<div id="titulo_content">
    <img src="{{ asset('public/images/'~ item.urlImagen | default('tools1.png') ~ '') }}" class="imagen-titulo-content">
    <h1>Ver Rol</h1>
</div>
<div class="body_content">
    <table class="formulario">
        <tbody>
            <tr>
                <td width="8%">&nbsp;</td>
                <th width="25%"> Descripcion Rol:</th>
                <td width="15%">{{ rol.descripcionRol }}</td>        
                <td width="1%"></td>

                <td width="8%">&nbsp;</td>
                <th width="25%"> Descripcion Tipo Rol:</th>
                <td width="15%">{{ rol.tipoRolId.descripcionTipoRol }}</td>      
                <td width="1%"></td>
            </tr>
            <tr>
                <td width="8%">&nbsp;</td>
                <th width="25%"> Es Jefe:</th>
                <td>{% if rol.esJefe == "S" %}SI{% else %}NO{% endif %}</td>        
                <td width="1%"></td>

                <td width="8%">&nbsp;</td>
                <th width="25%"> Estado:</th>
                <td>{{ rol.estado }}</td> 
                <td width="1%"></td>
            </tr>
        </tbody>
    </table>
</div>	
<div class="buttons">
    <p>
        <span class="height20px">
            <a class="button-crud" href="{{ path('admirol') }}">Regresar</a>
        </span>
    </p>
</div>
<div class="body_content">
    <table class="formulario">
        <tbody>
            <tr>
              <td width="10%" rowspan="3"><img src="{{ asset('public/images/images_crud/agregar_64.png')}}" hspace="3" vspace="3" alt="" border="0" align="absmiddle" /></td>
              <th width="11%">Creador:</th>
              <td width="34%" >{{ rol.usrCreacion }}</td>

              {% if(rol.estado|lower=="modificado") %}
              <td width="10%" rowspan="3"><img src="{{ asset('public/images/images_crud/edit_64.png')}}" hspace="3" vspace="3" alt="" border="0" align="absmiddle" /></td>
              <th width="11%" >Ult. Mod.:</th>
              <td width="34%">{{ rol.usrUltMod }}</td>
              {% endif %}

              {% if(rol.estado|lower=="eliminado") %}
              <td width="10%" rowspan="3"><img src="{{ asset('public/images/images_crud/eliminar_64.png')}}" hspace="3" vspace="3" alt="" border="0" align="absmiddle" /></td>
              <th width="6%">Eliminado:</th>
              <td width="34%">{{ rol.usrUltMod }}</td>
              {% endif %}
            </tr>
            <tr>
              <th>Fecha:</th>
              <td >{{ rol.feCreacion | date("d M Y") }}</td>

              {% if(rol.estado|lower=="modificado") %}
              <th>Fecha:</th>
              <td >{{ rol.feUltMod  | date("d M Y")}}</td>
              {% endif %}

              {% if(rol.estado|lower=="eliminado") %}
              <th>Fecha:</th>
              <td>{{ rol.feUltMod | date("d M Y") }}</td>
              {% endif %}
            </tr>
            <tr>
              <th>Hora:</th>
              <td>{{ rol.feCreacion | date("H:i:s") }}</td>

              {% if(rol.estado|lower=="modificado") %}
              <th>Hora:</th>
              <td>{{ rol.feUltMod | date("H:i:s") }}</td>
              {% endif %}

              {% if(rol.estado|lower=="eliminado") %}
              <th>Hora:</th>
              <td>{{ rol.feUltMod | date("H:i:s") }}</td>
              {% endif %}
            </tr>

        </tbody>
    </table>
</div>
{% endblock contenido_izq %}

{% block contenido_der %}
    <ul class="form_actions" style="width:auto;">
		{% if is_granted('ROLE_48-2') %}
        <li>
            <a class="button-nuevo-registro" href="{{ path('admirol_new') }}">
                <img src="{{ asset('public/images/images_crud/new_plus.png')}}" width="15" height="15" />
                &nbsp;Nuevo Rol
            </a>
        </li>
		{% endif %}
        <li>
            &nbsp;
        </li>
		{% if is_granted('ROLE_48-4') %}
        <li>
            <a class="button-editar" href="{{ path('admirol_edit', { 'id': rol.id }) }}">
                &nbsp;Editar Rol
            </a>
        </li>
		{% endif %}
		{% if is_granted('ROLE_48-8') %}
        <li>
            <a class="button-eliminar" href="{{ path('admirol_delete', { 'id': rol.id }) }}">
                &nbsp;Eliminar Rol
            </a>
        </li>
		{% endif %}
    </ul>
    <div class="titulo-acciones-relacionadas">
        Acciones Relacionadas
    </div>
    <ul class="listado_acciones_relacionadas">

    </ul>
{% endblock contenido_der %}