{% extends "::layout_completo.html.twig" %}

{% block stylesheets %}
	{{ parent() }}
	
	<link href="{{ asset('public/css/css_tabla.css') }}" type="text/css" rel="stylesheet" />
	<style scoped="scoped">
		.category-label
		{
			vertical-align: middle;
			padding-right: .5em;
		}
		#category
		{
			vertical-align: middle;
		}
		.toolbar {
			float: right;
			margin-right: .8em;
		}
		.icon_search {
			background-image:url('{{ asset('public/images/images_crud/ver.png') }}') !important;
                }
		.icon_limpiar {
			background-image:url('{{ asset('public/images/images_crud/edit-clear.png') }}') !important;
                } 
		.icon_add {
			background-image:url('{{ asset('public/images/images_crud/plus.png') }}') !important;
                } 
		.icon_delete {
			background-image:url('{{ asset('public/images/images_crud/trash.png') }}') !important;
                }                 
    </style>
{% endblock %}

{% block javascripts%}
    {{ parent() }}
    <script>
        var url_store_clientes='{{path('reportes_listar_clientes')}}';        
        var url_store_grid = "{{ path('facturacion_mensual_automatica_grid_procesadas') }}";
        var cliente="{{ cliente }}";
    </script>   
    
    <script type="text/javascript" src="{{ asset('bundles/financiero/js/facturas_automatica/factura_automatica_listado.js') }}"></script>              
{% endblock %}

            
{% block contenido_central %}
<div id="titulo_content">
	<img src="{{ asset('public/images/'~ item.urlImagen | default('tools1.png') ~ '') }}" class="imagen-titulo-content">
    <h1>Listado de facturas procesadas</h1>
</div>
<div class="dashboard_content k-content">
    <div id="example" class="k-content">
        <table width="100%" cellpadding="1" cellspacing='0'  border='0'>
                <tr bgcolor='#ffffff'>
                    <td bgcolor='#ffffff'><div id='filtro_prospectos'></div></td>
                </tr>	
                 <tr bgcolor='#ffffff'>
                    <td bgcolor='#ffffff'><div id='lista_prospectos'></div></td>
                </tr>	
        </table>      
    </div>
    <!--div id="estado_cuenta" name="estado_cuenta"></div-->
</div>
{% endblock contenido_central %}
