{% extends "::layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}

<link rel="stylesheet" type="text/css" media="screen" href="{{ asset('./bundles/tecnico/css/InfoElemento.css') }}" />
<style scoped="scoped">
    .category-label
    {
        vertical-align: middle;
        padding-right: .5em;
    }
    #category
    {
        vertical-align: middle;
    }
    .toolbar {
        float: right;
        margin-right: .8em;
    }
</style>
{% endblock %}

{% block javascripts%}
    {{ parent() }}
<script>
    
    var urlTipoElementos               = '{{path('elementoredpasivo_getTipoElementoPasivo')}}';    
    var url_getCantones                = '{{path('admicanton_getCantones')}}';
    var urlGetJurisdiccion             = '{{path('admijurisdiccion_getEncontrados')}}';
    var urlGetCantonJurisdiccion       = '{{path('elementoposte_ajaxGetCantonJurisdiccion')}}';
    var urlGetParroquiaCanton          = '{{path('elementoposte_ajaxGetParroquiaCanton')}}';
    var url_getTipoElemento            = '{{path('elementoposte_getTipoElemento')}}';
    var strUrlGetModelo                = '{{path('admimodeloelemento_getModelosElementosPorMarca')}}';
    var url_getPropietarios            = '{{path('elementoposte_ajaxGetEncontradosPropietario')}}';
    var url_getEncontradosPostes       = '{{path('elementoredpasivo_ajaxGetEncontrados')}}';
    var url_getHistorialElementos      = '{{path('elementoposte_ajaxGetHistorialElemento')}}';    
    var iconMap                        = '{{asset('public/images/images_crud/gmaps.png')}}' ;
    var urlEditPoste                   = '{{path('elementoredpasivo_ajaxEdit')}}';
    var urlDeletePoste                 = '{{path('elementoredpasivo_ajaxDelete')}}';    
    var strUrlIndex                    = '{{path('elementoposte')}}';
    var strNombreElemento              = '{{strNombreElemento}}';
    var urlGetElementoTipo             = '{{path('elementosplitter_buscarElementoContenedor')}}';
    
    var boolPermisoEditar              = '{{is_granted("ROLE_401-5497")}}';
    var boolPermisoEliminar            = '{{is_granted("ROLE_401-5499")}}';
    var strLimiteLatitudNorte    = '{{ app.session.get("strLimiteLatitudNorte") }}';
    var strLimiteLatitudSur      = '{{ app.session.get("strLimiteLatitudSur") }}';
    var strLimiteLongitudEste    = '{{ app.session.get("strLimiteLongitudEste") }}';
    var strLimiteLongitudOeste   = '{{ app.session.get("strLimiteLongitudOeste") }}';
    var strRangoPais             = '{{ app.session.get("strRangoPais") }}';
</script>
<script type="text/javascript" src="{{ asset('./bundles/tecnico/js/InfoElementoRedPasivo/index.js?3') }}"></script>
<script type="text/javascript" src="{{ asset('./bundles/tecnico/js/InfoElementoRedPasivo/map.js?3') }}"></script>
<script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=false"></script>
<script type="text/javascript" src="{{ asset('./bundles/tecnico/js/InfoElemento/validacionesGenerales.js') }}"></script>

{% endblock javascripts %}

{% block contenido_izq %}
<div id="titulo_content">
    <img src="{{ asset('public/images/'~ item.urlImagen | default('tools1.png') ~ '') }}" class="imagen-titulo-content">
    <h1>Listado de Elementos Pasivos</h1>
</div>
<div class="dashboard_content k-content">
    <table width="100%" cellpadding="1" cellspacing='0'  border='0'>
        <tr>
            <td><div id='filtro'></div></td>
        </tr>	
        <tr> 
            <td><div id="grid"></div></td>
        </tr>
    </table> 
</div>
<div id='map_canvas' style='width:575px; height:450px'></div>
{% endblock contenido_izq %}

{% block contenido_der %}

{% if is_granted("ROLE_401-5498") %}
<a class="button-nuevo-registro" href="{{ path('elementoredpasivo_new') }}">
    <img src="{{ asset('public/images/images_crud/new_plus.png')}}" width="15" height="15" />
    &nbsp;Nuevo 
</a>
{% endif %}

<div class="titulo-acciones-relacionadas">
    Acciones Relacionadas
</div>
<ul class="listado_acciones_relacionadas">
    <li>

    </li>	
</ul>

{% endblock contenido_der %}

{% block javascripts_footer%}
<script>

</script>
{% endblock %}