{% extends "::layout.html.twig" %}
{% block contenido_izq %}
<div id="titulo_content">
    <img src="{{ asset('public/images/'~ item.urlImagen | default('tools1.png') ~ '') }}" class="imagen-titulo-content">
    <h1>Ver Pais</h1>
</div>
<div class="body_content">
    <table class="formulario">
        <tbody>
            <tr>
                <td width="10%">&nbsp;</td>
                <th width="25%"> Nombre Pais:</th>
                <td width="15%">{{ pais.nombrePais }}</td>        
                <td width="1%"></td>

                <td width="9%">&nbsp;</td>
                <th width="25%">Estado</th>        
                <td width="15%">{{ pais.estado }}</td>
                <td width="1%"></td>
            </tr>
        </tbody>
    </table>
</div>	
<div class="buttons">
    <p>
        <span class="height20px">
            <a class="button-crud" href="{{ path('admipais') }}">Regresar</a>
        </span>
    </p>
</div>
<div class="body_content">
    <table class="formulario">
        <tbody>
            <tr>
              <td width="10%" rowspan="3"><img src="{{ asset('public/images/images_crud/agregar_64.png')}}" hspace="3" vspace="3" alt="" border="0" align="absmiddle" /></td>
              <th width="11%">Creador:</th>
              <td width="34%" >{{ pais.usrCreacion }}</td>

              {% if(pais.estado|lower=="modificado") %}
              <td width="10%" rowspan="3"><img src="{{ asset('public/images/images_crud/edit_64.png')}}" hspace="3" vspace="3" alt="" border="0" align="absmiddle" /></td>
              <th width="11%" >Ult. Mod.:</th>
              <td width="34%">{{ pais.usrUltMod }}</td>
              {% endif %}

              {% if(pais.estado|lower=="eliminado") %}
              <td width="10%" rowspan="3"><img src="{{ asset('public/images/images_crud/eliminar_64.png')}}" hspace="3" vspace="3" alt="" border="0" align="absmiddle" /></td>
              <th width="6%">Eliminado:</th>
              <td width="34%">{{ pais.usrUltMod }}</td>
              {% endif %}
            </tr>
            <tr>
              <th>Fecha:</th>
              <td >{{ pais.feCreacion | date("d M Y") }}</td>

              {% if(pais.estado|lower=="modificado") %}
              <th>Fecha:</th>
              <td >{{ pais.feUltMod  | date("d M Y")}}</td>
              {% endif %}

              {% if(pais.estado|lower=="eliminado") %}
              <th>Fecha:</th>
              <td>{{ pais.feUltMod | date("d M Y") }}</td>
              {% endif %}
            </tr>
            <tr>
              <th>Hora:</th>
              <td>{{ pais.feCreacion | date("H:i:s") }}</td>

              {% if(pais.estado|lower=="modificado") %}
              <th>Hora:</th>
              <td>{{ pais.feUltMod | date("H:i:s") }}</td>
              {% endif %}

              {% if(pais.estado|lower=="eliminado") %}
              <th>Hora:</th>
              <td>{{ pais.feUltMod | date("H:i:s") }}</td>
              {% endif %}
            </tr>

        </tbody>
    </table>
</div>
{% endblock contenido_izq %}

{% block contenido_der %}
    <ul class="form_actions" style="width:auto;">
		{% if is_granted('ROLE_22-2') %}
        <li>
            <a class="button-nuevo-registro" href="{{ path('admipais_new') }}">
                <img src="{{ asset('public/images/images_crud/new_plus.png')}}" width="15" height="15" />
                &nbsp;Nuevo Pais
            </a>
        </li>
		{% endif %}
        <li>
            &nbsp;
        </li>
		{% if is_granted('ROLE_22-4') %}
        <li>
            <a class="button-editar" href="{{ path('admipais_edit', { 'id': pais.id }) }}">
                &nbsp;Editar Pais
            </a>
        </li>
		{% endif %}
		{% if is_granted('ROLE_22-8') %}
        <li>
            <a class="button-eliminar" href="{{ path('admipais_delete', { 'id': pais.id }) }}">
                &nbsp;Eliminar Pais
            </a>
        </li>
		{% endif %}
    </ul>
    <div class="titulo-acciones-relacionadas">
        Acciones Relacionadas
    </div>
    <ul class="listado_acciones_relacionadas">

    </ul>
{% endblock contenido_der %}