{% extends "::layout_completo.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('public/css/Datatables/jquery.dataTables.min.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('public/css/Datatables/dataTables.bootstrap4.min.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('public/css/bootstrap-v4.3/bootstrap.min.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('public/css/select2-v4.0/select2.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('public/css/jquery-ui.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('./bundles/financiero/css/motivoCancelacion.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('public/js/jquery-3.2.1/jquery-3.2.1.js') }}"></script>
    <script type="text/javascript" src="{{ asset('public/js/jquery-ui.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('public/js/Datatables/datatables.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('public/js/Datatables/dataTables.bootstrap4.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('public/js/Datatables/dataTables.fixedColumns.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('public/js/select2-v4.0/select2.js') }}"></script>
    <script>
       var url_grid_motivos         = "{{ path('adminMotivosCancelacion_grid') }}";
       
        var url_crear_motivo_accion         = "{{ path('adminMotivosCancelacion_crear_accion') }}";
        var url_editar_motivo_accion         = "{{ path('adminMotivosCancelacion_editar_accion') }}";
        var url_eliminar_motivo_accion         = "{{ path('adminMotivosCancelacion_eliminar_accion') }}";
    </script>
    <script src="{{ asset('public/js/bootstrap-v4.3/bootstrap.min.js') }}" type="text/javascript"></script>

    <script type="text/javascript" src="{{ asset('./bundles/financiero/js/AdmiMotivosCancelacion/index.js?1') }}"></script>

{% endblock %}

{% block contenido_central %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md">
                <div>
                    <br/>
                    <nav class="navbar navbar-expand-lg navbar-light bg-light">
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <button type="button" onClick="javascript:mostrarModalCrear('crear');" class="btn btn-outline-success btn-sm" >Nuevo Motivo</button>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md">
                <div class="body_content k-content">
                    <h6>Listado de Motivos</h6><br />
                    <table class="table table-striped table-bordered compact" id="tabla_lista_motivos" class="display" style="width:100%">
                        <thead class="thead-light"> 
                            <tr>
                                <th>Descripción</th>
                                <th>Fecha de Creación</th>
                                <th>Usuario de Creación</th>
                                <th>Fecha de Modificación</th>
                                <th>Usuario de Modificación</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modalCrear" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-outline-success btn-sm" onClick="javascript:crearMotivoAccion('crear_accion');" >Guardar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modalDetalle" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div> 
    <div class="modal fade" id="modalEditar" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-warning btn-sm" onClick="javascript:editarMotivoAccion('editar_accion');">Editar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modalEliminar" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger btn-sm" onClick="javascript:eliminarMotivoAccion('eliminar_accion');">Eliminar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modalMensajes" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Mensaje Motivos</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>                                         
{% endblock contenido_central %}