{% extends "::layout.html.twig" %}
{% block contenido_izq %}
<div id="titulo_content">
    <img src="{{ asset('public/images/'~ item.urlImagen | default('tools1.png') ~ '') }}" class="imagen-titulo-content">
    <h1>Ver Permiso de Empresa</h1>
</div>
<div class="body_content">
    <table class="formulario">
        <tbody>
            <tr>
                <td width="8%">&nbsp;</td>
                <th width="25%"> Nombre Empresa:</th>
                <td width="15%">{{ infoempresapermisos.empresaCod.nombreEmpresa }}</td>        
                <td width="1%"></td>

                <td width="8%">&nbsp;</td>
                <th width="25%"> Tipo Permiso:</th>
                <td width="15%">{{ infoempresapermisos.tipoPermiso }}</td>        
                <td width="1%"></td>
            </tr>
            <tr>
                <td width="8%">&nbsp;</td>
                <th width="25%"> Tiene Permiso:</th>
                <td width="15%">{% if infoempresapermisos.tienePermiso == 'S' %}SI{% else %}NO{% endif %}</td>        
                <td width="1%"></td>

                <td width="8%">&nbsp;</td>
                <th width="25%"> Fecha Vigencia:</th>
                <td width="15%">{{ infoempresapermisos.fechaVigencia | date("d M Y") }}</td>        
                <td width="1%"></td>
            </tr>
            <tr>
                <td width="8%">&nbsp;</td>
                <th width="25%"> Observacion:</th>
                <td colspan='5'>{{ infoempresapermisos.observacion }}</td>    
                <td width="1%"></td>
            </tr>
            <tr>
                <td width="8%">&nbsp;</td>
                <th width="25%"> Estado:</th>
                <td>{{ infoempresapermisos.estado }}</td>        
                <td width="1%"></td>

                <td width="8%">&nbsp;</td>
                <th width="25%"></th>
                <td></td>        
                <td width="1%"></td>
            </tr>
        </tbody>
    </table>
</div>	
<div class="buttons">
    <p>
        <span class="height20px">
            <a class="button-crud" href="{{ path('infoempresapermisos') }}">Regresar</a>
        </span>
    </p>
</div>
<div class="body_content">
    <table class="formulario">
        <tbody>
            <tr>
              <td width="10%" rowspan="3"><img src="{{ asset('public/images/images_crud/agregar_64.png')}}" hspace="3" vspace="3" alt="" border="0" align="absmiddle" /></td>
              <th width="11%">Creador:</th>
              <td width="34%" >{{ infoempresapermisos.usrCreacion }}</td>

              {% if(infoempresapermisos.estado|lower=="modificado") %}
              <td width="10%" rowspan="3"><img src="{{ asset('public/images/images_crud/edit_64.png')}}" hspace="3" vspace="3" alt="" border="0" align="absmiddle" /></td>
              <th width="11%" >Ult. Mod.:</th>
              <td width="34%">{{ infoempresapermisos.usrUltMod }}</td>
              {% endif %}

              {% if(infoempresapermisos.estado|lower=="eliminado") %}
              <td width="10%" rowspan="3"><img src="{{ asset('public/images/images_crud/eliminar_64.png')}}" hspace="3" vspace="3" alt="" border="0" align="absmiddle" /></td>
              <th width="6%">Eliminado:</th>
              <td width="34%">{{ infoempresapermisos.usrUltMod }}</td>
              {% endif %}
            </tr>
            <tr>
              <th>Fecha:</th>
              <td >{{ infoempresapermisos.feCreacion | date("d M Y") }}</td>

              {% if(infoempresapermisos.estado|lower=="modificado") %}
              <th>Fecha:</th>
              <td >{{ infoempresapermisos.feUltMod  | date("d M Y")}}</td>
              {% endif %}

              {% if(infoempresapermisos.estado|lower=="eliminado") %}
              <th>Fecha:</th>
              <td>{{ infoempresapermisos.feUltMod | date("d M Y") }}</td>
              {% endif %}
            </tr>
            <tr>
              <th>Hora:</th>
              <td>{{ infoempresapermisos.feCreacion | date("H:i:s") }}</td>

              {% if(infoempresapermisos.estado=="modificado") %}
              <th>Hora:</th>
              <td>{{ infoempresapermisos.feUltMod | date("H:i:s") }}</td>
              {% endif %}

              {% if(infoempresapermisos.estado|lower=="eliminado") %}
              <th>Hora:</th>
              <td>{{ infoempresapermisos.feUltMod | date("H:i:s") }}</td>
              {% endif %}
            </tr>

        </tbody>
    </table>
</div>
{% endblock contenido_izq %}

{% block contenido_der %}
    <ul class="form_actions" style="width:auto;">
		{% if is_granted('ROLE_40-2') %}
        <li>
            <a class="button-nuevo-registro" href="{{ path('infoempresapermisos_new') }}">
                <img src="{{ asset('public/images/images_crud/new_plus.png')}}" width="15" height="15" />
                &nbsp;Nuevo Permiso de Empresa
            </a>
        </li>
		{% endif %}
        <li>
            &nbsp;
        </li>
		{% if is_granted('ROLE_40-4') %}
        <li>
            <a class="button-editar" href="{{ path('infoempresapermisos_edit', { 'id': infoempresapermisos.id }) }}">
                &nbsp;Editar Permiso de Empresa
            </a>
        </li>
		{% endif %}
		{% if is_granted('ROLE_40-8') %}
        <li>
            <a class="button-eliminar" href="{{ path('infoempresapermisos_delete', { 'id': infoempresapermisos.id }) }}">
                &nbsp;Eliminar Permiso de Empresa
            </a>
        </li>
		{% endif %}
    </ul>
    <div class="titulo-acciones-relacionadas">
        Acciones Relacionadas
    </div>
    <ul class="listado_acciones_relacionadas">

    </ul>
{% endblock contenido_der %}