{% extends "::layout.html.twig" %}

{% block javascripts%}
    {{ parent() }}
   
     <script>
        var urlAjaxGrid            = '{{path('vpn_grid')}}';
        var urlAjaxGridImportadas  = '{{path('vpn_import_grid')}}';
        var urlMapearVrfyVlan      = '{{path('vpn_mapearVrfyVlan')}}';
    </script>
    
    <script type="text/javascript" src="{{ asset('./bundles/tecnico/js/Vpn/index.js?4') }}"></script>
   
{% endblock %}

{% block contenido_izq %}
<div id="titulo_content">
	<img src="{{ asset('public/images/'~ item.urlImagen | default('tools1.png') ~ '') }}" class="imagen-titulo-content">
	<h1>Lista de Vpns</h1>
</div>

<div class="dashboard_content k-content">
    {% if app.session.get('prefijoEmpresa') == "TN" %}
        
        {% for flashMessage in app.session.flashbag.get('error') %}
            <div class="errormessage">
                {{ flashMessage }}
            </div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('info') %}
            <div class="infomessage">
                {{ flashMessage }}
            </div>
        {% endfor %}
        {% set clienteSession = app.session.get('cliente') %}
        
        {% if clienteSession %}
            {% if clienteSession.estado == "Activo" %}
                <table width="100%" cellpadding="1" cellspacing='0'  border='0'>
                    <tr>
                        <td><div id='filtro'></div></td>
                    </tr>   
                    <tr>
                        <td><br/><br/></td>
                    </tr>
                    <tr>
                        <td><div id="grid"></div></td>
                    </tr>
                    <tr>
                        <td><br/><br/></td>
                    </tr>
                    <tr>
                        <td><div id="gridImportadas"></div></td>
                    </tr>
                </table>
            {% else %}
                <div class="errormessage">Opcion válida sólo para Clientes Activos</div>
            {% endif %}
        {% else %}
            <div class="errormessage">Debe seleccionar cliente para poder listar las VPNs</div>
        {% endif %}
    {% else %}
        <div class="errormessage">Opción válida sólo para la Empresa Telconet</div>
    {% endif %}
</div>

{% endblock contenido_izq %}

{% block contenido_der %}
    {% if app.session.get('prefijoEmpresa') == "TN" %}
        
        {% set clienteSession = app.session.get('cliente') %}
        
        {% if clienteSession %}
            {% if clienteSession.estado == "Activo" %}
                {% if is_granted("ROLE_319-2") %}
                    <a class="button-nuevo-registro" href="{{ path('vpn_new') }}">
                        <img src="{{ asset('public/images/images_crud/new_plus.png')}}" width="15" height="15" />
                        &nbsp;Nueva Vpn
                    </a>
                {% endif %}
                
                <div class="titulo-acciones-relacionadas">
                        Acciones Relacionadas
                </div>
                
                <ul class="listado_acciones_relacionadas">
                    {% if is_granted("ROLE_319-2") %}
                        <li>
                            <a href="{{ path('vpn_import_new') }}">Importar Vpn</a>
                        </li>	
                    {% endif %}
                    <li>
                            <a href="{{ path('vlan') }}">Vlans Reservadas</a>
                    </li>
                        <li>
                            <a href="{{ path('vlan_new') }}">Reservar Vlan</a>
                    </li>
                </ul>
            {% endif %}
        {% endif %}
    {% endif %}
{% endblock contenido_der %}
