{% extends "::layout.html.twig" %}

{% block javascripts%}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('./bundles/seguridad/js/SistModulo/new.js') }}"></script>
{% endblock %}
{% block contenido_izq %}
<div id="titulo_content">
    <img src="{{ asset('public/images/'~ item.urlImagen | default('tools1.png') ~ '') }}" class="imagen-titulo-content">
	<h1>Nuevo Modulo</h1>
</div>
<span class="campos-requeridos">* Campos requeridos</span>
<div class="body_content">
	{% if error is defined %}
        <div class="error">{{ error }}</div>
    {% endif %}
	<form id="modulo" action="{{ path('sistmodulo_create') }}" method="post" {{ form_enctype(form) }} class="formulario" onsubmit="return validarFormulario();">
		{{ form_widget(form) }}
                
            <div id="grid"></div>
            <input type="hidden" name="relaciones" id="relaciones" value="" />
            <div class="buttons">
            <p>
                <button type="submit" class="button-crud">Guardar</button>
                <span class="height20px">
                        &oacute;&nbsp;
                        <a class="button-crud" href="{{ path('sistmodulo') }}">
                                cancelar
                        </a>
                </span>
            </p>
            </div>
	</form>
</div>
{% endblock contenido_izq %}
{% block contenido_der %}
<div class="titulo-acciones-relacionadas">
	Acciones Relacionadas
</div>
<ul class="listado_acciones_relacionadas">
    <li>
        <a class="listado_ac_tablas" href="#">
            opcion 1
        </a>
    </li>
    <li>
        <a class="listado_ac_tablas" href="#">
            opcion 2
        </a>
    </li>
    <li>
        <a class="listado_ac_tablas" href="#">
            opcion 3
        </a>
    </li>
</ul>
{% endblock contenido_der %}
{% block javascripts_footer%}

{% endblock %}
