{% extends "::layout.html.twig" %}
{% block javascripts%} {{ parent() }}
<script>
    var url_formas_contacto_empresa = "{{ path('admiempresaexterna_formas_contacto_grid') }}";
    var url_formas_contacto = "{{path('admiempresaexterna_lista_formas_contacto')}}";
    var urlGuardarActualizarEmpresaExterna = "{{path('admiempresaexterna_saveOrUpdate')}}";
    var urlIndex = '{{ path('admiempresaexterna') }}';
    var urlBuscarEmpresaExternaPorIdentificacion = '{{ path('admiempresaexterna_busca_empresas_por_identificacion') }}';
    var urlGetOficina = '{{ path('infooficinagrupo_getOficinasByPrefijoEmpresaJson') }}';
    
</script>
<script type="text/javascript" src="{{ asset('./bundles/administracion/js/AdmiEmpresaExterna/new_edit.js?1') }}"></script>
{% endblock %}

{% block contenido_izq %}
<div id="titulo_content">
    <img src="{{ asset('public/images/'~ item.urlImagen | default('tools1.png') ~ '') }}" class="imagen-titulo-content">
    <h1>Nueva Empresa Externa</h1>
</div>
<span class="campos-requeridos">* Campos requeridos</span>
<div class="body_content">
{% if error is defined %}
    <div class='errormessage'>{{ error }}</div>
{% endif %}
    <form id='form_new_admiempresaexterna' method="post" {{ form_enctype(new_form) }} class='formulario'>
        <input type="hidden" id="admiempresaexternatype_personaempresaexternaId" name="personalexternotype[personaid]" value="" />
        <input type="hidden" id="admiempresaexternatype_admiempresaexternaId" name="personalexternotype[personaid]" value="" />
        <div id="my-tabs">
            <div id="tab1" class="x-hide-display" style="padding-right: 40px">
                <table border='0'>
                    <tr>
                        <td width="50px"></td>
                        <td  style="vertical-align: top; padding-top: 20px; padding-right: 40px">
                            <div id='diverrorident' class='errormessage' style='display:none'></div>
                            <div>{{ form_label(new_form.identificacionCliente) }}{{ form_widget(new_form.identificacionCliente) }}</div>
                            <div>{{ form_label(new_form.nacionalidad) }} {{ form_widget(new_form.nacionalidad) }}</div>
                            <div>{{ form_label(new_form.razonSocial) }} {{ form_widget(new_form.razonSocial) }}</div>
                            <div>{{ form_label(new_form.direccion) }} {{ form_widget(new_form.direccion) }}</div>
                        </td>
                        <td style="vertical-align: top; padding-top: 20px">
                            <div>{{ form_label(new_form.nombres) }} {{ form_widget(new_form.nombres) }}</div>
                            <div id="divCmbCategoriaEmpresaExterna"></div>
                            <div id="divCmbOficina"></div>
                            <div>{{ form_label(new_form.fechaNacimiento) }} {{ form_widget(new_form.fechaNacimiento) }}</div>
                            <input type='text' style="display: none" id="admiempresaexternatype_formas_contacto" required='required' 
                                   name="admiempresaexternatype[formas_contacto]"/>
                        </td>
                    </tr>
                </table>
            </div>
            <div id="tab2" class="x-hide-display">
                <table border='0' align='center'>
                    <tr><td>&nbsp;</td></tr>
                    <tr>
                        <td>
                            <div id='lista_formas_contacto_grid'></div>       
                        </td>							
                    </tr>   
                </table>            
            </div>
        </div>
    </form>
    <div id="form_empresa_externa_save" ></div>
</div>
{% endblock contenido_izq %}

{% block javascripts_footer%}
<script>
    $(function()
    {
        $("#admiempresaexternatype_identificacionCliente").keydown(function(event)
        {
            if (!isNumeric(event))
                return false;
        });

    });

    function isNumeric(event)
    {
        return ((event.keyCode > 7 && event.keyCode < 10)
            || (event.keyCode > 47 && event.keyCode < 60)
            || (event.keyCode > 95 && event.keyCode < 106)
            || event.keyCode == 17
            || event.keyCode == 116);
    }
</script>          
{% endblock %}
