{% extends "::layout.html.twig" %}
{% block contenido_izq %}
<div id="titulo_content">
    <img src="{{ asset('public/images/'~ item.urlImagen | default('tools1.png') ~ '') }}" class="imagen-titulo-content">
    <h1>Ver Clausula de Contrato</h1>
</div>
<div class="body_content">
    <table class="formulario">
        <tbody>
            <tr>
                <td width="8%">&nbsp;</td>
                <th width="25%">Tipo Contrato:</th>
                <td width="15%">{{ clausulacontrato.tipoContratoId.descripcionTipoContrato }}</td>        
                <td width="1%"></td>

                <td width="8%">&nbsp;</td>
                <th width="25%"> Nombre Clausula:</th>
                <td width="15%">{{ clausulacontrato.nombreClausula }}</td>        
                <td width="1%"></td>
            </tr>
            <tr>
                <td width="8%">&nbsp;</td>
                <th width="25%"> Descripcion Clausula:</th>
                <td colspan="5">{{ clausulacontrato.descripcionClausula }}</td>       
                <td width="1%"></td>
            </tr>
            <tr>
                <td width="8%">&nbsp;</td>
                <th width="25%"> Estado:</th>
                <td>{{ clausulacontrato.estado }}</td>        
                <td width="1%"></td>

                <td width="8%">&nbsp;</td>
                <th width="25%">&nbsp;</th>        
                <td width="15%">&nbsp;</td>
                <td width="1%"></td>
            </tr>
        </tbody>
    </table>
</div>	
<div class="buttons">
    <p>
        <span class="height20px">
            <a class="button-crud" href="{{ path('admiclausulacontrato') }}">Regresar</a>
        </span>
    </p>
</div>
<div class="body_content">
    <table class="formulario">
        <tbody>
            <tr>
              <td width="10%" rowspan="3"><img src="{{ asset('public/images/images_crud/agregar_64.png')}}" hspace="3" vspace="3" alt="" border="0" align="absmiddle" /></td>
              <th width="11%">Creador:</th>
              <td width="34%" >{{ clausulacontrato.usrCreacion }}</td>

              {% if(clausulacontrato.estado|lower=="modificado") %}
              <td width="10%" rowspan="3"><img src="{{ asset('public/images/images_crud/edit_64.png')}}" hspace="3" vspace="3" alt="" border="0" align="absmiddle" /></td>
              <th width="11%" >Ult. Mod.:</th>
              <td width="34%">{{ clausulacontrato.usrUltMod }}</td>
              {% endif %}

              {% if(clausulacontrato.estado|lower=="eliminado") %}
              <td width="10%" rowspan="3"><img src="{{ asset('public/images/images_crud/eliminar_64.png')}}" hspace="3" vspace="3" alt="" border="0" align="absmiddle" /></td>
              <th width="6%">Eliminado:</th>
              <td width="34%">{{ clausulacontrato.usrUltMod }}</td>
              {% endif %}
            </tr>
            <tr>
              <th>Fecha:</th>
              <td >{{ clausulacontrato.feCreacion | date("d M Y") }}</td>

              {% if(clausulacontrato.estado|lower=="modificado") %}
              <th>Fecha:</th>
              <td >{{ clausulacontrato.feUltMod  | date("d M Y")}}</td>
              {% endif %}

              {% if(clausulacontrato.estado|lower=="eliminado") %}
              <th>Fecha:</th>
              <td>{{ clausulacontrato.feUltMod | date("d M Y") }}</td>
              {% endif %}
            </tr>
            <tr>
              <th>Hora:</th>
              <td>{{ clausulacontrato.feCreacion | date("H:i:s") }}</td>

              {% if(clausulacontrato.estado=="modificado") %}
              <th>Hora:</th>
              <td>{{ clausulacontrato.feUltMod | date("H:i:s") }}</td>
              {% endif %}

              {% if(clausulacontrato.estado|lower=="eliminado") %}
              <th>Hora:</th>
              <td>{{ clausulacontrato.feUltMod | date("H:i:s") }}</td>
              {% endif %}
            </tr>

        </tbody>
    </table>
</div>
{% endblock contenido_izq %}

{% block contenido_der %}
    <ul class="form_actions" style="width:auto;">
		{% if is_granted('ROLE_29-2') %}
        <li>
            <a class="button-nuevo-registro" href="{{ path('admiclausulacontrato_new') }}">
                <img src="{{ asset('public/images/images_crud/new_plus.png')}}" width="15" height="15" />
                &nbsp;Nueva Clausula de Contrato
            </a>
        </li>
		{% endif %}
        <li>
            &nbsp;
        </li>
		{% if is_granted('ROLE_29-4') %}
        <li>
            <a class="button-editar" href="{{ path('admiclausulacontrato_edit', { 'id': clausulacontrato.id }) }}">
                &nbsp;Editar Clausula de Contrato
            </a>
        </li>
		{% endif %}
		{% if is_granted('ROLE_29-8') %}
        <li>
            <a class="button-eliminar" href="{{ path('admiclausulacontrato_delete', { 'id': clausulacontrato.id }) }}">
                &nbsp;Eliminar Clausula de Contrato
            </a>
        </li>
		{% endif %}
    </ul>
    <div class="titulo-acciones-relacionadas">
        Acciones Relacionadas
    </div>
    <ul class="listado_acciones_relacionadas">

    </ul>
{% endblock contenido_der %}