<h1>InfoPunto list</h1>

<table class="records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>Latitud</th>
            <th>Puntocoberturaid</th>
            <th>Direccion</th>
            <th>Descripcionpunto</th>
            <th>Observacion</th>
            <th>Longitud</th>
            <th>Rutacroquis</th>
            <th>Usrvendedor</th>
            <th>Estado</th>
            <th>Fecreacion</th>
            <th>Feultmod</th>
            <th>Usrcreacion</th>
            <th>Usrultmod</th>
            <th>Ipcreacion</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('infopunto_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.latitud }}</td>
            <td>{{ entity.puntoCoberturaId }}</td>
            <td>{{ entity.direccion }}</td>
            <td>{{ entity.descripcionPunto }}</td>
            <td>{{ entity.observacion }}</td>
            <td>{{ entity.longitud }}</td>
            <td>{{ entity.rutaCroquis }}</td>
            <td>{{ entity.usrVendedor }}</td>
            <td>{{ entity.estado }}</td>
            <td>{% if entity.feCreacion %}{{ entity.feCreacion|date('Y-m-d H:i:s') }}{% endif %}</td>
            <td>{% if entity.feUltMod %}{{ entity.feUltMod|date('Y-m-d H:i:s') }}{% endif %}</td>
            <td>{{ entity.usrCreacion }}</td>
            <td>{{ entity.usrUltMod }}</td>
            <td>{{ entity.ipCreacion }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('infopunto_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('infopunto_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('infopunto_new') }}">
            Create a new entry
        </a>
    </li>
</ul>
