{% extends "::layout.html.twig" %}


{% block javascripts%}
    {{ parent() }}

    <script type="text/javascript" src="{{ asset('./bundles/administracion/js/AdmiFeriados/show.js?1') }}"></script>
    <script>
        var strUrlSaveFeriado = '{{ path('feriados_save') }}';
        var strUrlIndex = '{{ path('feriados') }}';
        var intIdFeriados = '{{ intIdFeriados }}';
        var strDescripcion = '{{ strDescripcion }}';
        var strTipo = '{{ strTipo }}';
        var strMes = '{{ strMes }}';
        var strDia = '{{ strDia }}';
        var intIdCanton = '{{ intIdCanton }}';
        var strNombreCanton = '{{ strNombreCanton }}';
        var strComentario = '{{ strComentario }}';


    </script>

{% endblock %}


{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block contenido_izq %}
    <div id="titulo_content">
        <img src="{{ asset('public/images/'~ item.urlImagen | default('tools1.png') ~ '') }}" class="imagen-titulo-content">
        Editar Feriados
    </div>
    <div id="Div_Edit_Feriado" class="div-center">

    </div>

{% endblock contenido_izq %}

{% block javascripts_footer%}
{% endblock javascripts_footer%}