{% extends "::layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
<style scoped="scoped">
    .alineando {
        left: 42em;
        position: absolute;
        top: 44em;
    }
</style>

{% endblock %}

{% block javascripts%}
    {{ parent() }}
<script>
    var url_getEncontradosNodo              = '{{path('elementoNodoWifi_getEncontrados')}}';
    var url_getEncontradosRack              = '{{path('elementorack_getEncontradosRack')}}';
    var url_getUnidadesElemento             = '{{path('relacionelemento_ajaxUnidadesElementosByPadre')}}';
    var url_get_puntos_para_enlazar         = "{{ path('infoservicio_ajaxGetPuntosParaEnlazarDatos')}}";
    var url_get_servicios_datos             = "{{ path('elementoRouterCliente_getServicios')}}";

</script>
<script type="text/javascript" src="{{ asset('./bundles/tecnico/js/InfoElementoRouterCliente/existente.js') }}"></script>
{% endblock %}

{% block contenido_izq %}
<div id="titulo_content">
    <img src="{{ asset('public/images/'~ item.urlImagen | default('tools1.png') ~ '') }}" class="imagen-titulo-content">
    <h1>Ingreso de Router</h1>
</div>

{% for flashMessage in app.session.flashbag.get('notice') %}
    <div class="errormessage">
        {{ flashMessage }}
    </div>
{% endfor %}

<div class="body_content">
    <form id='form_new_elemento_router' action="{{ path('elementoRouterCliente_createExistente') }}" method="post" {{ form_enctype(form) }} 
          class='formulario' novalidate="novalidate" 
          onsubmit='if (validacionesForm()) {
                      Ext.MessageBox.wait("Procesando Datos...");
                      document.forms[0].submit();
                      return true;
                  }
                  else {
                      return false;
                  }'>
        <table width="100%" border="0" class="box-section-content">
            <tr>
                <td width="5%">&nbsp;</td>
                <td width="24%">{{ form_label(form.nodoElementoId) }}</td>
                <div hidden="true">{{ form_widget(form.nodoElementoId) }}</div>
                <td width="15%"><div id='combo_nodos'></div></td>
                <input type="text" name="id_nodo" id="id_nodo" hidden = true>
                <input type="text" name="id_punto" id="id_punto" hidden = true>
                <td width="5%">&nbsp;</td>
                <td width="24%"><label for="login">Login:</label></td>
                <td width="10%"><input type="text" name="login" id="login" readOnly = true></td>                
                <td width="5%">&nbsp;</td>
            </tr>
            <tr>
                <td width="5%">&nbsp;</td>
                <td width="24%"><label for="combo_servicios">* Elemento:</label></td>
                <td width="15%"><div id='combo_servicios'></div></td>
                <input type="text" name="id_elemento" id="id_elemento" hidden = true>
                <input type="text" name="id_servicio" id="id_servicio" hidden = true>
                <td width="5%">&nbsp;</td>

                <td width="5%">&nbsp;</td>
            </tr>           
            <tr>
                <td width="5%">&nbsp;</td>
                <td width="24%"><label for="capacidad">* Capacidad Interface Límite(Kb):</label></td>
                <td width="10%"><input type="number" name="capacidad" id="capacidad"></td>     
                <td width="5%">&nbsp;</td>
                <td width="24%"></td>
                <td width="10%"></td>                
                <td width="5%">&nbsp;</td>
            </tr>                    
        </table>
        <div class="buttons">
            <p>
                <input type='submit'class="button-crud" value="Guardar" />
                <span class="height20px">
                    &oacute;&nbsp;
                    <a class="button-crud" href="{{ path('elementoRouterCliente') }}">Cancelar</a>
                </span>
            </p>
        </div>	
            {{ form_widget(form._token) }}
    </form>
</div>
<div id='windowMap' style='display:none'> 
    <div id="map_canvas" style="width:500px; height:500px"></div>
{% endblock contenido_izq %}

{% block javascripts_footer%}

{% endblock javascripts_footer%}	