{% extends "::layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <style scoped="scoped">
        .alineando {
                left: 42em;
                position: absolute;
                top: 44em;
        }
    </style>
    
{% endblock %}

{% block javascripts%}
    {{ parent() }}
    
    <script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript" src="{{ asset('./bundles/tecnico/js/InfoElementoPop/new.js') }}"></script>
    <script type="text/javascript" src="{{ asset('./bundles/tecnico/js/InfoElementoPop/map.js?1') }}"></script>
    <script type="text/javascript" src="{{ asset('./bundles/tecnico/js/InfoElemento/validacionesGenerales.js') }}"></script>
    <script>
		var strLimiteLatitudNorte   = '{{ app.session.get("strLimiteLatitudNorte") }}';
        var strLimiteLatitudSur     = '{{ app.session.get("strLimiteLatitudSur") }}';
        var strLimiteLongitudEste   = '{{ app.session.get("strLimiteLongitudEste") }}';
        var strLimiteLongitudOeste  = '{{ app.session.get("strLimiteLongitudOeste") }}';
        var strRangoPais            = '{{ app.session.get("strRangoPais") }}';
    </script>
{% endblock %}

{% block contenido_izq %}
    <div id="titulo_content">
		<img src="{{ asset('public/images/'~ item.urlImagen | default('tools1.png') ~ '') }}" class="imagen-titulo-content">
        <h1>Ingreso de Pop</h1>
    </div>
    <div class="body_content">
        <form id='form_new_elemento_pop' action="{{ path('elementopop_createPop') }}" method="post" {{ form_enctype(form) }} class='formulario' novalidate="novalidate" onsubmit="return validacionesForm();">
            <table width="100%" border="0" class="box-section-content">
                <tr>
                    <td width="5%">&nbsp;</td>
                    <td width="24%">{{ form_label(form.nombreElemento) }}</td>
                    <td width="10%">{{ form_widget(form.nombreElemento) }}</td>
                    <td width="5%">&nbsp;</td>
                    <td width="24%"></td>
                    <td width="10%"></td>
                    <td width="5%">&nbsp;</td>
                </tr>
                <tr>
                    <td width="5%">&nbsp;</td>
                    <td width="24%">{{ form_label(form.descripcionElemento) }}</td>
                    <td width="10%">{{ form_widget(form.descripcionElemento) }}</td>
                    <td width="5%">&nbsp;</td>
                    <td width="24%">{{ form_label(form.modeloElementoId) }}</td>
                    <td width="10%">{{ form_widget(form.modeloElementoId) }}</td>
                    <td width="5%">&nbsp;</td>
                </tr>
                <tr>
                    <td width="5%">&nbsp;</td>
                    <td width="24%">{{ form_label(form.jurisdiccionId) }}</td>
                    <td width="10%">{{ form_widget(form.jurisdiccionId) }}</td>
                    <td width="5%">&nbsp;</td>
                    <td width="24%">{{ form_label(form.cantonId) }}</td>
                    <td width="10%">{{ form_widget(form.cantonId) }}</td>
                    <td width="5%">&nbsp;</td>
                </tr>
                <tr>
                    <td width="5%">&nbsp;</td>
                    <td width="24%">{{ form_label(form.parroquiaId) }}</td>
                    <td width="10%">{{ form_widget(form.parroquiaId) }}</td>
                    <td width="5%">&nbsp;</td>
                    <td width="24%">{{ form_label(form.direccionUbicacion) }}</td>
                    <td width="10%">{{ form_widget(form.direccionUbicacion) }}</td>
                    <td width="5%">&nbsp;</td>
                </tr>
                <tr>
                    <td width="5%">&nbsp;</td>
                    <td width="24%">
                        {{ form_label(form.latitudUbicacion) }}
                    </td>
                    <td width="10%">
                        <div>
                            <input type="text" onkeyup="validarGrados(this.value,1)" class="coordenadas-field"   id="grados_la" name="grados_la">
                            &deg;<input type="text" onkeyup="validarMinutos(this.value,1)" class="coordenadas-field"  maxlength="2" id="minutos_la" name="minutos_la">
                            '<input type="text" onkeyup="validarSegundos(this.value,1)" class="coordenadas-field"  maxlength="2" id="segundos_la" name="segundos_la">
                            .<input type="text" onkeyup="validarDecimasSegundos(this.value,1)" class="coordenadas-field"  maxlength="2" id="decimas_segundos_la" name="decimas_segundos_la">
                            &quot;
                            <select onchange="validaInspeccion(1)" class="text-field" id="latitud" name="latitud">
                                <option value="T">Seleccione...</option>
                                <option value="N">Norte</option>
                                <option value="S">Sur</option>
                            </select>                  
                        </div>                                                
                    </td>
                    <td width="5%">&nbsp;</td>
                    
                    <td width="24%">
                        {{ form_label(form.longitudUbicacion) }}
                    </td>
                    <td width="10%">
                        <div>
                            <input type="text" onkeyup="validarGrados(this.value,0)" class="coordenadas-field"    id="grados_lo" name="grados_lo">
                            &deg;<input type="text" onkeyup="validarMinutos(this.value,0)" class="coordenadas-field"  maxlength="2"  id="minutos_lo" name="minutos_lo">
                            '<input type="text" onkeyup="validarSegundos(this.value,0)" class="coordenadas-field"  maxlength="2"  id="segundos_lo" name="segundos_lo">
                            .<input type="text" onkeyup="validarDecimasSegundos(this.value,0)" class="coordenadas-field"  maxlength="2"  id="decimas_segundos_lo" name="decimas_segundos_lo">
                            &quot;
                            <select onchange="validaInspeccion(0)" class="text-field" id="longitud" name="longitud">
                                <option value="T">Seleccione...</option>
                                <option value="E">Este</option>
                                <option value="O">Oeste</option>
                            </select>
                        </div>
                    </td>
                    <td>
                        <a href="javascript:muestraMapa()" class="">
                            <img src="{{ asset('public/images/images_crud/gmaps.png')}}" title="Seleccionar desde Mapa" class="button-crud">
                        </a>
                    </td>
                    <td width="5%">&nbsp;</td>
                </tr> 
                <tr>
                    <td width="5%">&nbsp;</td>
                    <td width="24%">{{ form_label(form.alturaSnm) }}</td>
                    <td width="10%">{{ form_widget(form.alturaSnm) }}</td>
                    <td width="5%">&nbsp;</td>
                    <td width="24%">{{ form_widget(form.longitudUbicacion) }}</td>
                    <td width="10%">{{ form_widget(form.latitudUbicacion) }}</td>
                    <td width="5%">&nbsp;</td>
                </tr>
            </table>
            <div class="buttons">
                <p>
                    <input type='submit'class="button-crud" value="Guardar" />
                    <span class="height20px">
                        &oacute;&nbsp;
                        <a class="button-crud" href="{{ path('elementopop') }}">Cancelar</a>
                    </span>
                </p>
            </div>	
            {{ form_widget(form._token) }}
        </form>
    </div>
    <div id='windowMap' style='display:none'> 
    <div id="map_canvas" style="width:500px; height:500px"></div>
{% endblock contenido_izq %}

{% block javascripts_footer%}
{% endblock javascripts_footer%}	