{% extends "::layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
   
    <link href="{{ asset('./bundles/soporte/css/InfoCaso.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}
{% block javascripts%}
    {{ parent() }}
   
{% endblock %}




{% block contenido_izq %}
    <div id="titulo_content">
	    <img src="{{ asset('public/images/'~ item.urlImagen | default('tools1.png') ~ '') }}" class="imagen-titulo-content">
        <h1>Ver Plantilla</h1>
    </div>
    <div class="body_content">
        <div id="contenedor_principal" >
            <table width="100%" border="0" class="box-section-content">
                <tr>
                    <td width="5%">&nbsp;</td>
                    <td width="8%"><label><b>Nombre:</b></label></td>
                    <td width="25%" >{{documento.nombreDocumento}}</td>
                    <td width="6%">&nbsp;</td>
                </tr>
                <tr>
                    <td width="5%">&nbsp;</td>
                    <td width="95%" colspan="6">&nbsp;<br/></td>
                </tr>
                <tr>
                    <td width="5%">&nbsp;</td>
                    <td width="95%" colspan="5" style="border: #999 double; padding: 10px; ">
						{{documento.mensaje|raw}}
                                        <br><br>
					</td>
                    <td width="5%">&nbsp;</td>
                </tr>
                <tr>
                    <td width="5%">&nbsp;</td>
                    <td width="95%" colspan="6">&nbsp;<br/></td>
                </tr>
            </table> 
			<br/>
        </div>    
    </div>    
    <div class="buttons">
        <p>
            <span class="height:20px">
                <a class="button-crud" href="{{ path('plantilla') }}">Regresar</a>
            </span>
        </p>
    </div>
    <br/><br/>
{% endblock contenido_izq %}

{% block contenido_der %}

    <ul class="form_actions" style="width:auto;">
		{% if is_granted('ROLE_84-2') %}
        <li>
            <a class="button-nuevo-registro" href="{{ path('plantilla_new') }}">
                <img src="{{ asset('public/images/images_crud/new_plus.png')}}" width="15" height="15" />
                &nbsp;Nueva Plantilla
            </a>
        </li>
		{% endif %}
        <li>
            &nbsp;
        </li>
		{% if is_granted('ROLE_84-4') and documento.estado != 'Eliminado' %}
        <li>
            <a class="button-editar" href="{{ path('plantilla_edit', { 'id': documento.id }) }}">
                &nbsp;Editar Plantilla
            </a>
        </li>
		{% endif %}
		{% if is_granted('ROLE_84-8') and documento.estado != 'Eliminado'  %}
        <li>
            <a class="button-eliminar" href="{{ path('plantilla_delete', { 'id': documento.id }) }}">
                &nbsp;Eliminar Plantilla
            </a>
        </li>
		{% endif %}
    </ul>
    <div class="titulo-acciones-relacionadas">
        Acciones Relacionadas
    </div>
    <ul class="listado_acciones_relacionadas">

    </ul>
{% endblock contenido_der %}