{% extends "::layout_completo.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('public/css/css_tabla.css') }}" type="text/css" rel="stylesheet" />   
{% endblock %}
{% block javascripts %}
    {{ parent() }}           
    <script> var empresa = "{{ app.session.get('idEmpresa') }}";</script>
    <script type="text/javascript" src="{{ asset('./bundles/financiero/js/reportes/resumenFacturasElectronicasFACP.js') }}"></script>   
    <script> var url_getTotalResumenFactElectronicas = "{{ path('reportes_resumenFacturasElectronicas') }}"; </script>
    <script> var url_getOficinas = "{{ path('infocaso_getOficinas') }}"; </script>
    <script> var url_getDocumentosNoCreados = "{{ path('reportes_documentosNoCreados') }}"; </script>

    
{% endblock %}

{% block contenido_central %}
    <div id="titulo_content">
        <img src="{{ asset('public/images/'~ item.urlImagen | default('tools1.png') ~ '') }}" class="imagen-titulo-content">
        <h1>Resumen de Facturas Electronicas</h1>
    </div>
    <div class="dashboard_content k-content">
        <div id="" class="k-content">
            <table width="100%" cellpadding="1" cellspacing='0'  border='0'>
                <tr bgcolor='#ffffff'>
                    <td bgcolor='#ffffff' colspan = "2">
                        <div id='filtroFacturasElectronicas' width="100%" ></div>
                    </td>
                </tr>
                <tr bgcolor='#ffffff'>
                    <td bgcolor='#ffffff'>
                        <div id='resumenFACPElectronica'>
                           
                        </div>
                    </td>
                    <td bgcolor='#ffffff'>
                        <div id='resumenDetFACPElectronica'>
                           
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
{% endblock contenido_central %}
