{% extends "::layout.html.twig" %}
{% block contenido_izq %}
<div id="titulo_content">
    <img src="{{ asset('public/images/'~ item.urlImagen | default('tools1.png') ~ '') }}" class="imagen-titulo-content">
    <h1>Ver Cassette</h1>
</div>

<div class="body_content">
    <table class="formulario">
        <tbody>
            <tr>
                <td width="10%">&nbsp;</td>
                <th width="25%"> Nombre Elemento:</th>
                <td width="15%">{{ elemento.nombreElemento }}</td>        
                <td width="1%"></td>

                <td width="9%">&nbsp;</td>
                <th width="25%">Descripci&oacute;n Elemento</th>        
                <td width="15%">{{ elemento.descripcionElemento }}</td>
                <td width="1%"></td>
            </tr>
            <tr>
                <td width="8%">&nbsp;</td>
                <th width="25%">Jurisdiccion:</th>
                <td width="15%">{{ jurisdiccion.nombreJurisdiccion }}</td>        
                <td width="1%"></td>
            </tr>
            <tr>
                <td width="8%">&nbsp;</td>
                <th width="25%">Canton:</th>
                <td width="15%">{{ ubicacion.parroquiaId.cantonId.nombreCanton }}</td>        
                <td width="1%"></td>

                <td width="8%">&nbsp;</td>
                <th width="25%">Parroquia:</th>
                <td width="15%">{{ ubicacion.parroquiaId.nombreParroquia }}</td>        
                <td width="1%"></td>
            </tr>
            <tr>
                <td width="8%">&nbsp;</td>
                <th width="25%">Direccion:</th>
                <td width="15%">{{ ubicacion.direccionUbicacion }}</td>        
                <td width="1%"></td>

                <td width="8%">&nbsp;</td>
                <th width="25%">Altura Sobre Nivel Mar:</th>
                <td width="15%">{{ ubicacion.alturaSnm }}</td>        
                <td width="1%"></td>
            </tr>
            <tr>
                <td width="8%">&nbsp;</td>
                <th width="25%">Longitud Ubicacion:</th>
                <td width="15%">{{ ubicacion.longitudUbicacion }}</td>        
                <td width="1%"></td>

                <td width="8%">&nbsp;</td>
                <th width="25%">Latitud Ubicacion:</th>
                <td width="15%">{{ ubicacion.latitudUbicacion }}</td>        
                <td width="1%"></td>
            </tr>
            <tr>
                <td width="8%">&nbsp;</td>
                <th width="25%">Estado:</th>              
                <td width="15%">{{ elemento.estado}}</td>
                <td width="1%"></td>

                <td width="8%">&nbsp;</td>
                <th width="25%"></th>
                <td width="15%"></td>        
                <td width="1%"></td>
            </tr>

        </tbody>
    </table>
</div>	
<div class="buttons">
    <p>
        <span class="height20px">
            <a class="button-crud" href="{{ path('elementocassette') }}">Regresar</a>
        </span>
    </p>
</div>
<div class="body_content">

    <div class="secHead">Historial del Elemento</div>      
    <table style="width:100%;height:15px;margin-top:5px;" class="cabecera" id="table-3">
        <tbody>
            <tr>
                <td><b>Estado</b></td>
                <td><b>Fecha Creacion</b></td>
                <td><b>Usuario Creacion</b></td>
                <td><b>Observacion</b></td>
            </tr>
			{% for key, item1 in historialElemento %}
            <tr>
				{% for key_in, item2 in item1 %}
                <td>{{ item2|striptags('<br>')|raw }} </td>
				{% endfor %}
            </tr>
			{% endfor %}   
        </tbody>
    </table>

</div>
{% endblock contenido_izq %}
{% block contenido_der %}
<ul class="form_actions">
        {% if elemento.estado != 'Eliminado'%}
    <li>
                {% if is_granted("ROLE_321-2") %}
        <a class="button-nuevo-registro" href="{{ path('elementocassette_newCassette') }}">
            <img src="{{ asset('public/images/images_crud/new_plus.png')}}" width="15" height="15" />
            &nbsp;Nuevo Cassette
        </a>
                {% endif %}
    </li>
    <li>
        &nbsp;
    </li>
    <li>
                {% if is_granted("ROLE_321-4") %}
        <a class="button-editar" href="{{ path('elementocassette_editCassette', { 'id': elemento.id }) }}">
            &nbsp;Editar Cassette
        </a>
                {% endif %}
    </li>
    <li>
    </li>
        {% endif %}
</ul>
<div class="titulo-acciones-relacionadas">
    Acciones Relacionadas
</div>
<ul class="listado_acciones_relacionadas">

</ul>
{% endblock contenido_der %}

