{% extends "::layout.html.twig" %}

{% block stylesheets %}
{{ parent() }}
<style scoped="scoped">
    .category-label {
        vertical-align: middle;
        padding-right: .5em;
    }

    #category {
        vertical-align: middle;
    }

    .toolbar {
        float: right;
        margin-right: .8em;
    }

    .icon_search {
        background-image:url('{{ asset('public/images/images_crud/ver.png') }}') !important;
    }

    .icon_limpiar {
        background-image:url('{{ asset('public/images/images_crud/edit-clear.png') }}') !important;
    }

    .icon_add {
        background-image:url('{{ asset('public/images/images_crud/plus.png') }}') !important;
    }

    .icon_delete {
        background-image:url('{{ asset('public/images/images_crud/trash.png') }}') !important;
    }
</style>
{% endblock %}

{% block javascripts%}
    {{ parent() }}
{% endblock %}

{% block contenido_izq %}
<div id="titulo_content">
    <img src="{{ asset('public/images/'~ item.urlImagen | default('tools1.png') ~ '') }}" class="imagen-titulo-content">
    <h1>Logs Documentos Digitales</h1>
</div>
{% set prefijoEmpresa = app.session.get('prefijoEmpresa') %}
<script>
    var prefijoEmpresa = "{{ prefijoEmpresa }}";
</script>

<div class="body_content k-content">
    <div id="example" class="k-content">
        <table width="100%" cellpadding="1" cellspacing='0' border='0'>
            <tr bgcolor='#ffffff'>
                <td bgcolor='#ffffff'>
                    <div id='filtroLogs'></div>
                </td>
            </tr>
            <tr bgcolor='#ffffff'>
                <td bgcolor='#ffffff'>
                    <div id='listaLogs'></div>
                </td>
            </tr>

        </table>

        <script>var urlGridInfoContratoFormaPagoLog = "{{ path('logsdocdigitales_gridInfoLogs') }}";</script>

        <script type="text/javascript"
            src="{{ asset('./bundles/comercial/js/verLogsDocumentoDigital/index.js') }}"></script>

    </div>
</div>
{% endblock contenido_izq %}