
<html>
    <head>
        <meta http-equiv=Content-Type content="text/html; charset=UTF-8">
    </head>
    <body>
        <table align="center" width="100%" style="font-size:10px;" cellspacing="0" cellpadding="2">
            <tr>
                <td colspan="2">
                    <h4>Acta de Entrega - Recepci&oacute;n</h4>
                </td>	              
                <td align="rigth" colspan="4" >
                    <img alt=""  width="180" height="70" src="{{ arrayDatos.urlLogo }}"/>
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <h4>FOR IP2 04 VER 20 10 2015 </h4>
                </td>	
            </tr>     
            <tr>
                <td colspan="4">
                    <hr> </hr>
                    <h4>DATOS GENERALES </h4>
                    <hr> </hr>
                </td>	
            </tr> 
            <tr>
                <td>
                    <label>Empresa:</label>
                </td>
                <td align="left">
                    <label>{{ arrayDatos.cliente }}</label>
                </td>                
                <td>
                    <label>Numeracion del Acta:</label>
                </td>
                <td align="left">
                    <label>{{ arrayDatos.numeracion }}</label>
                </td>
            </tr>

            <tr>
                <td>
                    <label>Direcci&oacute;n:</label>
                </td>
                <td align="left">
                    <label>{{ arrayDatos.direccion }}</label>
                </td>                
                <td>
                    <label>Login:</label>
                </td>
                <td align="left">
                    <label>{{ arrayDatos.login }}</label>
                </td>
            </tr>                       
            <tr>
                <td>
                    <label>Tel&eacute;fono:</label>
                </td>
                <td align="left">
                    <label>{{ arrayDatos.contactosTelefonosFijos }} </label>
                </td>                
                <td>
                    <label>Fecha:</label>
                </td>
                <td align="left">
                    <label>{{ arrayDatos.fecha }}</label>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Ciudad:</label>
                </td>
                <td align="left">
                    <label>{{ arrayDatos.ciudad }}</label>
                </td>                
                <td>
                    <label>T&eacute;cnico Asignado:</label>
                </td>
                <td align="left">
                    <label>________________________</label>
                </td>
            </tr>			

            <tr>
                <td>
                    <label>Contacto:</label>
                </td>
                <td align="left">
                    <label>{{ arrayDatos.contacto}}</label>
                </td>                
                <td>
                    <label>Hora de Ingreso:</label>
                </td>
                <td align="left">
                    <label>________________________</label>
                </td>
            </tr>

            <tr>
                <td>
                    <label>Vendedor:</label>
                </td>
                <td align="left">
                    <label>{{ arrayDatos.vendedor }}</label>
                </td>                
                <td>
                    <label>Hora de Salida:</label>
                </td>
                <td align="left">
                    <label>________________________</label>
                </td>
            </tr>

            <tr>
                <td>
                    <label>Configurado por:</label>
                </td>
                <td align="left">
                    <label>_________________________</label>
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <hr> </hr>
                    <h4>DATOS DE ULTIMA MILLA</h4>
                    <hr> </hr>
                </td>	
            </tr>
            <tr>
                <td>
                    <label>FIBRA OPTICA:</label>
                    <label>________</label>
                </td>
                <td>
                    <label>RADIO:</label>
                    <label>________</label>
                </td>               
                <td>
                    <label>UTP:</label>
                    <label>________</label>
                </td>
                <td>
                    <label></label>
                </td>
            </tr>  
            <tr>
                <td colspan="2">
                    <label>Equipos:</label>
                    <label></label>
                </td>
                <td colspan="2">
                    <label>Ruckus:</label>
                    <label></label>
                </td>               
            </tr>  
            <tr>
                <td colspan="2">
                    <label>Switch:</label>
                    <label></label>
                </td>
                <td colspan="2">
                    <label>Puerto:</label>
                    <label></label>
                </td>               
            </tr> 
            <tr>
                <td colspan="2">
                    <label>Tranceiver:</label>
                    <label></label>
                </td>
                <td colspan="2">
                    <label>Tipo de FO troncal:</label>
                    <label></label>
                </td>               
            </tr>             
             <tr>
                <td colspan="4">
                    <hr> </hr>
                    <h4>DATOS DE IPCCL2</h4>
                    <hr> </hr>
                </td>	
            </tr>           
            <tr>
                <td>
                    <table style="font-size:10px;" width="100%" cellspacing="0" cellpadding="2">
                        <tr>
                            <td colspan="4">
                                <label><h4>Caracter&iacute;sticas del Hardware</h4></label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>[&nbsp;&nbsp;]&nbsp;Procesador</label>
                            </td>
                             <td>
                                <label>&nbsp;_____________</label>
                            </td>                           
                        </tr>
                        <tr>
                            <td>
                                <label>[&nbsp;&nbsp;]&nbsp;Memoria</label>
                            </td>
                             <td>
                                <label>&nbsp;_____________</label>
                            </td>                           
                        </tr>
                        <tr>
                            <td>
                                <label>[&nbsp;&nbsp;]&nbsp;Disco Duro</label>
                            </td>
                             <td>
                                <label>&nbsp;_____________</label>
                            </td>                           
                        </tr>  
                        <tr>
                            <td>
                                <label>[&nbsp;&nbsp;]&nbsp;Tarjetas de Red</label>
                            </td>
                             <td>
                                <label>&nbsp;_____________</label>
                            </td>                           
                        </tr> 
                        <tr>
                            <td>
                                <label>[&nbsp;&nbsp;]&nbsp;CD-ROM</label>
                            </td>
                             <td>
                                <label>&nbsp;_____________</label>
                            </td>                           
                        </tr>  
                         <tr>
                            <td>
                                <label>[&nbsp;&nbsp;]&nbsp;Diskettera</label>
                            </td>
                             <td>
                                <label>&nbsp;_____________</label>
                            </td>                           
                        </tr>                       
                        <tr>
                            <td>
                                <label>[&nbsp;&nbsp;]&nbsp;Otros</label>
                            </td>
                             <td>
                                <label>&nbsp;_____________</label>
                            </td>                           
                        </tr>
                    </table>
                </td>
                <td>&nbsp;</td>
                <td>
                    <table style="font-size:10px;" width="100%" cellspacing="0" cellpadding="2">
                        <tr>
                            <td colspan="4">
                                <label><h4>Datos del CPE</h4></label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>[&nbsp;&nbsp;]&nbsp;Marca</label>
                            </td>
                             <td>
                                <label>&nbsp;_____________</label>
                            </td>                           
                        </tr>
                        <tr>
                            <td>
                                <label>[&nbsp;&nbsp;]&nbsp;Modelo</label>
                            </td>
                             <td>
                                <label>&nbsp;_____________</label>
                            </td>                           
                        </tr>
                        <tr>
                            <td>
                                <label>[&nbsp;&nbsp;]&nbsp;S/N</label>
                            </td>
                             <td>
                                <label>&nbsp;_____________</label>
                            </td>                           
                        </tr>  
                        <tr>
                            <td>
                                <label>[&nbsp;&nbsp;]&nbsp;Tipo de Equipo</label>
                            </td>
                             <td>
                                <label>&nbsp;_____________</label>
                            </td>                           
                        </tr> 
                        <tr>
                            <td>
                                <label>[&nbsp;&nbsp;]&nbsp;Otros</label>
                            </td>
                             <td>
                                <label>&nbsp;_____________</label>
                            </td>                           
                        </tr>  
                    </table>
                </td>                
            </tr>
            <tr>
                <td>
                    <table style="font-size:10px;" width="100%" cellspacing="0" cellpadding="2">
                        <tr>
                            <td colspan="4">
                                <label><h4>Servicios</h4></label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>[&nbsp;&nbsp;]&nbsp;Internet</label>
                            </td>
                             <td>
                                <label>&nbsp;_____________</label>
                            </td>                           
                        </tr>
                        <tr>
                            <td>
                                <label>[&nbsp;&nbsp;]&nbsp;Datos</label>
                            </td>
                             <td>
                                <label>&nbsp;_____________</label>
                            </td>                           
                        </tr>
                        <tr>
                            <td>
                                <label>[&nbsp;&nbsp;]&nbsp;Seguridad L&oacute;gica</label>
                            </td>
                             <td>
                                <label>&nbsp;_____________</label>
                            </td>                           
                        </tr>      
                        <tr>
                            <td>
                                <label>[&nbsp;&nbsp;]&nbsp;Otros</label>
                            </td>
                             <td>
                                <label>&nbsp;_____________</label>
                            </td>                           
                        </tr>
                        <tr>
                            <td colspan="4">
                                <label>&nbsp;<h4>Ancho de Banda</h4></label>
                            </td>
                        </tr> 
                        <tr>
                            <td>
                                <label>Bw Up: {{ arrayDatos.bw_up}}</label>
                            </td>                
                        </tr> 
                         <tr>
                            <td>
                                <label>Bw Down: {{ arrayDatos.bw_down}}</label>
                            </td>                
                        </tr>                         
                    </table>
                </td>
                <td>&nbsp;</td>
                <td>
                    <table style="font-size:10px;" width="100%" cellspacing="0" cellpadding="2">
                        <tr>
                            <td colspan="4">
                                <label><h4>Direcciones IP</h4></label>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4">
                                <label><h4>P&uacute;blica (eth0)</h4></label>
                            </td>
                        </tr>                        
                        <tr>
                            <td>
                                <label>[&nbsp;&nbsp;]&nbsp;WAN</label>
                            </td>
                             <td>
                                <label>&nbsp;_____________</label>
                            </td>                           
                        </tr>
                        <tr>
                            <td>
                                <label>[&nbsp;&nbsp;]&nbsp;IP</label>
                            </td>
                             <td>
                                <label>{{ arrayDatos.ip }}</label>
                            </td>                           
                        </tr>
                        <tr>
                            <td>
                                <label>[&nbsp;&nbsp;]&nbsp;MAC</label>
                            </td>
                             <td>
                                <label>{{ arrayDatos.mac }}</label>
                            </td>                           
                        </tr>  
                        <tr>
                            <td colspan="4">
                                <label><h4>Subred P&uacute;blica Interna(eth1)</h4></label>
                            </td>
                        </tr>                        
                        <tr>
                            <td>
                                <label>[&nbsp;&nbsp;]&nbsp;WAN</label>
                            </td>
                             <td>
                                <label>&nbsp;_____________</label>
                            </td>                           
                        </tr>
                        <tr>
                            <td>
                                <label>[&nbsp;&nbsp;]&nbsp;IP</label>
                            </td>
                             <td>
                                <label>&nbsp;_____________</label>
                            </td>                           
                        </tr>
                        <tr>
                            <td>
                                <label>[&nbsp;&nbsp;]&nbsp;MAC</label>
                            </td>
                             <td>
                                <label>&nbsp;_____________</label>
                            </td>                           
                        </tr>  
                        <tr>
                            <td colspan="4">
                                <label><h4>Subred Privado Interna(eth1:0)</h4></label>
                            </td>
                        </tr>                        
                        <tr>
                            <td>
                                <label>[&nbsp;&nbsp;]&nbsp;WAN</label>
                            </td>
                             <td>
                                <label>&nbsp;_____________</label>
                            </td>                           
                        </tr>
                        <tr>
                            <td>
                                <label>[&nbsp;&nbsp;]&nbsp;IP</label>
                            </td>
                             <td>
                                <label>&nbsp;_____________</label>
                            </td>                           
                        </tr>
                        <tr>
                            <td>
                                <label>[&nbsp;&nbsp;]&nbsp;MAC</label>
                            </td>
                             <td>
                                <label>&nbsp;_____________</label>
                            </td>                           
                        </tr>                                                  
                    </table>
                </td>                
            </tr> 

            <tr>
                <td colspan="4">
                    <label>Observaciones:________________________________________________________________________________________________</label>
                </td>                
            </tr> 
            <tr>
                <td colspan="4">
                    <label>______________________________________________________________________________________________________________</label>
                </td>                
            </tr> 

            <tr>
                <td colspan="4"></td>
            </tr>              
            <tr>
                <td colspan="2" align="center">
                    <label>_______________________________</label>
                </td>
                <td colspan="2" align="center">
                    <label>_______________________________</label>
                </td>                
            </tr>           
            <tr>
                <td colspan="2" align="center">
                    <label><br>T&eacute;cnico Asignado</label>
                </td>
                <td colspan="2" align="center">
                    <label><br>Recib&iacute; Conforme</label>
                </td>                
            </tr>             
        </table>
    </body>
</html>
