<html>
  <head>
    <meta http-equiv=Content-Type content="text/html; charset=UTF-8">
  </head>
  <body>
    <table align="center" width="100%" cellspacing="0" cellpadding="5">
      <tr>
        <td align="center" style="border:1px solid #6699CC;background-color:#E5F2FF;">
            <img alt=""  src="http://images.telconet.net/others/sit/notificaciones/logo.png"/>
        </td>
      </tr>
      <tr>
        <td style="border:1px solid #6699CC;">
          <table width="100%" cellspacing="0" cellpadding="5">
            <tr>
                <td colspan="2">Estimado personal,</td>
            </tr>
            <tr>
              <td colspan="2">{{ strMensaje }}</td>
            </tr>
            <tr>
              <td colspan="2">
                <hr />
              </td>
            </tr>

            <tr>
              <td>
                <strong>Login del Servicio:</strong>
              </td>
              <td>{{ strLogin }}</td>
            </tr>
            <tr>
              <td>
                <strong>Login Auxiliar del Servicio:</strong>
              </td>
              <td>{{ strLoginAux }}</td>
            </tr>
            <tr>
              <td>
                <strong>Nombre De La Cámara:</strong>
              </td>
              <td>{{ strNombreCamara }}</td>
            </tr>
            <tr>
              <td>
                <strong>Url De La Cámara:</strong>
              </td>
              <td>{{ strUrlCamara }}</td>
            </tr>
            <tr>
              <td>
                <strong>Clave De La Cámara:</strong>
              </td>
              <td>{{ strClaveCamara }}</td>
            </tr>
            <tr>
              <td>
                <strong>Marca De La Cámara:</strong>
              </td>
              <td>{{ strMarca }}</td>
            </tr>
            <tr>
              <td>
                <strong>Modelo De La Cámara:</strong>
              </td>
              <td>{{ strModelo }}</td>
            </tr>
            <tr>
              <td>
                <strong>Serie De La Cámara:</strong>
              </td>
              <td>{{ strSerie }}</td>
            </tr>
            <tr>
              <td>
                <strong>Mac De La Cámara:</strong>
              </td>
              <td>{{ strMac }}</td>
            </tr>
            <tr>
              <td>
                <strong>Ip De La Cámara:</strong>
              </td>
              <td>{{ strIpAsignada }}</td>
            </tr>
            <tr>
              <td>
                <strong>FPS De La Cámara:</strong>
              </td>
              <td>{{ strFps }}</td>
            </tr>
            <tr>
              <td>
                <strong>Resolución De La Cámara:</strong>
              </td>
              <td>{{ strFormatoResolucion }}</td>
            </tr>
            <tr>
              <td>
                <strong>Codec De La Cámara:</strong>
              </td>
              <td>{{ strCodec }}</td>
            </tr>

            <tr>
              <td colspan="2"><br/></td>
            </tr>

          </table>
        </td>
      </tr>
      <tr>
          <td>&nbsp;
          </td>
      </tr>
    </table>
  </body>
</html>
