{% extends "::layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <style scoped="scoped">
		.category-label
		{
			vertical-align: middle;
			padding-right: .5em;
		}
		#category
		{
			vertical-align: middle;
		}
		.toolbar {
			float: right;
			margin-right: .8em;
		}
		.icon_search {
			background-image:url('{{ asset('public/images/images_crud/ver.png') }}') !important;
                }
		.icon_limpiar {
			background-image:url('{{ asset('public/images/images_crud/edit-clear.png') }}') !important;
                } 
		.icon_add {
			background-image:url('{{ asset('public/images/images_crud/plus.png') }}') !important;
                } 
		.icon_delete {
			background-image:url('{{ asset('public/images/images_crud/trash.png') }}') !important;
                }                 
    </style>
{% endblock %}

{% block contenido_izq %}
<div id="titulo_content">
		<img src="{{ asset('public/images/'~ item.urlImagen | default('tools1.png') ~ '') }}" class="imagen-titulo-content">
	<h1>Listado de Pagos Generados Por Debitos</h1>
</div>
<div class="body_content k-content">
<table  class="record_properties" width='100%'>
<tr>
<td><b>Fecha Generado:</b></td><td>{{ entityDebitoGen.feCreacion|date('Y-m-d H:i:s') }}</td>  
<td><b>Usuario Creacion:</b></td><td>{{ entityDebitoGen.UsrCreacion }}</td>  
</tr>
<tr>
<td><b>Estado:</b></td><td>{{ entityDebitoGen.estado }}</td>  
<td></td>  
</tr>
</table>
</div>
<div class="body_content k-content">
    <div id="example" class="k-content">
    <table width="100%" cellpadding="1" cellspacing='0'  border='0'>
            <tr bgcolor='#ffffff'>
                     <td bgcolor='#ffffff'><div id='filtro_pagos'></div></td>
            </tr>	
            <tr bgcolor='#ffffff'>
                     <td bgcolor='#ffffff'><div id='lista_pagos'></div></td>
            </tr>
    </table>        
            
        
        <script>
        var url_lista_estados='{{path('infopagocab_estados')}}';
        var url_grid = "{{ path('respuestadebitos_gridPagosDebitos') }}";         
		var debitoGenId= {{entityDebitoGen.id}};	
        </script>        
         <script type="text/javascript" src="{{ asset('./bundles/financiero/js/admiformatodebito/listPagosDebitos.js') }}"></script>
   </div>
</div>
{% endblock contenido_izq %}

{% block contenido_der %}
    		<div class="titulo-acciones-relacionadas">
			Acciones Relacionadas
		</div>
<ul class="listado_acciones_relacionadas">
                    <li>
                        <a class="listado_ac_tablas" href="{{ path('generardebitos') }}">Generar Debitos</a>
                    </li>
</ul>
{% endblock contenido_der %}
