<html>
  <head>
    <meta http-equiv=Content-Type content="text/html; charset=UTF-8">
  </head>
  <body>
    <table align="center" width="100%" cellspacing="0" cellpadding="5">
      <tr>
        <td align="center" style="border:1px solid #6699CC;background-color:#E5F2FF;">
            <img alt=""  src="http://images.telconet.net/others/telcos/logo.png"/>
        </td>
      </tr>
      <tr>
        <td style="border:1px solid #6699CC;">
          <table width="100%" cellspacing="0" cellpadding="5">
            <tr>
                <td colspan="2">Estimado personal,</td>
            </tr>
            <tr>
              <td colspan="2">
                El presente correo es para informarle que su proceso NO fue ejecutado con exito y presenta los siguientes detalles: 
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <hr />
              </td>
            </tr>
            <tr>
              <td>
                <strong>Banco / Tarjeta:</strong>
              </td>
              <td>{{banco}}</td>
            </tr>
            <tr>
              <td colspan="2">
                <hr />
              </td>
            </tr>
            <tr>
              <td>
                <strong>Fecha inicio proceso:</strong>
              </td>
              <td>{{fechaInicio}}</td>
            </tr>
            <tr>
              <td>
                <strong>Fecha error proceso:</strong>
              </td>
              <td>{{fechaFin}}</td>
            </tr>            
            <tr>
              <td>
                <strong>Usuario Ejecuci&oacute;n:</strong>
              </td>
              <td>{{usr}}</td>
            </tr>         
            <tr>
              <td>
                <strong>Mensaje Error Ejecuci&oacute;n:</strong>
              </td>
              <td>{{mensajeError}}</td>
            </tr>             
            <tr>
              <td colspan="2"><br/></td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
          <td>&nbsp;
          </td>
      </tr>
      <tr>
          <td><strong><font size='2' face='Tahoma'>TransTelco S.A.</font></strong></p>
          </td>   
      </tr>  
    </table>
  </body>
</html>