{% extends "::layout.html.twig" %}

{% block stylesheets %}
	{{ parent() }}
        <style>
            .contenido{
                    background-color: #F9F9F9;
                    border: 2px solid #F9F9F9;
                    border-radius: 13px 13px 13px 13px;
                    padding: 13px;
            }
            
            .detalle_plan{
					background-color:#D0DBE6; 
					width: 100% ;
					border-radius: 5px 5px 5px 5px;
            }
        </style>
{% endblock %}
        
{% block contenido_izq %}
    <div id="titulo_content">
		<img src="{{ asset('public/images/'~ item.urlImagen | default('tools1.png') ~ '') }}" class="imagen-titulo-content">
        <h1>Ver Orden de Trabajo</h1>
    </div>
    <div class="body_content">
        <table class="record_properties">
            <tbody>
                <tr>
                    <th>No. Orden de Trabajo:</th>
                    <td>{{ entity.numeroOrdenTrabajo }}</td>
                </tr>
                <tr>
                    <th>Tipo de orden:</th>
                    {% if entity.tipoOrden == "N" %}
                        <td>Nueva</td>
                    {% elseif entity.tipoOrden == "T" %}
                        <td>Traslado</td>
                    {% else %}
                        <td>Reubicacion</td>
                    {% endif %}
                    <td width="9%">&nbsp;</td>
                    <th>Oficina:</th>
                    <td>{{ nombre_oficina }}</td>
                </tr>
                <tr>
                    <th>Ultima Milla:</th>
                    <td>{{ ultimaMillaId }}</td>
                </tr>
            </tbody>
        </table>
        {% if servicios is defined %}
            <div class="secHead">Listado de servicios</div>
            <div class="k-content" id="example">
                <table id="table-3" width="100%">
                    <thead>
                        <tr>
                            <th class="k-header" data-field="codigo">Producto / Plan</th>
                            <th class="k-header" data-field="cantidad">Cantidad</th>
                            <th class="k-header" data-field="precio">Precio</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for servicio in servicios %}
                            <tr>
                                <td>{{ servicio.producto }}</td>
                                <td>{{ servicio.cantidad }}</td>
                                <td>{{ servicio.precio }}</td>
							{% if servicio.tienedetalle=="S" %}
								{% if servicio.detalle is defined %}
									<table class="detalle_plan">
										<thead>
											<tr>
												<th>Detalle: {{ servicio.producto }}</th>
											</tr>
										</thead>
										<tbody>
											{% for prod in  servicio.detalle %}
												<tr><td>{{ prod.producto }}</td></tr>
											{% endfor %}
										</tbody>
									</table>
								{% endif %}
							{% endif %}
							</tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
    </div>
    <div class="buttons">
       <p>
           <span class="height20px">
               <a class="button-crud" href="{{ path('infoordentrabajo') }}">Regresar</a>
           </span>
       </p>
   </div>
   <div class="body_content">
    <table class="formulario">
        <tbody>
            <tr>
              <td width="10%" rowspan="3"><img src="{{ asset('public/images/images_crud/agregar_64.png')}}" hspace="3" vspace="3" alt="" border="0" align="absmiddle" /></td>
              <th width="11%">Creador:</th>
              <td width="34%" >{{ entity.usrCreacion }}</td>
            </tr>
            <tr>
              <th>Fecha:</th>
              <td >{{ entity.feCreacion | date("d M Y") }}</td>
            </tr>
            <tr>
              <th>Hora:</th>
              <td>{{ entity.feCreacion | date("H:i:s") }}</td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock contenido_izq %}     
{% block contenido_der %}
    <ul class="form_actions">
        <li>
            <a class="button-nuevo-registro" href="{{ path('infoordentrabajo_new') }}">
                <img src="{{ asset('public/images/images_crud/new_plus.png')}}" width="15" height="15" />
                &nbsp;Nuevo orden
            </a>
        </li>
        <li>
            &nbsp;
        </li>
        <li>
            <a class="button-editar" href="{{ path('infoordentrabajo_edit', { 'id': entity.id }) }}">
                &nbsp;Editar orden
            </a>
        </li>
        <li>
            <a class="button-eliminar" href="{{ path('infoordentrabajo_delete', { 'id': entity.id }) }}">
                &nbsp;Eliminar orden
            </a>
        </li>
    </ul>
    <div class="titulo-acciones-relacionadas">
        Acciones Relacionadas
    </div>
    <ul class="listado_acciones_relacionadas">

    </ul>
{% endblock contenido_der %}
