{#
 twig que llama al script de consulta de ldap clientes
 
 @author John Vera         <javera@telconet.ec>
 @version 1.0 22-01-2016
 #} 

{% extends "::layout_completo.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    
    
    <style scoped="scoped">
            .category-label
            {
                    vertical-align: middle;
                    padding-right: .5em;
            }
            #category
            {
                    vertical-align: middle;
            }
            .toolbar {
                    float: right;
                    margin-right: .8em;
            }
    </style>
    
{% endblock %} 

{% block javascripts%}
    {{ parent() }}
    
    <script type="text/javascript" src="{{ asset('./bundles/tecnico/js/reportes/ConsultaLdapClientes.js') }}"></script>
    
    <script>
        var getElementosPorTipo = '{{ path('servicio_getElementosPorTipo') }}';
        var exportarExcel = '{{ path('reportes_exportarExcel') }}';
    </script>
{% endblock %} 

{% block contenido_central %}
<div id="titulo_content">
	<img src="{{ asset('public/images/'~ item.urlImagen | default('tools1.png') ~ '') }}" class="imagen-titulo-content">
	<h1>Consulta de Ldap Clientes</h1>
</div>
<div class="dashboard_content k-content">
    <table width="100%" cellpadding="1" cellspacing='0'  border='0'>
        <tr>
            <td><div id='filtro'></div></td>
        </tr>	
        <tr>
            <td><div id="grid"></div></td>
        </tr>
    </table> 
</div>

{% endblock contenido_central %}

{% block javascripts_footer%}

{% endblock %}