{% extends "::layout_completo.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('public/css/Datatables/jquery.dataTables.min.css') }}" type="text/css" rel="stylesheet" />
    {# <link href="{{ asset('public/css/Datatables/datatables.min.css') }}" type="text/css" rel="stylesheet" /> #}
    {# <link href="{{ asset('public/css/Datatables/editor/datatables.min.css') }}" type="text/css" rel="stylesheet" /> #}
    {# <link href="{{ asset('public/css/Datatables/editor.dataTables.min.css') }}" type="text/css" rel="stylesheet" /> #}
    <link href="{{ asset('public/css/bootstrap-v4.3/bootstrap.min.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('public/css/select2-v4.0/select2.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('public/css/jquery-ui.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('./bundles/financiero/css/InfoPagoAutomatico.css') }}" type="text/css" rel="stylesheet" /> 
    

    <style type="text/css" scoped>
        .DTFC_LeftHeadWrapper{
            background-color:white;
        }
        .DTFC_LeftBodyLiner {
        overflow: hidden;
        }
        .DTFC_Cloned{
            background-color:white;
        }
    
</style>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('public/js/jquery-3.2.1/jquery-3.2.1.js') }}"></script>
    <script type="text/javascript" src="{{ asset('public/js/jquery-ui.min.js') }}"></script>
    {# <script type="text/javascript" src="{{ asset('public/js/Datatables/editor/datatables.min.js') }}"></script> #}
    <script type="text/javascript" src="{{ asset('public/js/Datatables/datatables.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('public/js/Datatables/dataTables.bootstrap4.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('public/js/Datatables/dataTables.fixedColumns.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('public/js/Datatables/dataTables.buttons.min.js') }}"></script>
    {# <script type="text/javascript" src="{{ asset('public/js/Datatables/dataTables.editor.min.js') }}"></script> #}
    <script type="text/javascript" src="{{ asset('public/js/Datatables/buttons.html5.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('public/js/Datatables/jszip.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('public/js/Datatables/pdfmake.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('public/js/Datatables/vfs_fonts.js') }}"></script>
    <script type="text/javascript" src="{{ asset('public/js/select2-v4.0/select2.js') }}"></script> 
    <script type="text/javascript" src="{{ asset('public/js/bootstrap-v4.3/bootstrap.min.js') }}" ></script>  
    <script type="text/javascript" src="{{ asset('./bundles/financiero/js/infopagoautomatico/estadoCuenta.js?6') }}"></script>  
  
    <script>
        var urlGridDetalleEstadoCuenta    = "{{ path('infoPagoAutomatico_gridDetalle') }}";
        var strUrlGetFormasPago           = "{{ path('infoPagoAutomatico_getFormasPago') }}";
        var strUrlGetCientes              = "{{ path('infoPagoAutomatico_getClientes') }}";
        var urlGetLoginesCliente          = "{{ path('infoPagoAutomatico_getLoginesCliente') }}";
        var urlGetFacturasPtoCliente      = "{{ path('infoPagoAutomatico_getFacturasPendientesPto') }}"; 
        var urlGetSaldoFactura            = "{{ path('infoPagoAutomatico_getSaldoFactura') }}"; 
        var urlProcesarPago               = "{{ path('infoPagoAutomatico_procesarPago') }}";
        var urLStoreErrores               = "{{ path('infoPagoAutomatico_getListadoErrores') }}";
        var urLGetEstados                 = "{{ path('infoPagoAutomatico_getEstados') }}";
        var urlGetDetalleEstadoCta        = "{{ path('infoPagoAutomatico_getDetEstadoCuenta') }}";
        var urlGridInfoPagPrecargado      = "{{ path('infoPagoAutomatico_gridPagoPrecargado') }}";
        var urlGetPagosEstadoCta          = "{{ path('infoPagoAutomatico_getPagosEstadoCta') }}";
        var urlNotificaPago               = "{{ path('infoPagoAutomatico_notificaPago') }}";
        var urlGetMaxNunDetalles          = "{{ path('infoPagoAutomatico_getMaxNumDetalles') }}";
        var urlgetEstadoCuentaPorFactura  = "{{ path('infoPagoAutomatico_getEstadoCuentaPorFactura') }}"; 
        var urlGetHistorialEstadoCta      = "{{ path('infoPagoAutomatico_getHistorialPagos') }}";
   
    </script>


{% endblock %}

{% block contenido_central %}
    <div class="container-fluid">
        <form>
        <div class="row">
            <div class="col-md">
                <div>
                    <br/>
                    <nav class="navbar navbar-expand-lg navbar-light bg-light">
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item active">
                                    <button type="button" class="btn btn-outline-info btn-sm collapsed" data-toggle="collapse" aria-expanded="false" 
                                            data-target="#contenedor_busqueda">Criterios de Búsqueda <em class="fa fa-angle-down"></em></button>   
                                </li>
                                <li>&nbsp;&nbsp;</li>
                            </ul>
                        </div>
                    </nav>
                </div>                    
                <div id="contenedor_busqueda" class="collapse">
                    <form><br />
                        <div class="form-group row">
                            <div class="form-group col-md-1">
                              <label for="estados" class="col-sm-2 col-form-label">Estado:</label>
                            </div>                             
                            <div class="form-group col-md-3">                                
                                <select class="form-control" id="estados" required>
                                </select>
                                <div class="invalid-feedback">
                                  Campo Requerido
                                </div>
                            </div> 
                            <div class="form-group col-md-2">
                                <button type="button" class="btn btn-secondary btn-sm" id="limpiar_formulario">
                                    <em class="fa fa-paint-brush"></em> Limpiar
                                </button>&nbsp;                                
                                <button type="button" class="btn btn-info btn-sm" id="buscar_pag_aut_det"><em class="fa fa-search"></em> Buscar</button>
                            </div>                            
                        </div>
                    </form>              
                </div>
            </div>
        </div>            
        <div class="row">
            <div class="col-md">
                <div class="body_content k-content">
                     <table class="table table-striped table-bordered compact table-sm" id="tablaInformacionBcoCta">
                        <thead class="thead-light"> 
                            <tr>
                                <th><strong>Estado de Cuenta</strong></th>
                            </tr>
                        </thead>
                        {% if strDescripcionBcoCta is not empty %}
                            <tbody id="tbodyInformacionBcoCta">
                                    <tr>
                                        <td><strong>Banco: </strong> {{ strDescripcionBcoCta }}<a type="button" class="btn-sm" title="Regresar" href="{{path('infoPagoAutomatico')}}"><em class="fa fa-arrow-left"></em></a></td>
                                    </tr>
                                    <tr>
                                        <td><input type='hidden' id="intIdPagoAutomatico" name="intIdPagoAutomatico" value="{{intIdPagoAutomatico}}" /></td>
                                    </tr>                                   
                            </tbody>
                        {% endif %}
                    </table>
                    
                    <table class="table display" style="position: relative; overflow: auto; width: 100%; max-height: 300px;" id="tabla_lista_pago_automatico_det">
                         <thead >   
                            <tr>
                              <td colspan="8" class="text-center bg-primary">Estado de Cuenta</td>
                            </tr>                             
                            <tr>
                                <th >Fecha Transacción</th> 

                                <th >Tipo</th> 

                                <th >Referencia</th> 

                                <th >Monto</th> 

                                <th >Estado</th> 

                                <th>Concepto</th>

                                <th>Acciones</th>
                             </tr>
                         </thead>                         
                  
                    </table>
                   
                </div>
            </div>
        </div>
                    
        <div class="modal fade" id="modalMensajes" role="dialog" style = "overflow-y: scroll;">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Mensaje</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div> 
                    
        <div class="modal fade" id="modalGenerarPago"  role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable modal-xl"  role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Generar Pago</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body" >
                    <div id="accordion" >
                        <div class="card" >
                            <div class="card-header ext-center bg-light text-bold"> 
                                <a class="card-link" data-toggle="collapse" href="#description1"> Información Pago <em class='fa fa-sort'></em></a>
                            </div>
                            <div id="description1" 
                                 class="collapse show" 
                                 data-parent="#accordion">
                                <div class="card-body">
                                    <form id="formInfoDetEstadoCuenta" class="needs-validation" novalidate onsubmit="return false;" method="POST" >
                                        <table class="table" id="tabInfoPagoDet" class="display">
                                            <thead>                                             
                                               <tr>
                                                   <th ><strong>Fecha Transacción</strong></th> 

                                                   <th ><strong>Tipo</strong></th> 

                                                   <th ><strong>Referencia</strong></th> 

                                                   <th ><strong>Monto</strong></th> 

                                                   <th ><strong>Estado</strong></th>

                                                   <th ><strong>Total</strong></th>                                 

                                                   <th><strong>Acciones</strong></th>
                                               </tr>
                                               </thead>
                                               <tr>
                                                 <td id="idDetalle" hidden></td>  
                                                 <td id="fechaTransaccionDet"></td>
                                                 <td id="tipoTransaccionDet" ></td>
                                                 <td id="numeroReferenciaDet"></td>
                                                 <td id="montoDet"           ></td>
                                                 <td id="estadoDet"          ></td>
                                                 <td id="valorTotal" class="valorTotal">0.00</td>                              
                                                 <td>
                                                   <button type="submit" class="addDetalle btn btn-outline-dark btn-sm" onclick="add(this)" title="Agregar Detalle">
                                                     <em class="fa fa-plus-circle"></em>
                                                   </button>
                                                   <button type="button" class="btn btn-secondary btn-sm" id="limpiarFormInfoCliente" title="Limpiar">
                                                       <em class="fa fa-paint-brush"></em> 
                                                   </button>                                  
                                                 </td>
                                               </tr>
                                       </table>                              
                                        <div class="form-group row h-5">
                                            <div class="form-group col-sm-2">
                                              <label for="cliente" class="col-sm-12 col-form-label"><strong>Cliente:</strong></label>
                                            </div>                             
                                            <div class="form-group col-sm-4">                                
                                                <select class="form-control" id="cliente" name="cliente" required>
                                                </select>
                                                <div class="invalid-feedback">
                                                  Campo Requerido
                                                </div>
                                            </div> 

                                             <div class="form-group col-sm-2">
                                              <label for="login" class="col-sm-12 col-form-label"><strong>Login:</strong></label>
                                            </div>                             
                                            <div class="form-group col-sm-3">                                
                                                <select class="form-control" id="login" name="login" required>
                                                </select>
                                                <div class="invalid-feedback">
                                                  Campo Requerido
                                                </div>                                   
                                            </div> 

                                        </div> 

                                        <div class="form-group row h-5"> 

                                            <div class="form-group col-sm-2">
                                              <label for="facturasCliente" class="col-sm-12 col-form-label"><strong>Factura(s):</strong></label>
                                            </div>                             
                                            <div class="form-group col-sm-4">                                
                                                <select class="form-control" id="facturasCliente" name="facturasCliente" required>
                                                </select>
                                                <div class="invalid-feedback">
                                                  Campo Requerido
                                                </div>
                                            </div>
                                            <div class="form-group col-sm-2">
                                              <label for="saldoFactura" class="col-sm-12 col-form-label"><strong>Saldo:</strong></label>
                                            </div>                                 
                                            <div class="form-group col-sm-3">                                  
                                                <input class="form-control" id="saldoFactura" name="saldoFactura" readonly/>
                                            </div>
                                        </div>                            
                                        <div class="form-group row h-5"> 
                                            <div class="form-group col-sm-2">
                                              <label for="formaPago" class="col-sm-12 col-form-label"><strong>Forma de Pago:</strong></label>
                                            </div>                             
                                            <div class="form-group col-sm-4">                                
                                                <select class="form-control" id="formaPago" name="formaPago" required>
                                                </select>
                                                <div class="invalid-feedback">
                                                  Campo Requerido
                                                </div>
                                            </div>
                                            <div class="form-group col-sm-2">
                                              <label for="valorPago" class="col-sm-12 col-form-label"><strong>Valor:</strong></label>
                                            </div>                                 
                                            <div class="form-group col-sm-3">                                  
                                                <input class="form-control" id="valorPago" name="valorPago" required onkeypress="return filterFloat(event,this);"/>
                                            </div>                                            
                                        </div>                     
                                    </form>                                   

                                </div>
                            </div>                        
                        </div>
                    </div>
                      
                     <div style = "height: 250px; overflow: auto;"> 
                     <table class="table table-striped table-bordered compact" id="infoPagoDet" name="infoPagoDet" class="display">
                         <thead class="thead-light">   
                             
                            <tr>
                                <th><strong>#</strong></th>

                                <th><strong>Login</strong></th>

                                <th><strong>Factura</strong></th> 

                                <th ><strong>Saldo</strong></th>

                                <th><strong>Forma Pago</strong></th>

                                <th><strong>Valor Pago</strong></th>
                                
                                <th><strong>Acciones</strong></th>
                             </tr>
                         </thead>
                        <tbody class="infoPagoDetalle">
                        </tbody>
                        <tfoot>
                            <tr>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td><strong>TOTAL</strong></td>
                                <td><span id="total">0</span> <input class="form-control" type="hidden" id="total_final" name="total_final"  value="0" readonly /></td>
                                <td>&nbsp;</td>
                            </tr>
                        </tfoot>                  
                    </table>                         
                    </div>    
                    </div>
                    <div class="modal-footer">
                        <em class="fa fa-spinner fa-pulse fa-2x fa-fw spinner_procesarPago" id = "spinner_procesarPago"></em>
                        <button type="button" class="btn btn-primary btn-sm crearPago" >Procesar</button>
                        <button type="button" class="btn btn-primary btn-sm cerrarPago" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>


        <div class="modal fade" id="modalGenPagPrecargado"  role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable modal-xl"  role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Generar Pago</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body" >Información Pago
                        <div >
                            <form id="formInfoDetPreEstadoCuenta" class="needs-validation" novalidate onsubmit="return false;" method="POST" >
                                <table class="table" id="tabInfoPagoDetPre" class="display">
                                    <thead>                                             
                                       <tr>
                                           <th ><strong>Fecha Transacción</strong></th> 

                                           <th ><strong>Tipo</strong></th> 

                                           <th ><strong>Referencia</strong></th> 

                                           <th ><strong>Monto</strong></th> 

                                           <th ><strong>Estado</strong></th>

                                           <th ><strong>Total</strong></th>                                 

                                           <th><strong>Acciones</strong></th>
                                       </tr>
                                       </thead>
                                       <tr>
                                         <td id="idDetallePre" hidden></td>  
                                         <td id="fechaTransaccionDetPre"></td>
                                         <td id="tipoTransaccionDetPre" ></td>
                                         <td id="numeroReferenciaDetPre"></td>
                                         <td id="montoDetPre"           ></td>
                                         <td id="estadoDetPre"          ></td>
                                         <td id="valorTotalPre" class="valorTotal">0.00</td>                              
                                         <td>
                                           <button type="button" class="btn btn-secondary btn-sm" id="limpiarFormInfoClientePre" title="Limpiar">
                                               <em class="fa fa-paint-brush"></em> 
                                           </button>                                  
                                         </td>
                                       </tr>
                               </table>                              
                                <div class="form-group row h-5">
                                    <div class="form-group col-sm-2">
                                      <label for="clientePre" class="col-sm-12 col-form-label"><strong>Cliente:</strong></label>
                                    </div>                             
                                    <div class="form-group col-sm-4">                                
                                        <select class="form-control" id="clientePre" name="clientePre" required>
                                        </select>
                                        <div class="invalid-feedback">
                                          Campo Requerido
                                        </div>
                                    </div> 
                                    <div class="form-group col-sm-2">
                                      <label for="formaPagoPre" class="col-sm-12 col-form-label"><strong>Forma de Pago:</strong></label>
                                    </div>                             
                                    <div class="form-group col-sm-4">                                
                                        <select class="form-control" id="formaPagoPre" name="formaPagoPre" required>
                                        </select>
                                        <div class="invalid-feedback">
                                          Campo Requerido
                                        </div>
                                    </div>
                                </div>                    
                            </form>                                   
                        </div>                        
                      
                     <div style = "height: 450px;"> 
                        <table class="table table-striped table-bordered compact" id="infoPagoDetPre" name="infoPagoDetPre" style="width:100%;">

                            <thead class="thead-light">
                                <th><input name="select_all" value="1" id="info-select-all"  type="checkbox"></th>

                                <th><strong>Login</strong></th>

                                <th><strong>Factura</strong></th> 

                                <th ><strong>Saldo</strong></th>

                                <th ><strong>Valor Pago</strong></th>

                                <th><strong></strong></th>
                            </thead>
                           <tbody class="infoPagoDetPre">
                           </tbody>
                           <tfoot>
                               <tr>
                                   <td>&nbsp;</td>
                                   <td>&nbsp;</td>
                                   <td>&nbsp;</td>
                                   <td><strong>TOTAL</strong></td>
                                   <td><span id="totalPre">0.00</span> <input class="form-control" type="hidden" id="totalPre" name="totalPre"  value="0" readonly /></td>
                                   <td>&nbsp;</td>
                               </tr>
                           </tfoot>                  
                       </table>                         
                    </div>    
                    </div>
                    <div class="modal-footer">
                        <em class="fa fa-spinner fa-pulse fa-2x fa-fw spinner_procPagPre" id = "spinner_procPagPre"></em>
                        <button type="button" class="btn btn-primary btn-sm crearPagoPre" >Procesar</button>
                        <button type="button" class="btn btn-primary btn-sm cerrarPagoPre" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div> 
                    
                    
        <div class="modal fade" id="modalInfoPagos"  role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable modal-xl"  role="document">
                <div class="modal-content">
                    <div class="modal-body" >Listado de Pagos
                        <div > 
                           <table class="table table-striped table-bordered compact" id="infoPagos" name="infoPagos" >
                               <thead class="thead-light">
                                   
                                   <th ><strong>Tipo</strong></th> 
                                   
                                   <th ><strong>Oficina</strong></th>

                                   <th ><strong>Número</strong></th> 

                                   <th ><strong>Punto</strong></th> 

                                   <th ><strong>Total</strong></th>

                                   <th ><strong>Fecha Creación</strong></th>
                                   
                                   <th ><strong>Usr.Creación</strong></th>

                                   <th ><strong>Estado</strong></th>

                                   <th ><strong>Acciones</strong></th>
                               </thead> 
                                <tbody>
                                </tbody>                               
                          </table>                         
                       </div>    
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary btn-sm cerrarInfoPagos" data-dismiss="modal">Cerrar</button>
                    </div>                    
                </div>
            </div>
        </div>  

        <div class="modal fade" id="modalInfoHistorial"  role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable modal-xl"  role="document">
                <div class="modal-content">
                    <div class="modal-body" >Histotial de Pagos
                        <div > 
                           <table class="table table-striped table-bordered compact" id="infoHistorial" name="infoHistorial" >
                               <thead class="thead-light">
                                   
                                   <th ><strong>Fecha</strong></th>

                                   <th ><strong>Observación</strong></th> 

                                   <th ><strong>Usuario</strong></th> 

                                   <th ><strong>Estado</strong></th>
                               </thead> 
                                <tbody>
                                </tbody>                               
                          </table>                         
                       </div>    
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary btn-sm cerrarInfoPagos" data-dismiss="modal">Cerrar</button>
                    </div>                    
                </div>
            </div>
        </div>   
    
        <div class="modal fade" id="modalSession" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header" text-align="center">
                        <h5 class="modal-title">Su sesion esta por expirar dentro de 5 minutos</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-footer" align="center">
                        <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="recargarSession()" id="continuarSession">Continuar</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>                              
       </form>             
    </div>
    


{% endblock contenido_central %}