{% extends "::layout_completo.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('public/js/ext-4.1.1/resources/css/ext-all-custom.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('public/js/ext-4.1.1/resources/css/CheckHeader.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}
{% block javascripts%}
    {{ parent() }}
    <script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript" src="{{ asset('./bundles/planificacion/js/RetiroEquipo/index.js?1') }}"></script>
    <script type="text/javascript" src="{{ asset('./bundles/planificacion/js/RetiroEquipo/funciones.js?7') }}"></script>
    <script>
        var ajaxGetModelosElemento = '{{ path('servicio_ajaxGetModelosElemento') }}';
    </script>
    
{% endblock %}

{% block contenido_central %}
<div id="titulo_content">
    <img src="{{ asset('public/images/'~ item.urlImagen | default('tools1.png') ~ '') }}" class="imagen-titulo-content">
    <h1>Retiros de Equipos por Finalizar</h1>
</div>
<div class="body_content k-content">
    <table width="100%" cellpadding="1" cellspacing='0'  border='0'>
        <tr>
            <td><div id='filtro'></div></td>
        </tr>
        <tr>
            <td colspan="5"><div id="grid"></div></td>
        </tr>
    </table>
</div>
{% endblock contenido_central %}