{% extends "::layout.html.twig" %}

{% block stylesheets %}
	{{ parent() }}
{% endblock %}

{% block javascripts%}
	{{ parent() }}
    <script type="text/javascript" src="{{ asset('./bundles/administracion/js/AdmiClaseTipoMedio/edit.js?1') }}"></script>
{% endblock %}

{% block contenido_izq %}
    <div id="titulo_content">
        <img src="{{ asset('public/images/'~ item.urlImagen | default('tools1.png') ~ '') }}" class="imagen-titulo-content">
        <h1>Editar Clase Tipo Medio</h1>
    </div>
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="errormessage">
            {{ flashMessage }}
        </div>
    {% endfor %}
    <div class="body_content">
        <form id='form_edit_hilo' action="{{ path('admiclasetipomedio_update', { 'id': objeto.id }) }}" method="post" {{ form_enctype(edit_form) }} 
              class="formulario" novalidate="novalidate" onsubmit="return validar();">
            {{ form_widget(edit_form) }}
            
            <div class="buttons">
                <p>
                    <input type='submit' class="button-crud" value="Guardar" />
                    <span class="height20px">
                        &oacute;&nbsp;
                        <a class="button-crud" href="{{ path('admiclasetipomedio') }}">Cancelar</a>
                    </span>
                </p>
            </div>
        </form>
    </div>
{% endblock contenido_izq %}

{% block javascripts_footer%}
{% endblock javascripts_footer%}

{% block contenido_der %}
    <ul class="form_actions">
        <li>
            
        </li>
    </ul>
    <div class="titulo-acciones-relacionadas">
            Acciones Relacionadas
    </div>

{% endblock contenido_der %}
