{% extends "::layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}   
{% endblock %}
{% block javascripts%}
    {{ parent() }}    
    <script>
        var strUrlGridAdmiFormularioSoporte         = '{{path('correoFormularioSoporte_grid')}}';
        var strUrlActualizaAdmiFormularioSoporte    = '{{path('enviosms_update')}}';
        var UrlGridCorreo                           = '{{path('correoFormularioSoporte_gridCorreo')}}';
        var urlRegistroCorreoForm                   = '{{path('registrarCorreo')}}';
    </script>
    <script type="text/javascript" src="{{ asset('./bundles/administracion/js/CorreoFormularioSoporte/index.js') }}"></script>
    
{% endblock %}

{% block contenido_izq %}

<div id="titulo_content">
    <img src="{{ asset('public/images/admiCorreoSoporte.png') }}" class="imagen-titulo-content">
    <h1>Administración de correos para el Formulario de Soporte por Productos</h1>
</div>
<div class="body_content k-content">
     <div class="body_content k-content">
        <table width="100%" cellpadding="1" cellspacing='0'  border='0'>
            <tr>
                <td><div id='filtro'></div></td>
            </tr>	
            <tr>
                <td><div id="grid"></div></td>
            </tr>
        </table> 
    </div>
</div>
{% endblock contenido_izq %}

{% block contenido_der %}

{% endblock contenido_der %}