{% extends "::layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <style scoped="scoped">
        .category-label
        {
            vertical-align: middle;
            padding-right: .5em;
        }
        #category
        {
            vertical-align: middle;
        }
        .toolbar {
            float: right;
            margin-right: .8em;
        }
        .icon_search {
            background-image:url('{{ asset('public/images/images_crud/ver.png') }}') !important;
        }
        .icon_limpiar {
            background-image:url('{{ asset('public/images/images_crud/edit-clear.png') }}') !important;
        } 
        .icon_add {
            background-image:url('{{ asset('public/images/images_crud/plus.png') }}') !important;
        } 
        .icon_delete {
            background-image:url('{{ asset('public/images/images_crud/trash.png') }}') !important;
        }                 
    </style>
{% endblock %}

{% block javascripts%}
    {{ parent() }}
    <script>

        var urlGetOficinasByPrefijoEmpresa  = '{{ path('infooficinagrupo_getOficinasByPrefijoEmpresaJson') }}';
        var urlGetEstadosDocumentos         = '{{ path('notasCreditoMasivasEstadosDocs') }}';
        var urlGetPlanes                    = '{{ path('notasCreditoMasivasEstadosPlanes') }}';
        var urlGetProductos                 = '{{ path('notasCreditoMasivasEstadosProductos') }}';
        var urlGetstoreListaDocumentos      = '{{ path('notasCreditoMasivasListarDocumentos') }}';
        var urlGetAdmiFormaPago             = '{{ path('admiformapago_getFormaPagojson') }}';
        var urlGetTipoSolicitud             = '{{ path('admitiposolicitud_getTipoSolicitudJson') }}';
        var urlGetEstadoTipoSolicitud       = '{{ path('admitiposolicitud_getEstdsTipoSolJson') }}';
        var urlGetTipoCuenta                = '{{ path('admitipocuenta_getTipoCuentaJson') }}';
        var urlGetInterfacesElemento        = '{{ path('infointerfaceelemento_getInterfacesElemento')}}';
        var getElementosPorEmpresa          = '{{ path('servicio_getElementosPorEmpresa')}}';
        var getTiposElementosBackbone       = '{{ path('admitipoelemento_getTiposElementosBackbone')}}';
        var urlGetMotivosNc                 = '{{ path('notasCreditoMasivasMotivosNcAction')}}';
        var urlCreaNcValorOriginal          = '{{ path('notasCreditoMasivascreaNCValorOriginal') }}';
        var urlCreaNcPorcentajeServicio     = '{{ path('notasCreditoMasivascreaNCPorcentajeServ') }}';
        var urlCreaNcProporcionalDias       = '{{ path('notasCreditoMasivascreaNCProporcionalXDias') }}';
        var urlCreaNotaCreditoMasiva        = '{{ path('notasCreditoMasivascreaNotaCreditoMasiva') }}';
    </script>   
    <script type="text/javascript" src="{{ asset('bundles/financiero/js/notascreditomasivas/index.js') }}"></script>                 
{% endblock %}


{% block contenido_izq %}
    <div id="titulo_content">
        <img src="{{ asset('public/images/'~ item.urlImagen | default('tools1.png') ~ '') }}" class="imagen-titulo-content">
        <h1>Listado de facturas para la generación de notas de credito Masivas</h1>
    </div>
    <div class="dashboard_content k-content">
        <div id="example" class="k-content">
            {% if(is_granted('ROLE_276-1')) %}
                <table width="100%" cellpadding="1" cellspacing='0'  border='0'>
                    <tr bgcolor='#ffffff'>
                        <td bgcolor='#ffffff'>
                            <div id='filtroFacturas'>
                                <div id = "fieldsTabFinanciero">
                                </div>
                                <div id = "fieldsTabComercial">
                                </div>
                                <div id = "fieldsTabComercial">
                                </div>
                                <div id = "fieldsTabTecnico">
                                </div>
                            </div>
                        </td>
                    </tr>	
                    <tr bgcolor='#ffffff'>
                        <td bgcolor='#ffffff'><div id='ListaFacturas'></div></td>
                    </tr>
                    <tr bgcolor='#ffffff'>
                        <td bgcolor='#ffffff'><div id='formCrearNotaCredito'></div></td>
                    </tr>
                </table>
            {% else %}
                <div class="info-error"> No tiene permisos para hacer uso de la opción </div>
                <div class="buttons">
                    <p>
                        <a class="cancel-crud" href="{{ path('notasCreditoMasivas') }}">
                            Regresar
                        </a>
                    </p>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock contenido_izq %}
