{% extends "::layout.html.twig" %}
{% block contenido_izq %}
<div id="titulo_content">
    <img src="{{ asset('public/images/'~ item.urlImagen | default('tools1.png') ~ '') }}" class="imagen-titulo-content">
    <h1>Ver Tipo de Negocio</h1>
</div>
<div class="body_content">
    <table class="formulario">
        <tbody>
            <tr>
                <td width="8%">&nbsp;</td>
                <th width="25%"> Nombre Tipo Negocio:</th>
                <td width="15%">{{ tiponegocio.nombreTipoNegocio }}</td>        
                <td width="1%"></td>

                <td width="8%">&nbsp;</td>
                <th width="25%"> Codigo Tipo Negocio:</th>
                <td width="15%">{{ tiponegocio.codigoTipoNegocio }}</td>        
                <td width="1%"></td>
            </tr>
            <tr>
                <td width="8%">&nbsp;</td>
                <th width="25%"> Estado:</th>
                <td>{{ tiponegocio.estado }}</td>        
                <td width="1%"></td>

                <td width="8%">&nbsp;</td>
                <th width="25%">&nbsp;</th>        
                <td width="15%">&nbsp;</td>
                <td width="1%"></td>
            </tr>
        </tbody>
    </table>
</div>	
<div class="buttons">
    <p>
        <span class="height20px">
            <a class="button-crud" href="{{ path('admitiponegocio') }}">Regresar</a>
        </span>
    </p>
</div>
<div class="body_content">
    <table class="formulario">
        <tbody>
            <tr>
              <td width="10%" rowspan="3"><img src="{{ asset('public/images/images_crud/agregar_64.png')}}" hspace="3" vspace="3" alt="" border="0" align="absmiddle" /></td>
              <th width="11%">Creador:</th>
              <td width="34%" >{{ tiponegocio.usrCreacion }}</td>

              {% if(tiponegocio.estado|lower=="modificado") %}
              <td width="10%" rowspan="3"><img src="{{ asset('public/images/images_crud/edit_64.png')}}" hspace="3" vspace="3" alt="" border="0" align="absmiddle" /></td>
              <th width="11%" >Ult. Mod.:</th>
              <td width="34%">{{ tiponegocio.usrUltMod }}</td>
              {% endif %}

              {% if(tiponegocio.estado|lower=="eliminado") %}
              <td width="10%" rowspan="3"><img src="{{ asset('public/images/images_crud/eliminar_64.png')}}" hspace="3" vspace="3" alt="" border="0" align="absmiddle" /></td>
              <th width="6%">Eliminado:</th>
              <td width="34%">{{ tiponegocio.usrUltMod }}</td>
              {% endif %}
            </tr>
            <tr>
              <th>Fecha:</th>
              <td >{{ tiponegocio.feCreacion | date("d M Y") }}</td>

              {% if(tiponegocio.estado|lower=="modificado") %}
              <th>Fecha:</th>
              <td >{{ tiponegocio.feUltMod  | date("d M Y")}}</td>
              {% endif %}

              {% if(tiponegocio.estado|lower=="eliminado") %}
              <th>Fecha:</th>
              <td>{{ tiponegocio.feUltMod | date("d M Y") }}</td>
              {% endif %}
            </tr>
            <tr>
              <th>Hora:</th>
              <td>{{ tiponegocio.feCreacion | date("H:i:s") }}</td>

              {% if(tiponegocio.estado=="modificado") %}
              <th>Hora:</th>
              <td>{{ tiponegocio.feUltMod | date("H:i:s") }}</td>
              {% endif %}

              {% if(tiponegocio.estado|lower=="eliminado") %}
              <th>Hora:</th>
              <td>{{ tiponegocio.feUltMod | date("H:i:s") }}</td>
              {% endif %}
            </tr>

        </tbody>
    </table>
</div>
{% endblock contenido_izq %}

{% block contenido_der %}
    <ul class="form_actions" style="width:auto;">
		{% if is_granted('ROLE_34-2') %}
        <li>
            <a class="button-nuevo-registro" href="{{ path('admitiponegocio_new') }}">
                <img src="{{ asset('public/images/images_crud/new_plus.png')}}" width="15" height="15" />
                &nbsp;Nuevo Tipo de Negocio
            </a>
        </li>
		{% endif %}
        <li>
            &nbsp;
        </li>
		{% if is_granted('ROLE_34-4') %}
        <li>
            <a class="button-editar" href="{{ path('admitiponegocio_edit', { 'id': tiponegocio.id }) }}">
                &nbsp;Editar Tipo de Negocio
            </a>
        </li>
		{% endif %}
		{% if is_granted('ROLE_34-8') %}
        <li>
            <a class="button-eliminar" href="{{ path('admitiponegocio_delete', { 'id': tiponegocio.id }) }}">
                &nbsp;Eliminar Tipo de Negocio
            </a>
        </li>
		{% endif %}
    </ul>
    <div class="titulo-acciones-relacionadas">
        Acciones Relacionadas
    </div>
    <ul class="listado_acciones_relacionadas">

    </ul>
{% endblock contenido_der %}