{% extends "::layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block javascripts%}
    {{ parent() }}
{% endblock %}
{% block contenido_izq %}
<div id="titulo_content">
    <img src="{{ asset('public/images/'~ item.urlImagen | default('tools1.png') ~ '') }}" class="imagen-titulo-content">
	<h1>Editar Tipo de Documento</h1>
</div>
<span class="campos-requeridos">* Campos requeridos</span>
<div class="body_content">
	<form action="{{ path('admitipodocumento_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }} class="formulario">
		{{ form_widget(edit_form) }}
		<div class="buttons">
			<p>
				<button type="submit" class="button-crud">Editar</button>
				<span class="height20px">
					&oacute;&nbsp;
					<a class="cancel-crud" href="{{ path('admitipodocumento') }}">
						cancelar
					</a>
				</span>
			</p>
		</div>
	</form>
</div>
{% endblock contenido_izq %}
{% block contenido_der %}
	{% if (entity.estado != "Eliminado") %}
		<ul class="form_actions">
			<li>
				<form action="{{ path('admitipodocumento_delete', { 'id': entity.id }) }}" method="post" name="delete_form">
					{{ form_widget(delete_form) }}
					<a class="button-eliminar" href="javascript:document.delete_form.submit();">Eliminar</a>
				</form>
			</li>
		</ul>
		<div class="titulo-acciones-relacionadas">
			Acciones Relacionadas
		</div>
		<ul class="listado_acciones_relacionadas">
			<li>
				<a class="listado_ac_tablas" href="#">
					opcion 1
				</a>
			</li>
			<li>
				<a class="listado_ac_tablas" href="#">
					opcion 2
				</a>
			</li>
			<li>
				<a class="listado_ac_tablas" href="#">
					opcion 3
				</a>
			</li>
		</ul>
	{% endif %}
{% endblock contenido_der %}
