{% extends "::layout.html.twig" %}

{% block javascripts%}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('./bundles/administracion/js/AdmiTipoDocumento/index.js') }}"></script>
{% endblock %}
{% block contenido_izq %}
    
<div id="titulo_content">
    <img src="{{ asset('public/images/'~ item.urlImagen | default('tools1.png') ~ '') }}" class="imagen-titulo-content">
	<h1>Listado de Tipos de Documentos</h1>
</div>
<div class="body_content k-content">
    <table width="100%" cellpadding="1" cellspacing='0'  border='0'>
        <tr>
            <td><div id='filtro'></div></td>
        </tr>	
        <tr>
            <td><div id="grid"></div></td>
        </tr>
    </table> 
</div>
{% endblock contenido_izq %}

{% block contenido_der %}
<div class="acciones_relacionadas">
	{% if is_granted('ROLE_157-2') %}
	<a href="{{ path('admitipodocumento_new') }}" class="button-nuevo-registro">
		<img src="{{ asset('public/images/images_crud/new_plus.png')}}" width="11" height="11" />
		&nbsp;Nuevo Tipo de Documento
	</a>
	{% endif %}
</div>
{% endblock contenido_der %}
