{% extends "::layout_completo.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
   
    <link href="{{ asset('./bundles/soporte/css/InfoCaso.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}
{% block javascripts%}
    {{ parent() }}    
    
	  <script type="text/javascript" src="{{ asset('./bundles/soporte/js/EstadoEnvios/index.js') }}"></script>  
      <script>
          var iconoEjecutando = '<img src="{{ asset('public/images/images_crud/loading19.gif')}}" width="16" height="16" />';
          var verLogEnvio     = "{{verLog}}";                
      </script>
    
{% endblock %}

{% block contenido_central %}    
	<div id="titulo_content">
	    <img src="{{ asset('public/images/'~ item.urlImagen | default('tools1.png') ~ '') }}" class="imagen-titulo-content">
		<h1>Verificacion del Estado de Envios Realizados</h1>
	</div>
	<div class="body_content k-content">
        
        <form action="{{ path('estado_envios_exportar_noEnviados') }}" method="post">
            
            <input type='hidden' name='hid' id='hid' value='' />
        
            <table width="100%" cellpadding="1" cellspacing='0'  border='0'>
                <tr>
                    <td><div id='filtro'></div></td>
                </tr>	
                <tr>
                    <td><div id="grid"></div></td>
                </tr>
            </table> 
            
        </form>	 
        
	</div>
	
{% endblock contenido_central %}
