{% extends "::layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <style scoped="scoped">
        .alineando {
                left: 42em;
                position: absolute;
                top: 44em;
        }
    </style>
{% endblock %}

{% block javascripts%}
    {{ parent() }}
{% endblock %}

{% block contenido_izq %}
    <div id="titulo_content">
		<img src="{{ asset('public/images/'~ item.urlImagen | default('tools1.png') ~ '') }}" class="imagen-titulo-content">
        <h1>Nuevo Tipo Espacio</h1>
    </div>
    <div class="body_content">
        <form id='form_new_tipo_espacio' action="{{ path('admitipoespacio_create') }}" method="post" {{ form_enctype(form) }} class='formulario' novalidate="novalidate" onsubmit="return grabar();">
            {{ form_widget(form) }}
            
            <div class="buttons">
                <p>
                    <input type='submit'class="button-crud" value="Guardar" />
                    <span class="height20px">
                        &oacute;&nbsp;
                        <a class="button-crud" href="{{ path('admitipoespacio') }}">Cancelar</a>
                    </span>
                </p>
            </div>	
        </form>
    </div>
{% endblock contenido_izq %}

{% block javascripts_footer%}
    <script>
        var validatable = $("#form_new_tipo_espacio").kendoValidator().data("kendoValidator");
        function grabar(){
            if (validatable.validate()){
                return true;
            }
            else{
               false; 
            }
        }
    </script>	
{% endblock javascripts_footer%}	