{% extends "::layout.html.twig" %}
{% block javascripts%} {{ parent() }}      
<script>
    var url_formas_contacto_persona               = "{{ path('personaempleado_formas_contacto_grid') }}";
    var url_formas_contacto                       = "{{ path('personaempleado_lista_formas_contacto') }}";
    var urlActualizarPersonaEmpleado              = "{{ path('personaempleado_update', { 'id': personaEmpresaRol.id }) }}";
    var urlEliminarPersonaEmpleado                = "{{ path('personaempleado_delete', { 'id': personaEmpresaRol.id }) }}";
    var urlShow                                   = '{{ path('personaempleado_show', { 'id': personaEmpresaRol.id }) }}';
    var urlIndex                                  = "{{ path('personaempleado')}}";
    var personaid                                 = "{{ personaempleado.id}}";
    var urlBuscarPersonaEmpleadoPorIdentificacion = "{{ path('personaempleado_busca_personas_por_identificacion') }}";
</script>
<script type="text/javascript" src="{{ asset('./bundles/administracion/js/PersonaEmpleado/edit.js') }}"></script>
{% endblock %}

{% block contenido_izq %}
<div id="titulo_content">
    <img src="{{ asset('public/images/'~ item.urlImagen | default('tools1.png') ~ '') }}" class="imagen-titulo-content">
    <h1>Editar Personal Empleado</h1>
</div>
<span class="campos-requeridos">* Campos requeridos</span>
<div class="body_content">
{% if error is defined %}
    <div class="error">{{ error }}</div>
{% endif %}
    <form disabled="disabled" id='form_edit_personaempleado' action="{{ path('personaempleado_show', { 'id': personaEmpresaRol.id }) }}"
          method="post" {{ form_enctype(edit_form) }} class="formulario" 
          {% if personaEmpresaRol.estado == 'Eliminado' %} disabled="disabled" {% endif %}>
        <input type="hidden" id="personaempleadotype_personaid" name="personaempleadotype[personaid]" value="{{personaempleado.id}}" />
        <input type="hidden" id="Estado" value="{{personaEmpresaRol.estado}}" />
        <div id="my-tabs">
            <div id="tab1" class="x-hide-display">
                <table border='0'>
                    <tr><td colspan='4'>&nbsp;</td></tr>
                    <tr>
                        <td>
                            &nbsp;&nbsp;&nbsp;
                        </td> 
                        <td  style="vertical-align: top;">
                            <div>                        
                                <div>{{ form_label(edit_form.tipoIdentificacion) }} {{ form_widget(edit_form.tipoIdentificacion) }}</div>
                                <div>{{ form_label(edit_form.nacionalidad) }} {{ form_widget(edit_form.nacionalidad) }}</div>
                                <div >{{ form_label(edit_form.direccion) }} {{ form_widget(edit_form.direccion) }}</div>
                            </div>
                            <div id='div_nombres_2'>
                                <div>{{ form_label(edit_form.genero) }} {{ form_widget(edit_form.genero) }}</div>
                                <div>{{ form_label(edit_form.estadoCivil) }} {{ form_widget(edit_form.estadoCivil) }}</div>
                            </div>
                        </td>
                        <td>
                            &nbsp;&nbsp;&nbsp;
                        </td>
                        <td style="vertical-align: top;">
                            <div id='diverrorident' class='errormessage' style='display:none'></div>
                            <div>{{ form_label(edit_form.identificacionCliente) }}{{ form_widget(edit_form.identificacionCliente) }}</div>
                            <div id='div_nombres'>
                                <div>{{ form_label(edit_form.nombres) }} {{ form_widget(edit_form.nombres) }}</div>
                                <div>{{ form_label(edit_form.apellidos) }} {{ form_widget(edit_form.apellidos) }}</div>
                                <div>{{ form_label(edit_form.fechaNacimiento) }} {{ form_widget(edit_form.fechaNacimiento) }}</div>
                                <div>{{ form_label(edit_form.tituloId) }} {{ form_widget(edit_form.tituloId) }}</div>
                                <input type='text' style="display: none" id="perEmpRolId" value="{{ personaEmpresaRol.id }}"/>
                                <input type='text' style="display: none" id="personaempleadotype_formas_contacto" required='required' 
                                       name="personaempleadotype[formas_contacto]"/>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <div id="tab2" class="x-hide-display">
                <table border='0' align='center'>
                    <tr><td>&nbsp;</td></tr>
                    <tr>
                        <td>
                            <div id='lista_formas_contacto_grid'></div>       
                        </td>							
                    </tr>   
                </table>            
            </div>
        </div>
        <div id="form_persona_empleado_update" ></div>
    </form>
</div>
{% endblock contenido_izq %}

{% block contenido_der %}
<ul class="form_actions">
    <li>

    </li>
</ul>
<div class="titulo-acciones-relacionadas">
    Acciones Relacionadas
</div>
<ul>
    <div id="form_accionesPersonaEmpleado" />
</ul>
{% endblock contenido_der %}

{% block javascripts_footer%}
    <script type="text/javascript" src="{{ asset('./bundles/administracion/js/PersonaEmpleado/funcionesGenerales.js') }}"></script>	        
{% endblock %}