{% extends "::layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    
    <style scoped="scoped">
		.category-label
		{
			vertical-align: middle;
			padding-right: .5em;
		}
		#category
		{
			vertical-align: middle;
		}
		.toolbar {
			float: right;
			margin-right: .8em;
		}
		.icon_search {
			background-image:url('{{ asset('public/images/images_crud/ver.png') }}') !important;
                }
		.icon_limpiar {
			background-image:url('{{ asset('public/images/images_crud/edit-clear.png') }}') !important;
                } 
		.icon_add {
			background-image:url('{{ asset('public/images/images_crud/plus.png') }}') !important;
                } 
		.icon_delete {
			background-image:url('{{ asset('public/images/images_crud/trash.png') }}') !important;
                }                 
    </style>
{% endblock %}

{% block javascripts%}
    {{ parent() }}
    
    <script>
		var url_store_grid = "{{ path('infoplancaracteristicas_listar_planes') }}";
		var url_estados="{{path('infoplancaracteristicas_lista_estados')}}";
		var url_eliminar="{{path('infoplancaracteristicas_delete_ajax')}}";
	</script>
	<script type="text/javascript" src="{{ asset('bundles/catalogo/js/plan_caracteristica/index.js') }}"></script> 
{% endblock %}

{% block contenido_izq %}
<div id="titulo_content">
    <img src="{{ asset('public/images/'~ item.urlImagen | default('tools1.png') ~ '') }}" class="imagen-titulo-content">
	<h1>Listado de planes</h1>
</div>
<div class="body_content k-content">

    <table width="100%" cellpadding="1" cellspacing='0'  border='0'>
            <tr bgcolor='#ffffff'>
                     <td bgcolor='#ffffff'><div id='filtro_planes'></div></td>
            </tr>	
            <tr bgcolor='#ffffff'>
                     <td bgcolor='#ffffff'><div id='lista_planes'></div></td>
            </tr>

    </table>
</div>
{% endblock contenido_izq %}
                
{% block contenido_der %}

<a class="button-nuevo-registro" href="{{ path('infoplancaracteristicas_new') }}">
	<img src="{{ asset('public/images/images_crud/new_plus.png')}}" width="15" height="15" />
	&nbsp;Nuevo Plan
</a>

{% endblock contenido_der %}
