	<img src="{{asset('public/images/tools1.png')}}" height="50" class="img_titulo">
    <div class="div_titulo_tecnico" id="cambio_plan_masivo">
     Cambio de plan masivo
    </div></br>
	
    <div class="pasos_tecnico">
      <p class="pasos">Paso 1</p>
	</div></br>
	
    <p class="texto_manual">Para realizar esta acción debemos estar dentro del 
	 <em>Módulo técnico</em>, y hacer click en la opción <em>Cambio plan masivo (c)
	 </em>, como resultado se mostrará la siguiente ventana:</p></br>
	
    <div class="img_center">
      <a class="example-image-link" href="{{asset('./bundles/ayuda/img/cambio_plan.jpg')}}"
	  data-lightbox="example-1">
       <img class="example-image" src="{{asset('./bundles/ayuda/img/cambio_plan.jpg')}}"
	   height="150" title="Para visualizar mejor la imagen, dar click"/>
	  </a>
    </div></br>
	
	<p class="texto_manual">Los criterios para consultar el cambio de plan son:
	 </br></br>
	 <p class="texto_manual"><span class="bold">Por Oficina:</span></br>
	 Indica la Oficina o Agencia donde desea realizar
	 el cambio.</br></br>
	 <span class="bold">Por Plan:</span></br>
	 Indica el plan que tiene el cliente.
	 </br></br> 
	 
	 <div class="pasos_tecnico">
      <p class="pasos">Paso 2</p>
	 </div></br> 
	 
	<p class="texto_manual">Una vez seleccionados los clientes que se desea 
	realizar el cambio de plan, seleccionamos el tipo de plan al que
	se va a cambiar y damos click en el botón <em>Cambio Plan</em></p></br>
	
	<div class="img_center">
      <a class="example-image-link" href="{{asset('./bundles/ayuda/img/cambio_plan2.jpg')}}"
	  data-lightbox="example-1">
       <img class="example-image" src="{{asset('./bundles/ayuda/img/cambio_plan2.jpg')}}"
	   height="150" title="Para visualizar mejor la imagen, dar click"/>
	  </a>
    </div></br>
	
	
	