	<img src="{{asset('public/images/com-solcortesia.png')}}" height="50" class="img_titulo">
	<div class="div_titulo_comercial" id="autorizar_contrato">
      Cambio de documento
    </div></br>
	
	<p class="texto_manual">Para solicitar un cambio de documento,
	damos click en el link 	<em>Solicitud cambio de documento</em>,
	se mostrará la siguiente vista:</p></br>
	
	<div class="img_center">
      <a class="example-image-link" href="{{asset('./bundles/ayuda/img/cambio_documento.jpg')}}"
	  data-lightbox="example-1">
      <img class="example-image" src="{{asset('./bundles/ayuda/img/cambio_documento.jpg')}}"
	  height="150"/></a>
	  <p class="zoom">Dar click en la imagen para hacer zoom</p>
    </div></br>
	
	<p class="texto_manual">Seleccionamos el servicio, al cual aplicará el cambio, y el tipo
	de documento, venta, cortesia, demo. Damos click en el icono <em>solicitar</em>. </p></br>
	
	<img src="{{asset('public/images/video.png')}}" height="50" class="img_titulo">		
	<div class="div_titulo_comercial">
      Ver video guía
    </div></br>

    <p class="texto_manual">En el siguiente video se muestra el proceso de como 
	solicitar un descuento.</p></br>

    <div class="img_center">
      <video src="{{asset('./bundles/ayuda/videos/cambio_documento.mp4')}}" width="400" height="308" controls></video>
    </div>