    
	<img src="{{asset('public/images/order.png')}}" height="50" class="img_titulo"/></br>
    <div class="div_titulo_comercial" id="orden_trabajo">
      Orden de trabajo
    </div></br>
	
    <p class="texto_manual">En esta sección, se encuentra un listado de ordenes de trabajo.</p></br>
	 
    <div class="img_center">
      <a class="example-image-link" href="{{asset('./bundles/ayuda/img/listado_orden_trabajo.jpg')}}"
	  data-lightbox="example-1">
      <img class="example-image" src="{{asset('./bundles/ayuda/img/listado_orden_trabajo_thumb.jpg')}}"
	  height="150"/></a>
	  <p class="zoom">Dar click en la imagen para hacer zoom</p>
    </div></br>
	
    <p class="texto_manual">En esta sección se puede realizar las siguientes opciones: <em> - Ver</em>
     <em> - Editar</em><em> - Eliminar</em><em> - Solicitar planificación</em></p></br>
	 
	 <img src="{{asset('public/images/images_crud/search.png')}}" align="left">
	 <p class="texto_manual"><span class="bold">Ver -></span> Muestra la información
	 de la orden de trabajo.</p>
	 <img src="{{asset('public/images/images_crud/pencil.png')}}" align="left">
	 <p class="texto_manual"><span class="bold">Editar -></span> Permite editar la
	 orden de rabajo.</p>
	 <img src="{{asset('public/images/images_crud/trash_c.png')}}" align="left">
	 <p class="texto_manual"><span class="bold">Eliminar -></span> Elimina el registro
	 de la orden de trabajo.</p>
	 <img src="{{asset('public/images/images_crud/calendario1.jpg')}}" align="left">
	 <p class="texto_manual"><span class="bold">Solicitar planificación -></span> Ingresa
	 detalles de la solicitud.</p></br>
	 