    <img src="{{asset('public/images/users.png')}}" height="50" class="img_titulo2">	
	
	<div class="div_titulo_comercial">
      ¿Qué es un prospecto?
    </div></br>
	
    <p class="texto_manual">Prospecto, se denomina a todas aquellas 
	personas que pueden llegar a ser clientes. Alguien en quien la
	compañia pone todo su esfuerzo para convertirlo en cliente.
    </p></br>
	
    <div class="div_titulo_comercial">
      ¿Por qué prospecto?
    </div></br>
	
    <p class="texto_manual">Una persona debe pasar por un proceso de
	registro, en el cual se ingresan datos del postulante, y a su vez,
	verificar la cobertura. Una vez que todos los datos esten confirmados
	y se llegue a firmar contarto, entonces el prospecto
	 pasa al estado de CLIENTE.
    </p></br>
  
    <div class="div_titulo_comercial">
      Crear un nuevo prospecto
    </div></br>
	
	<div class="pasos_comercial">
	  <p class="pasos">Paso 1</p>
	</div></br>
	
    <p class="texto_manual">Una vez ingresado al módulo comercial,
	ingresamos al menu PROSPECTOS. Como resultado se obtendrá una 
	vista donde se muestra un listado de los prospectos con sus 
	respectivos estados (a), <em>Pendiente</em> - <em>Activo</em> - 
	<em>Convertido.</em>
    </p></br>
	
	<!------Imagen de la sección listado de prospectos (módulo comercial)------->
	<!-------------------------------------------------------------------------->
    <div class="img_center">
      <a class="example-image-link" href="{{asset('./bundles/ayuda/img/listado_prospecto.jpg')}}"
	  data-lightbox="example-1">
       <img class="example-image" src="{{asset('./bundles/ayuda/img/listado_prospecto_thumb.jpg')}}"
	   height="150"/></a>
	   <p class="zoom">Dar click en la imagen para hacer zoom</p>
    </div></br>
	<!-------------------------------------------------------------------------->
	
    <div class="pasos_comercial">
	  <p class="pasos">Paso 2</p>
	</div></br>
	
    <p class="texto_manual">En la parte superior derecha de la vista, se encuentra 
	el botón para crear un nuevo propsecto (b). Al ejecutar esta acción, nos
	presentará la siguiente vista.
    </p></br>
	
	<!----------Imagen de la sección nuevo prospecto (módulo comercial)---------->
	<!--------------------------------------------------------------------------->
    <div class="img_center">
      <a class="example-image-link" href="{{asset('./bundles/ayuda/img/nuevo_prospecto2.jpg')}}" 
	  data-lightbox="example-1">
      <img class="example-image" src="{{asset('./bundles/ayuda/img/nuevo_prospecto2.jpg')}}"
	  height="150"/></a>
	  <p class="zoom">Dar click en la imagen para hacer zoom</p>
    </div></br>
	<!--------------------------------------------------------------------------->
  
    <p class="texto_manual">Aquí se nos muestra una ventana contenedora (c), con dos pestañas,
	<em>Datos personales</em> (d) y <em>Formas de contacto</em> (e).</p></br>
		
	<p class="texto_manual"><span class="bold">Datos personales</span></br>
	 - Llenamos todos los campos requeridos. Si es una persona natural, en el combox
	 <em>Tipo Empresa</em>, no seleccionamos ninguna opción, de lo contrario seleccionar
	 la respectiva.</p></br></br>
	 
	 <div class="img_center">
      <img class="example-image" src="{{asset('./bundles/ayuda/img/tipo_empresa.jpg')}}"
	  height="80"/></a>
     </div></br>
	
	 <p class="texto_manual">- Al ingresar la identificación, el sistema verifica
	 la existencia o no del mismo.</p></br></br>
	 
	 <div class="img_center">
      <img class="example-image" src="{{asset('./bundles/ayuda/img/identificacion.jpg')}}"
	  height="35"/></a>
     </div></br>
	
	 <p class="texto_manual">- Si el prospecto es referido por algún otro 
	 cliente, se lo asigna. (con el icono de la lupa podemos consultar).</p></br></br>
	
	<div class="img_center">
      <img class="example-image" src="{{asset('./bundles/ayuda/img/referidos.jpg')}}"
	  height="45"/></a>
     </div></br>
	 
	 <p class="texto_manual">- Seleccionamos la forma de pago, esta puede ser en 
	 Efectivo, Cheque, Recaudacion, Cuenta bancaria y Transferencia. Teniendo
	 en cuenta que para la opción Cuenta bancaria y Transferencia deberá seleccionar
	 el Tipo de cuenta y el Banco.</p></br></br>
	 
	 
	
	<div class="img_center">
      <img class="example-image" src="{{asset('./bundles/ayuda/img/forma_pago.jpg')}}"
	  height="100"/></a>
     </div></br>
	 
	 <p class="texto_manual">Teniendo en cuenta que para la opción Cuenta bancaria
	 y Transferencia deberá seleccionar el Tipo de cuenta y el Banco.</p></br></br>
	 
	 <div class="img_center">
      <img class="example-image" src="{{asset('./bundles/ayuda/img/tipo_cuenta.jpg')}}"
	  height="150"/></a>
     </div></br>
	 
	 
	 <p class="texto_manual"><span class="bold">Formas de contacto</span></br>
	
	 - Damos click, en la opción <em>Agregar</em>,luego, en el combox <em>Forma de 
	 contacto</em>, seleccionamos la via mas factible de comunicación, entre ellas:
	 número de teléfono, correo electrónico, etc.</br></br>
	 
	 <div class="img_center">
      <a class="example-image-link" href="{{asset('./bundles/ayuda/img/forma_contacto.jpg')}}"
	  data-lightbox="example-1">
      <img class="example-image" src="{{asset('./bundles/ayuda/img/forma_contacto.jpg')}}"
	  height="150"/></a>
    <p class="zoom">Dar click en la imagen para hacer zoom</p>
	</div></br>

	 <p class="texto_manual">- Una vez seleccionado la forma de contacto,
	 hacemos doble click en el grid que se encuentra junto, llenamos con 
	 el dato correspondiente. Hay que ingresar por 
	 lo menos una forma de contacto, de preferible un correo electrónico.</p></br>
	
	<div class="pasos_comercial">
	  <p class="pasos">Paso 3</p>
	</div></br>
	
	<p class="texto_manual">Una vez ingresado y verificado todos los datos,
	hacemos click en el botón <em> Guardar</em>, y se nos genera una vista
	con la información del prospecto.</p></br>
	
	<!----------Imagen de la sección guardar prospecto (módulo comercial)---------->
	<!----------------------------------------------------------------------------->
	<div class="img_center">
      <a class="example-image-link" href="{{asset('./bundles/ayuda/img/guardar_prospecto3.jpg')}}"
	  data-lightbox="example-1">
      <img class="example-image" src="{{asset('./bundles/ayuda/img/guardar_prospecto3.jpg')}}"
	  height="150"/></a>
	  <p class="zoom">Dar click en la imagen para hacer zoom</p>
    </div></br>
	<!----------------------------------------------------------------------------->
	
	<div id="nota_comercial">
	<img src="{{asset('./bundles/ayuda/img/nota.png')}}" height="30"align="left"/>
      <p class="texto_nota">Conforme vaya creando acciones al prospecto, se genera 
	   una barra de acceso directo en la parte inferior del sistema.
	   </p>
	 </div></br></br>
	 
	 <p class="texto_manual"><span class="bold">Barra de acceso directo:</span></p></br>
	 <div class="img_center">
      <a class="example-image-link" href="{{asset('./bundles/ayuda/img/barra_navegador_thumb.jpg')}}"
	  data-lightbox="example-1">
      <img class="example-image" src="{{asset('./bundles/ayuda/img/barra_navegador.jpg')}}"
	  height="100"/></a>
	  <p class="zoom">Dar click en la imagen para hacer zoom</p>
    </div></br></br>
	 
	 <img src="{{asset('public/images/video.png')}}" height="50" class="img_titulo">	
    <div class="div_titulo_comercial">
      Video guía
    </div></br>
	
    <p class="texto_manual">En el siguiente video se puede apreciar la creación
	de un nuevo prospecto, con los pasos anteriormente descritos.</p>
  
    <div class="img_center">
      <video src="{{asset('./bundles/ayuda/videos/crear_prospecto.mp4')}}" width="400"
	  height="308" controls></video>
    </div></br>
	
	<p class="texto_manual">Una vez creado el prospecto, debemos crear un 
	punto y agregar el o los servicios, a dicho prospecto. Esto lo podemos 
	revisar en el siguiente link.</p>
	
	
    <div class="submenu_modulos">
      <ul>
        <li><a href="#prospecto" id="link_nuevo_punto">Nuevo punto / Agregar servicio >></a></li>
      </ul>
    </div>
	
   		
	<!--Script que carga el contenido del nuevo punto (modulo comercial)-->
    <!-------------------------------------------------------------------->
    <script>
       
	   $('#link_nuevo_punto').click(function(){
	      $("#load_comercial").css("display", "inline");
          $("#contenido_prospecto").empty();
		  $('#contenido_prospecto').load('{{ path('comercial_nuevo_punto') }}', function(){
		  $("#load_comercial").css("display", "none");});
       });
	          
    </script>	
	<!-------------------------------------------------------------------->