
<!-------------Imagen del icono prospecto (modulo comercial)------------>
<!---------------------------------------------------------------------->
<img src="{{asset('public/images/tools1.png')}}" height="50" class="img_titulo2"/></br>
<!---------------------------------------------------------------------->
    <div class="div_titulo_comercial">
	  ¿Que es un punto?
	</div></br>
	<p class="texto_manual">Ubicación geográfica donde se ingresa el servicio o 
	producto que el Cliente requiera.

	</p></br>

	<div class="div_titulo_comercial">
      Crear nuevo punto
    </div></br>
	
    <div class="pasos_comercial">
	  <p class="pasos">Paso 1</p>
	</div></br>
	
    <p class="texto_manual">Desde la vista del prospecto, hacemos click en
	la opción <em>Nuevo punto</em>,     que se encuentra en la parte 
	superior derecha  (f), en la sección <em>Acciones
    realizadas</em>.</p>

	<!---------imagen de la seccion nuevo punto (modulo comercial)--------->
    <!--------------------------------------------------------------------->
	<div class="img_center">
      <a class="example-image-link" href="{{asset('./bundles/ayuda/img/comercial_nuevo_punto.jpg')}}"
	  data-lightbox="example-1">
       <img class="example-image" src="{{asset('./bundles/ayuda/img/comercial_nuevo_punto_thumb.jpg')}}"
	   height="150"/></a>
	   <p class="zoom">Dar click en la imagen para hacer zoom</p>
    </div></br>
	<!--------------------------------------------------------------------->
    
	<div class="pasos_comercial">
	  <p class="pasos">Paso 2</p>
	</div></br>
    
	<p class="texto_manual">Nos mostrará la siguiente vista:</p>
 
    <!---------imagen de la seccion nuevo punto (modulo comercial)--------->
    <!--------------------------------------------------------------------->
    <div class="img_center">
      <a class="example-image-link" href="{{asset('./bundles/ayuda/img/nuevo_punto.jpg')}}"
	  data-lightbox="example-1">
       <img class="example-image" src="{{asset('./bundles/ayuda/img/nuevo_punto_thumb.jpg')}}"
	   height="150"/></a>
	   <p class="zoom">Dar click en la imagen para hacer zoom</p>
    </div></br>
	<!--------------------------------------------------------------------->

    <p class="texto_manual"><span class="bold">Nuevo punto de prospecto</span></br>
	- Llenamos todos los campos solicitados, recordemos que los campos 	que tienen *
	son obligatorios.</br>
	
     - Hay que notar que el campo <em>Login</em>, se genera automaticamente, luego de
     llenar los campos <em>Ptos. Cobertura</em> y <em>Cantón.</em></br>
	 
	 - En el campo referencia, se debe llenar con información precisa del lugar.</br>
	 
	 - En el campo <em>Croquis</em> subimos una imagen indicando como llegar al lugar.</br>
	 
	 - Para ingresar las coordenadas de <em>Latitud</em> y <em>Longitud</em>,
     damos click en el icono de google maps que se encuentra junto.</p></br>
	
	<div class="pasos_comercial">
	  <p class="pasos">Paso 3</p>
	</div></br>
    
	<p class="texto_manual">Una vez llenado todos los campos, damos click en guardar, y el punto es creado,
     como se muestra en la siguiente imagen</p>

	<!---------imagen de la seccion punto creado (modulo comercial)---------->
    <!----------------------------------------------------------------------->
    <div class="img_center">
      <a class="example-image-link" href="{{asset('./bundles/ayuda/img/nuevo_punto_creado.jpg')}}"
	  data-lightbox="example-1">
       <img class="example-image" src="{{asset('./bundles/ayuda/img/nuevo_punto_creado_thumb.jpg')}}"
	   height="150"/></a>
	   <p class="zoom">Dar click en la imagen para hacer zoom</p>
    </div></br>
	<!----------------------------------------------------------------------->
	<p class="texto_manual"><spam class="bold">Barra de acceso directo:</spam></p></br>
	<div class="img_center">
      <a class="example-image-link" href="{{asset('./bundles/ayuda/img/barra_navegador2.jpg')}}"
	  data-lightbox="example-1">
       <img class="example-image" src="{{asset('./bundles/ayuda/img/barra_navegador2.jpg')}}"
	   height="100"/></a>
	   <p class="zoom">Dar click en la imagen para hacer zoom</p>
    </div></br></br>
	
	<img src="{{asset('public/images/video.png')}}" height="50" class="img_titulo">	
	<div class="div_titulo_comercial">
      Ver video guía
    </div></br>

    <p class="texto_manual">En el siguiente video se puede apreciar como
	se crea un nuevo punto</p></br>

    <div class="img_center">
      <video src="{{asset('./bundles/ayuda/videos/crear_punto.mp4')}}" width="400" height="308" controls></video>
    </div>
	
	<img src="{{asset('public/images/tools1.png')}}" height="50" class="img_titulo"/></br>
	
    <div class="div_titulo_comercial">
      Agregar servicio
    </div></br>
    
	<div class="pasos_comercial">
	  <p class="pasos">Paso 1</p>
	</div></br>
    
	<p class="texto_manual">Desde la vista del punto. se procede a agregar
	servicios, Vamos al icono de la lupa que se encuentra en el punto que
	se creó, y damos click.</br></br>Se mostrará
    la siguiente vista: </p>
	
	<!---------imagen de la seccion punto prospecto (modulo comercial)--------->
    <!------------------------------------------------------------------------->
    <div class="img_center">
      <a class="example-image-link" href="{{asset('./bundles/ayuda/img/ver_punto_prospecto.jpg')}}"
	  data-lightbox="example-1">
       <img class="example-image" src="{{asset('./bundles/ayuda/img/ver_punto_prospecto_thumb.jpg')}}"
	   height="150"/></a>
	   <p class="zoom">Dar click en la imagen para hacer zoom</p>
    </div></br>
   <!-------------------------------------------------------------------------->
    <div class="pasos_comercial">
	  <p class="pasos">Paso 2</p>
    </div></br>
    
    <p class="texto_manual">Damos click en la opción <em>Agregar servicio</em>, 
	que se encuentra en la parte derecha, en la sección <em>Acciones realizadas</em>
	(g), nos mostrará la siguiente vista:</p></br>

	<!---------imagen de la seccion nuevo servico (modulo comercial)--------->
    <!----------------------------------------------------------------------->
    <div class="img_center">
      <a class="example-image-link" href="{{asset('./bundles/ayuda/img/nuevo_servicio.jpg')}}"
	  data-lightbox="example-1">
       <img class="example-image" src="{{asset('./bundles/ayuda/img/nuevo_servicio_thumb.jpg')}}"
	   height="150"/></a>
	   <p class="zoom">Dar click en la imagen para hacer zoom</p>
    </div></br>
    <!----------------------------------------------------------------------->
    <div class="pasos_comercial">
      <p class="pasos">Paso 3</p>
    </div></br>
    
    <p class="texto_manual">En esta ventana se puede ver información del cliente (h),
     el servicio requerido (i), si es paquete o individual (j) y el listado de los
	 servicios (k).</br></br> Llenamos los campos requeridos según el servicio a
	 ingresar, una vez que tenemos ingresado los valores correctamente, damos
	 click en <em>Agregar</em>, y el servicio será agregado como se muestra en
	 la siguiente imagen:
    </p></br>

	<!---------imagen de la seccion agregar servicio (modulo comercial)--------->
    <!-------------------------------------------------------------------------->
    <div class="img_center">
      <a class="example-image-link" href="{{asset('./bundles/ayuda/img/agregar_servicio.jpg')}}"
	  data-lightbox="example-1">
       <img class="example-image" src="{{asset('./bundles/ayuda/img/agregar_servicio_thumb.jpg')}}"
	   height="150"/></a>
	   <p class="zoom">Dar click en la imagen para hacer zoom</p>
    </div></br>
	<!-------------------------------------------------------------------------->
    
    <div class="pasos_comercial">
      <p class="pasos">Paso 4</p>
    </div></br>
    
    <p class="texto_manual">Una vez agregado el o los servicios, damos click en 
	<em>guardar</em>, y se mostrará la siguiente vista, con el servicio agregado,
	con tres acciones: <em>Ver historial de servicio</em>, <em>Eliminar servicio</em>,
	<em>Solicitud de factibilidad</em>.</p></br>
	
	<!---------imagen de la seccion servicio agregado (modulo comercial)--------->
    <!--------------------------------------------------------------------------->
    <div class="img_center">
      <a class="example-image-link" href="{{asset('./bundles/ayuda/img/servicio_agregado.jpg')}}"
	  data-lightbox="example-1">
       <img class="example-image" src="{{asset('./bundles/ayuda/img/servicio_agregado.jpg')}}"
	   height="150"/></a>
	   <p class="zoom">Dar click en la imagen para hacer zoom</p>
    </div></br>
	<!--------------------------------------------------------------------------->
	    	
    <p class="texto_manual">Damos click en el icono de <em>Solicitar factibilidad</em>.</p>
	
		
    <div id="nota_comercial">
      <img src="{{asset('./bundles/ayuda/img/nota.png')}}" height="30"align="left"/>
       <p class="texto_nota">Al solicitar factibilidad, Se crea una solicitud de factibilidad,
	   que deberá ser aprobada para poder seguir con el proceso.
	   </p>
    </div></br>
	
	<p class="texto_manual"><spam class="bold">Barra de acceso directo:</spam></p></br>
	<div class="img_center">
      <a class="example-image-link" href="{{asset('./bundles/ayuda/img/barra_navegador3_thumb.jpg')}}"
	  data-lightbox="example-1">
       <img class="example-image" src="{{asset('./bundles/ayuda/img/barra_navegador3.jpg')}}"
	   height="80"/></a>
	   <p class="zoom">Dar click en la imagen para hacer zoom</p>
    </div></br></br>
    
	<img src="{{asset('public/images/video.png')}}" height="50" class="img_titulo">	
    <div class="div_titulo_comercial">
      Ver video guía
    </div></br>

    <p class="texto_manual">En el siguiente video se puede apreciar como agrega 
	servicios al punto.</p></br>

    <div class="img_center">
      <video src="{{asset('./bundles/ayuda/videos/asignar_servicio.mp4')}}" width="400" height="308" controls></video>
    </div>
	
	<p class="texto_manual">Una vez agregado el o los servicos, debemos crear un contrato y 
	convertir a cliente, esto lo podemos visualizar en el siguiente link.</p>
	
	<div class="submenu_modulos">
      <ul>
	    <li><a href="#prospecto" id='crear_prospecto'><< Crear Prospecto |</a></li>
        <li><a href="#prospecto" id='crear_contrato'>| Crear Contrato / Convertir a cliente >></a></li>
     
	 </ul>
    </div>
	<!------------------------------------------------------------------------------------------------------------>
   		
	<!--Script que carga el contenido del nuevo punto (modulo comercial)-->
    <!-------------------------------------------------------------------->
    <script>
       
	   $('#crear_contrato').click(function(){
		  $("#load_comercial").css("display", "inline");
          $("#contenido_prospecto").empty();
		  $('#contenido_prospecto').load('{{ path('comercial_crear_contrato') }}', function(){
			$("#load_comercial").css("display", "none");});
       });
	   $('#crear_prospecto').click(function(){
          $("#load_comercial").css("display", "inline");
		  $("#contenido_prospecto").empty();
		  $('#contenido_prospecto').load('{{ path('comercial_prospecto') }}', function(){
			$("#load_comercial").css("display", "none");});
       });
       
    </script>	