    <img src="{{asset('public/images/clients.png')}}" height="50" class="img_titulo2">
	
    <div class="div_titulo_comercial">
      ¿Quién es un cliente?
    </div></br>
  
    <p class="texto_manual">Un CLIENTE, es considerado aquel prospecto que ha seguido todo
	 el flujo del Sistema y finalmente se ha convertido en Cliente.
	 
    </p></br>
  
    	
	<div class="div_titulo_comercial">
      ¿Cómo visualizar un cliente?
    </div></br>

    <p class="texto_manual">Estamos en el módulo comercial, damos click en el icono Clientes, y nos 
	 aparecerá la siguiente ventana</p></br>

	<!------Imagen de la sección listado de clientes (módulo comercial)------>
	<!----------------------------------------------------------------------->
    <div class="img_center">
      <a class="example-image-link" href="{{asset('./bundles/ayuda/img/listado_clientes.jpg')}}"
	  data-lightbox="example-1">
       <img class="example-image" src="{{asset('bundles/ayuda/img/listado_clientes_thumb.jpg')}}"
	   height="150"/></a>
	   <p class="zoom">Dar click en la imagen para hacer zoom</p>
    </div></br>
	<!------------------------------------------------------------>
  
     <p class="texto_manual">En esta ventana Ud. puede visualizar una lista de clientes, con las 
	  respectivas acciones que se pueden ejecutar, <em>Ver</em> - <em>Editar</em>
	  - <em>Actualizar dirección tributaria.</em>
     </p></br>
		
	
	
	<img src="{{asset('public/images/video.png')}}" height="50" class="img_titulo">	
	<div class="div_titulo_comercial">
      Ver video guía
    </div></br>
	
	<p class="texto_manual">En el siguiente video se muestra las acciones que se pueden
	realizar a un cliente.</p></br>
	
	<div class="img_center">
      <video src="{{asset('./bundles/ayuda/videos/cliente.mp4')}}" width="400"
             height="308" controls></video>
    </div></br>
	
	<div class="div_titulo_comercial">
      Reubicación / Traslado
    </div></br>
	
	<p class="bold">Reubicación:</p>
	<p class="texto_manual">Cuando el cliente pide un cambio del enlace en la misma 
	dirección.</p>
	
	<img src="{{asset('./bundles/ayuda/img/descarga.png')}}" height="40" class="descarga">
	<div class="div_descarga_comercial" >
	  <a href="{{asset('./bundles/ayuda/archivos/ProcesoReubicaciónInternaTELCOS+.pdf')}}" target="_blank">Descargar Proceso: Reubicación</a>
    </div></br>
	
		
	<p class="bold">Traslado:</p>
	<p class="texto_manual">Cuando el cliente pide un cambio del enlace en otra 
	dirección.</p>
	
	<img src="{{asset('./bundles/ayuda/img/descarga.png')}}" height="40" class="descarga">
	<div class="div_descarga_comercial" >
	  <a href="{{asset('./bundles/ayuda/archivos/ProcesoTrasladosTELCOS+.pdf')}}" target="_blank">Descargar Proceso: Traslado</a>
    </div></br></br></br>
	
	<div class="div_titulo_comercial">
      ¿Cómo hacer una reubicación?
    </div></br>
	<p class="texto_manual">Se debe generar una nueva orden de trabajo de tipo
	reubicación, y el servicio pasara a un estado preplanificado.</br></br>
	A continuación se presenta los pasos para realizar una reubicación de servicio.
	</p></br>
	
	<div class="pasos_comercial">
	  <p class="pasos">Paso 1</p>
	</div></br>
	
	<p class="texto_manual">Seleccionamos al cliente que vamos a realizar la reubicación.</p></br>
	
	<div class="img_center">
      <a class="example-image-link" href="{{asset('./bundles/ayuda/img/seleccion_cliente.jpg')}}"
	  data-lightbox="example-1">
      <img class="example-image" src="{{asset('./bundles/ayuda/img/seleccion_cliente.jpg')}}"
	  height="150"/></a>
	  <p class="zoom">Dar click en la imagen para hacer zoom</p>
    </div></br>
	
	<div class="pasos_comercial">
	  <p class="pasos">Paso 2</p>
	</div></br>
	
	<p class="texto_manual">Ingresamos al punto del cliente.</p></br>
	
	<div class="img_center">
      <a class="example-image-link" href="{{asset('./bundles/ayuda/img/cliente_seleccionado.jpg')}}"
	  data-lightbox="example-1">
      <img class="example-image" src="{{asset('./bundles/ayuda/img/cliente_seleccionado.jpg')}}"
	  height="150"/></a>
	  <p class="zoom">Dar click en la imagen para hacer zoom</p></br>
	  
    
	</div></br>
	<div class="pasos_comercial">
	  <p class="pasos">Paso 3</p>
	</div>  
	
	<p class="texto_manual">Cuando estemos en el punto del cliente, nos dirigimos a 
	la sección <em>Acciones relacionadas</em>, y damos click en la opción 
	<em>Nueva orden de trabajo</em></p></br>
	
	<div class="img_center">
      <a class="example-image-link" href="{{asset('./bundles/ayuda/img/reubicacion.jpg')}}"
	  data-lightbox="example-1">
      <img class="example-image" src="{{asset('./bundles/ayuda/img/reubicacion.jpg')}}"
	  height="150"/></a>
	  <p class="zoom">Dar click en la imagen para hacer zoom</p>
    </div></br>	
	
	<div class="pasos_comercial">
	  <p class="pasos">Paso 4</p>
	</div></br>
	
	<p class="texto_manual">Al ejecutar esta acción, nos llevara a una ventana ya conocida,
	que es la de generar orden de trabajo. En el tipo de orden, seleccionamos
	la opción <em>Reubicación</em></p></br>
	
	<div class="img_center">
      <a class="example-image-link" href="{{asset('./bundles/ayuda/img/nueva_orden_reubicacion.jpg')}}"
	  data-lightbox="example-1">
      <img class="example-image" src="{{asset('./bundles/ayuda/img/nueva_orden_reubicacion.jpg')}}"
	  height="150"/></a>
	  <p class="zoom">Dar click en la imagen para hacer zoom</p>
    </div></br>
	
	<p class="texto_manual">Al escoger la opción <em>Reubicación</em>, se nos cargará el 
	servico que esta activo actualmente, lo seleccionamos y damos click en el botón
	<em>Guardar OT</em>, que se encuentra en la parte derecha.</p></br>
	
	<div class="img_center">
      <a class="example-image-link" href="{{asset('./bundles/ayuda/img/info_servicios.jpg')}}"
	  data-lightbox="example-1">
      <img class="example-image" src="{{asset('./bundles/ayuda/img/info_servicios.jpg')}}"
	  height="150"/></a>
	  <p class="zoom">Dar click en la imagen para hacer zoom</p>
    </div></br>
	
		
	<img src="{{asset('public/images/video.png')}}" height="50" class="img_titulo">	
	<div class="div_titulo_comercial">
      Ver video guía
    </div></br>
	
	<p class="texto_manual">En el siguiente video se muestra como realizar una
	reubicación, mediante los pasos anteriormente mencionados.</p></br>
	 </p></br>
	
	
	<div class="img_center">
      <video src="{{asset('./bundles/ayuda/videos/cliente.mp4')}}" width="400"
             height="308" controls></video>
    </div></br>
	
	<div class="div_titulo_comercial">
      ¿Cómo hacer un Traslado?
    </div></br>
	<p class="texto_manual">Se debe crear un nuevo punto, con los datos a donde
	se moverá el servicio.</br></br>
	A continuación se presenta los pasos para realizar una reubicación de servicio.
	</p></br>
	
	<div class="pasos_comercial">
	  <p class="pasos">Paso 1</p>
	</div></br>
			
	<p class="texto_manual">Seleccionamos al cliente, y creamos un nuevo punto.</p></br>
	
	<div id="nota_comercial">
	 <img src="{{asset('./bundles/ayuda/img/nota.png')}}" height="30"align="left"/>
		
		<p class="texto_nota">Para crear un nuevo punto, podemos revisar en la sección
		Prospecto - Crear nuevo prospecto.
		</p>
	       
    </div></br>
	
	<div class="pasos_comercial">
	  <p class="pasos">Paso 2</p>
	</div></br>
			
	<p class="texto_manual">Una vez creado el nuevo punto, ingresamos al login creado y
	damos click en la opción <em>Trasladar servicio</em>, que se encuentra en la sección
	Acciones Relacionadas.</p></br>
	
	<div class="img_center">
      <a class="example-image-link" href="{{asset('./bundles/ayuda/img/traslado2.jpg')}}"
	  data-lightbox="example-1">
      <img class="example-image" src="{{asset('./bundles/ayuda/img/traslado2.jpg')}}"
	  height="150"/></a>
	  <p class="zoom">Dar click en la imagen para hacer zoom</p>
    </div></br>
	
	<div class="pasos_comercial">
	  <p class="pasos">Paso 3</p>
	</div></br>
			
	<p class="texto_manual">En la siguiente ventana, seleccionamos el
	antiguo punto o Login el cual queremos trasladar. Automaticamente 
	se carga los servicios existentes en ese punto. </p></br>
	
	<div class="img_center">
      <a class="example-image-link" href="{{asset('./bundles/ayuda/img/traslado.jpg')}}"
	  data-lightbox="example-1">
      <img class="example-image" src="{{asset('./bundles/ayuda/img/traslado.jpg')}}"
	  height="150"/></a>
	  <p class="zoom">Dar click en la imagen para hacer zoom</p>
    </div></br>
	
	<p class="texto_manual">Damos click en el botón <em>Guardar</em>. y se crea
	una orden de trabajo, el estado del servicio queda como pre-planificado.</p></br>
	
	<img src="{{asset('public/images/video.png')}}" height="50" class="img_titulo">	
	
	<div class="div_titulo_comercial">
      Ver video guía
    </div></br>
	
	<p class="texto_manual">En el siguiente video se muestra como realizar un
	traslado, mediante los pasos anteriormente mencionados.</p></br>
	
	<div class="img_center">
      <video src="{{asset('./bundles/ayuda/videos/traslado.mp4')}}" width="400"
             height="308" controls></video>
    </div></br>	
	
	<div class="div_titulo_comercial">
      Cambio de Razón Social
    </div></br>
	<p class="texto_manual">Para poder realizar un cambio de razón social,
	el cliente no debe tener ningún tipo de deuda.</p>
	
	<img src="{{asset('./bundles/ayuda/img/descarga.png')}}" height="40" class="descarga">
	<div class="div_descarga_comercial" >
	  <a href="{{asset('./bundles/ayuda/archivos/ProcesoCambiodeRazonSocialTELCOS+.pdf')}}" target="_blank">Descargar Proceso: Cambio Razón Social</a>
    </div></br>
	
	<div class="pasos_comercial">
	  <p class="pasos">Paso 1</p>
	</div></br>
	
	<p class="texto_manual">Dentro del módulo comercial, buscamos al cliente al que
	se le realizará el cambio de razon social.</p></br>
	
	<div class="img_center">
      <a class="example-image-link" href="{{asset('./bundles/ayuda/img/razon_social.jpg')}}"
	  data-lightbox="example-1">
      <img class="example-image" src="{{asset('./bundles/ayuda/img/razon_social.jpg')}}"
	  height="180"/></a>
	  <p class="zoom">Dar click en la imagen para hacer zoom</p>
    </div></br>
	
	<p class="texto_manual">Damos click en el icono de la lupa para iniciar sesión
	en el cliente seleccionado.</p></br>
	
	<div class="pasos_comercial">
	  <p class="pasos">Paso 2</p>
	</div></br>
	
	<p class="texto_manual">Una vez ingresado en el cliente, nos dirigimos a la opción
	Cambio de Razón Social, ubicado en la parte superior derecha.</p></br>
	
	<div class="img_center">
      <a class="example-image-link" href="{{asset('./bundles/ayuda/img/razon_social2.jpg')}}"
	  data-lightbox="example-1">
      <img class="example-image" src="{{asset('./bundles/ayuda/img/razon_social2.jpg')}}"
	  height="180"/></a>
	  <p class="zoom">Dar click en la imagen para hacer zoom</p>
    </div></br>
	
	<div class="pasos_comercial">
	  <p class="pasos">Paso 3</p>
	</div></br>
	
	<p class="texto_manual">En la vista que se nos muestra, llenamos todos los campos
	que requiere el cambio de razón social y damos click en el botón Guardar.</p></br>
	
	<div class="img_center">
      <a class="example-image-link" href="{{asset('./bundles/ayuda/img/razon_social3.jpg')}}"
	  data-lightbox="example-1">
      <img class="example-image" src="{{asset('./bundles/ayuda/img/razon_social3.jpg')}}"
	  height="180"/></a>
	  <p class="zoom">Dar click en la imagen para hacer zoom</p>
    </div></br>