    
	<img src="{{asset('public/images/com-aprobarcontrato2.png')}}" height="50" class="img_titulo" /></br>
	<div class="div_titulo_comercial" id="autorizar_contrato">
      Autorizar contrato
    </div></br>
	
	<p class="texto_manual">Para ir a la opcion de aprobar contrato,
	damos click en el link 	<em>Autorizar contrato</em>, se mostrará la siguiente vista:</p></br>
	
	<div class="img_center">
      <a class="example-image-link" href="{{asset('./bundles/ayuda/img/aprobar_contrato.jpg')}}"
	  data-lightbox="example-1">
       <img class="example-image" src="{{asset('./bundles/ayuda/img/aprobar_contrato.jpg')}}"
	   height="150"/></a>
	   <p class="zoom">Dar click en la imagen para hacer zoom</p>
    </div></br>
	
	<p class="texto_manual">Buscamos al cliente al que queremos aprobar el contrato, y damos click
	en la opción <em>Aprobar<em>. Luego se nos mostrará el siguiente mensaje:</p></br>
	
	<div class="img_center">
      
       <img class="example-image" src="{{asset('./bundles/ayuda/img/mensaje_contrato.jpg')}}" height="100"/>
	 
    </div></br>
	
	<p class="texto_manual">Si estamos de acuerdo, aprobamos.</p></br>
	<img src="{{asset('public/images/video.png')}}" height="50" class="img_titulo">	
	<div class="div_titulo_comercial">
      Ver video guía
    </div></br>

    <p class="texto_manual">En el siguiente video se muestra el proceso de como aprobar un contrato.</p></br>

    <div class="img_center">
      <video src="{{asset('./bundles/ayuda/videos/aprobar_contrato.mp4')}}" width="400" height="308" controls></video>
    </div>