    <img src="{{asset('public/images/tools1.png')}}" height="50" class="img_titulo">	
    <div class="div_titulo_tecnico">
       Corte masivo
    </div></br>
	
    <div class="pasos_tecnico">
      <p class="pasos">Paso 1</p>
	</div></br>
	
    <p class="texto_manual">Para realizar esta acción debemos estar dentro del 
	 <em>Módulo técnico</em>, y hacer click en la opción <em>Corte masivo (b)
	 </em>, lo cual como resultado se mostrará la siguiente ventana:</p></br>
	
    <div class="img_center">
      <a class="example-image-link" href="{{asset('./bundles/ayuda/img/corte_masivo.jpg')}}"
	  data-lightbox="example-1">
       <img class="example-image" src="{{asset('./bundles/ayuda/img/corte_masivo.jpg')}}"
	   height="150" title="Para visualizar mejor la imagen, dar click"/>
	  </a>
    </div></br>
	 
    <p class="texto_manual">Los criterios para consultar los servicios a cortar son:
	 </br></br>
	 <p class="texto_manual"><span class="bold">Por Oficina:</span></br>
	 Indica la Oficina o Agencia donde desea realizar
	 el Corte. Es obligatorio para la busqueda ya que el corte se realiza por 
	 Oficina.</br></br>
	 <span class="bold">Por Forma de Pago:</span></br>
	 Indica la Forma de Pago que tiene el cliente (Efectivo, Recaudación, Etc.)
	 </br></br> 
	 <span class="bold">Por Monto Cartera:</span></br>
	 Seleciona el Monto de Cartera por el cual se realizar el Corte.
	 </br></br>
	 <span class="bold">Por Facturas Abiertas:</span></br>
	 Selecciona el número de facturas pendientes que tiene el cliente.
	 </p></br>
	
    <div class="pasos_tecnico">
	  <p class="pasos">Paso 2</p>
	</div></br>
	
	<p class="texto_manual">Luego de terminar de escoger los criterios que desea seleccionar, se debe
	escoger la opción Cortar (d).</p></br>
	
    <div class="img_center">
      <a class="example-image-link" href="{{asset('./bundles/ayuda/img/cortes.jpg')}}"
	  data-lightbox="example-1">
      <img class="example-image" src="{{asset('./bundles/ayuda/img/cortes_thumb.jpg')}}"
	  height="150" title="Para visualizar mejor la imagen, dar click"/>
	  </a>
    </div></br>
	
    <p class="texto_manual">Es recomendable que se realice el Corte por Oficinas y Formas
	 de Pago. Después de realizar el Corte les llegará un correo indicando los clientes
	 que fueron cortados y los que no se pudo procesar por algún motivo.</p></br>
	
	