    
	<img src="{{asset('public/images/credit_cards.png')}}"
	height="50" class="img_titulo">
	<div class="div_titulo_financiero">
      Tipo cuenta/tarjeta
    </div></br>
	
	<p class="texto_manual">Para visualizar el tipo de cuenta/tarjeta,
	damos click en el link <em>Tipo cuenta/tarjeta</em>, se nos muestra
	la siguiente vista:</p></br>
	
	<div class="img_center">
     <a class="example-image-link" href="{{asset('./bundles/ayuda/img/lista_tarjeta.jpg')}}"
	 data-lightbox="example-1">
      <img class="example-image" src="{{asset('./bundles/ayuda/img/lista_tarjeta.jpg')}}"
	  height="150" title="Para visualizar mejor la imagen, dar click"/>
	 </a>
    </div></br>
	<img src="{{asset('public/images/tools1.png')}}" height="50" class="img_titulo">
	<div class="div_titulo_financiero">
      Nuevo tipo cuenta/tarjeta
    </div></br>
	
	<p class="texto_manual">Para generar un nuevo tipo de cuenta/tarjeta, damos click en
	la opción <em>Nuevo tipo cuenta/tarjeta</em>, se nos muestra la siguiente vista:</p></br>
	
	<div class="img_center">
     <a class="example-image-link" href="{{asset('./bundles/ayuda/img/tipo_tarjeta.jpg')}}"
	 data-lightbox="example-1">
      <img class="example-image" src="{{asset('./bundles/ayuda/img/tipo_tarjeta.jpg')}}"
	  height="150" title="Para visualizar mejor la imagen, dar click"/>
	 </a>
    </div></br>
	
	<p class="texto_manual">Ingresamos todos los campos requeridos, y luego damos click
	en el botón <em>Guardar</em></p></br>