    
	<img src="{{asset('public/images/profit.png')}}" height="50" class="img_titulo">
	<div class="div_titulo_financiero">
      Anticipo
    </div></br>
	
	<div class="pasos_financiero">
	  <p class="pasos">Paso 1</p>
	</div></br>
	
	<p class="texto_manual">Para generar un nuevo anticipo, damos click en el link
	<em>Anticipo</em>, nos muestra la siguiente vista. Ingresamos los campos 
	requeridos, como la forma de pago, y damos
	click en el boton agregar.</em></p></br>
	
	<div class="img_center">
      <a class="example-image-link" href="{{asset('./bundles/ayuda/img/nuevo_anticipo.jpg')}}"
	  data-lightbox="example-1">
       <img class="example-image" src="{{asset('./bundles/ayuda/img/nuevo_anticipo.jpg')}}"
	   height="150" title="Para visualizar mejor la imagen, dar click"/>
	  </a>
    </div></br>
	
	<div class="pasos_financiero">
	  <p class="pasos">Paso 2</p>
	</div></br>
	
	<p class="texto_manual">Se nos muestra la siguiente vista, si esta todo correcto damos
	click en el botón <em>Guardar</em></p></br>
	
	<div class="img_center">
      <a class="example-image-link" href="{{asset('./bundles/ayuda/img/nuevo_anticipo2.jpg')}}"
	  data-lightbox="example-1">
       <img class="example-image" src="{{asset('./bundles/ayuda/img/nuevo_anticipo2.jpg')}}"
	   height="150" title="Para visualizar mejor la imagen, dar click"/>
	  </a>
    </div></br>
	<img src="{{asset('public/images/video.png')}}" height="50" class="img_titulo">
	<div class="div_titulo_financiero">
      Ver video guia
    </div></br>

    <p class="texto_manual">En el siguiente video se muestra el proceso para generar un nuevo
	anticipo.</p></br>

    <div class="img_center">
      <video src="{{asset('./bundles/ayuda/videos/nuevo_anticipo.mp4')}}" 
	  width="400" height="308" controls></video>
    </div></br>