    
	<img src="{{asset('public/images/tools1.png')}}" height="50" class="img_titulo">
	<div class="div_titulo_financiero">
      Generar débitos
    </div></br>
	
	<p class="texto_manual">Para visualizar un lista de débitos generados,
	damos click en el link <em>Generar débitos</em>, se nos muestra la siguiente vista:</p></br>
	
	<div class="img_center">
     <a class="example-image-link" href="{{asset('./bundles/ayuda/img/lista_debitos.jpg')}}" data-lightbox="example-1">
      <img class="example-image" src="{{asset('./bundles/ayuda/img/lista_debitos.jpg')}}" height="150"/>
	 </a>
    </div></br>
	
	<p class="texto_manual">Aqué se pueden realizar las siguientes acciones:</p></br>
	  
	 <img src="{{asset('public/images/images_crud/zip.png')}}" align="left">
	 <p class="texto_manual"><span class="bold">Ver -></span> Visualiza los archivos de debitos
	 generados.</p>
	 
	 <img src="{{asset('public/images/images_crud/search.png')}}" align="left">
	 <p class="texto_manual"><span class="bold">Ver -></span> Visualiza los detalles
	 de debitos.</p>
	 
	 <img src="{{asset('public/images/images_crud/excel_green.png')}}" align="left">
	 <p class="texto_manual"><span class="bold">Ver -></span> Visualiza los pagos.</p>
	 </br>
	 <img src="{{asset('public/images/tools1.png')}}" height="50" class="img_titulo">
	 <div class="div_titulo_financiero">
      Generar débitos
    </div></br>
	
	<p class="texto_manual">Para generar un débito, damos click en el link 
	<em>Generar débitos</em>, se nos muestra la siguiente vista:</p></br>
	
	<div class="img_center">
     <a class="example-image-link" href="{{asset('./bundles/ayuda/img/generar_debitos.jpg')}}"
	 data-lightbox="example-1">
      <img class="example-image" src="{{asset('./bundles/ayuda/img/generar_debitos.jpg')}}"
	  height="150" title="Para visualizar mejor la imagen, dar click"/>
	 </a>
    </div></br>
	
	<p class="texto_manual">Seleccionamos el banco al cual se va a generar el débito,
	y damos click en el botén <em>Generar.</em></p></br>
	<img src="{{asset('public/images/video.png')}}" height="50" class="img_titulo">
	<div class="div_titulo_financiero">
      Ver video guía
    </div></br>

    <p class="texto_manual">En el siguiente video se muestra la manera de generar
	un débito.</p></br>

    <div class="img_center">
      <video src="{{asset('./bundles/ayuda/videos/generar_debitos.mp4')}}" 
	  width="400" height="308" controls></video>
    </div></br>
	
	