    
	<img src="{{asset('public/images/money_calculator.png')}}" height="50" class="img_titulo">
	<div class="div_titulo_financiero">
      Procesar depósitos
    </div></br>
	
	<p class="texto_manual">Para procesar un depósito, damos click en el link 
	<em>Procesar depósitos</em>, se nos muestra la siguiente vista:</p></br>
	
	<div class="img_center">
     <a class="example-image-link" href="{{asset('./bundles/ayuda/img/procesar_deposito.jpg')}}"
	 data-lightbox="example-1">
      <img class="example-image" src="{{asset('./bundles/ayuda/img/procesar_deposito.jpg')}}"
	  height="150" title="Para visualizar mejor la imagen, dar click"/>
	 </a>
    </div></br>
	
	<p class="texto_manual">Aquí se pueden realizar las siguientes acciones:</p></br>
	  
	 <img src="{{asset('public/images/images_crud/kwallet.png')}}" align="left">
	 <p class="texto_manual"><span class="bold">Procesar -></span> Procesa los depósitos
	 efectuados.</p>
	 <img src="{{asset('public/images/images_crud/trash.png')}}" align="left">
	 <p class="texto_manual"><span class="bold">Eliminar -></span> Elimina el depósito
	 seleccionado.</p></br>
	 
	 <p class="texto_manual">Seleccionamos el depósito que se quiere procesar, y damos
	 click en el icono <em>Procesar depósito</em>, se nos genera la siguiente vista:</p></br>
	 
	 <div class="img_center">
     <a class="example-image-link" href="{{asset('./bundles/ayuda/img/procesar_deposito2.jpg')}}"
	 data-lightbox="example-1">
      <img class="example-image" src="{{asset('./bundles/ayuda/img/procesar_deposito2.jpg')}}"
	  height="175" title="Para visualizar mejor la imagen, dar click"/>
	 </a>
    </div></br>
	
	
	<p class="texto_manual">Si la información es correcta, damos click en el botón 
	<em>Guardar</em>. Nos muestra el siguiente mensaje:</p></br>
	
	<div class="img_center">
	<img class="example-image" src="{{asset('./bundles/ayuda/img/mensaje_procesar.jpg')}}"
	height="100" title="Para visualizar mejor la imagen, dar click"/>
	</div></br>
	<img src="{{asset('public/images/video.png')}}" height="50" class="img_titulo">
	<div class="div_titulo_financiero">
      Ver video guia
    </div></br>

    <p class="texto_manual">En el siguiente video se muestra la manera de procesar
	un depósito.</p></br>

    <div class="img_center">
      <video src="{{asset('./bundles/ayuda/videos/procesar_deposito.mp4')}}" 
	  width="400" height="308" controls></video>
    </div></br>