    
	<img src="{{asset('public/images/invoices.png')}}" height="50" class="img_titulo"/></br>
    <div class="div_titulo_financiero">
      Facturas proporcionales
    </div></br>
	
    <p class="texto_manual">Para visualizar las facturas proporcionales
	existentes, damos click en el link <em>Facturas proporcionales</em>,
	se nos mostrará la siguiente vista:</p>
	
	<div class="img_center">
      <a class="example-image-link" href="{{asset('./bundles/ayuda/img/factura_proporcional.jpg')}}"
	  data-lightbox="example-1">
       <img class="example-image" src="{{asset('./bundles/ayuda/img/factura_proporcional.jpg')}}"
	   height="150" title="Para visualizar mejor la imagen, dar click"/>
	  </a>
    </div></br>
	
	<p class="texto_manual">Aquí se pueden realizar las siguientes acciones:</p>
	  
	  <img src="{{asset('public/images/images_crud/search.png')}}" align="left">
	  <p class="texto_manual"><span class="bold">Ver -></span> Visualiza la información acerca
	  de las facturas proporcionales.</p>
	  <img src="{{asset('public/images/images_crud/edit.png')}}" align="left">
	  <p class="texto_manual"><span class="bold">Editar -></span> Permite editar el número del SRI.</p>
	  <img src="{{asset('public/images/images_crud/trash.png')}}" align="left">
	  <p class="texto_manual"><span class="bold">Anula -></span> Anula la factura proporcional.</p></br>
	  
	  <div class="div_titulo_financiero">
	  Crear nueva factura proporcional
	  </div></br>
	  
	  <div class="pasos_financiero">
	  <p class="pasos">Paso 1</p>
	  </div></br>
	  
	  <p class="texto_manual">Escogemos el punto donde vamos a facturar,
	  y damos click en la opción <em>Nueva factura proporcional</em>, 
	  que se encuentra en la parte de la derecha.</p>
	  
	  <div class="img_center">
      <a class="example-image-link" href="{{asset('./bundles/ayuda/img/ver_factura.jpg')}}"
	  data-lightbox="example-1">
       <img class="example-image" src="{{asset('./bundles/ayuda/img/ver_factura.jpg')}}"
	   height="150" title="Para visualizar mejor la imagen, dar click"/>
	  </a>
    </div></br>
	
	<div class="pasos_financiero">
	  <p class="pasos">Paso 2</p>
	  </div></br>
	  
	  <p class="texto_manual">Al igual que cuando se genera una factua, Seleccionamos 
	  el tipo de servicio <em>Precargada</em> o <em>Manual</em>, y 
	  llenamos todos los campos requeridos. A diferencia que aquí ingresamos el proporcional
      del valor de las factura.	  </p>
	  
	  <div class="img_center">
      <a class="example-image-link" href="{{asset('./bundles/ayuda/img/nueva_proporcional.jpg')}}"
	  data-lightbox="example-1">
       <img class="example-image" src="{{asset('./bundles/ayuda/img/nueva_proporcional.jpg')}}"
	   height="150" title="Para visualizar mejor la imagen, dar click"/>
	  </a>
    </div></br>
	
	<p class="texto_manual">Damos click en guardar y se nos genera la siguiente vista con 
	la factura proporcional generada.</p></br>
	
	<div class="img_center">
      <a class="example-image-link" href="{{asset('./bundles/ayuda/img/factura_proporcional2.jpg')}}"
	  data-lightbox="example-1">
       <img class="example-image" src="{{asset('./bundles/ayuda/img/factura_proporcional2.jpg')}}"
	   height="150" title="Para visualizar mejor la imagen, dar click"/>
	  </a>
    </div></br>
	<img src="{{asset('public/images/video.png')}}" height="50" class="img_titulo">
	<div class="div_titulo_financiero">
      Ver video guía
    </div></br>

    <p class="texto_manual">En el siguiente video se muestra el proceso para
	generar una nueva factura proporcional.</p></br>

    <div class="img_center">
      <video src="{{asset('./bundles/ayuda/videos/factura_proporcional.mp4')}}"
	  width="400" height="308" controls></video>
    </div></br>