    
	<img src="{{asset('public/images/tools1.png')}}" height="50" class="img_titulo"/></br>
    <div class="div_titulo_financiero" id="notas_debito">
      Notas de débito
    </div></br>
	
    <p class="texto_manual">Para visualizar las notas de débito existentes, damos 
	click en el link <em>Notas de débito</em>, se nos mostrará la siguiente vista:</p>
	
	<div class="img_center">
      <a class="example-image-link" href="{{asset('./bundles/ayuda/img/nota_debito.jpg')}}"
	  data-lightbox="example-1">
       <img class="example-image" src="{{asset('./bundles/ayuda/img/nota_debito.jpg')}}"
	   height="150" title="Para visualizar mejor la imagen, dar click"/>
	  </a>
    </div></br>
	
		  
	  <div class="div_titulo_financiero">
	   Crear nueva nota de débito
	  </div></br>
	  
	  <div class="pasos_financiero">
	  <p class="pasos">Paso 1</p>
	  </div></br>
	  
	  <p class="texto_manual">Escogemos el punto donde vamos a facturar
	  , y damos click en la opción <em>Nueva nota débito</em>, que se
	  encuentra en la parte de la derecha.</p>
	  
	  <div class="img_center">
      <a class="example-image-link" href="{{asset('./bundles/ayuda/img/nota_debito2.jpg')}}"
	  data-lightbox="example-1">
       <img class="example-image" src="{{asset('./bundles/ayuda/img/nota_debito2.jpg')}}"
	   height="150" title="Para visualizar mejor la imagen, dar click"/>
	  </a>
    </div></br>
	
	<div class="pasos_financiero">
	  <p class="pasos">Paso 2</p>
	  </div></br>
	  
	  <p class="texto_manual">Luego del paso anterior, se nos genera la siguiente vista.
	  Seleccionamos el pago e ingresamos el motivo, llenamos los campos requeridos.</p>
	  
	  <div class="img_center">
      <a class="example-image-link" href="{{asset('./bundles/ayuda/img/nota_debito3.jpg')}}"
	  data-lightbox="example-1">
       <img class="example-image" src="{{asset('./bundles/ayuda/img/nota_debito3.jpg')}}"
	   height="150" title="Para visualizar mejor la imagen, dar click"/>
	  </a>
    </div></br>
	<p class="texto_manual">Damos click en <em>Agregar detalle</em>, se nos genera
	lo siguiente:</p>
	
	<div class="img_center">
      <a class="example-image-link" href="{{asset('./bundles/ayuda/img/nota_debito4.jpg')}}"
	  data-lightbox="example-1">
       <img class="example-image" src="{{asset('./bundles/ayuda/img/nota_debito4.jpg')}}"
	   height="150" title="Para visualizar mejor la imagen, dar click"/>
	  </a>
	  
	  <div class="pasos_financiero">
	  <p class="pasos">Paso 3</p>
	  </div></br>
	  
	  <p class="texto_manual">Si todo está correcto damos click en el botón 
	  <em>Guardar</em>, y se nos genera la nota de débito.</p>
	  
	  <div class="img_center">
      <a class="example-image-link" href="{{asset('./bundles/ayuda/img/nota_debito5.jpg')}}"
	  data-lightbox="example-1">
       <img class="example-image" src="{{asset('./bundles/ayuda/img/nota_debito5.jpg')}}"
	   height="150" title="Para visualizar mejor la imagen, dar click"/>
	  </a>
    </div></br>
	<img src="{{asset('public/images/video.png')}}" height="50" class="img_titulo">
	<div class="div_titulo_financiero">
      Ver video guía
    </div></br>

    <p class="texto_manual">En el siguiente video se muestra el proceso para
	generar una nueva nota de débito.</p></br>

    <div class="img_center">
      <video src="{{asset('./bundles/ayuda/videos/nota_debito.mp4')}}" width="400" 
	  height="308" controls></video>
    </div></br>