    
	<img src="{{asset('public/images/pagos2.png')}}" height="50" class="img_titulo"/>
	<div class="div_titulo_financiero">
      Anticipo sin cliente
    </div></br>
	
	<p class="texto_manual">Para visualizar un listado de anticipo sin
	clientes, damos click en el link <em>Anticipo sin cliente</em>, se
	nos genera la siguiente vista:</p></br>
	
	<div class="img_center">
     <a class="example-image-link" href="{{asset('./bundles/ayuda/img/anticipo_cliente.jpg')}}"
	 data-lightbox="example-1">
      <img class="example-image" src="{{asset('./bundles/ayuda/img/anticipo_cliente.jpg')}}" height="150"/>
	 </a>
    </div></br>
	
	<p class="texto_manual">Aquí se pueden realizar las siguientes acciones:</p></br>
	  
	 <img src="{{asset('public/images/images_crud/search.png')}}" align="left">
	 <p class="texto_manual"><span class="bold">Ver -></span> Visualiza los anticipos sin clientes.</p>
	 <img src="{{asset('public/images/images_crud/pay.gif')}}" align="left">
	 <p class="texto_manual"><span class="bold">Cruzar anticipo -></span> Permite cruzar anticipos
	 sin clientes.</p></br>
	 
	 <img src="{{asset('public/images/images_crud/pay.gif')}}" height="30" class="img_titulo"/>
	 <div class="div_titulo_financiero">
      Anticipo sin cliente
    </div></br>
	
	<p class="texto_manual">Damos click en el icono <em>Cruzar anticipo</em>, 
	se nos genera la siguiente vista:</p></br>
	
	<div class="img_center">
     <a class="example-image-link" href="{{asset('./bundles/ayuda/img/cruzar_anticipo.jpg')}}"
	 data-lightbox="example-1">
      <img class="example-image" src="{{asset('./bundles/ayuda/img/cruzar_anticipo.jpg')}}" height="175"/>
	 </a>
    </div></br>
	
	<p class="texto_manual">Llenamos los campos requeridos y damos click en el botón 
	<em>Grabar.</em>, se muestra el siguiente mensaje:</p></br>
	
	<div class="img_center">
    
      <img class="example-image" src="{{asset('./bundles/ayuda/img/mensaje_cruce.jpg')}}" height="100"/>
	
    </div></br>
	
	<img src="{{asset('public/images/tools1.png')}}" height="50" class="img_titulo"/>
	<div class="div_titulo_financiero">
      Anticipo sin cliente
    </div></br>
	
	<div class="pasos_financiero">
	  <p class="pasos">Paso 1</p>
	</div></br>
	
	<p class="texto_manual">Para generar un nuevo anticipo sin cliente damos click en la
	opción <em>Nuevo anticipo sin cliente</em>, que se encuentra en la parte derecha. Se
	nos presenta la siguiente vista: </p></br>
	
	<div class="img_center">
     <a class="example-image-link" href="{{asset('./bundles/ayuda/img/nuevo_anticipo_sin.jpg')}}"
	 data-lightbox="example-1">
      <img class="example-image" src="{{asset('./bundles/ayuda/img/nuevo_anticipo_sin.jpg')}}" height="175"/>
	 </a>
    </div></br>
	
	<div class="pasos_financiero">
	  <p class="pasos">Paso 2</p>
	</div></br>
	
	<p class="texto_manual">Llenamos todos los campos requeridos y damos click 
	en el botón <em>Agregar</em>.	</p></br>
	
	<div class="img_center">
     <a class="example-image-link" href="{{asset('./bundles/ayuda/img/nuevo_anticipo_sin2.jpg')}}"
	 data-lightbox="example-1">
      <img class="example-image" src="{{asset('./bundles/ayuda/img/nuevo_anticipo_sin2.jpg')}}"
	  height="175" title="Para visualizar mejor la imagen, dar click"/>
	 </a>
    </div></br>
	
	<div class="pasos_financiero">
	  <p class="pasos">Paso 3</p>
	</div></br>
	
	<p class="texto_manual">Una vez que todos la informacion este correcta, damos click
	en el botón <em>Guardar</em>.</p></br>
	
	<div class="img_center">
     <a class="example-image-link" href="{{asset('./bundles/ayuda/img/nuevo_anticipo_sin3.jpg')}}"
	 data-lightbox="example-1">
      <img class="example-image" src="{{asset('./bundles/ayuda/img/nuevo_anticipo_sin3.jpg')}}"
	  height="175" title="Para visualizar mejor la imagen, dar click"/>
	 </a>
    </div></br>
	<img src="{{asset('public/images/video.png')}}" height="50" class="img_titulo">
	<div class="div_titulo_financiero">
      Ver video guia
    </div></br>

    <p class="texto_manual">En el siguiente video se muestra el proceso 
	para generar un nuevo anticipo sin cliente.</p></br>

    <div class="img_center">
      <video src="{{asset('./bundles/ayuda/videos/anticipo_sin.mp4')}}" 
	  width="400" height="308" controls></video>
    </div></br>