    
	<img src="{{asset('public/images/invoices.png')}}" height="45" class="img_titulo"/></br>
    <div class="div_titulo_financiero" id="facturas">
      Facturas
    </div></br>
	
    <p class="texto_manual">Para visualizar las facturas existentes, damos click en facturas,
	 se nos mostrará la siguiente vista:</p>
	<div class="img_center">
      <a class="example-image-link" href="{{asset('./bundles/ayuda/img/lista_facturas.jpg')}}"
	  data-lightbox="example-1">
       <img class="example-image" src="{{asset('./bundles/ayuda/img/lista_facturas.jpg')}}"
	   height="150" title="Para visualizar mejor la imagen, dar click"/>
	  </a>
    </div></br>
	
	  <p class="texto_manual">Aquí se pueden realizar las siguientes acciones:</p>
	  
	  <img src="{{asset('public/images/images_crud/search.png')}}" align="left">
	  <p class="texto_manual"><span class="bold">Ver -></span> Visualiza la 
	  información acerca de la factura.</p>
	  <img src="{{asset('public/images/images_crud/edit.png')}}" align="left">
	  <p class="texto_manual"><span class="bold">Editar -></span> Permite editar el número del SRI.</p>
	  <img src="{{asset('public/images/images_crud/trash.png')}}" align="left">
	  <p class="texto_manual"><span class="bold">Anula -></span> Anula la factura.</p></br>
	  
	  <img src="{{asset('public/images/tools1.png')}}" height="45" class="img_titulo"/></br>
	  <div class="div_titulo_financiero">
	  Crear nueva factura
	  </div></br>
	  
	  <div class="pasos_financiero">
	  <p class="pasos">Paso 1</p>
	  </div></br>
	  
	  <p class="texto_manual">Escogemos el punto donde vamos a facturar, y damos click en la opción
	  <em>Nueva factura</em> (a), que se encuentra en la parte de la derecha.</p>
	  
	  <div class="img_center">
      <a class="example-image-link" href="{{asset('./bundles/ayuda/img/ver_factura.jpg')}}"
	  data-lightbox="example-1">
       <img class="example-image" src="{{asset('./bundles/ayuda/img/ver_factura.jpg')}}"
	   height="150" title="Para visualizar mejor la imagen, dar click"/>
	  </a>
    </div></br>
	
	<div class="pasos_financiero">
	  <p class="pasos">Paso 2</p>
	  </div></br>
	  
	  <p class="texto_manual">Seleccionamos el tipo de servicio <em>Precargada</em>
	  o <em>Manual</em>, y llenamos todos los campos requeridos.</p></br>
	  
	<div class="img_center">
      <a class="example-image-link" href="{{asset('./bundles/ayuda/img/nueva_factura.jpg')}}"
	  data-lightbox="example-1">
      <img class="example-image" src="{{asset('./bundles/ayuda/img/nueva_factura.jpg')}}"
	  height="150" title="Para visualizar mejor la imagen, dar click"/>
	  </a>
    </div></br>
	
	<p class="texto_manual">Damos click en <em>Guardar</em> y la factura será creada</p></br>
	<div class="img_center">
      <a class="example-image-link" href="{{asset('./bundles/ayuda/img/ver_nueva_factura.jpg')}}"
	  data-lightbox="example-1">
       <img class="example-image" src="{{asset('./bundles/ayuda/img/ver_nueva_factura.jpg')}}"
	   height="150" title="Para visualizar mejor la imagen, dar click"/>
	  </a>
    </div></br>
	<img src="{{asset('public/images/video.png')}}" height="50" class="img_titulo">
	<div class="div_titulo_financiero">
      Ver video guía
    </div></br>

    <p class="texto_manual">En el siguiente video se muestra el proceso para generar una nueva
	factura.</p></br>

    <div class="img_center">
      <video src="{{asset('./bundles/ayuda/videos/nueva_factura.mp4')}}" width="400"
	  height="308" controls></video>
    </div></br>
	
	<img src="{{asset('public/images/tools1.png')}}" height="45" class="img_titulo"/></br>
	<div class="div_titulo_financiero">
	  Generar nota de crédito
	 </div></br>
	 
	 <div class="pasos_financiero">
	  <p class="pasos">Paso 1</p>
	 </div></br>
	 
	 <p class="texto_manual">Una vez seleccionada la factura, podemos generar
	 una Nota de Crédito, 	  damos click en la opcion <em>Generar N/C</em>
	 (b), que se encuntra en la parte derecha, en la sección
	  acciones realizadas.</p></br>
	  
	  <div class="img_center">
      <a class="example-image-link" href="{{asset('./bundles/ayuda/img/genera_nota_credito.jpg')}}"
	  data-lightbox="example-1">
      <img class="example-image" src="{{asset('./bundles/ayuda/img/genera_nota_credito.jpg')}}"
	  height="150" title="Para visualizar mejor la imagen, dar click"/>
	  </a>
    </div></br>
	
	<div class="pasos_financiero">
	  <p class="pasos">Paso 2</p>
	 </div></br>
	
	<p class="texto_manual">Luego del paso anterior se nos genera la siguiente
	vista, donde nos indica, el tipo de la nota de crédito, esta puede ser
	proporcional por días, porcentaje de servicio o valor original.</p></br>
	
	<div class="img_center">
      <a class="example-image-link" href="{{asset('./bundles/ayuda/img/nueva_nota_credito.jpg')}}"
	  data-lightbox="example-1">
       <img class="example-image" src="{{asset('./bundles/ayuda/img/nueva_nota_credito.jpg')}}"
	   height="150" title="Para visualizar mejor la imagen, dar click"/>
	  </a>
    </div></br>
	
	<p class="texto_manual">Escogemos la opción que necesitemos y damos click en el
	botón <em>Generar detalle</em>.</p></br>
	
	<div class="img_center">
      <a class="example-image-link" href="{{asset('./bundles/ayuda/img/detalle_nota.jpg')}}"
	  data-lightbox="example-1">
       <img class="example-image" src="{{asset('./bundles/ayuda/img/detalle_nota.jpg')}}"
	   height="150" title="Para visualizar mejor la imagen, dar click"/>
	  </a>
    </div></br>
	
	<p class="texto_manual">Damos click en el botón <em>guardar</em>, y habremos generado una 
	nota de crédito.</p></br>
	<img src="{{asset('public/images/video.png')}}" height="50" class="img_titulo">
	<div class="div_titulo_financiero">
      Ver video guía
    </div></br>

    <p class="texto_manual">En el siguiente video se muestra el proceso para generar una nueva
	nota de crédito.</p></br>

    <div class="img_center">
      <video src="{{asset('./bundles/ayuda/videos/generar_nota_credito.mp4')}}" width="400"
	  height="308" controls></video>
    </div></br>
	
	<img src="{{asset('public/images/tools1.png')}}" height="45" class="img_titulo"/></br>
	<div class="div_titulo_financiero">
	  Generar pago
	 </div></br>
	 
	 <div class="pasos_financiero">
	  <p class="pasos">Paso 1</p>
	 </div></br>
	 
	 <p class="texto_manual">Una vez seleccionada la factura, podemos generar
	 un pago, damos click en la opcion <em>Generar pago</em>
	 (c), que se encuntra en la parte derecha, en la sección
	  acciones realizadas.</p></br>
	  
	  <div class="img_center">
      <a class="example-image-link" href="{{asset('./bundles/ayuda/img/genera_pago.jpg')}}"
	  data-lightbox="example-1">
      <img class="example-image" src="{{asset('./bundles/ayuda/img/genera_pago.jpg')}}"
	  height="150" title="Para visualizar mejor la imagen, dar click"/>
	  </a>
    </div></br>
	
	<div class="pasos_financiero">
	  <p class="pasos">Paso 2</p>
	 </div></br>
	 
	 <p class="texto_manual">Como resultado del paso anterior se nos genera
	 la siguiente vista, llenamos los campos requeridos con la información
	 necesaria para la forma de pago.</p></br>
	  
	  <div class="img_center">
      <a class="example-image-link" href="{{asset('./bundles/ayuda/img/nuevo_pago.jpg')}}"
	  data-lightbox="example-1">
       <img class="example-image" src="{{asset('./bundles/ayuda/img/nuevo_pago.jpg')}}"
	   height="150" title="Para visualizar mejor la imagen, dar click"/>
	  </a>
    </div></br>
	
	<p class="texto_manual">Damos click en <em>Agregar</em>, y nos genera 
	como resultado lo siguiente:</p></br>
	
	<div class="img_center">
      <a class="example-image-link" href="{{asset('./bundles/ayuda/img/pago.jpg')}}"
	  data-lightbox="example-1">
       <img class="example-image" src="{{asset('./bundles/ayuda/img/pago.jpg')}}"
	   height="150" title="Para visualizar mejor la imagen, dar click"/>
	  </a>
    </div></br>
	
	<p class="texto_manual">Damos click en <em>Guardar</em>, y nos genera
	copmo resultado un mensaje indicando el estado del cliente en el
	pago.</p></br>
	
	<div class="img_center">
	<img class="example-image" src="{{asset('./bundles/ayuda/img/mensaje_pago.jpg')}}"
	height="100"/>
	</div></br>
	
	<div class="div_titulo_financiero">
      Ver video guía
    </div></br>

    <p class="texto_manual">En el siguiente video se muestra el proceso
	para generar pago.</p></br>

    <div class="img_center">
      <video src="{{asset('./bundles/ayuda/videos/generar_pago.mp4')}}" width="400"
	  height="308" controls></video>
    </div></br>