    
	<img src="{{asset('public/images/tools1.png')}}" height="50" class="img_titulo"/>
	<div class="div_titulo_financiero">
      Recaudación
    </div></br>
	
	<p class="texto_manual">Para visualizar el listado de recaudaciones,
	damos click en el link <em>Recaudaciones</em>, se nos muestra la siguiente vista:</p></br>
	
	<div class="img_center">
     <a class="example-image-link" href="{{asset('./bundles/ayuda/img/recaudacion.jpg')}}"data-lightbox="example-1">
      <img class="example-image" src="{{asset('./bundles/ayuda/img/recaudacion.jpg')}}"
	  height="150" title="Para visualizar mejor la imagen, dar click"/>
	 </a>
    </div></br>
	
	<p class="texto_manual">Aquí se pueden realizar las siguientes acciones:</p></br>
	  
	 <img src="{{asset('public/images/images_crud/search.png')}}" align="left">
	 <p class="texto_manual"><span class="bold">Ver -></span> Visualiza el 
	 listado de Pagos Generados Por Recaudación.</p></br>
	 
	 <div class="div_titulo_financiero">
      Generar nueva recaudación
    </div></br>
	
	<p class="texto_manual">Para generar una nueva recaudación, damos 
	click en la opción <em>Nueva recaudación</em>, que se encuntra en
	la parte derecha. Se muestra la siguiente vista.</p></br>
	
	<div class="img_center">
     <a class="example-image-link" href="{{asset('./bundles/ayuda/img/subir_recaudacion.jpg')}}"
	 data-lightbox="example-1">
      <img class="example-image" src="{{asset('./bundles/ayuda/img/subir_recaudacion.jpg')}}"
	  height="150" title="Para visualizar mejor la imagen, dar click"/>
	 </a>
    </div></br>