 
	<img src="{{asset('public/images/tools1.png')}}" height="50" class="img_titulo">
	<div class="div_titulo_financiero">
      A. nota de débito
    </div></br>
	
	<p class="texto_manual">Para autorizar una nota de débito,
	damos click en el link <em>Autorización nota de debito</em>, se nos muestra la 
	siguiente vista:</p></br>
	
	<div class="img_center">
     <a class="example-image-link" href="{{asset('./bundles/ayuda/img/autorizar_debito.jpg')}}"
	 data-lightbox="example-1">
      <img class="example-image" src="{{asset('./bundles/ayuda/img/autorizar_debito.jpg')}}"
	  height="150" title="Para visualizar mejor la imagen, dar click"/>
	 </a>
    </div></br>
	
	<p class="texto_manual">Seleccionamos la nota de débito que se
	quiere autorizar, y damos click en la opción <em>Aprobar</em>,
	en caso de ser rechazada, se debe ingresar un motivo.</p></br>
	<img src="{{asset('public/images/video.png')}}" height="50" class="img_titulo">
	<div class="div_titulo_financiero">
      Ver video guía
    </div></br>

    <p class="texto_manual">En el siguiente video se muestra la manera 
    autorizar una nota de débito.</p></br>

    <div class="img_center">
      <video src="{{asset('./bundles/ayuda/videos/autorizar_debito.mp4')}}"
	  width="400" height="308" controls></video>
    </div></br>