    
	<img src="{{asset('public/images/pagos3.png')}}" height="50" class="img_titulo">
	<div class="div_titulo_financiero">
      Generar depósitos
    </div></br>
	
	<p class="texto_manual">Para generar un depósito, damos click en el link 
	<em>Generar depósitos</em>, se nos muestra la siguiente vista:</p></br>
	
	<div class="img_center">
     <a class="example-image-link" href="{{asset('./bundles/ayuda/img/generar_depositos.jpg')}}"
	 data-lightbox="example-1">
      <img class="example-image" src="{{asset('./bundles/ayuda/img/generar_depositos.jpg')}}"
	  height="150" title="Para visualizar mejor la imagen, dar click"/>
	 </a>
    </div></br>
	
	<p class="texto_manual">Seleccionamos al menos un registro de la lista,
	luego seleccionamos 	el banco y la cuenta donde se va a generar el
	depósito. y damos click en 	el icono <em>Generar</em>. Nos muestra el 
	siguiente mensaje.</p></br>
	
	<div class="img_center">
	<img class="example-image" src="{{asset('./bundles/ayuda/img/mensaje_deposito.jpg')}}"
	height="100"/>
	</div></br>
	<img src="{{asset('public/images/video.png')}}" height="50" class="img_titulo">
	<div class="div_titulo_financiero">
      Ver video guía
    </div></br>

    <p class="texto_manual">En el siguiente video se muestra el proceso
	para generar un nuevo depósito.</p></br>

    <div class="img_center">
      <video src="{{asset('./bundles/ayuda/videos/generar_deposito.mp4')}}"
	  width="400" height="308" controls></video>
    </div></br>