    
	<img src="{{asset('public/images/tools1.png')}}" height="50" class="img_titulo">
	<div class="div_titulo_financiero">
      Documentos financieros
    </div></br>
	
	<p class="texto_manual">Para consultar algun tipo de documento,
	damos click en el link <em>Documentos financieros</em>, se nos muestra la 
	siguiente vista:</p></br>
	
	<div class="img_center">
     <a class="example-image-link" href="{{asset('./bundles/ayuda/img/documentos_financieros.jpg')}}"
	 data-lightbox="example-1">
      <img class="example-image" src="{{asset('./bundles/ayuda/img/documentos_financieros.jpg')}}"
	  height="120" title="Para visualizar mejor la imagen, dar click"/>
	 </a>
    </div></br>
	
	<p class="texto_manual">Seleccionamos el tipo de documento que deseamos consultar, y filtramos
	la busqueda llenando los campos que se muestran y damos click en el botón <em>Buscar</em>. 
	Se nos muestra la siguiente vista:</p></br>
	
	<div class="img_center">
     <a class="example-image-link" href="{{asset('./bundles/ayuda/img/documentos_financieros2.jpg')}}"
	 data-lightbox="example-1">
      <img class="example-image" src="{{asset('./bundles/ayuda/img/documentos_financieros2.jpg')}}"
	  height="120" title="Para visualizar mejor la imagen, dar click"/>
	 </a>
    </div></br>
	
	<p class="texto_manual">Para descargar el archivo .xls con la información solicitada, 
	damos click en el icono de descarga que se encuentra en la parte derecha.</p></br>