
	<img src="{{asset('public/images/tools1.png')}}" height="50" class="img_titulo"/></br>
    <div class="div_titulo_financiero" id="notas_credito">
      Notas de crédito
    </div></br>
	
    <p class="texto_manual">Para visualizar las notas de créditos existentes de un punto, damos
	click en el link <em>Notas de crédito</em>, se nos mostrará la siguiente vista: </em></p> 
	
	<div class="img_center">
      <a class="example-image-link" href="{{asset('./bundles/ayuda/img/nota_credito.jpg')}}"
	  data-lightbox="example-1">
       <img class="example-image" src="{{asset('./bundles/ayuda/img/nota_credito.jpg')}}"
	   height="150" title="Para visualizar mejor la imagen, dar click"/>
	  </a>
    </div></br>
	
	<p class="texto_manual">Aquí se pueden realizar las siguientes acciones:</p>
	  
	  <img src="{{asset('public/images/images_crud/search.png')}}" align="left">
	  <p class="texto_manual"><span class="bold">Ver -></span> Visualiza la 
	  información de la nota de crédito.</p>
	  <img src="{{asset('public/images/images_crud/print.png')}}" align="left">
	  <p class="texto_manual"><span class="bold">Imprimir -></span> Imprime la nota de crédito.</p>
	  
	