    
	<img src="{{asset('public/images/tools1.png')}}" height="50" class="img_titulo">
	<div class="div_titulo_financiero">
      Formato débito
    </div></br>
	
	<p class="texto_manual">Para visualizar un listado de formato de débitos,
	damos click en el link <em>Formato de debito</em>, se nos muestra la siguiente vista:</p></br>
	
	<div class="img_center">
     <a class="example-image-link" href="{{asset('./bundles/ayuda/img/lista_formas.jpg')}}"
	 data-lightbox="example-1">
      <img class="example-image" src="{{asset('./bundles/ayuda/img/lista_formas.jpg')}}"
	  height="150" title="Para visualizar mejor la imagen, dar click"/>
	 </a>
    </div></br>
	<img src="{{asset('public/images/tools1.png')}}" height="50" class="img_titulo">
	<div class="div_titulo_financiero">
     Nuevo formato de débito
    </div></br>
	
	<p class="texto_manual">Para generar un nuevo formato de débito, damos click en
	la opción <em>Nuevo formato de débito</em>, se nos muestra la siguiente vista:</p></br>
	
	<div class="img_center">
     <a class="example-image-link" href="{{asset('./bundles/ayuda/img/nuevo_formato.jpg')}}"
	 data-lightbox="example-1">
      <img class="example-image" src="{{asset('./bundles/ayuda/img/nuevo_formato.jpg')}}"
	  height="150" title="Para visualizar mejor la imagen, dar click"/>
	 </a>
    </div></br>
	
	<p class="texto_manual">Ingresamos todos los campos requeridos, y luego damos click
	en el botón <em>Agregar</em></p></br>
	
	<div id="nota_comercial">
      <img src="{{asset('./bundles/ayuda/img/nota.png')}}" height="30"align="left"/>
       <p class="texto_nota">
            Para crear un formato de débito, cada Banco asociado enviara el formato con la
			información necesaria para poder procesar los debitos.
	       </p>
         </div></br>
	