	
	<img src="{{asset('public/images/money.png')}}" height="50" class="img_titulo">
	<div class="div_titulo_financiero">
      Pagos
    </div></br>
	
	<p class="texto_manual">Para visualizar los Pagos existentes de un punto, damos
	click en el link <em>Pagos</em>, se nos mostrará la siguiente vista: </em></p></br>
	
	<div class="img_center">
      <a class="example-image-link" href="{{asset('./bundles/ayuda/img/lista_pagos.jpg')}}"
	  data-lightbox="example-1">
       <img class="example-image" src="{{asset('./bundles/ayuda/img/lista_pagos.jpg')}}"
	   height="150" title="Para visualizar mejor la imagen, dar click"/>
	  </a>
    </div></br>
	
	<p class="texto_manual">Aquí se pueden realizar las siguientes acciones:</p></br>
	  
	 <img src="{{asset('public/images/images_crud/print.png')}}" align="left">
	 <p class="texto_manual"><span class="bold">Imprimir -></span> Imprime el recibo de pago.</p> 
	 <img src="{{asset('public/images/images_crud/search.png')}}" align="left">
	 <p class="texto_manual"><span class="bold">Ver -></span> Visualiza la 
	 información sobre el pago.</p>
	 <img src="{{asset('public/images/images_crud/pencil.png')}}" align="left">
	 <p class="texto_manual"><span class="bold">Editar -></span> Permite editar
	 el detalle de pago.</p></br>
	 
	 <img src="{{asset('public/images/tools1.png')}}" height="50" class="img_titulo">
	 <div class="div_titulo_financiero">
      Generar un nuevo pago
     </div></br>
	
	<div class="pasos_financiero">
	  <p class="pasos">Paso 1</p>
	 </div></br>
	 
	<p class="texto_manual">Para generar un pago, debemos seleccionar el punto. 
	Luego damos click en la opción <em>Nuevo pago</em>, que se encuentra en la
	parte derecha. Se nos presenta la siguiente vista:</p></br>
	
	<div class="img_center">
      <a class="example-image-link" href="{{asset('./bundles/ayuda/img/nuevo_pago.jpg')}}"
	  data-lightbox="example-1">
       <img class="example-image" src="{{asset('./bundles/ayuda/img/nuevo_pago.jpg')}}"
	   height="150" title="Para visualizar mejor la imagen, dar click"/>
	  </a>
    </div></br>
	
	<div class="pasos_financiero">
	  <p class="pasos">Paso 2</p>
	 </div></br>
	
	<p class="texto_manual">Llenamos todos los campos requeridos, como la forma de pago
	y la factura. y damos click en agregar. Se nos presenta la siguiente vusta:</p></br>
	
	<div class="img_center">
      <a class="example-image-link" href="{{asset('./bundles/ayuda/img/nuevo_pago3.jpg')}}"
	  data-lightbox="example-1">
       <img class="example-image" src="{{asset('./bundles/ayuda/img/nuevo_pago3.jpg')}}"
	   height="150" title="Para visualizar mejor la imagen, dar click"/>
	  </a>
    </div></br>
	
	<p class="texto_manual">Damos click en el botón <em>Guardar</em>, nos muestra el
	siguiente mensaje, de acuerdo al estado de pago del cliente en el punto.</p></br>
	
	<div class="img_center">
      <a class="example-image-link" href="{{asset('./bundles/ayuda/img/mensaje_pago2.jpg')}}"
	  data-lightbox="example-1">
       <img class="example-image" src="{{asset('./bundles/ayuda/img/mensaje_pago2.jpg')}}"
	   height="100" title="Para visualizar mejor la imagen, dar click"/>
	  </a>
    </div></br>
	<img src="{{asset('public/images/video.png')}}" height="50" class="img_titulo">
	<div class="div_titulo_financiero">
      Ver video guía
    </div></br>

    <p class="texto_manual">En el siguiente video se muestra el proceso para generar un nuevo
	pago.</p></br>

    <div class="img_center">
      <video src="{{asset('./bundles/ayuda/videos/nuevo_pago.mp4')}}" width="400" 
	  height="308" controls></video>
    </div></br>
	
	 