    <img src="{{asset('public/images/network.png')}}" height="50" class="img_titulo">
	<div class="div_titulo_tecnico">
      Módulo técnico
    </div></br>
  
    <p class="texto_manual">Esta sección le permitirá aprender a usar 
	todas las funcionalidades referente al módulo técnico.</p></br>
    
	<!-------------- Imagen modulo tecnico-------------->
	<!-------------------------------------------------->
	<div class="img_center">
      <a class="example-image-link" href="{{asset('./bundles/ayuda/img/modulo_tecnico.jpg')}}"
	  data-lightbox="example-1">
       <img class="example-image" src="{{asset('./bundles/ayuda/img/modulo_tecnico_thumb.jpg')}}"
	   height="150"/></a>
	   <p class="zoom">Dar click en la imagen para hacer zoom</p>
    </div></br>
	
	<img src="{{asset('./bundles/ayuda/img/descarga_tecnico.png')}}" height="40" class="descarga">
	<div class="div_descarga_tecnico" >
	  <a href="{{asset('./bundles/ayuda/archivos/ProcesoCancelacionesTELCOS+.pdf')}}" target="_blank">Descargar Proceso: Cancelación de Servicio </a>
    </div></br></br>
	
	<!-------------------------------------------------->
	<!--
    <p class="texto_manual">En el menú localizado en la parte de abajo Ud.
	puede realizar las siguientes acciones:</p></br>
    
	<p class="texto_manual">
	<span class="bold">Clientes -></span>Consulta información de los clientes,
	respecto a los servicios.</br>
	<span class="bold">Elemento -></span> Muestra las opciones de elementos</br>
	<span class="bold">Enlace -></span> Muestra el enlace de elemento</br>
	<span class="bold">Proceso masivo -></span> Muestra las opciones de procesos.
	</p></br>-->
	
	<p class="texto_manual">El módulo técnico posee un filtro, que nos permite
	hacer una búsqueda rápida, ingresando ciertos parametros. Para habilitar o 
	deshabilitar esta opción damos click en las flechas dobles en dirección hacia
	abajo.</p></br>
	
	<div class="img_center">
      <a class="example-image-link" href="{{asset('./bundles/ayuda/img/busqueda_tecnico.jpg')}}"
	  data-lightbox="example-1">
       <img class="example-image" src="{{asset('./bundles/ayuda/img/busqueda_tecnico.jpg')}}"
	   height="100"/></a>
	   <p class="zoom">Dar click en la imagen para hacer zoom</p>
    </div></br>
		
	<p class="texto_manual">EL módulo técnico posee un submódulo con
	sus respectivas funcionalidades, a continuación se decribe las acciones
	que se pueden ejecutar.</p></br>
	
    <!-----Menú que se encuntra dentro del modulo soporte----->
	<!-------------------------------------------------------->
    <div class="submenu_modulos" id="sub_tecnico">
      <ul>
	     
		 <li><a href="#clientes" id="link_clientet">
		 <img src="{{asset('public/images/users.png')}}" align="left" height="25">
		 |Clientes|</a></li>
		 
         <li><a href="#elemento" id="link_elementot"><img src="{{asset('public/images/network.png')}}" align="left" height="25">
		 |Elemento|</a></li>
         
		 <li><a href="#enlace" id="link_enlacet"><img src="{{asset('public/images/enlace.png')}}" align="left" height="25">
		 |Enlace|</a></li>
		          
		 <li><a href="#proceso" id="link_cortest"><img src="{{asset('public/images/procesosmasivos.png')}}" align="left" height="25">
		 |Proceso masivo|</a></li>
		 
      </ul>
    </div>  
    <!-------------------------------------------------------->
	<div id="load_tecnico">
	 <img src="{{asset('public/images/images_crud/ajax-loader.gif')}}"/>
	</div>
	<!-------Div donde se carga el contenido del modulo tecnico------->
	<!---------------------------------------------------------------->
    <div id="contenido_tecnico"></div>
	<!---------------------------------------------------------------->
	
	<!-------Script que carga el contenido por medio de ajax (modulo tecnico)-------->
	<!------------------------------------------------------------------------------->
    <script>
	
    $('#link_clientet').click(function(){
        $("#load_tecnico").css("display", "inline");
		$("#contenido_tecnico").empty();
		$('#contenido_tecnico').load('{{ path('tecnico_clientes') }}', function(){
			$("#load_tecnico").css("display", "none");});
		
		$('#link_clientet').addClass('pre_tecnico');
		$('#link_elementot').removeClass('pre_tecnico');
		$('#link_enlacet').removeClass('pre_tecnico');
		$('#link_cortest').removeClass('pre_tecnico');
        
		});
		
    $('#link_elementot').click(function(){
        $("#load_tecnico").css("display", "inline");
		$("#contenido_tecnico").empty();
		$('#contenido_tecnico').load('{{ path('tecnico_elementos') }}', function(){
			$("#load_tecnico").css("display", "none");});
		
		$('#link_clientet').removeClass('pre_tecnico');
		$('#link_elementot').addClass('pre_tecnico');
		$('#link_enlacet').removeClass('pre_tecnico');
		$('#link_cortest').removeClass('pre_tecnico');
		
    });
    $('#link_enlacet').click(function(){
        $("#load_tecnico").css("display", "inline");
		$("#contenido_tecnico").empty();
		$('#contenido_tecnico').load('{{ path('tecnico_enlace') }}', function(){
			$("#load_tecnico").css("display", "none");});
		
		$('#link_clientet').removeClass('pre_tecnico');
		$('#link_elementot').removeClass('pre_tecnico');
		$('#link_enlacet').addClass('pre_tecnico');
		$('#link_cortest').removeClass('pre_tecnico');
		
    });
    $('#link_cortest').click(function(){
        $("#load_tecnico").css("display", "inline");
		$("#contenido_tecnico").empty();
		$('#contenido_tecnico').load('{{ path('tecnico_procesos_masivos') }}', function(){
			$("#load_tecnico").css("display", "none");});
		
		$('#link_clientet').removeClass('pre_tecnico');
		$('#link_elementot').removeClass('pre_tecnico');
		$('#link_enlacet').removeClass('pre_tecnico');
		$('#link_cortest').addClass('pre_tecnico');
		
    });
	
    </script>
	<!----------------------------------------------------------------->