   	<img src="{{asset('public/images/home.png')}}" height="50" class="img_titulo">
	<div class="div_titulo_inicio" >
      Módulo inicio
    </div></br>
	
    
	<p class="texto_manual">El <em>Módulo inicio</em>, es la primera ventana 
	que se nos muestra una vez ingresada nuestras credenciales</p></br>
	
    <div class="img_center">
      <a class="example-image-link" href="{{asset('./bundles/ayuda/img/modulo_inicio.jpg')}}"
	  data-lightbox="example-1">
       <img class="example-image" src="{{asset('./bundles/ayuda/img/modulo_inicio.jpg')}}"
	   height="150"/>
	  </a>
	  <p class="zoom">Dar click en la imagen para hacer zoom</p>
    </div></br>
	
	<div class="div_titulo_inicio" >
      Menú principal
    </div></br>
		
	<p class="texto_manual"> En la parte superior se encuentra un menú
	principal, por el cual, podemos navegar por cada uno de los módulos
	existentes en el sistema.</p></br>
	 
	 <div class="img_center">
	 <img class="example-image" src="{{asset('./bundles/ayuda/img/menu_principal.jpg')}}"
	 height="25"/></br></br>
	 </div>
	 
	 <p class="texto_manual">Cada vez que ingresemos a un módulo, 
	 este quedará activado con un color representativo al módulo</p></br>
	 
	 <div id="color_inicio"></div><p class="texto_manual">Módulo Inicio</p>
	 <div id="color_comercial"></div><p class="texto_manual">Módulo Comercial</p>
	 <div id="color_planificacion"></div><p class="texto_manual">Módulo Planificación</p>
	 <div id="color_tecnico"></div><p class="texto_manual">Módulo Técnico</p>
	 <div id="color_financiero"></div><p class="texto_manual">Módulo Financiero</p>
	 <div id="color_soporte"></div><p class="texto_manual">Módulo Soporte</p>
	 <div id="color_administracion"></div><p class="texto_manual">Módulo Administración</p></br>
	 
	 
	 <div class="div_titulo_inicio" >
      Lista de empresas
    </div></br>
	 <p class="texto_manual">Junto al menú principal, se encuentra una lista con
	 el nombre de las empresas unificadas. El nombre de las empresas y las acciones
	 que en ella se puedan ejecutar, se mostrará dependiendo los permisos que tenga
	 el usuario.</p></br>
	 
	 <div class="img_center"><img class="example-image" 
	 src="{{asset('./bundles/ayuda/img/combo_empresas.jpg')}}" height="70"/></div></br>
	 
	 <p class="texto_manual">Junto a la lista de empresas se encuentra el nombre
	 de la oficina a cual pertenece el usuario en sesión, seguido a esto aparecerá
	 el nombre del usuario, y junto al nombre, un icono que permite cerrar la sesión.</p></br>
	 
	 <div class="img_center"><img class="example-image" 
	 src="{{asset('./bundles/ayuda/img/usuario.jpg')}}" height="25"/></div></br>
	 
	 <div class="div_titulo_inicio" >
      Búsqueda avanzada
    </div></br>
		
	<p class="texto_manual">El usuario podrá hacer uso de la opción Búsqueda Avanzada en 
	el siguiente icono.</p></br>
	
	<div class="img_center"><img class="example-image" 
	 src="{{asset('./bundles/ayuda/img/icono_busqueda.jpg')}}" height="35"/></div></br>
	 
	 <p class="texto_manual">Al dar click en esta opción se mostrará una ventana con varios
	 criterios de búsqueda.</p></br>
	 
	 <div class="img_center">
      <a class="example-image-link" href="{{asset('./bundles/ayuda/img/busqueda_avanzada.jpg')}}"
	  data-lightbox="example-1">
       <img class="example-image" src="{{asset('./bundles/ayuda/img/busqueda_avanzada.jpg')}}"
	   height="180"/>
	  </a>
	  <p class="zoom">Dar click en la imagen para hacer zoom</p>
    </div></br>
	
	<div class="div_titulo_inicio" >
      Estados de los servicios
    </div></br>	
	
	<p class="texto_manual">Algo que debemos de tener en cuenta al momento 
	 de usar TELCOS+, es que  los servicios pasan por varios estados
	durante el flujo del proceso, desde el ingreso hasta la activación del mismo. En la
	siguiente imagen se muestra los estados de los servicios, asignados en cada módulo.</p></br>
	
	<div class="img_center">
      <a class="example-image-link" href="{{asset('./bundles/ayuda/img/estados_servicio.png')}}"
	  data-lightbox="example-1">
       <img class="example-image" src="{{asset('./bundles/ayuda/img/estados_servicio.png')}}"
	   height="200"/>
	  </a>
	  <p class="zoom">Dar click en la imagen para hacer zoom</p>
    </div></br>
	 
	 
	 
	 