    <div class="div_titulo_administracion">
      Módulo administración
    </div></br>
	
    <p class="texto_manual">Esta sección le permitirá aprender a usar todas las funcionalidades 
	 referente al módulo administración.</p></br>
	
	<!-------------Imagen de la sección administración (módulo administración)--------------->
	<!--------------------------------------------------------------------------------------->
    <div class="img_center">
      <a class="example-image-link" href="{{asset('./bundles/ayuda/img/modulo_administracion.jpg')}}"
	  data-lightbox="example-1">
       <img class="example-image" src="{{asset('./bundles/ayuda/img/modulo_administracion_thumb.jpg')}}"
	   height="150"/>
	  </a>
    </div></br>
	<!--------------------------------------------------------------------------------------->
    <p class="texto_manual">Para saber como usar correctamente estas 
	funcionalidades, puede navegar en el siguiente menu:</p></br>
    
	<!-------------Menú de las acciones del módulo financiero (módulo financiero)------------->
	<!---------------------------------------------------------------------------------------->
    
	<!--Menú que se encuntra dentro del modulo administración-->
	<!--------------------------------------------------------->
	<div class="submenu_modulos">
      <ul>
	     <img src="{{asset('public/images/shopping_cart.png')}}" align="left" height="25">
         <li><a href="#">|Comercial|</a></li>
         <img src="{{asset('public/images/profit.png')}}" align="left" height="25">
		 <li><a href="#">|Financiero|</a></li>
         <img src="{{asset('public/images/network.png')}}" align="left" height="25">
		 <li><a href="#">|Técnico|</a></li>
         <img src="{{asset('public/images/control_panel.png')}}" align="left" height="25">
		 <li><a href="#">|Soporte|</a></li>
         <img src="{{asset('public/images/companies.png')}}" align="left" height="25">
		 <li><a href="#">|Corporación|</a></li>
         <img src="{{asset('public/images/comunicacion.png')}}" align="left" height="25">
		 <li><a href="#">|Comunicación|</a></li>
         <img src="{{asset('public/images/security.png')}}" align="left" height="25">
		 <li><a href="#">|Seguridad|</a></li>
      </ul>
    </div>  
    <!---------------------------------------------------------------------------------------->
    <div id="contenido_administracion"></div>
 