
    <img src="{{asset('public/images/plan-verasignacion.png')}}" height="45" class="img_titulo"/></br>
    <div class="div_titulo_planificacion" id="ver_asignacion">
      Ver tareas asignadas
    </div></br>
	
	<p class="texto_manual">Para visualizar las asignaciones,
	damos click en el link 	<em>Ver asignaciones</em>, se mostrará
	la siguiente vista:</p></br>
	
	<div class="img_center">
      <a class="example-image-link" href="{{asset('./bundles/ayuda/img/ver_asignaciones.jpg')}}"
	  data-lightbox="example-1">
       <img class="example-image" src="{{asset('./bundles/ayuda/img/ver_asignaciones.jpg')}}"
	   height="150" title="Para visualizar mejor la imagen, dar click"/>
	  </a>
    </div></br>
	
	<p class="texto_manual">Buscamos al cliente a quien esta asignada una tarea, y hacemos
	click en la opción <em>Ver asignaciones</em></p></br>
	
	<div class="img_center">
      <a class="example-image-link" href="{{asset('./bundles/ayuda/img/tareas_asignadas.jpg')}}"
	  data-lightbox="example-1">
       <img class="example-image" src="{{asset('./bundles/ayuda/img/tareas_asignadas.jpg')}}"
	   height="150" title="Para visualizar mejor la imagen, dar click"/>
	  </a>
    </div></br>
	<img src="{{asset('public/images/video.png')}}" height="50" class="img_titulo">
	<div class="div_titulo_planificacion">
     Ver video guía
    </div></br>

    <p class="texto_manual">En el siguiente video se muestra como
	ver las asignaciones de tarea.</p></br>

    <div class="img_center">
      <video src="{{asset('./bundles/ayuda/videos/ver_asignacion.mp4')}}" 
	  width="400" height="308" controls></video>
    </div>