    
	<img src="{{asset('public/images/plan-coordinar.png')}}" height="50" class="img_titulo"/></br>
    <div class="div_titulo_planificacion">
      Coordinar
    </div></br>
	
	<p class="texto_manual">Para coordinar una instalación damos click en el 
	link <em>coordinar</em>, se mostrará la siguiente vista:</p></br>
	
	<div class="img_center">
      <a class="example-image-link" href="{{asset('./bundles/ayuda/img/lista_coordinar.jpg')}}"
	  data-lightbox="example-1">
       <img class="example-image" src="{{asset('./bundles/ayuda/img/lista_coordinar.jpg')}}"
	   height="150" title="Para visualizar mejor la imagen, dar click"/>
	  </a>
	  <p class="zoom">Dar click en la imagen para hacer zoom</p>
    </div></br>
	
	<p class="texto_manual">En esta vista se puede realizar las siguientes 
	acciones: <em>-Programar</em> <em>-Anular orden</em> <em>-Rechazar orden</em>
	<em>-Replanificar</em>.
	</p></br>
	
		
	
	  <img src="{{asset('public/images/images_crud/time2.png')}}" align="left">
	  <p class="texto_manual"><span class="bold">Programar -></span> Ingresa el día
	  y la hora de instalación.</p>
	  <img src="{{asset('public/images/images_crud/Bigdelete.png')}}" align="left">
	  <p class="texto_manual"><span class="bold">Anular orden -></span> cancela orden
	  de instalación.</p>
	  <img src="{{asset('public/images/images_crud/Bigdelete.png')}}" align="left">
	  <p class="texto_manual"><span class="bold">Rechazar orden -></span> Rechaza orden
	  de instalación.</p>
	  <img src="{{asset('public/images/images_crud/Retime.png')}}" align="left">
	  <p class="texto_manual"><span class="bold">Replanificar -></span> Cambia el día
	  y la hora de instalación.</p>
	  <img src="{{asset('public/images/images_crud/Bigdelete.png')}}" align="left">
	  <p class="texto_manual"><span class="bold">Detener -></span> Detiene.</p></br>
	  
	  <img src="{{asset('public/images/video.png')}}" height="50" class="img_titulo">	
	  <div class="div_titulo_planificacion">
       Ver video guía
      </div></br>

    <p class="texto_manual">En el siguiente video se puede apreciar como se coordina
	una instalación.</p></br>
    	
    <div class="img_center">
      <video src="{{asset('./bundles/ayuda/videos/coordinar.mp4')}}" width="400"
	  height="308" controls></video>
    </div>
	
	