	
	<img src="{{asset('public/images/plan-material.png')}}" height="50" class="img_titulo"/></br>
    <div class="div_titulo_planificacion" id="ingreso_materiales">
      Ingreso de materiales
    </div></br>
	
    <p class="texto_manual">Para hacer el ingreso de materiales,
	damos click en el link 	<em>Ingreso materiales</em>, se mostrar치 la siguiente vista:</p></br>
	
	<div class="img_center">
      <a class="example-image-link" href="{{asset('./bundles/ayuda/img/ingreso_material.jpg')}}"
	  data-lightbox="example-1">
       <img class="example-image" src="{{asset('./bundles/ayuda/img/ingreso_material.jpg')}}"
	   height="150" title="Para visualizar mejor la imagen, dar click"/>
	  </a>
    </div></br>
	
	<p class="texto_manual">Luego de esto, damos click en la opci칩n <em>Finalizar
	instalaci칩n, se nos mostrar치 la siguiente vista: </em></p></br>
	
	<div class="img_center">
      <a class="example-image-link" href="{{asset('./bundles/ayuda/img/ingreso_material2.jpg')}}"
	  data-lightbox="example-1">
       <img class="example-image" src="{{asset('./bundles/ayuda/img/ingreso_material2.jpg')}}"
	   height="150" title="Para visualizar mejor la imagen, dar click"/>
	  </a>
    </div></br>
	
	<p class="texto_manual">Para finalizar, damos click en guardar.</p></br>