    
	<img src="{{asset('public/images/plan-asignacion.png')}}" height="50" class="img_titulo"/></br>
    <div class="div_titulo_planificacion" id="planificacion_asignar">
      Asignar responsable
    </div></br>
	
	<p class="texto_manual">Para Asignar un responsable a la tarea, damos click en el link 
	<em>Asignar responsable</em>, se mostrará la siguiente vista:</p></br>
	<div class="img_center">
      <a class="example-image-link" href="{{asset('./bundles/ayuda/img/asignar_tarea.jpg')}}"
	  data-lightbox="example-1">
       <img class="example-image" src="{{asset('./bundles/ayuda/img/asignar_tarea.jpg')}}"
	   height="150" title="Para visualizar mejor la imagen, dar click"/>
	  </a>
    </div></br>
	
	<p class="texto_manual">En esta vista, seleccionamos al cliente a quien queremos
	realizar, la instalación. Aquí se puede realizar las siguientes acciones:<em>-Ver
	mapa</em> <em>-Ver croquis</em> <em>-Asignar responsable</em>, de acuerdo a esta
	información se asigna al responsable, que puede ser un empleado, una cuadrilla o 
	un contratista, dependiendo cual fuere el caso.</p></br></br>
	
	
	
	  <img src="{{asset('public/images/images_crud/gmaps.png')}}" align="left">
	  <p class="texto_manual"><span class="bold">Ver mapa -></span> Muestra el mapa
	  mediante googlemap.</p>
	  <img src="{{asset('public/images/images_crud/foto.png')}}" align="left">
	  <p class="texto_manual"><span class="bold">Ver croquis -></span> Muestra un 
	  croquis de como llegar al punto.</p>
	  <img src="{{asset('public/images/images_crud/tuerca.png')}}" align="left">
	  <p class="texto_manual"><span class="bold">Asignar responsable -></span> Asigna
	  al responsable de la tarea.</p></br>
	  
	  <p class="texto_manual">Al dar click en la opción <Asignar responsable>, nos 
	  muestra la siguiente vista:</p></br>
	  
	  <div class="img_center">
      <a class="example-image-link" href="{{asset('./bundles/ayuda/img/asignar_responsable.jpg')}}"
	  data-lightbox="example-1">
       <img class="example-image" src="{{asset('./bundles/ayuda/img/asignar_responsable.jpg')}}"
	   height="150" title="Para visualizar mejor la imagen, dar click"/>
	  </a>
    </div></br>
	<p class="texto_manual">Seleccionamos los datos correctos, y guardamos.</p></br>
	<img src="{{asset('public/images/video.png')}}" height="50" class="img_titulo">
	<div class="div_titulo_planificacion">
      Ver video guía
    </div></br>

    <p class="texto_manual">En el siguiente video se puede apreciar como se puede
	asignar un responsable.</p></br>

    <div class="img_center">
      <video src="{{asset('./bundles/ayuda/videos/asignar_responsable.mp4')}}"
	  width="400" height="308" controls></video>
    </div>
	  