 
   <img src="{{asset('public/images/plan-asignacionred.png')}}" height="40" class="img_titulo"/></br>
   <div class="div_titulo_planificacion" id="planificacion_recursos">
      Asignar recursos de red
    </div></br>
	<p class="texto_manual">Para Asignar recursos de red , damos click en el link 
	<em>Asignar recursos de red</em>, se mostrará la siguiente vista:</p></br>
	
	<!--Imagen de la seccion factibilidad (modulo planificacion)-->
	<!------------------------------------------------------------>
    <div class="img_center">
      <a class="example-image-link" href="{{asset('./bundles/ayuda/img/asignar_recursos.jpg')}}"
	  data-lightbox="example-1">
       <img class="example-image" src="{{asset('./bundles/ayuda/img/asignar_recursos.jpg')}}"
	   height="90" title="Para visualizar mejor la imagen, dar click"/>
	  </a>
	  <p class="zoom">Dar click en la imagen para hacer zoom</p>
    </div></br>
	
	<p class="texto_manual">En esta vista seleccionamos al cliente a quien queremos
	asignar los recursos de red, damos click en el icono que se encuentra a la derecha.</p></br>
	
	<div class="img_center">
      <a class="example-image-link" href="{{asset('./bundles/ayuda/img/ingreso_recurso.jpg')}}"
	  data-lightbox="example-1">
       <img class="example-image" src="{{asset('./bundles/ayuda/img/ingreso_recurso.jpg')}}"
	   height="200" title="Para visualizar mejor la imagen, dar click"/>
	  </a>
	  <p class="zoom">Dar click en la imagen para hacer zoom</p>
    </div></br>
	
	<p class="texto_manual">Automáticamente se nos cargará los datos del cliente,
	datos  del servicio, seleccionamos el splitter y la interface, luego damos click
	en el botón Guardar.</p></br>
	
	<p class="texto_manual">En esta instancia el proces pasa a la parte Tecnica, donde
	deberá activar el servicio. El estado del servico cambia a Asignada.</p></br>
	
	<img src="{{asset('public/images/video.png')}}" height="50" class="img_titulo">
	<div class="div_titulo_planificacion">
      Ver video guía
    </div></br>

    <p class="texto_manual">En el siguiente video se puede apreciar como asigna
	recursos de red.</p></br>

    <div class="img_center">
      <video src="{{asset('./bundles/ayuda/videos/asignar_recursos.mp4')}}" 
	  width="400" height="308" controls></video>
    </div>
	
	