    
	<img src="{{asset('public/images/plan-planificar.png')}}" height="50" class="img_titulo"/></br>
    <div class="div_titulo_planificacion" id="planificacion_ver">
      Ver planificación
    </div></br>
	
	<p class="texto_manual">Para visualizar fechas de instalaciones, click en el link 
	<em>Ver planificación</em>, se mostrará la siguiente vista:</p></br>
	<div class="img_center">
      <a class="example-image-link" href="{{asset('./bundles/ayuda/img/ver_planificacion.jpg')}}"
	  data-lightbox="example-1">
       <img class="example-image" src="{{asset('./bundles/ayuda/img/ver_planificacion.jpg')}}"
	   height="150" title="Para visualizar mejor la imagen, dar click"/>
	  </a>
	  <p class="zoom">Dar click en la imagen para hacer zoom</p>
    </div></br>
	
	<p class="texto_manual">Puede consultar cualquier fecha, haciendo click en cualquiera de los
	días marcados.</p></br>
	<div class="img_center">
      <a class="example-image-link" href="{{asset('./bundles/ayuda/img/ver_dia.jpg')}}"
	  data-lightbox="example-1">
       <img class="example-image" src="{{asset('./bundles/ayuda/img/ver_dia.jpg')}}"
	   height="150" title="Para visualizar mejor la imagen, dar click"/>
	  </a>
	  <p class="zoom">Dar click en la imagen para hacer zoom</p>
    </div></br>
	
	<img src="{{asset('public/images/video.png')}}" height="50" class="img_titulo">
	<div class="div_titulo_planificacion">
      Ver video guía
      </div></br>

    <p class="texto_manual">En el siguiente video se puede apreciar como se puede consultar
	los dias de planificación.</p></br>

    <div class="img_center">
      <video src="{{asset('./bundles/ayuda/videos/ver_planificacion.mp4')}}" 
	  width="400" height="308" controls></video>
    </div>