    
	<img src="{{asset('public/images/plan-datos-instalacion.png')}}" height="50" class="img_titulo"/>
    <div class="div_titulo_planificacion" id="datos_instalacion">
      Datos de instalación
    </div></br>
	
    <p class="texto_manual">Para visualizar los datos de instalación,
	damos click en el link 	<em>Datos de instalación</em>, se mostrará
	la siguiente vista:</p></br>
	
	<div class="img_center">
      <a class="example-image-link" href="{{asset('./bundles/ayuda/img/datos_instalacion.jpg')}}"
	  data-lightbox="example-1">
       <img class="example-image" src="{{asset('./bundles/ayuda/img/datos_instalacion.jpg')}}"
	   height="150" title="Para visualizar mejor la imagen, dar click"/>
	  </a>
    </div></br>
	
	<p class="texto_manual">Luego de esto, damos click en la opción <em>Descargar 
	datos de instalación</em>, y se nos descargará un PDF con la información</p></br>
	
	<div class="img_center">
      <a class="example-image-link" href="{{asset('./bundles/ayuda/img/datos_instalacion2.jpg')}}"
	  data-lightbox="example-1">
       <img class="example-image" src="{{asset('./bundles/ayuda/img/datos_instalacion2.jpg')}}"
	   height="150"/>
	  </a>
    </div></br>
	
	