
    <img src="{{asset('public/images/plan-retiro-equipo.png')}}" height="50" class="img_titulo"/></br>
    <div class="div_titulo_planificacion">
      Finalizar retiro de equipo
    </div></br>
	
	<p class="texto_manual">Para visualizar como proceder a l retiro de equipos,
	damos click en el link 	<em>Finalizar retiro de equipo</em>, se mostrará 
	la siguiente vista:</p></br>
	
	<!--Imagen de la seccion factibilidad (modulo planificacion)-->
	<!------------------------------------------------------------>
    <div class="img_center">
      <a class="example-image-link" href="{{asset('./bundles/ayuda/img/retiro_equipo.jpg')}}"
	  data-lightbox="example-1">
       <img class="example-image" src="{{asset('./bundles/ayuda/img/retiro_equipo.jpg')}}"
	   height="150" title="Para visualizar mejor la imagen, dar click"/>
	  </a>
    </div></br>
	
	<p class="texto_manual">Buscamos al cliente que se quiere retirar el equipo, y
	hacemos click en el  icono <em>Finalizar retiro de equipo</em></p></br>
	
	<div class="img_center">
      <a class="example-image-link" href="{{asset('./bundles/ayuda/img/retiro_equipo2.jpg')}}"
	  data-lightbox="example-1">
       <img class="example-image" src="{{asset('./bundles/ayuda/img/retiro_equipo2.jpg')}}"
	   height="150" title="Para visualizar mejor la imagen, dar click"/>
	  </a>
    </div></br>
	
	<p class="texto_manual">Ingresamos la serie y el modelo del equipo, y hacemos
	click en finalizar.</p></br>
	