   <img src="{{asset('public/images/factibilidad.png')}}" height="50" class="img_titulo3">  
	
    <div class="div_titulo_planificacion">
      F. de Instalción
    </div></br> 
    
	<p class="texto_manual">Esta opción me muestra un link donde se puede consultar
	la lista de solicitudes de factibilidad.</p></br>
	<!--Imagen de la seccion factibilidad (modulo planificacion)-->
	<!------------------------------------------------------------>
    <div class="img_center">
      <a class="example-image-link" href="{{asset('./bundles/ayuda/img/planificacion_factibilidad2.jpg')}}"
	  data-lightbox="example-1">
       <img class="example-image" src="{{asset('./bundles/ayuda/img/planificacion_factibilidad2.jpg')}}"
	   height="150" title="Para visualizar mejor la imagen, dar click"/>
	  </a>
	  <p class="zoom">Dar click en la imagen para hacer zoom</p>
    </div></br>
	<!------------------------------------------------------------->
	
	<div class="div_titulo_planificacion">
      Respuesta de factibilidad
    </div></br>
  
    <p class="texto_manual">En esta sección se muestra una lista de todos los 
	posibles clientes, que necesiten factibilidad.</p></br>
	
		
	<!--Imagen de la sección de la lista de factibilidad (modulo planificacion)-->
	<!------------------------------------------------------------>
    <div class="img_center">
      <a class="example-image-link" href="{{asset('./bundles/ayuda/img/respuesta_factibilidad.jpg')}}"
	  data-lightbox="example-1">
       <img class="example-image" src="{{asset('./bundles/ayuda/img/respuesta_factibilidad.jpg')}}"
	   height="80" title="Para visualizar mejor la imagen, dar click"/>
	  </a>
	  <p class="zoom">Dar click en la imagen para hacer zoom</p>
    </div></br>
	<!------------------------------------------------------------->
	<p class="texto_manual">En esta vista se puede realizar las siguientes
	acciones: <em>-Ver mapa</em> <em>-Ver croquis</em> <em>-Rechazar orden</em>
	<em>-Fecha factibilidad</em>.</p></br>
	
		
	  <img src="{{asset('public/images/images_crud/gmaps.png')}}" align="left">
	  <p class="texto_manual"><span class="bold">Ver mapa -></span> Muestra el
	  mapa mediante googlemap.</p>
	  <img src="{{asset('public/images/images_crud/foto.png')}}" align="left">
	  <p class="texto_manual"><span class="bold">Ver croquis -></span> Muestra
	  un croquis de como llegar al punto.</p>
	  <img src="{{asset('public/images/images_crud/Bigdelete.png')}}" align="left">
	  <p class="texto_manual"><span class="bold">Rechazar orden -></span> Rechaza
	  la solicitud de factibilidad.</p>
	  <img src="{{asset('public/images/images_crud/tuerca.png')}}" align="left">
	  <p class="texto_manual"><span class="bold">Fecha Factibilidad -></span> Se fija
	  fecha para los posible creacion de una nueva caja.</p></br>
	  
	  <p class="texto_manual">Hacemos click en la opción Fecha Factibilidad, se muestra
	  la siguiente vista</p></br>
	  
	  <div class="img_center">
      <a class="example-image-link" href="{{asset('./bundles/ayuda/img/fecha_factibilidad.jpg')}}"
	  data-lightbox="example-1">
       <img class="example-image" src="{{asset('./bundles/ayuda/img/fecha_factibilidad.jpg')}}"
	   height="250" title="Para visualizar mejor la imagen, dar click"/>
	  </a>
	  <p class="zoom">Dar click en la imagen para hacer zoom</p>
      </div></br>
	  
	  <p class="texto_manual">Ingresamos los datos que nos pide, como la fecha y 
	  observación y damos click en el botón Guardar.</p></br></br>
	  
	  <p class="texto_manual">Se nos muestra el siguiente mensaje de confirmación:</p></br></br>
	  
	  <div class="img_center">
       <img class="example-image" src="{{asset('./bundles/ayuda/img/mensaje_fecha_fatibilidad.jpg')}}"
	   height="100" title="Para visualizar mejor la imagen, dar click"/>
	  
      </div></br>
	  <p class="texto_manual">El estado del servicio cambia a FactibilidadEnProceso.</p></br></br>
	  
	  <p class="texto_manual">Luego de esto se nos muestra una ventana con la opción
	  de dar la Factibilidad.</em></p></br>
	  
	  <div class="img_center">
      <a class="example-image-link" href="{{asset('./bundles/ayuda/img/respuesta2_factibilidad.jpg')}}"
	  data-lightbox="example-1">
       <img class="example-image" src="{{asset('./bundles/ayuda/img/respuesta2_factibilidad.jpg')}}"
	   height="100" title="Para visualizar mejor la imagen, dar click"/>
	  </a>
	  <p class="zoom">Dar click en la imagen para hacer zoom</p>
      </div></br>
	  
	  <p class="texto_manual">Para dar la factibilidad damos click en el icono
	  Ingresar Factibilidad, se nos mostrará la siguiente ventana.</em></p></br>
	  
	   <div class="img_center">
      <a class="example-image-link" href="{{asset('./bundles/ayuda/img/ingreso_factibilidad.jpg')}}"
	  data-lightbox="example-1">
       <img class="example-image" src="{{asset('./bundles/ayuda/img/ingreso_factibilidad.jpg')}}"
	   height="200" title="Para visualizar mejor la imagen, dar click"/>
	  </a>
	  <p class="zoom">Dar click en la imagen para hacer zoom</p>
      </div></br>
	  
	  <p class="texto_manual">Seleccionamos el nombre de la Caja de la lista
	  que se nos presenta.</em></p></br>
	  
	  <div class="img_center">
      <a class="example-image-link" href="{{asset('./bundles/ayuda/img/ingreso_factibilidad3.jpg')}}"
	  data-lightbox="example-1">
       <img class="example-image" src="{{asset('./bundles/ayuda/img/ingreso_factibilidad3.jpg')}}"
	   height="200" title="Para visualizar mejor la imagen, dar click"/>
	  </a>
	  <p class="zoom">Dar click en la imagen para hacer zoom</p>
      </div></br>
	  
	  <p class="texto_manual">Automáticamente se nos carga los datos en los campos
	  Olt y Linea. Luego de esto seleccionamos el Splitter y damos click en el botón
	  Guardar.</em></p></br>
	  
	  <div class="img_center">
      <a class="example-image-link" href="{{asset('./bundles/ayuda/img/ingreso_factibilidad4.jpg')}}"
	  data-lightbox="example-1">
       <img class="example-image" src="{{asset('./bundles/ayuda/img/ingreso_factibilidad4.jpg')}}"
	   height="200" title="Para visualizar mejor la imagen, dar click"/>
	  </a>
	  <p class="zoom">Dar click en la imagen para hacer zoom</p>
      </div></br>
	  
	  <p class="texto_manual">Una vez dada la factibilidad, el estado del servicio
	  cambia a Factible</em></p></br>
	  
	  
	  <img src="{{asset('public/images/video.png')}}" height="50" class="img_titulo">	
	  <div class="div_titulo_planificacion">
       Ver video guía
      </div></br>
	  
	  
    <p class="texto_manual">En el siguiente video se puede apreciar como se aprueba
	la solicitud de factibilidad .</p></br>

    <div class="img_center">
      <video src="{{asset('./bundles/ayuda/videos/factibilidad.mp4')}}" width="400"
	  height="308" controls></video>
    </div>
	
	