    <img src="{{asset('public/images/tools1.png')}}" height="50" class="img_titulo">	
 	<div class="div_titulo_tecnico" id="reactivacion_masiva">
     Reactivación masiva
    </div></br>
	
	<div class="pasos_tecnico">
      <p class="pasos">Paso 1</p>
	</div></br>
	
	<p class="texto_manual">Para realizar esta acción debemos estar dentro del 
	 <em>Módulo técnico</em>, y hacer click en la opción <em>Reactivación 
	 masiva (a)</em>, como resultado se mostrará la siguiente vista:
	</p></br>
	
	<div class="img_center">
      <a class="example-image-link" href="{{asset('./bundles/ayuda/img/reactivacion_masiva.jpg')}}"
	  data-lightbox="example-1">
       <img class="example-image" src="{{asset('./bundles/ayuda/img/reactivacion_masiva.jpg')}}"
	   height="150" title="Para visualizar mejor la imagen, dar click"/>
	  </a>
    </div></br>
	
	<p class="texto_manual">Los criterios para consultar los servicios a cortar son:
	 </br></br>
	 <p class="texto_manual"><span class="bold">Por Oficina:</span></br>
	 Indica la Oficina o Agencia donde desea realizar
	 la reactivación. Es obligatorio para la busqueda ya que la reactivación se realiza por 
	 Oficina.</br></br>
	 <span class="bold">Por Forma de Pago:</span></br>
	 Indica la Forma de Pago que tiene el cliente (Efectivo, Recaudación, Etc.)
	 </br></br> 
	 
	 <div class="pasos_tecnico">
	  <p class="pasos">Paso 2</p>
	</div></br>
	
	<p class="texto_manual">Luego de terminar de escoger los criterios que desea seleccionar, se debe
	escoger la opción Reactivar.</p></br>
	
    <div class="img_center">
      <a class="example-image-link" href="{{asset('./bundles/ayuda/img/reactivacion_masiva2.jpg')}}"
	  data-lightbox="example-1">
      <img class="example-image" src="{{asset('./bundles/ayuda/img/reactivacion_masiva2.jpg')}}"
	  height="150" title="Para visualizar mejor la imagen, dar click"/>
	  </a>
    </div></br>
	
	