    
	<img src="{{asset('public/images/tag_blue.png')}}" height="50" class="img_titulo4"> 
	<div class="div_titulo_soporte">
      ¿A qué llamamos Caso?
    </div></br>
	
	<p class="texto_manual">Son problemas que se generan por diferentes motivos y
	que afectan los servicios de un Cliente. 
	</p></br>
	<div class="div_titulo_soporte">
      ¿Qué es un síntoma?
    </div></br>
	
	<p class="texto_manual">Referencia subjetiva  a un problema. (pequeñas
	descripciones del problema). 
	</p></br>
	<div class="div_titulo_soporte">
      ¿Qué es una hipótesis?
    </div></br>
	
	<p class="texto_manual">Posible solución al síntoma presentado. 
	</p></br>
	
	<div class="div_titulo_soporte">
      Casos
    </div></br>
	
	<p class="texto_manual">Esta opción muestra un listado de todos los
	casos registrados en el sistema.</p></br>
	
	<div class="img_center">
      <a class="example-image-link" href="{{asset('./bundles/ayuda/img/lista_casos.jpg')}}"
	  data-lightbox="example-1">
       <img class="example-image" src="{{asset('./bundles/ayuda/img/lista_casos.jpg')}}" height="150"/>
	  </a>
	  <p class="zoom">Dar click en la imagen para hacer zoom</p>
    </div></br>

	<p class="texto_manual">Si deseamos imprimir un reporte sobre los casos,
	damos click en el icono <em>Exportar</em>, que se encuentra en la parte derecha.</p></br>
	
	<p class="texto_manual">El módulo soporte posee un filtro, que nos permite
	hacer una busqueda rapida, ingresando ciertos parametros, para habilitar o 
	deshabilitar esta opción damos click en las flechas dobles en dirección hacia
	abajo.</p></br>
	
	<div class="img_center">
      <a class="example-image-link" href="{{asset('./bundles/ayuda/img/busqueda_soporte.jpg')}}"
	  data-lightbox="example-1">
       <img class="example-image" src="{{asset('./bundles/ayuda/img/busqueda_soporte.jpg')}}" height="150"/>
	  </a>	  
	  <p class="zoom">Dar click en la imagen para hacer zoom</p>
    </div></br>
	<!--
	<p class="texto_manual">Aquí se podrá realizar las siguiente acciones:</p></br>
	<div class="div_titulo_soporte">
      Ver caso
    </div></br>
	
	<p class="texto_manual">Para visualizar un caso, damos click en el icono <em>Ver caso</em>.
	Se nos muestra la siguiente vista:</p></br>
	
	<div class="img_center">
      <a class="example-image-link" href="{{asset('./bundles/ayuda/img/ver_casos.jpg')}}"
	  data-lightbox="example-1">
       <img class="example-image" src="{{asset('./bundles/ayuda/img/ver_casos.jpg')}}" height="150"/>
	  </a>	  
	  <p class="zoom">Dar click en la imagen para hacer zoom</p>
    </div></br>
	
	<p class="texto_manual">En esta ventana podemos navegar por medio de tabs y
	visualizar con mas detalle el caso, como los Datos generales - Afectados - 
	Detalle de sintomas e hipotesis - Detalles de tareas.</p></br>
	
	<div class="div_titulo_soporte">
     Ver afectados
    </div></br>
	
	<p class="texto_manual">Para visualizar afectados, damos click en el icono <em>Ver afectados</em>.
	Se nos muestra la siguiente vista:</p></br>
	
	<div class="img_center">
      <a class="example-image-link" href="{{asset('./bundles/ayuda/img/ver_afectados.jpg')}}"
	   data-lightbox="example-1">
       <img class="example-image" src="{{asset('./bundles/ayuda/img/ver_afectados.jpg')}}" height="150"/>
	  </a>	  
	  <p class="zoom">Dar click en la imagen para hacer zoom</p>
    </div></br>
	-->
	
	<!--<img src="{{asset('public/images/Plus_64.png')}}" height="30" class="img_titulo">-->
	<div class="div_titulo_soporte">
      Crear nuevo caso
    </div></br>
	
	<p class="texto_manual">Para crear un nuevo caso, damos click en la opción <em>Nuevo caso</em> (a), 
	que se encuntra en la parte superior derecha. Se nos muestra la siguiente vista:</p></br>
	
	<div class="img_center">
      <a class="example-image-link" href="{{asset('./bundles/ayuda/img/nuevo_caso.jpg')}}"
	   data-lightbox="example-1">
       <img class="example-image" src="{{asset('./bundles/ayuda/img/nuevo_caso.jpg')}}" height="150"/>
	  </a>
	  <p class="zoom">Dar click en la imagen para hacer zoom</p>
    </div></br>
	
	<div class="div_titulo_soporte">
      Agregar síntoma
    </div></br>
	<p class="texto_manual">Para agregar un síntoma, nos ubicamos en la seccion
	Agregar síntoma y damos click en la opción <em>Agregar</em></p></br>
	
	<div class="img_center">
      <a class="example-image-link" href="{{asset('./bundles/ayuda/img/agregar_sintoma.jpg')}}"
	   data-lightbox="example-1">
       <img class="example-image" src="{{asset('./bundles/ayuda/img/agregar_sintoma.jpg')}}" height="150"/>
	  </a>
	  <p class="zoom">Dar click en la imagen para hacer zoom</p>
    </div></br>
	
	<p class="texto_manual">Al dar click en la opción <em>Agregar</em>, se nos crea un cuadro vacio,
	le damos doble click, y escogemos el síntoma que mas se identifique con el problema.</br></br>
	Una vez ingresado todos los datos y la cantidad de síntomas requeridos, damos click en el botón
	<em>Guardar</em>.
	</p></br>
	
	
	<img src="{{asset('public/images/video.png')}}" height="50" class="img_titulo">	
    
	<div class="div_titulo_soporte">
      Ver video guía
    </div></br>

    <p class="texto_manual">En el siguiente video se puede apreciar como crear 
	un nuevo caso y cómo agregar un síntoma.</p></br>

    <div class="img_center">
      <video src="{{asset('./bundles/ayuda/videos/crear_caso.mp4')}}" width="400" height="308" controls></video>
    </div></br>
	
	<div class="div_titulo_soporte">
      Agregar hipótesis
    </div></br>
	<p class="texto_manual">Luego de haber creado el caso, se nos mostrará la siguiente ventana:</p></br>
	
	<div class="img_center">
      <a class="example-image-link" href="{{asset('./bundles/ayuda/img/agregar_hipotesis.jpg')}}"
	   data-lightbox="example-1">
       <img class="example-image" src="{{asset('./bundles/ayuda/img/agregar_hipotesis.jpg')}}" height="150"/>
	  </a>
	  <p class="zoom">Dar click en la imagen para hacer zoom</p>
    </div></br>
	
	<p class="texto_manual">Seleccionamos el segundo icono, <em>Agregar hipótesis</em>, como 
	resultado se nos muestra la siguiente ventana:</p></br>
	
	<div class="img_center">
      <a class="example-image-link" href="{{asset('./bundles/ayuda/img/agregar_hipotesis2.jpg')}}"
	   data-lightbox="example-1">
       <img class="example-image" src="{{asset('./bundles/ayuda/img/agregar_hipotesis2.jpg')}}" height="150"/>
	  </a>
	  <p class="zoom">Dar click en la imagen para hacer zoom</p>
    </div></br>
	
	<p class="texto_manual">Nos ubicamos en la sección <em>Ingresar Información
	de Hipótesis</em>, y damos ckick en la opción <em>Agregar</em>, ingresamos la
    hipótesis y de manera opcional alguna observación.</br></br>
	
	Si se necesita ingresar otra hipotesis, volvemos dar click en la opción <em>Agregar<em>,
	y seguimos los mismos pasos anteriormente mencionados. Una vez que todos los campos esten correctos, 
	damos click en el botón <em>Guardar</em></p></br>
	
	<img src="{{asset('public/images/video.png')}}" height="50" class="img_titulo">	
    
	<div class="div_titulo_soporte">
      Ver video guía
    </div></br>

    <p class="texto_manual">En el siguiente video se puede apreciar como crear 
	una hipótesis.</p></br>

    <div class="img_center">
      <video src="{{asset('./bundles/ayuda/videos/agregar_hipotesis.mp4')}}" width="400" height="308" controls></video>
    </div></br>

	<!--Luego de ingresar las hipotesis necesarias, procedemos a asignar el caso, nos dirigimos 
	al icono que se encuntra en la parte derecha y damos click, como resultado se nos muestra
	la siguiente ventana:
	</p></br>-->
	<div class="div_titulo_soporte">
      Agregar tarea
    </div></br>

    <p class="texto_manual">Una vez ingresado las hipotesis, debemos agregar las tareas, para esto
	damos click en el segundo icono como se muestra en la siguinte imagen:</p></br>
	
	<div class="img_center">
      <a class="example-image-link" href="{{asset('./bundles/ayuda/img/agregar_tareas2.jpg')}}"
	   data-lightbox="example-1">
       <img class="example-image" src="{{asset('./bundles/ayuda/img/agregar_tareas2.jpg')}}" height="150"/>
	  </a>
	  <p class="zoom">Dar click en la imagen para hacer zoom</p>
    </div></br>
	
	<p class="texto_manual">Como resultado de esta acción se nos genera la siguiente vista:</p></br>
	
	<div class="img_center">
      <a class="example-image-link" href="{{asset('./bundles/ayuda/img/agregar_tareas.jpg')}}"
	   data-lightbox="example-1">
       <img class="example-image" src="{{asset('./bundles/ayuda/img/agregar_tareas.jpg')}}" height="150"/>
	  </a>
	  <p class="zoom">Dar click en la imagen para hacer zoom</p>
    </div></br>
	
	<p class="texto_manual">En la sección <em>Información de Hipótesis</em>, 
	seleccionamos el síntoma. Luego en la sección <em>Ingresar Infromación de Tareas</em>,
	damos click en la opción <em>Agregar</em>. Al ejecutar esta acción, se nos carga automaticamente
	el síntoma y la hipótesis anteriormente creadas, 	ahora lo que debemos ingresar son los campos: 
	tarea, tipo y elemento/tramo.</br></br>
	
	Luego, damos click en el icono <em>Asignar tarea</em>, se nos mostrará la siguiente vista:
	</p></br>
	
	<div class="img_center">
      <a class="example-image-link" href="{{asset('./bundles/ayuda/img/asignar_tarea_soporte.jpg')}}"
	   data-lightbox="example-1">
       <img class="example-image" src="{{asset('./bundles/ayuda/img/asignar_tarea_soporte.jpg')}}" height="150"/>
	  </a>
	  <p class="zoom">Dar click en la imagen para hacer zoom</p>
    </div></br>
	
	<p class="texto_manual">Asignamos la tarea a un empleado, ingresamos una observación
	y el asunto del correo. Esto quiere decir que, a la persona que se le está asignando
	la tarea, recibirá una notificacion vía correo informandole acerca de la tarea. Una 
	vez ingresados todos los campos, damos click en el botón <em>Guardar</em>.</br></br>
	
	Luego de asignar la tarea, se regresa a la ventana <em>Agregar tarea</em>, y si todo
    esta correcto, damos click en el botón <em>Guardar</em>.</p></br>
	
	<img src="{{asset('public/images/video.png')}}" height="50" class="img_titulo">	
	<div class="div_titulo_soporte">
      Ver video guía
    </div></br>

    <p class="texto_manual">En el siguiente video se puede apreciar como agregar y asignar una tarea.</p></br>

    <div class="img_center">
      <video src="{{asset('./bundles/ayuda/videos/agregar_tarea.mp4')}}" width="400" height="308" controls></video>
    </div></br>
	
	<div class="div_titulo_soporte">
      Administrar tareas
    </div></br>
	
	<p class="texto_manual">Para administrar las tareas, damos click en el icono <em>Administrar tareas,
	</em></p></br>
	
	<div class="img_center">
      <a class="example-image-link" href="{{asset('./bundles/ayuda/img/administrar_tarea3.jpg')}}"
	   data-lightbox="example-1">
       <img class="example-image" src="{{asset('./bundles/ayuda/img/administrar_tarea3.jpg')}}" height="150"/>
	  </a>
	  <p class="zoom">Dar click en la imagen para hacer zoom</p>
    </div></br>
	
	<p class="texto_manual">Se nos mostrará la siguiente vista:</p></br>
	
	<div class="img_center">
      <a class="example-image-link" href="{{asset('./bundles/ayuda/img/administrar_tarea.jpg')}}"
	   data-lightbox="example-1">
       <img class="example-image" src="{{asset('./bundles/ayuda/img/administrar_tarea.jpg')}}" height="150"/>
	  </a>
	  <p class="zoom">Dar click en la imagen para hacer zoom</p>
    </div></br>
	
	<p class="texto_manual">Para aceptar o rechazar la tarea, damos click en la opción 
	<em>Aceptar/Rechazar Tarea</em>, se nos muestra la siguiente vista:</p></br>
	
	<div class="img_center">
      <a class="example-image-link" href="{{asset('./bundles/ayuda/img/aceptar_tarea.jpg')}}"
	   data-lightbox="example-1">
       <img class="example-image" src="{{asset('./bundles/ayuda/img/aceptar_tarea.jpg')}}" height="150"/>
	  </a>
	  <p class="zoom">Dar click en la imagen para hacer zoom</p>
    </div></br>
	
	<p class="texto_manual">Llenamos los campos de ser requeridos, y damos click en el botón 
	<em>Aceptar o Rechazar</em>.</br></br>
	
	Luego a esto, podemos ingresar la información al seguimiento realizado, para esto damos click 
	en la opción <em>Ingresar Seguimiento</em>, se nos mostrará la siguiente vista:</p></br>
	
	<div class="img_center">
      <a class="example-image-link" href="{{asset('./bundles/ayuda/img/ingresar_seguimiento.jpg')}}"
	   data-lightbox="example-1">
       <img class="example-image" src="{{asset('./bundles/ayuda/img/ingresar_seguimiento.jpg')}}" height="150"/>
	  </a>
	  <p class="zoom">Dar click en la imagen para hacer zoom</p>
    </div></br>
	
	<p class="texto_manual">Ingresamos la información respectiva, y damos click en el botón
	<em>Guardar</em></br></br>
	 Una vez que se haya hecho el seguimiento y si la tarea asignada es completada, damos click en la
	 opción <em>Finalizar Tarea</em>, se nos mostrará la siguiente vista:
	
	</p></br>
	
	<div class="img_center">
      <a class="example-image-link" href="{{asset('./bundles/ayuda/img/finalizar_tarea.jpg')}}"
	   data-lightbox="example-1">
       <img class="example-image" src="{{asset('./bundles/ayuda/img/finalizar_tarea.jpg')}}" height="150"/>
	  </a>
	  <p class="zoom">Dar click en la imagen para hacer zoom</p>
    </div></br>
	
	<p class="texto_manual">Si la tarea realizada es la solución, seleccionaremos la opción SI, caso contrario
	la opción NO. Damos click en el botón <em>Guardar</em>.</br></br>
	Una vez cerrada todas las tareas y solucionado el problema, el sistema nos mostrará la opción para cerrar
	el caso:
	</p>
	
	<div class="img_center">
      <a class="example-image-link" href="{{asset('./bundles/ayuda/img/cerrar_caso.jpg')}}"
	   data-lightbox="example-1">
       <img class="example-image" src="{{asset('./bundles/ayuda/img/cerrar_caso.jpg')}}" height="150"/>
	  </a>
	  <p class="zoom">Dar click en la imagen para hacer zoom</p>
    </div></br>
	
	<p class="texto_manual">Damos click en la opción <em>Cerrar Caso, se nos mostrará la siguiente vista:</em>
	</p></br>
	
	<div class="img_center">
      <a class="example-image-link" href="{{asset('./bundles/ayuda/img/cerrar_caso2.jpg')}}"
	   data-lightbox="example-1">
       <img class="example-image" src="{{asset('./bundles/ayuda/img/cerrar_caso2.jpg')}}" height="150"/>
	  </a>
	  <p class="zoom">Dar click en la imagen para hacer zoom</p>
    </div></br>
	
	<p class="texto_manual">Ingresamos la información solicitada y damos click en el botón <em>Guardar</em>,
	el sistema mostrará un mensaje confirmando el cierre del caso.
	</p></br>
	<div class="img_center">
	<img class="example-image" src="{{asset('./bundles/ayuda/img/mensaje_cerrar_caso.jpg')}}" height="100"/>
	</div></br>
	
	<p class="texto_manual">Luego el sistema mostrará, todo la información acerca del caso y su solución</p></br>
	
	<div class="img_center">
      <a class="example-image-link" href="{{asset('./bundles/ayuda/img/datos_generales_caso.jpg')}}"
	   data-lightbox="example-1">
       <img class="example-image" src="{{asset('./bundles/ayuda/img/datos_generales_caso.jpg')}}" height="150"/>
	  </a>
	  <p class="zoom">Dar click en la imagen para hacer zoom</p>
    </div></br>
	
	<img src="{{asset('public/images/video.png')}}" height="50" class="img_titulo">	
	<div class="div_titulo_soporte">
      Ver video guía
    </div></br>

    <p class="texto_manual">En el siguiente video se puede apreciar administrar las tareas.</p></br>

    <div class="img_center">
      <video src="{{asset('./bundles/ayuda/videos/administrar_tarea.mp4')}}" width="400" height="308" controls></video>
    </div></br>