<!---------Imagen del icono actividades (modulo soporte)----------->
<!----------------------------------------------------------------->
<img src="{{asset('public/images/receptionist.png')}}" height="50" class="img_titulo4"></br>
	
    <div class="div_titulo_soporte">
      Actividades
    </div></br> 
	
	<p class="texto_manual">Esta opción muestra un listado de todas las
	llamadas registradas en el sistema.</p></br>
	
	<div class="img_center">
      <a class="example-image-link" href="{{asset('./bundles/ayuda/img/lista_llamadas.jpg')}}"
	  data-lightbox="example-1">
       <img class="example-image" src="{{asset('./bundles/ayuda/img/lista_llamadas.jpg')}}" height="150"/>
	  </a>
	  <p class="zoom">Dar click en la imagen para hacer zoom</p>
    </div></br>
	
	<p class="texto_manual">Si deseamos imprimir un reporte sobre los llamadas,
	damos click en el icono <em>Exportar</em>, que se encuentra en la parte derecha.</p></br>
	
	<div class="div_titulo_soporte">
      Nueva llamada
    </div></br>
	
	<p class="texto_manual">Para crear una nueva llamada, damos click en la opción <em>Nueva llamada</em>, (a)
	que se encuntra en la parte superior derecha. Se nos muestra la siguiente vista:</p></br>
	
	<div class="img_center">
      <a class="example-image-link" href="{{asset('./bundles/ayuda/img/nueva_llamada.jpg')}}"
	  data-lightbox="example-1">
       <img class="example-image" src="{{asset('./bundles/ayuda/img/nueva_llamada.jpg')}}" height="150"/>
	  </a>
	  <p class="zoom">Dar click en la imagen para hacer zoom</p>
    </div></br>
	
	<p class="texto_manual">Llenamos todos los campos requeridos y damos click
	en el botón <em>Guardar<em></p></br>
	
	<img src="{{asset('public/images/video.png')}}" height="50" class="img_titulo">	
    
	<div class="div_titulo_soporte">
      Ver video guía
    </div></br>

    <p class="texto_manual">En el siguiente video se puede apreciar como se crea una nueva llamada.</p></br>

    <div class="img_center">
      <video src="{{asset('./bundles/ayuda/videos/crear_llamada.mp4')}}" width="400" height="308" controls></video>
    </div>