   
   <img src="{{asset('public/images/enlace.png')}}" height="50" class="img_titulo3">   
	
    <div class="div_titulo_tecnico">
      Enlace
    </div></br>
	
	<p class="texto_manual">Esta opción nos muestra un link, que al dar click, nos 
	mostrará un listado de enlaces.</p></br>
	<!-------imagen de la seccion elemento (modulo tecnico)----->
	<!---------------------------------------------------------->
    <div class="img_center">
      <a class="example-image-link" href="{{asset('./bundles/ayuda/img/enlace2.jpg')}}"
	  data-lightbox="example-1">
       <img class="example-image" src="{{asset('./bundles/ayuda/img/enlace2.jpg')}}"
	   height="150" title="Para visualizar mejor la imagen, dar click"/>
	  </a>
	  <p class="zoom">Dar click en la imagen para hacer zoom</p>
    </div></br>
	<!----------------------------------------------------------->
	
	<img src="{{asset('public/images/tools1.png')}}" height="50" class="img_titulo">   
	
    <div class="div_titulo_tecnico">
      Enlace elemento
    </div></br>
	<p class="texto_manual">Aquí se muestra un listado de enlaces. Si queremos consultar alguno
	de ellos, damos click en el icono de la lupa y se nos mostrará la información sobre
	el enlace.</p></br>
	
	<div class="img_center">
      <a class="example-image-link" href="{{asset('./bundles/ayuda/img/enlace.jpg')}}"
	  data-lightbox="example-1">
       <img class="example-image" src="{{asset('./bundles/ayuda/img/enlace.jpg')}}"
	   height="150" title="Para visualizar mejor la imagen, dar click"/>
	  </a>
	  <p class="zoom">Dar click en la imagen para hacer zoom</p>
    </div></br>
	
	<img src="{{asset('public/images/tools1.png')}}" height="50" class="img_titulo3">  
	<div class="div_titulo_tecnico">
      Nuevo enlace
    </div></br>
	
	<p class="texto_manual">Para crear un nuevo enlace, damos click en el botón
	<em>Nuevo enlace</em>, que se encuentra en la parte superior derecha. Se nos
	muestra la siguiente vista:</p></br>
	
	<div class="img_center">
      <a class="example-image-link" href="{{asset('./bundles/ayuda/img/nuevo_enlace.jpg')}}"
	  data-lightbox="example-1">
       <img class="example-image" src="{{asset('./bundles/ayuda/img/nuevo_enlace.jpg')}}"
	   height="150" title="Para visualizar mejor la imagen, dar click"/>
	  </a>
	  <p class="zoom">Dar click en la imagen para hacer zoom</p>
    </div></br>
	
	<p class="texto_manual">Ingresamos todos los campos requeridos para el enlace, y
	damos click en el botón <em>Guardar</em></p></br>
	
	