<!-------------Imagen del icono clientes (modulo tecnico)---------->
<!----------------------------------------------------------------->
 
	<img src="{{asset('public/images/clients.png')}}" height="50" class="img_titulo3"> 
    <div class="div_titulo_tecnico">
      Clientes
    </div></br>
	
    <p class="texto_manual">Esta opción muestra un listado de servicios 
	correspondiente a cada cliente.</p></br>
	<!----------------------imagen de la seccion cliente (modulo tecnico)------------------------------>
	<!------------------------------------------------------------------------------------------------->
    <div class="img_center">
      <a class="example-image-link" href="{{asset('./bundles/ayuda/img/tecnico_cliente.jpg')}}" data-lightbox="example-1">
       <img class="example-image" src="{{asset('./bundles/ayuda/img/tecnico_cliente.jpg')}}" height="150"/>
	  </a>
	  <p class="zoom">Dar click en la imagen para hacer zoom</p>
    </div></br>
	<!------------------------------------------------------------------------------------------------->
	<p class="texto_manual">Las acciones que se pueden realizar depende
	del estado del servicio. Los estados del servicio en el módulo 
	técnico pueden ser:</p></br>
	
	<p class="texto_manual">- Asignada</p>
	<p class="texto_manual">- En verificación</p>
	<p class="texto_manual">- En pruebas</p>
	<p class="texto_manual">- Activo</p>	 
	  
	  <!--
	  <img src="{{asset('public/images/images_crud/search.png')}}" align="left">
	  <p class="texto_manual"><span class="bold">Ver -></span> Visualiza la 
	  información técnica.</p>
	  <img src="{{asset('public/images/confirmarActivacion.png')}}" align="left">
	  <p class="texto_manual"><span class="bold">Confirmar -></span> Permite confirmar
	  el servicio.</p>
	  <img src="{{asset('public/images/logs.png')}}" align="left">
	  <p class="texto_manual"><span class="bold">Logs -></span> Visualiza el historial
	  del servicio.</p>
	  <img src="{{asset('public/images/images_crud/pdf.gif')}}" align="left">
	  <p class="texto_manual"><span class="bold">PDF -></span> Descarga la información técnica.</p>
	  <img src="{{asset('public/images/correo.png')}}" align="left">
	  <p class="texto_manual"><span class="bold">Correo -></span> Visualiza los correos.</p>
	  <img src="{{asset('public/images/correoAgregar.png')}}" align="left">
	  <p class="texto_manual"><span class="bold">Agregar -></span> Agrega nuevos correos.</p>
	  <img src="{{asset('public/images/verIp.png')}}" align="left">
	  <p class="texto_manual"><span class="bold">IP -></span> Visualiza la IP pública.</p>
	  <img src="{{asset('public/images/verParametrosIniciales.png')}}" align="left">
	  <p class="texto_manual"><span class="bold">Parametros -></span> Visualiza los 
	  parámetros iniciales.</p></br>-->
	  
	  
	  <img src="{{asset('public/images/tools1.png')}}" height="50" class="img_titulo"/> 
	  <div class="div_titulo_tecnico">
       Asignada
      </div></br>
	  
	  <p class="texto_manual">En el estado <em>Asignada</em>, según el producto se puede realizar
	  las siguientes acciones:</p></br>
	  
	  <img src="{{asset('public/images/informacionTecnica.png')}}" align="left">
	  <p class="texto_manual"><span class="bold">Activar puerto.</p></br>
	  <img src="{{asset('public/images/cambioPuerto.png')}}" align="left">
	  <p class="texto_manual"><span class="bold">Cambiar puerto.</p></br>
	  <img src="{{asset('public/images/correoAgregar.png')}}" align="left">
	  <p class="texto_manual"><span class="bold">Agregar correo.</p></br>
	  <img src="{{asset('public/images/correo.png')}}" align="left">
	  <p class="texto_manual"><span class="bold">Ver correo.</p></br>
	  <img src="{{asset('public/images/verIp.png')}}" align="left">
	  <p class="texto_manual"><span class="bold">Ver IP pública.</p></br>
	  <img src="{{asset('public/images/logs.png')}}" align="left">
	  <p class="texto_manual"><span class="bold">Ver Logs.</p></br>
	  
	  
	  <img src="{{asset('public/images/informacionTecnica.png')}}" height="25" class="img_titulo"/> 
	  <div class="div_titulo_tecnico">
       Activar puerto
      </div></br>
	  
	  <p class="texto_manual">Para ejecutar la acción de activar puerto, damos click
	  en el icono, se nos muestra la siguiente ventana:</p></br>
	  
	  <div class="img_center">
      <a class="example-image-link" href="{{asset('./bundles/ayuda/img/activar_cliente.jpg')}}" data-lightbox="example-1">
       <img class="example-image" src="{{asset('./bundles/ayuda/img/activar_cliente.jpg')}}" height="150"/>
	  </a>
	  <p class="zoom">Dar click en la imagen para hacer zoom</p>
      </div></br>
	  
	  <p class="texto_manual">Se puede cambiar de puerto mas no de elemento. Verificamos si todos
	  los datos estan correctos, o si necesita cambiar la Interface, 
	  si todo esta bien damos click en el boton Confirmar.</br></br>
	  El estado del servicio cambia a EN VERIFICACIÓN.
	  </p></br>
	  
	  <img src="{{asset('public/images/cambioPuerto.png')}}" height="25" class="img_titulo"/> 
	  <div class="div_titulo_tecnico">
       Cambiar puerto
      </div></br>
	  
	  <p class="texto_manual">Para ejecutar la acción de cambiar puerto, damos click
	  en el icono, se nos muestra la siguiente ventana:</p></br>
	  
	  <div class="img_center">
      <a class="example-image-link" href="{{asset('./bundles/ayuda/img/cambiar_puerto.jpg')}}" data-lightbox="example-1">
       <img class="example-image" src="{{asset('./bundles/ayuda/img/cambiar_puerto.jpg')}}" height="150"/>
	  </a>
	  <p class="zoom">Dar click en la imagen para hacer zoom</p>
      </div></br>
	  
	  <p class="texto_manual">Seleccionamos los campos necesarios para hacer nuestro
	  cambio de puerto, y damos click en el boton <em>Guardar</em>. </br></br>
	  Se cancela el puerto anterior y se activa el nuevo puerto.
	  </p></br>
	  	  
	  <img src="{{asset('public/images/correoAgregar.png')}}" height="25" class="img_titulo"/> 
	  <div class="div_titulo_tecnico">
       Agregar correo
      </div></br>
	  
	  <p class="texto_manual">Para ejecutar la acción de agregar correo, damos click
	  en el icono, se nos muestra la siguiente ventana:</p></br>
	  
	  <div class="img_center">
      <a class="example-image-link" href="{{asset('./bundles/ayuda/img/agregar_correo.jpg')}}" data-lightbox="example-1">
       <img class="example-image" src="{{asset('./bundles/ayuda/img/agregar_correo.jpg')}}" height="150"/>
	  </a>
	  <p class="zoom">Dar click en la imagen para hacer zoom</p>
      </div></br>
	  
	  <p class="texto_manual">Ingresamos el ususario y contraseña para activar el correo. Ej:
	  micorreo@trans-telco. Damos click en el botón <em>Guardar</em>.</p></br>
	  
	  <img src="{{asset('public/images/correo.png')}}" height="25" class="img_titulo"/> 
	  <div class="div_titulo_tecnico">
       Ver correo
      </div></br>
	  
	  <p class="texto_manual">Para ejecutar la acción de ver el correo, damos click
	  en el icono, se nos muestra la siguiente ventana:</p></br>
	  
	  <div class="img_center">
      <a class="example-image-link" href="{{asset('./bundles/ayuda/img/correo.jpg')}}" data-lightbox="example-1">
       <img class="example-image" src="{{asset('./bundles/ayuda/img/correo.jpg')}}" height="150"/>
	  </a>
	  <p class="zoom">Dar click en la imagen para hacer zoom</p>
      </div></br>
	  
	  
	  <img src="{{asset('public/images/logs.png')}}" height="25" class="img_titulo"/> 
	  <div class="div_titulo_tecnico">
       Ver Logs
      </div></br>
	  
	  <p class="texto_manual">Para ejecutar la acción de visualizar el historial
	  del servicio , damos click en el icono, se nos muestra la siguiente ventana:</p></br>
	  
	  <div class="img_center">
      <a class="example-image-link" href="{{asset('./bundles/ayuda/img/historial_servicio.jpg')}}" data-lightbox="example-1">
       <img class="example-image" src="{{asset('./bundles/ayuda/img/historial_servicio.jpg')}}" height="150"/>
	  </a>
	  <p class="zoom">Dar click en la imagen para hacer zoom</p>
      </div></br>
	  
	  
	  <img src="{{asset('public/images/verIp.png')}}" height="20" class="img_titulo"/> 
	  <div class="div_titulo_tecnico">
       Ver IP
      </div></br>
	  
	  <p class="texto_manual">Para ejecutar la acción de visualizar la IP pública,
	  damos click en el icono, se nos muestra la siguiente ventana:</p></br>
	  
	  <div class="img_center">
      <a class="example-image-link" href="{{asset('./bundles/ayuda/img/informacion_ip.jpg')}}" data-lightbox="example-1">
       <img class="example-image" src="{{asset('./bundles/ayuda/img/informacion_ip.jpg')}}" height="150"/>
	  </a>
	  <p class="zoom">Dar click en la imagen para hacer zoom</p>
      </div></br>
	  
	  <img src="{{asset('public/images/tools1.png')}}" height="50" class="img_titulo"/> 
	  <div class="div_titulo_tecnico">
       En verificación
      </div></br>
	  
	  <p class="texto_manual">En el estado <em>En verificación</em>, según el producto se puede realizar
	  las siguientes acciones:</p></br>
	  
	  
	  <img src="{{asset('public/images/grabarHistorial.png')}}" align="left">
	  <p class="texto_manual"><span class="bold">Grabar Parametros iniciales.</p></br>
	  <img src="{{asset('public/images/interfaces.png')}}" align="left">
	  <p class="texto_manual"><span class="bold">Ver VCI.</p></br>
	  <img src="{{asset('public/images/velocidadReal.png')}}" align="left">
	  <p class="texto_manual"><span class="bold">Velocidad real.</p></br>
	  <img src="{{asset('public/images/senalLejos.png')}}" align="left">
	  <p class="texto_manual"><span class="bold">Señal extremo lejano.</p></br>
	  <img src="{{asset('public/images/senalCerca.png')}}" align="left">
	  <p class="texto_manual"><span class="bold">Señal extremo cercano.</p></br>
	  <img src="{{asset('public/images/configuracionBridge.png')}}" align="left">
	  <p class="texto_manual"><span class="bold">Configuración Bridge.</p></br>
	  <img src="{{asset('public/images/circuitoVirtual.png')}}" align="left">
	  <p class="texto_manual"><span class="bold">Ver circuito virtual.</p></br>
	  <img src="{{asset('public/images/search.png')}}" align="left">
	  <p class="texto_manual"><span class="bold">Información técnica.</p></br>
	  <img src="{{asset('public/images/contador.png')}}" align="left">
	  <p class="texto_manual"><span class="bold">Ver contadores.</p></br>
	  <img src="{{asset('public/images/rendimientoPuertoDiario.png')}}" align="left">
	  <p class="texto_manual"><span class="bold">Ver Desempeño de puerto diario.</p></br>
	  <img src="{{asset('public/images/rendimientoPuertoIntervalo.png')}}" align="left">
	  <p class="texto_manual"><span class="bold">Ver Desempeño de puerto en intervalo.</p></br>
	  <img src="{{asset('public/images/verMac.png')}}" align="left">
	  <p class="texto_manual"><span class="bold">Resetear puerto.</p></br>
	  
	  <!--<img src="{{asset('public/images/verIp.png')}}" align="left">
	  <p class="texto_manual"><span class="bold">Ver IP pública.</p></br>
	  <img src="{{asset('public/images/logs.png')}}" align="left">
	  <p class="texto_manual"><span class="bold">Ver Logs.</p></br>-->
	  
	  <img src="{{asset('public/images/grabarHistorial.png')}}" height="20" class="img_titulo"/>
	  <div class="div_titulo_tecnico">
      Grabar Parametros iniciales
      </div></br>
	  
	  <p class="texto_manual">Al dar click en el icono <em>Grabar Parametros Iniciales</em>, los
	  parametros serán guardados. Se graban para cada modelo.</p></br>
	  
	  <div class="img_center">
		<a class="example-image-link" href="{{asset('./bundles/ayuda/img/parametros_iniciales.jpg')}}"
		data-lightbox="example-1">
        <img class="example-image" src="{{asset('./bundles/ayuda/img/parametros_iniciales.jpg')}}"
		height="150"/></a>
		<p class="zoom">Dar click en la imagen para hacer zoom</p>
	  </div>
	  
	  <p class="texto_manual">El estado del servicio pasa a EN PRUEBAS.</p></br>
	  
	  
	  <img src="{{asset('public/images/interfaces.png')}}" height="25" class="img_titulo"/> 
	  <div class="div_titulo_tecnico">
       VCI y velocidad
      </div></br>
	  
	  <p class="texto_manual">Para ejecutar la acción de visualizar el VCI y la velocidad,
	  damos click en el icono, se nos muestra la siguiente ventana:</p></br>
	  
	  <div class="img_center">
      <a class="example-image-link" href="{{asset('./bundles/ayuda/img/vci.jpg')}}" data-lightbox="example-1">
       <img class="example-image" src="{{asset('./bundles/ayuda/img/vci.jpg')}}" height="150"/>
	  </a>
	  <p class="zoom">Dar click en la imagen para hacer zoom</p>
      </div></br>
	  
	  <img src="{{asset('public/images/velocidadReal.png')}}" height="25" class="img_titulo"/> 
	  <div class="div_titulo_tecnico">
       Velocidad real
      </div></br>
	  
	  <p class="texto_manual">Para ejecutar la acción de visualizar la velocidad real,
	  damos click en el icono, se nos muestra la siguiente ventana:</p></br>
	  
	  <div class="img_center">
      
	  <a class="example-image-link" href="{{asset('./bundles/ayuda/img/velocidad.jpg')}}" data-lightbox="example-1">
       <img class="example-image" src="{{asset('./bundles/ayuda/img/velocidad.jpg')}}" height="150"/>
	  </a>
	  
	  <p class="zoom">Dar click en la imagen para hacer zoom</p>
      </div></br>
	  
	  <img src="{{asset('public/images/senalLejos.png')}}" height="25" class="img_titulo"/> 
	  <div class="div_titulo_tecnico">
       Señal extremo lejano
      </div></br>
	  
	  <p class="texto_manual">Para ejecutar la acción de visualizar el nivel de
	  señales extremo lejano, damos click en el icono, se nos muestra la siguiente ventana:</p></br>
	  
	  <div class="img_center">
		  <a class="example-image-link" href="{{asset('./bundles/ayuda/img/senal_lejano.jpg')}}" data-lightbox="example-1">
		   <img class="example-image" src="{{asset('./bundles/ayuda/img/senal_lejano.jpg')}}" height="150"/>
		  </a>
		  <p class="zoom">Dar click en la imagen para hacer zoom</p>
      </div></br>
	  
	  <img src="{{asset('public/images/senalCerca.png')}}" height="25" class="img_titulo"/> 
	  <div class="div_titulo_tecnico">
       Señal extremo cercano
      </div></br>
	  
	  <p class="texto_manual">Para ejecutar la acción de visualizar el nivel de
	  señales extremo cercano, damos click en el icono, se nos muestra la siguiente ventana:</p></br>
	  
	  <div class="img_center">
      <a class="example-image-link" href="{{asset('./bundles/ayuda/img/senal_cercano.jpg')}}" data-lightbox="example-1">
       <img class="example-image" src="{{asset('./bundles/ayuda/img/senal_cercano.jpg')}}" height="150"/>
	  </a>
	  <p class="zoom">Dar click en la imagen para hacer zoom</p>
      </div></br>
	  
	  <img src="{{asset('public/images/configuracionBridge.png')}}" height="25" class="img_titulo"/> 
	  <div class="div_titulo_tecnico">
       Configuración bridge
      </div></br>
	  
	  <p class="texto_manual">Para ejecutar la acción de visualizar la configuración bridge,
	  damos click en el icono, se nos muestra la siguiente ventana:</p></br>
	  
	  <div class="img_center">
      <a class="example-image-link" href="{{asset('./bundles/ayuda/img/configuracion_bridge.jpg')}}" data-lightbox="example-1">
       <img class="example-image" src="{{asset('./bundles/ayuda/img/configuracion_bridge.jpg')}}" height="150"/>
	  </a>
	  <p class="zoom">Dar click en la imagen para hacer zoom</p>
      </div></br>
	  
	  <img src="{{asset('public/images/circuitoVirtual.png')}}" height="25" class="img_titulo"/> 
	  <div class="div_titulo_tecnico">
       Circuito virtual
      </div></br>
	  
	  <p class="texto_manual">Para ejecutar la acción de visualizar el circuito virtual,
	  damos click en el icono, se nos muestra la siguiente ventana:</p></br>
	  
	  <div class="img_center">
      <a class="example-image-link" href="{{asset('./bundles/ayuda/img/circuito_virtual.jpg')}}" data-lightbox="example-1">
       <img class="example-image" src="{{asset('./bundles/ayuda/img/circuito_virtual.jpg')}}" height="150"/>
	  </a>
	  <p class="zoom">Dar click en la imagen para hacer zoom</p>
      </div></br>
	  
	  <img src="{{asset('public/images/search.png')}}" height="20" class="img_titulo"/> 
	  <div class="div_titulo_tecnico">
       Información técnica
      </div></br>
	  
	  <p class="texto_manual">Para ejecutar la acción de visualizar la información técnica,
	  damos click en el icono, se nos muestra la siguiente ventana:</p></br>
	  
	  <div class="img_center">
      <a class="example-image-link" href="{{asset('./bundles/ayuda/img/info_tecnica.jpg')}}" data-lightbox="example-1">
       <img class="example-image" src="{{asset('./bundles/ayuda/img/info_tecnica.jpg')}}" height="150"/>
	  </a>
	  <p class="zoom">Dar click en la imagen para hacer zoom</p>
      </div></br>
	  
	  <img src="{{asset('public/images/contador.png')}}" height="20" class="img_titulo"/> 
	  <div class="div_titulo_tecnico">
       Ver contadores
      </div></br>
	  
	  <p class="texto_manual">Para ejecutar la acción de visualizar contadores,
	  damos click en el icono, se nos muestra la siguiente ventana:</p></br>
	  
	  <div class="img_center">
      <a class="example-image-link" href="{{asset('./bundles/ayuda/img/ver_contadores.jpg')}}" data-lightbox="example-1">
       <img class="example-image" src="{{asset('./bundles/ayuda/img/ver_contadores.jpg')}}" height="150"/>
	  </a>
	  <p class="zoom">Dar click en la imagen para hacer zoom</p>
      </div></br>
	  
	  <img src="{{asset('public/images/rendimientoPuertoDiario.png')}}" height="20" class="img_titulo"/> 
	  <div class="div_titulo_tecnico">
       Desempeño de puerto diario
      </div></br>
	  
	  <p class="texto_manual">Para ejecutar la acción de visualizar el desempeño diario del puerto,
	  damos click en el icono, se nos muestra la siguiente ventana:</p></br>
	  
	  <div class="img_center">
      <a class="example-image-link" href="{{asset('./bundles/ayuda/img/ver_desempeño.jpg')}}" data-lightbox="example-1">
       <img class="example-image" src="{{asset('./bundles/ayuda/img/ver_desempeño.jpg')}}" height="150"/>
	  </a>
	  <p class="zoom">Dar click en la imagen para hacer zoom</p>
      </div></br>
	  
	  <img src="{{asset('public/images/rendimientoPuertoIntervalo.png')}}" height="20" class="img_titulo"/> 
	  <div class="div_titulo_tecnico">
       Desempeño de puerto diario
      </div></br>
	  
	  <p class="texto_manual">Para ejecutar la acción de visualizar el desempeño en intervalo del puerto,
	  damos click en el icono, se nos muestra la siguiente ventana:</p></br>
	  
	  <div class="img_center">
      <a class="example-image-link" href="{{asset('./bundles/ayuda/img/ver_desempeño_intervalo.jpg')}}" data-lightbox="example-1">
       <img class="example-image" src="{{asset('./bundles/ayuda/img/ver_desempeño_intervalo.jpg')}}" height="150"/>
	  </a>
	  <p class="zoom">Dar click en la imagen para hacer zoom</p>
      </div></br>
	  
	  <img src="{{asset('public/images/verMac.png')}}" height="20" class="img_titulo"/> 
	  <div class="div_titulo_tecnico">
       Resetear puerto
      </div></br>
	  
	  <p class="texto_manual">Para ejecutar la acción de resetear puerto,
	  damos click en el icono, se nos muestra la siguiente ventana:</p></br>
	  
	  <div class="img_center">
      <a class="example-image-link" href="{{asset('./bundles/ayuda/img/resetear_puerto.jpg')}}" data-lightbox="example-1">
       <img class="example-image" src="{{asset('./bundles/ayuda/img/resetear_puerto.jpg')}}" height="150"/>
	  </a>
	  <p class="zoom">Dar click en la imagen para hacer zoom</p>
      </div></br>
	  	  
	  <img src="{{asset('public/images/tools1.png')}}" height="50" class="img_titulo"/> 
	  <div class="div_titulo_tecnico">
       En pruebas
      </div></br>
	  
	  <p class="texto_manual">En el estado <em>En pruebas</em>, según el producto se puede realizar
	  las siguientes acciones:</p></br>
	  
	  <img src="{{asset('public/images/confirmarActivacion.png')}}" align="left">
	  <p class="texto_manual"><span class="bold">Confirmar activación.</p></br>
	  <img src="{{asset('public/images/verParametrosIniciales.png')}}" align="left">
	  <p class="texto_manual"><span class="bold">Parametros iniciales.</p></br>
	  <img src="{{asset('public/images/images_crud/pdf.gif')}}" align="left">
	  <p class="texto_manual"><span class="bold">Descargar información técnica.</p></br>
	  
	    
	  <img src="{{asset('public/images/confirmarActivacion.png')}}" height="20" class="img_titulo"/>
	  <div class="div_titulo_tecnico">
      Activación
      </div></br>
	  
	  <p class="texto_manual">Al dar click en el icono <em>Confirmar</em>, se nos mostrará
	  una ventana con toda la información técnica del servicio.</p></br>
	  
	  <div class="img_center">
      <a class="example-image-link" href="{{asset('./bundles/ayuda/img/confirmar_servicio.jpg')}}" data-lightbox="example-1">
       <img class="example-image" src="{{asset('./bundles/ayuda/img/confirmar_servicio.jpg')}}" height="150"/>
	  </a>
	  <p class="zoom">Dar click en la imagen para hacer zoom</p>
      </div></br>
	  
	  <p class="texto_manual">Al dar click en el icono <em>Confirmar</em>, se nos mostrará
	  una ventana con la información técnica del servicio, llenamos los campos requeridos,
	  damos click en el botón <em>Grabar</em>, y el servicio quedará confirmado.</p></br>
	
	<img src="{{asset('public/images/verParametrosIniciales.png')}}" height="20" class="img_titulo"/>
	  <div class="div_titulo_tecnico">
      Parametros iniciales
      </div></br>
	  
	  <p class="texto_manual">Al dar click en el icono <em>Parametros</em>, se
	  nos muestra una ventana con la información de los parametros iniciales.</p></br>
	  
	  <div class="img_center">
		<a class="example-image-link" href="{{asset('./bundles/ayuda/img/parametros_iniciales.jpg')}}"
		data-lightbox="example-1">
        <img class="example-image" src="{{asset('./bundles/ayuda/img/parametros_iniciales.jpg')}}"
		height="150"/></a>
		<p class="zoom">Dar click en la imagen para hacer zoom</p>
	  </div>
	  
	  <img src="{{asset('public/images/images_crud/pdf.gif')}}" height="20" class="img_titulo"/>
	  <div class="div_titulo_tecnico">
      Descargar información técnica
      </div></br>
	  
	  <p class="texto_manual">Al dar click en el icono <em>Descargar</em>, nos creará un archivo PDF
	  en nuestro equipo, con toda la información técnica.</p></br>
	  	  
	  <!--
	  <div class="img_center">
      <a class="example-image-link" href="{{asset('./bundles/ayuda/img/info_tecnica.jpg')}}" data-lightbox="example-1">
       <img class="example-image" src="{{asset('./bundles/ayuda/img/info_tecnica.jpg')}}" height="150"/>
	  </a>
	  <p class="zoom">Dar click en la imagen para hacer zoom</p>
      </div></br>
	
	  <img src="{{asset('public/images/confirmarActivacion.png')}}" height="20" class="img_titulo"/>
	  <div class="div_titulo_tecnico">
      Confirmar
      </div></br>
	  
	  <p class="texto_manual">Al dar click en el icono <em>Confirmar</em>, se nos mostrará
	  una ventana con toda la información técnica del servicio.</p></br>
	  
	  <div class="img_center">
      <a class="example-image-link" href="{{asset('./bundles/ayuda/img/confirmar_servicio.jpg')}}" data-lightbox="example-1">
       <img class="example-image" src="{{asset('./bundles/ayuda/img/confirmar_servicio.jpg')}}" height="150"/>
	  </a>
	  <p class="zoom">Dar click en la imagen para hacer zoom</p>
      </div></br>
	
	<p class="texto_manual">Al dar click en el icono <em>Confirmar</em>, se nos mostrará
	  una ventana con la información técnica del servicio, llenamos los campos requeridos,
	  damos click en el botón <em>Grabar</em>, y el servicio quedará confirmado.</p></br>
	  
	  <img src="{{asset('public/images/logs.png')}}" height="20" class="img_titulo"/>
	  <div class="div_titulo_tecnico">
      Logs
      </div></br>
	  
	  <p class="texto_manual">Al dar click en el icono <em>Logs</em>, se nos mostrará
	  una ventana con el historial del servicio.</p></br>
	  
	  <div class="img_center">
      <a class="example-image-link" href="{{asset('./bundles/ayuda/img/historial_servicio.jpg')}}" data-lightbox="example-1">
       <img class="example-image" src="{{asset('./bundles/ayuda/img/historial_servicio.jpg')}}" height="150"/>
	  </a>
	  <p class="zoom">Dar click en la imagen para hacer zoom</p>
      </div></br>
	
	  <img src="{{asset('public/images/logs.png')}}" height="20" class="img_titulo"/>
	  <div class="div_titulo_tecnico">
      Agregar correo
      </div></br>
	  
	  <p class="texto_manual">Al dar click en el icono <em>Agregar correo</em>...</p></br>
	  
	  <div class="img_center">
        <img class="example-image" src="{{asset('./bundles/ayuda/img/agregar_correo.jpg')}}" height="125"/>
	  </div></br>
	  
	  <img src="{{asset('public/images/verIp.png')}}" height="15" class="img_titulo"/>
	  <div class="div_titulo_tecnico">
      Dirección IP
      </div></br>
	  
	  <p class="texto_manual">Al dar click en el icono <em>IP</em>, se nos muestra una ventana
	  con la información de la IP.</p></br>
	  
	  <div class="img_center">
		<a class="example-image-link" href="{{asset('./bundles/ayuda/img/informacion_ip.jpg')}}"
		data-lightbox="example-1">
        <img class="example-image" src="{{asset('./bundles/ayuda/img/informacion_ip.jpg')}}"
		height="130" title="Para visualizar mejor la imagen, dar click"/>
	  </div></br>
	  
	  <img src="{{asset('public/images/verParametrosIniciales.png')}}" height="20" class="img_titulo"/>
	  <div class="div_titulo_tecnico">
      Parametros iniciales
      </div></br>
	  
	  <p class="texto_manual">Al dar click en el icono <em>Parametros</em>, se
	  nos muestra una ventana con la información de los parametros iniciales.</p></br>
	  
	  <div class="img_center">
		<a class="example-image-link" href="{{asset('./bundles/ayuda/img/parametros_iniciales.jpg')}}"
		data-lightbox="example-1">
        <img class="example-image" src="{{asset('./bundles/ayuda/img/parametros_iniciales.jpg')}}"
		height="150"/></a>
		<p class="zoom">Dar click en la imagen para hacer zoom</p>
	  </div></br>-->	