    <img src="{{asset('public/images/dslam.png')}}" height="35" class="img_titulo"/></br>
	<div class="div_titulo_tecnico">
      Dslam
    </div></br>
	
    <p class="texto_manual">Para visualizar el listado de Dslam, damos click en el
	link <em>Dslam</em>, se nos mostrará la siguiente vista:</p>
		
	<div class="img_center">
      <a class="example-image-link" href="{{asset('./bundles/ayuda/img/lista_dslams.jpg')}}" data-lightbox="example-1">
       <img class="example-image" src="{{asset('./bundles/ayuda/img/lista_dslams.jpg')}}" height="150"/>
	  </a>
	  <p class="zoom">Dar click en la imagen para hacer zoom</p>
    </div></br>
	
	<p class="texto_manual">Aquí se pueden realizar las siguientes acciones:</p></br>
	  
	  <img src="{{asset('public/images/interfaces.png')}}" align="left">
	  <p class="texto_manual"><span class="bold">Ver -></span> Visualiza el VCI y
	  la velocidad.</p>
	  <img src="{{asset('public/images/velocidadReal.png')}}" align="left">
	  <p class="texto_manual"><span class="bold">Ver -></span> Visualiza la velocidad real.</p>
	  <img src="{{asset('public/images/verMac.png')}}" align="left">
	  <p class="texto_manual"><span class="bold">Ver -></span> Visualiza las Macs del puerto.</p>
	  <img src="{{asset('public/images/search.png')}}" align="left">
	  <p class="texto_manual"><span class="bold">Ver -></span> Visualiza información general del
	  Dslam.</p>
	  <img src="{{asset('public/images/images_crud/pencil.png')}}" align="left">
	  <p class="texto_manual"><span class="bold">Editar -></span> Visualiza información general del
	  Dslam.</p></br>
	  
	<img src="{{asset('public/images/interfaces.png')}}" height="25" class="img_titulo"/></br>
	<div class="div_titulo_tecnico">
      VCI y velocidad
    </div></br>
	
	<p class="texto_manual">Esta acción nos permite visualizar el VCI
	y la velocidad. Damos click en el icono.</p></br>
	
	<div class="img_center">
      
	   <img class="example-image" src="{{asset('./bundles/ayuda/img/configuracion_interface.jpg')}}"
	   height="120"/></a>
	   
    </div></br>
	
	<p class="texto_manual">Nos pedirá seleccionar una interfaz, escogemos una
	y damos click en el botón <em>Ejecutar</em>. Como resultado se nos muestra la
	siguiente vista.</p></br>
	
	<div class="img_center">
      <a class="example-image-link" href="{{asset('./bundles/ayuda/img/vci.jpg')}}" data-lightbox="example-1">
       <img class="example-image" src="{{asset('./bundles/ayuda/img/vci.jpg')}}" height="170"/>
	  </a>
	  <p class="zoom">Dar click en la imagen para hacer zoom</p>
    </div></br>
	
	<img src="{{asset('public/images/velocidadReal.png')}}" height="25" class="img_titulo"/></br>
	<div class="div_titulo_tecnico">
      Velocidad real
    </div></br>
	
	<p class="texto_manual">Esta acción nos permite visualizar la velocidad real.
	Damos click en el icono.</p></br>
	
	<div class="img_center">
      
	   <img class="example-image" src="{{asset('./bundles/ayuda/img/configuracion_interface.jpg')}}"
	   height="120"/></a>
	   
    </div></br>
	
	<p class="texto_manual">Nos pedirá seleccionar una interfaz, escogemos una
	y damos click en el botón <em>Ejecutar</em>. Como resultado se nos muestra la
	siguiente vista.</p></br>
	
	<div class="img_center">
      <a class="example-image-link" href="{{asset('./bundles/ayuda/img/velocidad.jpg')}}" data-lightbox="example-1">
       <img class="example-image" src="{{asset('./bundles/ayuda/img/velocidad.jpg')}}" height="170"/>
	  </a>
	  <p class="zoom">Dar click en la imagen para hacer zoom</p>
    </div></br>
	
	<img src="{{asset('public/images/verMac.png')}}" height="25" class="img_titulo"/></br>
	<div class="div_titulo_tecnico">
      Mac
    </div></br>
	
	<p class="texto_manual">Esta acción nos permite visualizar la Mac del puerto.
	Damos click en el icono.</p></br>
	
	<div class="img_center">
      
	   <img class="example-image" src="{{asset('./bundles/ayuda/img/configuracion_interface.jpg')}}"
	   height="120"/></a>
	   
    </div></br>
	
	<p class="texto_manual">Nos pedirá seleccionar una interfaz, escogemos una
	y damos click en el botón <em>Ejecutar</em>. Como resultado se nos muestra la
	siguiente vista.</p></br>
	
	<div class="img_center">
      <a class="example-image-link" href="{{asset('./bundles/ayuda/img/mac.jpg')}}" data-lightbox="example-1">
       <img class="example-image" src="{{asset('./bundles/ayuda/img/mac.jpg')}}" height="170"/>
	  </a>
	  <p class="zoom">Dar click en la imagen para hacer zoom</p>
    </div></br>
	
	
	<img src="{{asset('public/images/senalLejos.png')}}" height="25" class="img_titulo"/></br>
	<div class="div_titulo_tecnico">
      N. de señal extremo lejano
    </div></br>
	
	<p class="texto_manual">Esta acción nos permite visualizar el
	nivel de señal extremo lejano. Damos click en el icono.</p></br>
	
	<div class="img_center">
      
	   <img class="example-image" src="{{asset('./bundles/ayuda/img/configuracion_interface.jpg')}}"
	   height="120"/></a>
	   
    </div></br>
	
	<p class="texto_manual">Nos pedirá seleccionar una interfaz, escogemos una
	y damos click en el botón <em>Ejecutar</em>. Como resultado se nos muestra la
	siguiente vista.</p></br>
	
	<div class="img_center">
      <a class="example-image-link" href="{{asset('./bundles/ayuda/img/niveles_lejano.jpg')}}" data-lightbox="example-1">
       <img class="example-image" src="{{asset('./bundles/ayuda/img/niveles_lejano.jpg')}}" height="170"/>
	  </a>
	  <p class="zoom">Dar click en la imagen para hacer zoom</p>
    </div></br>
	
	
	<img src="{{asset('public/images/senalCerca.png')}}" height="25" class="img_titulo"/></br>
	<div class="div_titulo_tecnico">
      N. de señal extremo cercano
    </div></br>
	
	<p class="texto_manual">Esta acción nos permite visualizar el
	nivel de señal extremo cercano. Damos click en el icono.</p></br>
	
	<div class="img_center">
      
	   <img class="example-image" src="{{asset('./bundles/ayuda/img/configuracion_interface.jpg')}}"
	   height="120"/></a>
	   
    </div></br>
	
	<p class="texto_manual">Nos pedirá seleccionar una interfaz, escogemos una
	y damos click en el botón <em>Ejecutar</em>. Como resultado se nos muestra la
	siguiente vista.</p></br>
	
	<div class="img_center">
      <a class="example-image-link" href="{{asset('./bundles/ayuda/img/niveles_cercano.jpg')}}" data-lightbox="example-1">
       <img class="example-image" src="{{asset('./bundles/ayuda/img/niveles_cercano.jpg')}}" height="170"/>
	  </a>
	  <p class="zoom">Dar click en la imagen para hacer zoom</p>
    </div></br>
	
	
	<img src="{{asset('public/images/configuracionBridge.png')}}" height="25" class="img_titulo"/></br>
	<div class="div_titulo_tecnico">
      Configuración bridge
    </div></br>
	
	<p class="texto_manual">Esta acción nos permite visualizar la configuración
	 bridge. Damos click en el icono.</p></br>
	
	<div class="img_center">
      
	   <img class="example-image" src="{{asset('./bundles/ayuda/img/configuracion_interface.jpg')}}"
	   height="120"/></a>
	   
    </div></br>
	
	<p class="texto_manual">Nos pedirá seleccionar una interfaz, escogemos una
	y damos click en el botón <em>Ejecutar</em>. Como resultado se nos muestra la
	siguiente vista.</p></br>
	
	<div class="img_center">
      <a class="example-image-link" href="{{asset('./bundles/ayuda/img/configuracion_bridge.jpg')}}" data-lightbox="example-1">
       <img class="example-image" src="{{asset('./bundles/ayuda/img/configuracion_bridge.jpg')}}" height="170"/>
	  </a>
	  <p class="zoom">Dar click en la imagen para hacer zoom</p>
    </div></br>
	
	<div class="div_titulo_tecnico">
      Nuevo Dslam
    </div></br>
	
	<p class="texto_manual">En la parte superior derecha de la vista, se encuentra 
	el botón para crear un nuevo elemento Dslam. Al ejecutar esta acción, nos
	presentará la siguiente vista.</p></br>
	
	<div class="img_center">
      <a class="example-image-link" href="{{asset('./bundles/ayuda/img/nuevo_dslam.jpg')}}" data-lightbox="example-1">
       <img class="example-image" src="{{asset('./bundles/ayuda/img/nuevo_dslam.jpg')}}" height="170"/>
	  </a>
	  <p class="zoom">Dar click en la imagen para hacer zoom</p>
    </div></br>
	
	<p class="texto_manual">Ingresamos todos los datos requeridos, y
	damos click en el botón <em>Guardar</em>.</p></br>
	