{% extends "::layout.html.twig" %}
{% block contenido_izq %}
<div id="titulo_content">
	<img src="{{ asset('public/images/'~ item.urlImagen | default('tools1.png') ~ '') }}" class="imagen-titulo-content">
	<h1>Ver Enlace</h1>
</div>

<div class="body_content">
    <svg xmlns="http://www.w3.org/2000/svg" version="1.1">

        <line x1="100" y1="50" x2="200" y2="50" style="stroke:rgb(255,0,0);stroke-width:2"/>
        <image xlink:href="/public/images/interface.png" x="90" y="40" width="16" height="16" />
        
        <text x="70" y="35" fill="red">{{ elementoInicio.nombreElemento }}</text>

        
        <image xlink:href="/public/images/interface.png" x="190" y="40" width="16" height="16" />
        <text x="170" y="75" fill="red">{{ elementoFin.nombreElemento}}</text>

    </svg> 
</div>

<div class="body_content">
    <table class="formulario">
        <tbody>
            <tr>
                <td width="10%">&nbsp;</td>
                <th width="25%"> Nombre Elemento Inicio:</th>
                <td width="15%">{{ elementoInicio.nombreElemento }}</td>        
                <td width="1%"></td>

                <td width="9%">&nbsp;</td>
                <th width="25%">Interface Inicio</th>        
                <td width="15%">{{ interfaceInicio.nombreInterfaceElemento }}</td>
                <td width="1%"></td>
            </tr>
            <tr>
                <td width="10%">&nbsp;</td>
                <th width="25%"> Nombre Elemento Fin:</th>
                <td width="15%">{{ elementoFin.nombreElemento }}</td>        
                <td width="1%"></td>

                <td width="9%">&nbsp;</td>
                <th width="25%">Interface Fin</th>        
                <td width="15%">{{ interfaceFin.nombreInterfaceElemento }}</td>
                <td width="1%"></td>
            </tr>
            <tr>
                <td width="10%">&nbsp;</td>
                <th width="25%"> Tipo Medio:</th>
                <td width="15%">{{ tipoMedio }}</td>        
                <td width="1%"></td>       
                
                <td width="10%">&nbsp;</td>
                <th width="25%">Clase Tipo Medio:</th>
                <td width="15%">{{ claseTipoMedio }}</td>        
                <td width="1%"></td>      
            </tr>
            <tr>
                <td width="10%">&nbsp;</td>
                <th width="25%"> Buffer:</th>
                <td width="15%">{{ buffer }}</td>        
                <td width="1%"></td>

                <td width="9%">&nbsp;</td>
                <th width="25%">Hilo</th>        
                <td width="15%">{{ hilo }}</td>
                <td width="1%"></td>
            </tr>
        </tbody>
    </table>
</div>	
<div class="buttons">
    <p>
        <span class="height20px">
            <a class="button-crud" href="{{ path('enlace_elemento') }}">Regresar</a>
        </span>
    </p>
</div>
<div class="body_content">
    <table class="formulario">
        <tbody>
            <tr>
              <td width="10%" rowspan="3"><img src="{{ asset('public/images/images_crud/agregar_64.png')}}" hspace="3" vspace="3" alt="" border="0" align="absmiddle" /></td>
              <th width="11%">Creador:</th>
              <td width="34%" >{{ enlace.usrCreacion }}</td>

              {% if(enlace.estado=="Modificado") %}
              <td width="10%" rowspan="3"><img src="{{ asset('public/images/images_crud/edit_64.png')}}" hspace="3" vspace="3" alt="" border="0" align="absmiddle" /></td>
              <th width="11%" >Ult. Mod.:</th>
              <td width="34%">{{ enlace.usrUltMod }}</td>
              {% endif %}

              {% if(enlace.estado=="Eliminado") %}
              <td width="10%" rowspan="3"><img src="{{ asset('public/images/images_crud/eliminar_64.png')}}" hspace="3" vspace="3" alt="" border="0" align="absmiddle" /></td>
              <th width="6%">Eliminado:</th>
              <td width="34%">{{ enlace.usrUltMod }}</td>
              {% endif %}
            </tr>
            <tr>
              <th>Fecha:</th>
              <td >{{ enlace.feCreacion | date("d M Y") }}</td>

              {% if(enlace.estado=="Modificado") %}
              <th>Fecha:</th>
              <td >{{ enlace.feUltMod  | date("d M Y")}}</td>
              {% endif %}

              {% if(enlace.estado=="Eliminado") %}
              <th>Fecha:</th>
              <td>{{ enlace.feUltMod | date("d M Y") }}</td>
              {% endif %}
            </tr>
            <tr>
              <th>Hora:</th>
              <td>{{ enlace.feCreacion | date("H:i:s") }}</td>

              {% if(enlace.estado=="Modificado") %}
              <th>Hora:</th>
              <td>{{ enlace.feUltMod | date("H:i:s") }}</td>
              {% endif %}

              {% if(enlace.estado=="Eliminado") %}
              <th>Hora:</th>
              <td>{{ enlace.feUltMod | date("H:i:s") }}</td>
              {% endif %}
            </tr>

        </tbody>
    </table>
</div>
{% endblock contenido_izq %}
{% block contenido_der %}
    <ul class="form_actions">
        <li>
            <a class="button-nuevo-registro" href="{{ path('enlace_elemento_new') }}">
                <img src="{{ asset('public/images/images_crud/new_plus.png')}}" width="15" height="15" />
                &nbsp;Nuevo Enlace
            </a>
        </li>
        <li>
            &nbsp;
        </li>
        <li>
            
        </li>
        <li>
            
        </li>
    </ul>
    <div class="titulo-acciones-relacionadas">
        Acciones Relacionadas
    </div>
    <ul class="listado_acciones_relacionadas">

    </ul>
{% endblock contenido_der %}

