<html>
  <head>
    <meta http-equiv=Content-Type content="text/html; charset=UTF-8">
  </head>
  <body>
    <table align="center" width="100%" cellspacing="0" cellpadding="5">
      <tr>
        <td align="center" style="border:1px solid #6699CC;background-color:#E5F2FF;">
            <img alt=""  src="http://images.telconet.net/others/sit/notificaciones/logo.png"/>
            {#<img alt=""  src="https://telcos.telconet.ec/public/images/logo.png"/>#}
        </td>
      </tr>
      <tr>
        <td style="border:1px solid #6699CC;">
          <table width="100%" cellspacing="0" cellpadding="5">
            <tr>
                <td colspan="2">Estimado personal,</td>
            </tr>
            <tr>
              <td colspan="2">
                El presente correo es para indicarle existen inconvenientes en el servidor de tokens de seguridad:
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <hr />
              </td>
            </tr>
            
            <tr>
              <td>
                <strong>Mensaje:</strong>
              </td>
              <td>{{ mensaje }}</td>
            </tr>
            <tr>
              <td>
                <strong>URL:</strong>
              </td>
              <td>{{ url }}</td>
            </tr>
            <tr>
              <td>
                <strong>Data:</strong>
              </td>
              <td>{{ data_string }}</td>
            </tr>
            <tr>
              <td>
                <strong>Options:</strong>
              </td>
              <td>{{ options }}</td>
            </tr>
            
            <tr>
              <td colspan="2">
                <hr />
              </td>
            </tr>
            
            <tr>
              <td colspan="2">
                <strong>Respuesta desde el servidor:</strong>
              </td>
            </tr>
            <tr>
              <td>
                <strong>Status:</strong>
              </td>
              <td>{{ status }}</td>
            </tr>
            <tr>
              <td>
                <strong>Result:</strong>
              </td>
              <td>{{ result }}</td>
            </tr>
            <tr>
              <td>
                <strong>Error:</strong>
              </td>
              <td>{{ error }}</td>
            </tr>
            
            <tr>
              <td colspan="2"><br/></td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
          <td>&nbsp;
          </td>
      </tr>

    </table>
  </body>
</html>