{% extends "::layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
<style>
    .category-label
    {
        vertical-align: middle;
        padding-right: .5em;
    }
    #category
    {
        vertical-align: middle;
    }
    .toolbar {
        float: right;
        margin-right: .8em;
    }
    .icon_search {
        background-image:url('{{ asset('public/images/images_crud/ver.png') }}') !important;
    }
    .icon_limpiar {
        background-image:url('{{ asset('public/images/images_crud/edit-clear.png') }}') !important;
    } 
    .icon_add {
        background-image:url('{{ asset('public/images/images_crud/plus.png') }}') !important;
    } 
    .icon_delete {
        background-image:url('{{ asset('public/images/images_crud/trash.png') }}') !important;
    }
    .red-back 
    {
        background:#ffe2e2 !important;
    }
    .yellow-back 
    {
        background:#fdffc9 !important;
    }
    #dashboard {
        margin: 0px 11px 3px;
        border: 1px solid #DDD;
        background-color: #F9F9F9;
        box-shadow: 0px 0px 3px #D7D7D7;
        width: 100%;
        min-height: 10em;
    }
</style>
{% endblock %}

{% block javascripts%}
    {{ parent() }}
<script>
    var urlGetstoreListaParametros              = '{{ path('Motivos_NC_indisponibilidad_getListadoParametrosCabJson') }}';
    var urlGetStoreParametrosDet                = '{{ path('Motivos_NC_indisponibilidad_getListadoParametrosDetJson') }}';       
    var urlCreaMotivoParametroDet               = '{{ path('Motivos_NC_indisponibilidad_creaMotivoParametroDet') }}';
    var urlActualizarDetalle                    = '{{ path('Motivos_NC_indisponibilidad_actualizarDet') }}';
    var urlDeleteDetalle                        = '{{ path('Motivos_NC_indisponibilidad_deleteDet') }}';
    var arrayTipoCaso                           = '{{arrayTipoCaso|json_encode()|raw}}';
    var arrayTipoAfectacion                     = '{{arrayTipoAfectacion|json_encode()|raw}}';
    var arrayPeriodos                           = '{{arrayPeriodos|json_encode()|raw}}';
    var arrayHipotesis                          = '{{arrayHipotesis|json_encode()|raw}}';  
    var arrayParametros                         = '{{arrayParametros|json_encode()|raw}}';  
   
</script>
<script type="text/javascript" src="{{ asset('./bundles/financiero/js/AdmiMotivoNCIndisponibilidad/MotivosNCIndisponiblidad.js?1') }}"></script>
{% endblock %}

{% block contenido_izq %}
<div id="titulo_content">
    <img src="{{ asset('public/images/'~ item.urlImagen | default('tools1.png') ~ '') }}" class="imagen-titulo-content">
    <h1>Administraci&oacute;n Motivos para Notas de Cr&eacute;dito por Indisponibilidad  </h1>
</div>
    
<div class="body_content k-content">    
    <table width="100%" cellpadding="1" cellspacing='0'  border='0'>
        <tr bgcolor='#ffffff'>
            <td bgcolor='#ffffff'>
                <div id='ListadosCabeceraParametros'></div>
            </td>
        </tr>	      
        <tr bgcolor='#ffffff'>
            <td bgcolor='#ffffff'>
                <br/> <div id='ListadosDetalleParametros'></div>
            </td>
        </tr>                     
    </table>
    <div id="prueba1"></div>
</div>
{% endblock contenido_izq %}