{% extends "::layout.html.twig" %}


{% block javascripts%}
    {{ parent() }}
    <script>
        var strUrlGrid                    = "{{ path('adminumeracion_grid') }}";
        var strUrlDeleteAjax              = "{{ path('adminumeracion_deleteAjax') }}";
        var strUrlGetListadoOficinas      = "{{ path('adminumeracion_getListadoOficinas') }}";
        var boolMostrarSecuenciales       = true;
        var boolMostrarNumeroAutorizacion = true;
        
        {% if strMostrarSecuenciales == "S" %}
            boolMostrarSecuenciales = false;
        {% endif %}

        {% if strMostrarNumeroAutorizacion == "S" %}
            boolMostrarNumeroAutorizacion = false;
        {% endif %}
    </script>
    <script type="text/javascript" src="{{ asset('./bundles/administracion/js/AdmiNumeracion/index.js?2') }}"></script>
{% endblock %}

{% block contenido_izq %}
<div id="titulo_content">
    <img src="{{ asset('public/images/'~ item.urlImagen | default('tools1.png') ~ '') }}" class="imagen-titulo-content">
	<h1>Listado de Numeraciones</h1>
</div>
<div class="body_content k-content">
    <table width="100%" cellpadding="1" cellspacing='0'  border='0'>
        <tr>
            <td><div id='filtro'></div></td>
        </tr>	
        <tr>
            <td><div id="grid"></div></td>
        </tr>
    </table> 
</div>
{% endblock contenido_izq %}

{% block contenido_der %}
    <div class="acciones_relacionadas">
		{% if is_granted('ROLE_33-2') %}
        <a class="button-nuevo-registro" href="{{ path('adminumeracion_new') }}">
            <img src="{{ asset('public/images/images_crud/new_plus.png')}}" width="15" height="15" />
            &nbsp;Nuevo Numeracion
        </a>
		{% endif %}
    </div>
{% endblock contenido_der %}