{% extends "::layout.html.twig" %}
{% block contenido_izq %}
<div id="titulo_content">
    <img src="{{ asset('public/images/'~ item.urlImagen | default('tools1.png') ~ '') }}" class="imagen-titulo-content">
    <h1>Ver Numeracion</h1>
</div>
<div class="body_content">
    <table class="formulario">
        <tbody>
            <tr>
                <td width="8%">&nbsp;</td>
                <th width="25%"><b>Empresa:</b></th>
                <td width="15%">{{ nombreEmpresa }}</td>        
                <td width="1%"></td>

                <td width="8%">&nbsp;</td>
                <th width="25%"><b>Oficina:</b></th>
                <td width="15%">{{ nombreOficina }}</td>        
                <td width="1%"></td>
            </tr>
            <tr>
                <td colspan="8" height="10px">&nbsp;</td>
            </tr>
            <tr>
                <td width="8%">&nbsp;</td>
                <th width="25%"><b>Tipo de Comprobante:</b></th>
                <td width="15%">{{ tipoComprobante }}</td>        
                <td width="1%"></td>

                <td width="8%">&nbsp;</td>
                <th width="25%"><b>C&oacute;digo:</b></th>
                <td width="15%">{{ numeracion.codigo }}</td>        
                <td width="1%"></td>
            </tr>
            <tr>
                <td colspan="8" height="10px">&nbsp;</td>
            </tr>
            <tr>
                <td width="8%">&nbsp;</td>
                <th width="25%"><b>Descripcion:</b></th>
                <td width="15%">{{ numeracion.descripcion }}</td>        
                <td width="1%"></td>

                <td width="8%">&nbsp;</td>
                <th width="25%"><b>Estado:</b></th>
                <td width="15%">{{ numeracion.estado }}</td>        
                <td width="1%"></td>
            </tr>
            <tr>
                <td colspan="8" height="10px">&nbsp;</td>
            </tr>
            {% if strMostrarSecuenciales == "S" %}
                <tr>
                    <td width="8%">&nbsp;</td>
                    <th width="25%"><b>Numeracion Uno:</b></th>
                    <td width="15%">{{ numeracion.numeracionUno }}</td>        
                    <td width="1%"></td>

                    <td width="8%">&nbsp;</td>
                    <th width="25%"><b>Numeracion Dos:</b></th>
                    <td width="15%">{{ numeracion.numeracionDos }}</td>        
                    <td width="1%"></td>
                </tr>
                <tr>
                    <td colspan="8" height="10px">&nbsp;</td>
                </tr>
            {% endif %}
            {% if strMostrarNumeroAutorizacion == "S" %}
                <tr>
                    <td width="8%">&nbsp;</td>
                    <td width="25%"><b>Impresi&oacute;n Fiscal:</b></td>
                    <td width="15%">{{ numeracion.numeroAutorizacion }}</td>        
                    <td width="1%">&nbsp;</td>

                    <td width="8%">&nbsp;</td>
                    <td width="25%">&nbsp;</td>
                    <td width="15%">&nbsp;</td>        
                    <td width="1%">&nbsp;</td>
                </tr>
                <tr>
                    <td colspan="8" height="10px">&nbsp;</td>
                </tr>
            {% endif %}
            <tr>
                <td width="8%">&nbsp;</td>
                <th width="25%"><b>Secuencia:</b></th>
                <td width="15%">{{ numeracion.secuencia }}</td>        
                <td width="1%"></td>

                <td width="8%">&nbsp;</td>
                <th width="25%"><b>Tabla:</b></th>
                <td width="15%">{{ numeracion.tabla }}</td>        
                <td width="1%"></td>
            </tr>
        </tbody>
    </table>
</div>	
<div class="buttons">
    <p>
        <span class="height20px">
            <a class="button-crud" href="{{ path('adminumeracion') }}">Regresar</a>
        </span>
    </p>
</div>
<div class="body_content">
    <table class="formulario">
        <tbody>
            <tr>
              <td width="10%" rowspan="3"><img src="{{ asset('public/images/images_crud/agregar_64.png')}}" hspace="3" vspace="3" alt="" border="0" align="absmiddle" /></td>
              <th width="11%">Creador:</th>
              <td width="34%" >{{ numeracion.usrCreacion }}</td>

              {% if(numeracion.estado|lower=="modificado") %}
              <td width="10%" rowspan="3"><img src="{{ asset('public/images/images_crud/edit_64.png')}}" hspace="3" vspace="3" alt="" border="0" align="absmiddle" /></td>
              <th width="11%" >Ult. Mod.:</th>
              <td width="34%">{{ numeracion.usrUltMod }}</td>
              {% endif %}

              {% if(numeracion.estado|lower=="eliminado") %}
              <td width="10%" rowspan="3"><img src="{{ asset('public/images/images_crud/eliminar_64.png')}}" hspace="3" vspace="3" alt="" border="0" align="absmiddle" /></td>
              <th width="11%">Eliminado:</th>
              <td width="34%">{{ numeracion.usrUltMod }}</td>
              {% endif %}
            </tr>
            <tr>
              <th>Fecha:</th>
              <td >{{ numeracion.feCreacion | date("d M Y") }}</td>

              {% if(numeracion.estado|lower=="modificado") %}
              <th>Fecha:</th>
              <td >{{ numeracion.feUltMod  | date("d M Y")}}</td>
              {% endif %}

              {% if(numeracion.estado|lower=="eliminado") %}
              <th>Fecha:</th>
              <td>{{ numeracion.feUltMod | date("d M Y") }}</td>
              {% endif %}
            </tr>
            <tr>
              <th>Hora:</th>
              <td>{{ numeracion.feCreacion | date("H:i:s") }}</td>

              {% if(numeracion.estado=="modificado") %}
              <th>Hora:</th>
              <td>{{ numeracion.feUltMod | date("H:i:s") }}</td>
              {% endif %}

              {% if(numeracion.estado|lower=="eliminado") %}
              <th>Hora:</th>
              <td>{{ numeracion.feUltMod | date("H:i:s") }}</td>
              {% endif %}
            </tr>

        </tbody>
    </table>
</div>
{% endblock contenido_izq %}

{% block contenido_der %}
    <ul class="form_actions" style="width:auto;">
		{% if is_granted('ROLE_33-2') %}
        <li>
            <a class="button-nuevo-registro" href="{{ path('adminumeracion_new') }}">
                <img src="{{ asset('public/images/images_crud/new_plus.png')}}" width="15" height="15" />
                &nbsp;Nuevo Numeracion
            </a>
        </li>
		{% endif %}
        <li>
            &nbsp;
        </li>
		{% if is_granted('ROLE_33-8') %}
        <li>
            <a class="button-eliminar" href="{{ path('adminumeracion_delete', { 'id': numeracion.id }) }}">
                &nbsp;Eliminar Numeracion
            </a>
        </li>
		{% endif %}
    </ul>
{% endblock contenido_der %}