{% extends "::layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block javascripts%}
    {{ parent() }}
{% endblock %}

{% block contenido_izq %}
    <div id="titulo_content">
    <img src="{{ asset('public/images/'~ item.urlImagen | default('tools1.png') ~ '') }}" class="imagen-titulo-content">
        <h1>Nuevo Nivel Criticidad</h1>
    </div>
    <span class="campos-requeridos">* Campos requeridos</span>
    <div class="body_content">
        <form id='form_new_proceso' action="{{ path('adminivelcriticidad_create') }}" method="post" {{ form_enctype(form) }} class='formulario'>
            {{ form_widget(form) }}
            
            <div class="buttons">
                <p>
                    <input type='submit'class="button-crud" value="Guardar" />
                    <span class="height20px">
                        &oacute;&nbsp;
                        <a class="cancel-crud" href="{{ path('adminivelcriticidad') }}">Cancelar</a>
                    </span>
                </p>
            </div>	
        </form>
    </div>
{% endblock contenido_izq %}

{% block javascripts_footer%}
    <script>
        /* -- */
    </script>	
{% endblock javascripts_footer%}	