<div class="container">
    <h5>Detalles Generales <em class="fa fa-info-circle"></em></h5>
    <table class="table compact" style="width:100%; border:0 "  >
        <tbody>
            <tr>
                <td><strong>Nombre:</strong></td>
                <td>{{arrayCampaniaDet.strNombreCampania}} </td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td><strong>Título de la Notificación:</strong></td>
                <td>{{arrayCampaniaDet.strTitulo}} </td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td><strong>Texto de la Notificación:</strong></td>
                <td>{{arrayCampaniaDet.strDetalle}} </td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td><strong>Estado:</strong></td>
               <td>{{arrayCampaniaDet.strEstado}} </td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td><strong>Fecha Inicio:</strong></td>
                <td>{{arrayCampaniaDet.strFechaIni}} </td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td><strong>Creador:</strong></td>
                <td>{{arrayCampaniaDet.strUsrCreacion}} </td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td><strong>Fecha Creación:</strong></td>
                <td>{{arrayCampaniaDet.strFeCreacion}}</td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>