{% extends "::layout.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
    <style>  
    .div_mantenimiento
    {
        margin-bottom: 20px;
        margin-left: 24px;
    }
    </style>
{% endblock %}
{% block javascripts%}
    {{ parent() }}
    <script type="text/javascript">
        var numMantenimientosPlan = {{ numMantenimientosPlan }};
        var strIdsMantenimientos = '{{ strIdsMantenimientos }}';
        var urlGetTareasMantenimientosPlan = "{{ path('planmantenimiento_getTareasMantenimientoAsociadoPlan') }}";
    </script>
    <script type="text/javascript" src="{{ asset('./bundles/tecnico/js/PlanMantenimiento/show.js') }}"></script>
    <script type="text/javascript" src="{{ asset('./bundles/tecnico/js/PlanMantenimiento/funcionesGenerales.js') }}"></script>
{% endblock %}
{% block contenido_izq %}
<div id="titulo_content">
    <img src="{{ asset('public/images/'~ item.urlImagen | default('tools1.png') ~ '') }}" class="imagen-titulo-content">
    <h1>Ver Plan de Mantenimiento</h1>
</div>
<div class="body_content">
    <table class="formulario" >
        <tbody>
            <tr>
                <td width="10%">&nbsp;</td>
                <td colspan="6"><br/></td>
                <td width="1%">&nbsp;</td>
            </tr>
            <tr>
                <td width="1%"></td>
                <th width="15%"><b>Nombre del Plan de Mantenimiento:</b></th>
                <td width="25%">{{ proceso.nombreProceso }}</td>        
                <td width="1%"></td>

                <td width="1%">&nbsp;</td>
                <th width="15%"><b>Descripci&oacute;n del Plan de Mantenimiento:</b></th>        
                <td width="25%">{{ proceso.descripcionProceso }}</td>
                <td width="1%"></td>
            </tr>
            <tr>
                <td width="10%">&nbsp;</td>
                <td colspan="6"><br/></td>
                <td width="1%">&nbsp;</td>
            </tr>
            <tr>
                <td width="5%">&nbsp;</td>
                <th width="15%"><b> Estado:</b></th>
                <td>{{ proceso.estado }}</td>        
                <td width="1%"></td>

                <td width="8%">&nbsp;</td>
                <th width="25%"><b></b></th>
                <td></td>        
                <td width="1%"></td>
            </tr>
            <tr>
                <td width="10%">&nbsp;</td>
                <td colspan="6"><br/><br/></td>
                <td width="1%">&nbsp;</td>
            </tr>
        </tbody>
    </table>
    <div id="mantenimientos_tareas">
        
    </div>
    
    
</div>
<div class="buttons">
    <p>
        <span class="height20px">
            <a class="button-crud" href="{{ path('planmantenimiento') }}">Regresar</a>
        </span>
    </p>
</div>
<div class="body_content">
    <table class="formulario">
        <tbody>
            <tr>
              <td width="10%" rowspan="3"><img src="{{ asset('public/images/images_crud/agregar_64.png')}}" 
                                               hspace="3" vspace="3" alt="" border="0" align="absmiddle" /></td>
              <th width="11%">Creador:</th>
              <td width="34%" >{{ proceso.usrCreacion }}</td>

              {% if(proceso.estado|lower=="modificado") %}
              <td width="10%" rowspan="3"><img src="{{ asset('public/images/images_crud/edit_64.png')}}" 
                                               hspace="3" vspace="3" alt="" border="0" align="absmiddle" /></td>
              <th width="11%" >Ult. Mod.:</th>
              <td width="34%">{{ proceso.usrUltMod }}</td>
              {% endif %}

              {% if(proceso.estado|lower=="eliminado") %}
              <td width="10%" rowspan="3"><img src="{{ asset('public/images/images_crud/eliminar_64.png')}}" 
                                               hspace="3" vspace="3" alt="" border="0" align="absmiddle" /></td>
              <th width="6%">Eliminado:</th>
              <td width="34%">{{ proceso.usrUltMod }}</td>
              {% endif %}
            </tr>
            <tr>
              <th>Fecha:</th>
              <td >{{ proceso.feCreacion | date("d M Y") }}</td>

              {% if(proceso.estado|lower=="modificado") %}
              <th>Fecha:</th>
              <td >{{ proceso.feUltMod  | date("d M Y")}}</td>
              {% endif %}

              {% if(proceso.estado|lower=="eliminado") %}
              <th>Fecha:</th>
              <td>{{ proceso.feUltMod | date("d M Y") }}</td>
              {% endif %}
            </tr>
            <tr>
              <th>Hora:</th>
              <td>{{ proceso.feCreacion | date("H:i:s") }}</td>

              {% if(proceso.estado|lower=="modificado") %}
              <th>Hora:</th>
              <td>{{ proceso.feUltMod | date("H:i:s") }}</td>
              {% endif %}

              {% if(proceso.estado|lower=="eliminado") %}
              <th>Hora:</th>
              <td>{{ proceso.feUltMod | date("H:i:s") }}</td>
              {% endif %}
            </tr>

        </tbody>
    </table>
</div>
{% endblock contenido_izq %}

{% block contenido_der %}
    <ul class="form_actions" style="width:auto;">
		{% if is_granted('ROLE_343-2') %}
        <li>
            <a class="button-nuevo-registro" href="{{ path('planmantenimiento_new') }}">
                <img src="{{ asset('public/images/images_crud/new_plus.png')}}" width="15" height="15" />
                &nbsp;Nuevo Plan de Mantenimiento
            </a>
        </li>
		{% endif %}
        <li>
            &nbsp;
        </li>
		{% if is_granted('ROLE_343-8') and proceso.estado=='Activo' %}
        <li>
            <a class="button-eliminar" href="{{ path('planmantenimiento_delete', { 'id': proceso.id }) }}">
                &nbsp;Eliminar Plan de Mantenimiento
            </a>
        </li>
		{% endif %}
    </ul>
    <div class="titulo-acciones-relacionadas">
        Acciones Relacionadas
    </div>
    <ul class="listado_acciones_relacionadas">

    </ul>
{% endblock contenido_der %}