{% extends "::layout.html.twig" %}

{% block stylesheets %}
	{{ parent() }}
        <link href="{{ asset('public/js/pdfjs/web/viewer.css')}}" type="text/css" rel="stylesheet" />
        <style>
            .contenido{
                    background-color: #F9F9F9;
                    border: 2px solid #F9F9F9;
                    border-radius: 13px 13px 13px 13px;
                    padding: 13px;
            }
        </style>
{% endblock %}
        
{% block javascripts%}
   {{ parent() }}

        <script src="{{ asset('public/js/pdfjs/build/pdf.js') }}" type="text/javascript"></script>
        <script type="text/javascript" src="{{ asset('./bundles/comercial/js/contrato/log_view.js?2') }}"></script>
        <script type="text/javascript" src="{{ asset('./bundles/comercial/js/contrato/verArchivosDigitales.js?6') }}"></script>
        <script type="text/javascript" src="{{ asset('./bundles/comercial/js/contrato/verAdendum.js?1') }}"></script>
        <script>var url_showDocumentosContrato = "{{ path('infocontrato_showDocumentosContrato',{'idContrato': entity.id, 'idAdendum': 0}) }}";	</script> 
        <script>var url_obtenerPuntosContrato  = "{{ path('infocontrato_obtenerPuntosContrato') }}";	</script>
        <script>var urlSetLogNumeroCtaTarjeta  = "{{ path('infocontrato_setLogNumeroCtaTarjeta',{'idContrato': entity.id  }) }}";	</script>                  
        <script>var prefijoEmpresa             = "{{prefijoEmpresa}}"; </script> 
        <script>var idContrato                 = "{{entity.id}}"; </script> 
        <script>var noContrato                 = "{{entity.numeroContrato}}"; </script> 
        <script>var url_guardarLog               = "{{ path('infocontrato_guardarLog') }}";	</script>
        <script>var grantedVerDocumentoPersonal  = "{{ grantedVerDocumentoPersonal }}";	</script>
        <script>var grantedDescargarDocumentoPersonal  = "{{ grantedDescargarDocumentoPersonal }}";	</script>
        <script>var estadoServicio  = "{{ entity.estado }}";	</script>
        <script>var urlGridAdendum             = "{{ path('infocontrato_gridAdendumContrato') }}";	</script>
        <script>var grantedAuditorSenior       = "{{ grantedAuditorSenior }}";</script>
        <script>  
            var url_store                   = "{{ path('infocontrato_grid') }}";
            var urlNotificarAutorizar       = '{{path('infocontrato_notificar_autorizar')}}'; 
            var url_estado                  = '{{path('infocontrato_lista_estados')}}';
            var url_forma_pago              = '{{path('infocontrato_formas_pago')}}';   
            var urlAutorizarContratoFisico  = '{{path('infocontrato_autorizar_contrato_fisico')}}';
            var urlCorreoAutorizar          = '{{path('infocontrato_correo_autorizar')}}';
            var strUrlGetCorreosCliente     = '{{path('infocontrato_get_correos_cliente')}}';
            var urlReenviarDocumentoContrato= '{{path('infocontrato_reenviar_documento_contrato')}}';	
        </script>
{% endblock %}
        
{% block contenido_izq %}
    <div id="titulo_content">
		<img src="{{ asset('public/images/'~ item.urlImagen | default('tools1.png') ~ '') }}" class="imagen-titulo-content">
        <h1>Ver contrato</h1>
    </div>
{% for flashMessage in app.session.flashbag.get('notice') %}
    <div class="errormessage">
        {{ flashMessage }}
    </div>
{% endfor %}
    {% for flashMessage in app.session.flashbag.get('success') %}
    <div class="successmessage">
        {{ flashMessage }}
    </div>
    {% endfor %}
    <div class="body_content">
        <table class="formulario">
            <tbody>
                <tr>
                    <td><b>N°. contrato:</b></td>
                    <td>{{ entity.numeroContrato }}</td>
                    <td width="9%">&nbsp;</td>
                    <td><b>N°. contrato emp. publica:</b></td>
                    <td>{{ entity.numeroContratoEmpPub }}</td>
                </tr>
                <tr>
				
                    <td><b>Tipo de contrato:</b></td>
{%if(entity.tipoContratoId is not null)%}					
                    <td>{{ entity.tipoContratoId.descripcionTipoContrato }}</td>
{%else%}
<td></td>
{%endif%}					
                    <td width="9%">&nbsp;</td>
                    <td><b>Cliente:</b></td>
                    {% if entity.personaEmpresaRolId.personaId.nombres != "" and entity.personaEmpresaRolId.personaId.apellidos != "" %}
						<td>{{ entity.personaEmpresaRolId.personaId.nombres }} {{ entity.personaEmpresaRolId.personaId.apellidos }}</td>
					{% else %}
						<td>{{ entity.personaEmpresaRolId.personaId.razonSocial }}</td>
					{% endif %}
                </tr>
                <tr>
                    <td><b>Forma de pago:</b></td>
                    <td>{{ entity.formaPagoId.descripcionFormaPago }}</td>
                    <td width="9%">&nbsp;</td>
                    <th><b>Fecha fin del contrato:</b></th>
                    <td>{{ entity.feFinContrato|date('Y-m-d H:i:s') }}</td>
                </tr>
                {% if formFormaPago %}
                <tr class="contenido">
                    <td><b>Tipo de Cuenta:</b></td>
                    <td>{{ formFormaPago.bancoTipoCuentaId.tipoCuentaId.descripcionCuenta }}</td>
                    <td width="9%">&nbsp;</td>
                    <td><b>Banco:</b></td>
                    <td>{{ formFormaPago.bancoTipoCuentaId.bancoId.descripcionBanco }}</td>
                </tr>
                <tr class="contenido">
                    <td><b>N° Tarjeta / Cuenta:</b></td>
                    <td><div id='div_numero_tarjeta' name='div_numero_tarjeta'>{{ strNumeroCtaTarjeta }}</div></td>
                    <td width="9%">&nbsp;</td>
                    <td><b>Titular:</b></td>
                    <td>{{ formFormaPago.titularCuenta }}</td>
                </tr>
                <input type="hidden" id="strNumeroCtaTarjeta" name="strNumeroCtaTarjeta" value="{% if strNumeroCtaTarjeta is defined %}
                       {{ strNumCtaTarjDesenc }}{% endif %}" />
                <tr class="contenido">
                    <td width="9%">&nbsp;</td>
                    <td>
                        {%if (is_granted("ROLE_60-7217"))  %}            
                            <li>
                                <a class="button-log" onClick="setLogNumeroCtaTarjeta({{ entity.id }});" href="#">
                                    Ver
                                </a>
                            </li>
                        {%endif%}                                               
                    </td>
                    <td width="9%">&nbsp;</td>
                    <td></td>
                    <td></td>
                </tr>                
                <tr class="contenido">
                    <td><b>Mes vencimiento:</b></td>
                    <td>{{ formFormaPago.mesVencimiento }}</td>
                    <td width="9%">&nbsp;</td>
                    <td><b>Año vencimiento:</b></td>
                    <td>{{ formFormaPago.anioVencimiento }}</td>
                </tr>
                {% endif %}
                <tr>
                    <td><b>Valor:</b></td>
                    <td>{{ entity.valorContrato }}</td>
                    <td width="9%">&nbsp;</td>
                    <td><b>Anticipo:</b></td>
                    <td>{{ entity.valorAnticipo }}</td>
                </tr>
                <tr>
                    <td><b>Garantia:</b></td>
                    <td>{{ entity.valorGarantia }}</td>
                    <td width="9%">&nbsp;</td>
                    <td><b>Estado:</b></td>
                    {%if(entity.estado=='Pendiente')%}
                        <td><font size="2" color="blue">{{ entity.estado }}</font></td>
                    {%elseif (entity.estado=='Rechazado')%}
                    <td><font size="2" color="red">{{ entity.estado }}</font></td>
                    {%elseif (entity.estado=='Activo')%}
                    <td><font size="2" color="green">{{ entity.estado }}</font></td>    
                    {%else%}
                    <td>{{ entity.estado }}</td>
                    {%endif%}
                </tr>
                <tr>
                    <td><b>Archivo Digital:</b></td>
                    <td>
                    {%if (is_granted("ROLE_60-1917"))  %}            
                        <li>
                            <a class="button-log" onClick="verArchivosDigitales({{ entity.id }}, 
                            '{{ entity.personaEmpresaRolId.empresaRolId.empresaCod.prefijo }}');" href="#">
                                Ver Archivos Digitales
                            </a>
                        </li>
                    {%endif%}        
                    </td>
                    <td width="9%">&nbsp;</td>
                    <td><b>Origen:</b></td>
                    <td>{{ entity.origen }}</td>
                </tr>
                 {%if (entity.estado=='Rechazado')%}                
                <tr>
                    <td><b>Usuario de Rechazo: </b></td>
                    <td>{{ entity.usrRechazo }}</td>
                    <td width="9%">&nbsp;</td>
                    <td><b>Fecha Rechazo:</b></td>                   
                    <td>{{ entity.feRechazo|date('Y-m-d H:i:s') }}</td>
                </tr>
                 <tr>
                    <td><b>Motivo rechazo:</b></td>
                    <td>{{ descripcion_motivo }}</td>
                    <td width="9%">&nbsp;</td>
                    <td>&nbsp;</td>                   
                    <td>&nbsp;</td>
                </tr>
                {%endif%}
                
            </tbody>
        </table>
       {% if clausulas %}
        <div class="secHead">Listado de clausulas</div>
        <table class="formulario">
            <tbody>
                {% for item in clausulas %}
                <tr>
                    <td class="contenido">
                        {{ item.descripcionClausula | raw }}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
        {% if datosAdicionales %}
        <div class="secHead">Datos adicionales</div>
        <table class="formulario">
            <tbody>
                <tr>
                    <th>Es Vip:</th>
                    {% if datosAdicionales.esVip == "S" %}
                        <td>Si</td>
                    {% else %}
                        <td>No</td>
                    {% endif %}
                    <td width="9%">&nbsp;</td>
                    <th>Es Tramite legal:</th>
                    {% if datosAdicionales.esTramiteLegal == "S" %}
                        <td>Si</td>
                    {% else %}
                        <td>No</td>
                    {% endif %}                  
                </tr>               
                <tr>
                    <th>Permite corte automatico:</th>
                    {% if datosAdicionales.permiteCorteAutomatico == "S" %}
                        <td>Si</td>
                    {% else %}
                        <td>No</td>
                    {% endif %}
                    <td width="9%">&nbsp;</td>
                    <th>Fideicomiso:</th>
                    {% if datosAdicionales.fideicomiso == "S" %}
                        <td>Si</td>
                    {% else %}
                        <td>No</td>
                    {% endif %}
                </tr>
                <tr>
                    <th>Convenio pago:</th>
                    {% if datosAdicionales.convenioPago == "S" %}
                        <td>Si</td>
                    {% else %}
                        <td>No</td>
                    {% endif %}
                    <td width="9%">&nbsp;</td>
                    <th>Tiempo espera meses corte:</th>
                    <td>{{ datosAdicionales.tiempoEsperaMesesCorte }}</td>
                </tr>
                    {%if(prefijoEmpresa=="TN")%}
                        <tr>
                            <th>Notifica Pago:</th>
                            {% if datosAdicionales.notificaPago == "S" %}
                                <td>Si</td>
                            {% else %}
                                <td>No</td>
                            {% endif %}                    
                        </tr>  
                    {% endif %}  
             </tbody>
        </table>
        {% endif %}
 </div>
 <div class="dashboard_content k-content">
        <table  border='0'>
            <tr>
                <td><div id='filtro'></div></td>
            </tr>
            <tr>
                <td><div id="grid"></div></td>
            </tr>
        </table>
 </div>
 <div class="buttons">
    <p>
        <span class="height20px">
				{%if(rol=='Pre-cliente')%}
					<a class="button-crud" href="{{ path('precliente_show',{ 'id': entity.personaEmpresaRolId.personaId.id,'idper': entity.personaEmpresaRolId.id }) }}">Regresar</a>		
				{%elseif(rol=='Cliente')%}
					<a class="button-crud" href="{{ path('cliente_show',{ 'id': entity.personaEmpresaRolId.personaId.id, 'idper': entity.personaEmpresaRolId.id }) }}">Regresar</a>				
				{%endif%}
        </span>
    </p>
</div>
<div class="body_content">
    <table class="formulario">
        <tbody>
            <tr>
              <td width="10%" rowspan="3"><img src="{{ asset('public/images/images_crud/agregar_64.png')}}" hspace="3" vspace="3" alt="" border="0" align="absmiddle" /></td>
              <th width="11%">Creador:</th>
              <td width="34%" >{{ entity.usrCreacion }}</td>            
              
              {% if(entity.estado=="Rechazado") %}
                  <td width="10%" rowspan="3"><img src="{{ asset('public/images/images_crud/edit_64.png')}}" hspace="3" vspace="3" alt="" border="0" align="absmiddle" /></td>
                  <th width="11%" >Rechazado Por:</th>
                  <td width="34%">{{ entity.usrRechazo }}</td>
              {% endif %}
            </tr>
            <tr>
              <th>Fecha Creacion:</th>
              <td >{{ entity.feCreacion | date("d M Y") }}</td>
                  
              {% if(entity.estado=="Rechazado") %}
                  <th>Fecha Rechazo:</th>
                  <td>{{ entity.feRechazo  | date("d M Y")}}</td>
              {% endif %}
            </tr>
            <tr>
              <th>Hora Creacion:</th>
              <td>{{ entity.feCreacion | date("H:i:s") }}</td>

              {% if(entity.estado=="Rechazado") %}
              <th>Hora Rechazo:</th>
              <td>{{ entity.feRechazo | date("H:i:s") }}</td>
              {% endif %}
            </tr>

        </tbody>
    </table>
</div>
<script>
  function setLogNumeroCtaTarjeta(contratoId)
  {
    var strNumeroCtaTarjeta = document.getElementById("strNumeroCtaTarjeta").value;
    
    if (document.getElementById("strNumeroCtaTarjeta"))
    {
       document.getElementById("div_numero_tarjeta").innerHTML = strNumeroCtaTarjeta;
    }
    Ext.Ajax.request({
        url: urlSetLogNumeroCtaTarjeta,
        method: 'POST',
        timeout: 60000,
        async: false,
        params: {
            idContrato: contratoId
        },
        success: function(response) {
            var text = Ext.decode(response.responseText);
        },
        failure: function(result) {
            Ext.Msg.alert('Error ', 'Error: ' + result.statusText.trim());
        }
    });        
        
  }
</script>

{% endblock contenido_izq %}
{% block contenido_der %}
    <ul class="form_actions">
        <!-- <li>
            <a class="button-nuevo-registro" href="{#{ path('infocontrato_new') }#}">
                <img src="{#{ asset('public/images/images_crud/new_plus.png')}#}" width="15" height="15" />
                &nbsp;Nuevo contrato
            </a>
        </li> -->
        <li>
            &nbsp;
        </li>
        {%if(entity.estado=="Pendiente" or entity.estado=="Activo" or entity.estado=="Cancelado")%}
        <li>
		{% if is_granted("ROLE_60-1006") %}
            <a class="button-editar" href="{{ path('infocontrato_edit', { 'id': entity.id }) }}">
                &nbsp;Editar Forma de pago
            </a>
		{% endif %}
        </li>
        {%endif%}
         {%if(entity.estado=="Pendiente")%}
        <li>		
            <a class="button-editar" href="{{ path('infocontrato_newArchivoDigital', { 'intId': entity.id , 'intIdAdendum': 0 }) }}">
                &nbsp;Agregar/Quitar Archivos Digitales
            </a>		
        </li>
        {%endif%}
        <li>
            <a class="button-log" onClick="verHistorialFormaPago({{ entity.id }},prefijoEmpresa);" href="#">
                &nbsp;Ver Historial Forma de Pago
            </a>
        </li>
        {%if(entity.estado=="Pendiente" or entity.estado=="Activo" or entity.estado=="Cancelado")%}
        <li>
		{% if is_granted("ROLE_60-4457") %}
            <a class="button-editar" href="{{ path('infocontrato_editarDatosAdicionalesContrato', { 'id': entity.id }) }}">
                &nbsp;Datos Adicionales del Contrato
            </a>
		{% endif %}
        </li>
        {%endif%}
        <!--li>
            <a class="button-eliminar" href="{{ path('infocontrato_delete', { 'id': entity.id }) }}">
                &nbsp;Eliminar contrato
            </a>
        </li-->
    </ul>
    <div class="titulo-acciones-relacionadas">
        Acciones Relacionadas
    </div>
    <ul class="listado_acciones_relacionadas">
				{%if(rol=='Pre-cliente')%}
				<li>
					<a class="listado_ac_tablas" href="{{ path('precliente_show',{ 'id': entity.personaEmpresaRolId.personaId.id,'idper': entity.personaEmpresaRolId.id }) }}">Ver Prospecto</a>
				</li>		
				{%elseif(rol=='Cliente')%}
				<li>
					<a class="listado_ac_tablas" href="{{ path('cliente_show',{ 'id': entity.personaEmpresaRolId.personaId.id,'idper': entity.personaEmpresaRolId.id }) }}">Ver Cliente</a>
				</li>						
				{%endif%}
    </ul>
{% endblock contenido_der %}
